<div>

  <div class="wvu-container">

    <style>
      .background-white { background-color: #fff; }
      .background-grey { background-color: #ebebeb; }
      .table td.border-top-none { border-top: none; }
    </style>

    {% set testResultsSummaryLastTestDate = testResults.summary.lastTestDate %}
    {% set testResultsSummaryLastTwoWeeks = testResults.summary.lastTwoWeeks %}
    {% set testResultsSummaryCumulative = testResults.summary.cumulative %}
    <div id="test-results-summary" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">{{ relatedDivisionalCampus.campusNameShort }} Campus Summary</caption>
        <tr>
          <td colspan="3" style="border-top: none;"></td>
          <th scope="colgroup" class="border-left">Latest Result</th>
          <th scope="colgroup" class="border-left">Last 14 Days</th>
          <th scope="colgroup" class="border-left">Cumulative</th>
        </tr>
        <tr>
          <th scope="row" colspan="3" class="border-left">Date</th>
          <td class="border-left"><time datetime="{{ testResultsSummaryLastTestDate.dateDataFromEnd.year.numberLong }}-{{ testResultsSummaryLastTestDate.dateDataFromEnd.month.numberLong }}-{{ testResultsSummaryLastTestDate.dateDataFromEnd.day.numberLong }}">{{ testResultsSummaryLastTestDate.dateDataFromEnd.month.textShort }}. {{ testResultsSummaryLastTestDate.dateDataFromEnd.day.numberShort }}</time></td>
          <td class="border-left">
            <time datetime="{{ testResultsSummaryLastTwoWeeks.dateDataFromStart.year.numberLong }}-{{ testResultsSummaryLastTwoWeeks.dateDataFromStart.month.numberLong }}-{{ testResultsSummaryLastTwoWeeks.dateDataFromStart.day.numberLong }}">{{ testResultsSummaryLastTwoWeeks.dateDataFromStart.month.textShort }}. {{ testResultsSummaryLastTwoWeeks.dateDataFromStart.day.numberShort }}</time> -
            <time datetime="{{ testResultsSummaryLastTwoWeeks.dateDataFromEnd.year.numberLong }}-{{ testResultsSummaryLastTwoWeeks.dateDataFromEnd.month.numberLong }}-{{ testResultsSummaryLastTwoWeeks.dateDataFromEnd.day.numberLong }}">{{ testResultsSummaryLastTwoWeeks.dateDataFromEnd.month.textShort }}. {{ testResultsSummaryLastTwoWeeks.dateDataFromEnd.day.numberShort }}</time>
          </td>
          <td class="border-left">
            <time datetime="{{ testResultsSummaryCumulative.dateDataFromStart.year.numberLong }}-{{ testResultsSummaryCumulative.dateDataFromStart.month.numberLong }}-{{ testResultsSummaryCumulative.dateDataFromStart.day.numberLong }}">{{ testResultsSummaryCumulative.dateDataFromStart.month.textShort }}. {{ testResultsSummaryCumulative.dateDataFromStart.day.numberShort }}</time> -
            <time datetime="{{ testResultsSummaryCumulative.dateDataFromEnd.year.numberLong }}-{{ testResultsSummaryCumulative.dateDataFromEnd.month.numberLong }}-{{ testResultsSummaryCumulative.dateDataFromEnd.day.numberLong }}">{{ testResultsSummaryCumulative.dateDataFromEnd.month.textShort }}. {{ testResultsSummaryCumulative.dateDataFromEnd.day.numberShort }}</time>
          </td>
        </tr>
        <tr>
          <th scope="row" rowspan="3" class="border-left background-white">Students</th>
          <th scope="row" rowspan="3" class="border-left background-white">Campus Testing</th>
          <td class="border-left background-white">Resulted</td>
          <td class="border-left">{{ testResultsSummaryLastTestDate.testsResultedStudentsTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryLastTwoWeeks.testsResultedStudentsTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryCumulative.testsResultedStudentsTotal|number_format }}</td>
        </tr>
        <tr>
          <td class="border-left background-white">Positives</td>
          <td class="border-left">{{ testResultsSummaryLastTestDate.testsPositiveStudentsTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryLastTwoWeeks.testsPositiveStudentsTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryCumulative.testsPositiveStudentsTotal|number_format }}</td>
        </tr>
        <tr>
          <td class="border-left background-white"><abbr title="Percent">%</abbr> Positive</td>
          <td class="border-left">{{ testResultsSummaryLastTestDate.testsPercentPositiveStudentsTotal }}</td>
          <td class="border-left">{{ testResultsSummaryLastTwoWeeks.testsPercentPositiveStudentsTotal }}</td>
          <td class="border-left">{{ testResultsSummaryCumulative.testsPercentPositiveStudentsTotal }}</td>
        </tr>
        <!--
          <tr>
            <th scope="row" colspan="2" class="border-left background-white">Self-Reported</th>
            <td class="border-left">-</td>
            <td class="border-left">-</td>
            <td class="border-left">-</td>
          </tr>
          <tr>
            <th scope="row" colspan="2" class="border-left background-white">In Quarantine</th>
            <td class="border-left">{{ testResultsSummaryLastTestDate.quarantineTotalTotal }}</td>
            <td class="border-left background-grey"></td>
            <td class="background-grey"></td>
          </tr>
          <tr>
            <th scope="row" colspan="2" class="border-left background-white">In Isolation</th>
            <td class="border-left">{{ testResultsSummaryLastTestDate.isolationTotalTotal }}</td>
            <td class="border-left background-grey border-top-none"></td>
            <td class="background-grey border-top-none"></td>
          </tr>
        -->
        <tr>
          <th scope="row" rowspan="3" class="border-left background-white">Faculty/Staff</th>
          <th scope="row" rowspan="3" class="border-left background-white">Campus Testing</th>
          <td class="border-left background-white">Resulted</td>
          <td class="border-left">{{ testResultsSummaryLastTestDate.testsResultedFacultyStaffTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryLastTwoWeeks.testsResultedFacultyStaffTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryCumulative.testsResultedFacultyStaffTotal|number_format }}</td>
        </tr>
        <tr>
          <td class="border-left background-white">Positives</td>
          <td class="border-left">{{ testResultsSummaryLastTestDate.testsPositiveFacultyStaffTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryLastTwoWeeks.testsPositiveFacultyStaffTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryCumulative.testsPositiveFacultyStaffTotal|number_format }}</td>
        </tr>
        <tr>
          <td class="border-left background-white"><abbr title="Percent">%</abbr> Positive</td>
          <td class="border-left">{{ testResultsSummaryLastTestDate.testsPercentPositiveFacultyStaffTotal }}</td>
          <td class="border-left">{{ testResultsSummaryLastTwoWeeks.testsPercentPositiveFacultyStaffTotal }}</td>
          <td class="border-left">{{ testResultsSummaryCumulative.testsPercentPositiveFacultyStaffTotal }}</td>
        </tr>
        <tr>
          <th scope="row" rowspan="3" class="border-left background-white">Total</th>
          <th scope="row" rowspan="3" class="border-left background-white">Campus Testing</th>
          <td class="border-left background-white">Resulted</td>
          <td class="border-left">{{ testResultsSummaryLastTestDate.testsResultedTotalTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryLastTwoWeeks.testsResultedTotalTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryCumulative.testsResultedTotalTotal|number_format }}</td>
        </tr>
        <tr>
          <td class="border-left background-white">Positives</td>
          <td class="border-left">{{ testResultsSummaryLastTestDate.testsPositiveTotalTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryLastTwoWeeks.testsPositiveTotalTotal|number_format }}</td>
          <td class="border-left">{{ testResultsSummaryCumulative.testsPositiveTotalTotal|number_format }}</td>
        </tr>
        <tr>
          <td class="border-left background-white"><abbr title="Percent">%</abbr> Positive</td>
          <td class="border-left">{{ testResultsSummaryLastTestDate.testsPercentPositiveTotalTotal }}</td>
          <td class="border-left">{{ testResultsSummaryLastTwoWeeks.testsPercentPositiveTotalTotal }}</td>
          <td class="border-left">{{ testResultsSummaryCumulative.testsPercentPositiveTotalTotal }}</td>
        </tr>
      </table>
    </div>

    <h2 id="notes-label-daily-results" class="u-wvu-visually-hidden"">Daily Results Notes</h2>
    <ol id="notes-daily-results">
      <li id="resulted-meaning" style="margin: 0"> "Resulted" indicates that the sample from a test has been received by the lab, tested and results of the sample have been provided. <a href="#resulted-meaning-ref" aria-label="Back to content">↩</a></li>
    </ol>

  </div>

</div>
