<div class="faqAnswers">

  <div id="answers" class="wvu-container">

    {% set hTag = 'h2' %}
    {% if currentBlock.displayTitle %}
      {% set hTag = 'h3' %}
      <h2 {% if currentBlock.anchorID %}id="{{ currentBlock.anchorID }}"{% endif %}>{{ currentBlock.displayTitle|raw }}</h2>
    {% endif %}

    {% if currentBlock.description %}
      {{ currentBlock.description|raw }}
    {% endif %}

    {% if 'Hide Question Summary' not in currentBlock.extraOptions %}
      <ul class="{{ classesForLists }}">
        {% for faq in faqs %}

          {% set buttonColor = '' %}
          {% set buttonText = '' %}
          {% if 'Mark as New' in faq.extraOptions and (faq.dateAdded is not defined or ((faq.dateAdded.unix + 604800) > currentBlock.timeNow)) %}
            {% set buttonText = 'New' %}
            {% set buttonColor = 'orange' %}
          {% elseif 'Mark as Updated' in faq.extraOptions and (faq.dateUpdated is not defined or ((faq.dateUpdated.unix + 604800) > currentBlock.timeNow)) %}
            {% set buttonText = 'Updated' %}
            {% set buttonColor = 'brown' %}
          {% endif %}

          <li><a href="#{{ faq.slug }}">{% if faq.displayTitle %}{{ faq.displayTitle|raw }}{% else %}{{ faq.title|raw }}{% endif %}</a> {% if buttonText != '' %} <span class="button--faq button--faq-{{ buttonColor }}">{{ buttonText }}</span>{% endif %}</li>

        {% endfor %}
      </ul>
    {% endif %}

    {% for faq in faqs %}

      {% set buttonColor = '' %}
      {% set buttonText = '' %}
      {% if 'Mark as New' in faq.extraOptions and (faq.dateAdded is not defined or ((faq.dateAdded.unix + 604800) > currentBlock.timeNow)) %}
        {% set buttonText = 'New' %}
        {% set buttonColor = 'orange' %}
      {% elseif 'Mark as Updated' in faq.extraOptions and (faq.dateUpdated is not defined or ((faq.dateUpdated.unix + 604800) > currentBlock.timeNow)) %}
        {% set buttonText = 'Updated' %}
        {% set buttonColor = 'brown' %}
      {% endif %}

      <{{ hTag}} class="wvu-h4" id="{{ faq.slug }}">{% if faq.displayTitle %}{{ faq.displayTitle|raw }}{% else %}{{ faq.title|raw }}{% endif %}{% if buttonText != '' %} <span class="button--faq button--faq-{{ buttonColor }}">{{ buttonText }}</span>{% endif %}</{{ hTag}}>

      {% if faq.webAddressExternal %}
        <p>The answer to this question is available at <a href="{{ faq.webAddressExternal|raw }}">{{ faq.webAddressExternal|raw }}</a>.
      {% else %}
        {{ faq.body|raw }}
      {% endif %}

      {% if faq.relatedFAQEntries %}
        <p>Related questions:</p>
        <ul>
          {% for relatedArticle in faq.relatedFAQEntries %}
            <li> <a href="/faq/{{ relatedArticle.slug }}"><span class="u-wvu-visually-hidden">Related question: </span>{{ relatedArticle.title }}</a>
          {% endfor %}
        </ul>
      {% endif %}

    {% endfor %}

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
          {% for faq in faqs %}
            {
              "@type": "Question",
              "name": "{% if faq.displayTitle %}{{ faq.displayTitle|raw }}{% else %}{{ faq.title|raw }}{% endif %}",
              "acceptedAnswer": {
                "@type": "Answer",
                "text": "{% if faq.webAddressExternal %}<p>The answer to this question is available at <a href=\"{{ faq.webAddressExternal|raw }}\">{{ faq.webAddressExternal|raw }}</a>.{% else %}{{ faq.body|trim|raw|replace({'<p>': '', '</p>': ''}) }}{% endif %}",
                "url": "{% if faq.webAddressExternal %}{{ faq.webAddressExternal }}{% else %}https://www.wvu.edu/faq/{{ faq.slug }}{% endif %}"
              }
            }{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      }
    </script>

    {% if 'Show Answers' in currentBlock.extraOptions and 'Show Horizontal Rule' in currentBlock.extraOptions %}
      <hr style="margin: 2em 0 0 0">
    {% endif %}

  </div>

</div>
