
<style>
  @media (min-width: 48em) {
    .mm-listing.column-2 ul {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      -moz-column-fill: balance;
      column-fill: balance;
    }
    .mm-listing.column-2 li {
      display: inline-block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 16px;
    }
    .mm-listing.column-2 > * {
      -webkit-column-break-inside: avoid;
      column-break-inside: avoid;
    }
  }
</style>

{% if 'Hide Search' not in currentBlock.extraOptions %}
  <div id="anchor-find-stuff" class="wvu-big-search wvu-big-search--programs">
    <div class="wvu-container">
      <div class="wvu-big-search__header">

        <h2>HAVE A QUESTION?</h2>
        <p>Type your question below for an answer.</p>

      </div>
      <form id="form-search" class="form-search form-search--programs" action="" method="get" aria-label="Search for your program.">
        <label class="form-search__label form-search__label--programs" for="query">
          <span class="form-search__label-text form-search__text--majors">Search Majors</span>
          <input id="query" class="form-search__field form-search__field--programs " name="q" maxlength="256" placeholder="Example: How do I apply?" type="search" />
        </label>
        <input class="form-search__submit form-search__submit--programs" type="submit" value="Ask" />
      </form>

      {% if 'Show Questions' in currentBlock.extraOptions %}
        <div class="wvu-big-search__postscript">
          <p>Or <a href="/faqs/admissions/answers#answers">view all answers</a>.</p>
        </div>
      {% endif %}

    </div>
  </div>
{% endif %}

{% if 'Show Answers' in currentBlock.extraOptions %}
  {% include 'blocks/faqs/full-qa.html' %}
{% elseif 'Show Questions' in currentBlock.extraOptions and 'Show Answers' not in currentBlock.extraOptions %}
  {% include 'blocks/faqs/only-q.html' %}
{% elseif 'Show Questions' not in currentBlock.extraOptions and currentBlock.queryParams.q is defined %}
  {% include 'blocks/faqs/only-q.html' %}
{% endif %}
