// Buttons
//==================================================

$base-border-radius: 3px !default;
$hover-button-color: $wvu-blue;

%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $wvu-base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}


.button,
input[type="submit"] {
  @extend %button;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


.button {
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  background: transparent;
  color: $wvu-black;
  display: inline-block;
  border: 2px solid $wvu-black;
  margin-bottom: .5em;
  font-weight: bold;
  line-height: 1;
  padding: .75em;
  text-decoration: none;

  &:visited { color: black; }

  &:hover {
    background-color: $hover-button-color;
    color: white;
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

.button--white {
  color: white;
  border: 2px solid white;
  &:visited { color: white; }
  &:hover {
    background-color: white;
    color: $wvu-blue;
  }

}

.button--small {
  font-size: .9em;
  padding: .35em .45em;
}

.button--big {
  font-size: 1.5em;
  font-size: 1.5em;
}

@each $color, $text-color in (wvu-gold, $wvu-gold),
                             (wvu-white, $wvu-white),
                             (gray-chateau, $wvu-neutral--light-gray),
                             (tide, $wvu-neutral--light-brown),
                             (morning-glory, $wvu-accent--light-blue),
                             (candelight, $wvu-accent--yellow) {
  .button--#{$color} {
    color: $text-color;
    border: 2px solid: $text-color;
    &:hover {
      background: $text-color;
      color: $wvu-black;
    }
    &:visited {
      color: $text-color;
    }
  }
  .button--#{$color}-fill {
    background: $text-color;
    border: 2px solid $text-color;
    color: white;
    &:hover {
      background: transparent;
      border: 2px solid $text-color;
      color: $text-color;
    }
  }
}

@each $color, $text-color in (wvu-blue, $wvu-blue),
                             (dune, $wvu-black),
                             (limed-spruce, $wvu-neutral--dark-gray),
                             (pine-cone, $wvu-neutral--dark-brown),
                             (schooner, $wvu-neutral--brown),
                             (smalt, $wvu-accent--dark-blue),
                             (endeavor, $wvu-accent--blue),
                             (eden, $wvu-accent--dark-green),
                             (xanadu, $wvu-accent--green),
                             (reef-gold, $wvu-accent--mustard),
                             (well-read, $wvu-accent--red),
                             (judge-gray, $wvu-accent--brown),
                             (tangerine, $wvu-accent--orange),
                             (trinidad, $wvu-accent--burnt-orange),
                             (summer-green, $wvu-accent--light-green) {
  .button--#{$color} {
    color: $text-color;
    border: 2px solid $text-color;
    &:hover {
      background: $text-color;
      color: white;
    }
    &:visited {
      color: $text-color;
    }
  }
  .button--#{$color}-fill {
    background: $text-color;
    border: 2px solid $text-color;
    color: white;
    &:hover {
      background: transparent;
      border: 2px solid $text-color;
      color: $text-color;
    }
  }
}

.button {
  white-space: normal;
}

.button--edit-mode {
  display: none;
}
