// WVU Color Pallette
//==================================================

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral
$wvu-black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #7C736A;
$pms-warm-gray-3: #BFB8AF;

$wvu-white: #F9F9F9;
$wvu-black: $wvu-black;
$wvu-neutral--dark-gray: $pms-432-c;
$wvu-neutral--light-gray: $pms-429-c;
$wvu-neutral--dark-brown: $pms-warm-gray-11;
$wvu-neutral--brown: $pms-warm-gray-7;
$wvu-neutral--light-brown: $pms-warm-gray-3;

// Accent
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #8F701E;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #657A68;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #CD4C08;
$pms-115-c: #FDDA24;

$wvu-accent--dark-blue: $pms-286-c;
$wvu-accent--blue: $pms-300-c;
$wvu-accent--light-blue: $pms-629-c;
$wvu-accent--brown: $pms-7554-c;
$wvu-accent--mustard: $pms-7557-c;
$wvu-accent--orange: $pms-144-c;
$wvu-accent--dark-green: $pms-7476-c;
$wvu-accent--green: $pms-5625-c;
$wvu-accent--light-green: $pms-558-c;
$wvu-accent--red: $pms-180-c;
$wvu-accent--burnt-orange: $pms-166-c;
$wvu-accent--yellow: $pms-115-c;

// Dark backgrounds

@each $color, $text-color in (wvu-blue, $wvu-blue),
                             (dune, $wvu-black),
                             (limed-spruce, $wvu-neutral--dark-gray),
                             (pine-cone, $wvu-neutral--dark-brown),
                             (schooner, $wvu-neutral--brown),
                             (smalt, $wvu-accent--dark-blue),
                             (endeavor, $wvu-accent--blue),
                             (eden, $wvu-accent--dark-green),
                             (xanadu, $wvu-accent--green),
                             (reef-gold, $wvu-accent--mustard),
                             (well-read, $wvu-accent--red),
                             (judge-gray, $wvu-accent--brown),
                             (tangerine, $wvu-accent--orange),
                             (trinidad, $wvu-accent--burnt-orange),
                             (summer-green, $wvu-accent--light-green) {
  .#{$color} {
    color: $text-color;
    border-color: $text-color;
    &.background {
      $text-color-gradient: shade($text-color, 5%);
      color: white;
      background-color: $text-color;
      @include background-image(linear-gradient($text-color-gradient, $text-color));
      -webkit-font-smoothing: antialiased;
      h1, h2, h3, h4, h5, h6, a, .button {
        color: white;
        a {
          color: white;
        }
      }
      .button {
        border-color: white;
        &:hover {
          background-color: white;
          color: $text-color;
        }
      }
    }
  }
}

// Light backgrounds

@each $color, $text-color in (wvu-gold, $wvu-gold),
                             (wvu-white, $wvu-white),
                             (gray-chateau, $wvu-neutral--light-gray),
                             (tide, $wvu-neutral--light-brown),
                             (morning-glory, $wvu-accent--light-blue),
                             (candelight, $wvu-accent--yellow) {
  .#{$color} {
    color: $text-color;
    border-color: $text-color;
    &.background {
      $text-color-gradient: shade($text-color, 5%);
      color: $wvu-black;
      background-color: $text-color;
      @include background-image(linear-gradient($text-color-gradient, $text-color));
      -webkit-font-smoothing: antialiased;
      h1, h2, h3, h4, h5, h6, a, .button {
        color: $wvu-black;
        a {
          color: $wvu-black;
        }
      }
      .button {
        border-color: $wvu-black;
        &:hover {
          background-color: $wvu-black;
          color: $text-color;
        }
      }
    }
  }
}

.wvu-gold-pattern {
  &.background {
    @include wvu-gold-background();
    background-color: $wvu-gold;
    background-image: url(https://static.wvu.edu/global/images/patterns/wvu/background__gold--1.0.0.svg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

$i: 100;
@while $i > 0 {
  @each $color, $text-color in (wvu-gold, $wvu-gold),
                               (wvu-white, $wvu-white),
                               (gray-chateau, $wvu-neutral--light-gray),
                               (tide, $wvu-neutral--light-brown),
                               (morning-glory, $wvu-accent--light-blue),
                               (candelight, $wvu-accent--yellow),
                               (wvu-blue, $wvu-blue),
                               (dune, $wvu-black),
                               (limed-spruce, $wvu-neutral--dark-gray),
                               (pine-cone, $wvu-neutral--dark-brown),
                               (schooner, $wvu-neutral--brown),
                               (smalt, $wvu-accent--dark-blue),
                               (endeavor, $wvu-accent--blue),
                               (eden, $wvu-accent--dark-green),
                               (xanadu, $wvu-accent--green),
                               (reef-gold, $wvu-accent--mustard),
                               (well-read, $wvu-accent--red),
                               (judge-gray, $wvu-accent--brown),
                               (tangerine, $wvu-accent--orange),
                               (trinidad, $wvu-accent--burnt-orange),
                               (summer-green, $wvu-accent--light-green)  {
    .#{$color}-tint-#{$i} {
      color: tint($text-color, $i);
      border-color: tint($text-color, $i);
      &.background {
        color: $wvu-black;
        background-color: tint($text-color, $i);
        -webkit-font-smoothing: antialiased;
      }
    }
    .#{$color}-shade-#{$i} {
      color: shade($text-color, $i);
      border-color: shade($text-color, $i);
      &.background {
        color: white;
        background-color: shade($text-color, $i);
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  $i: $i - 10;
}
