{% extends 'layout.html' %}

{% block content %}

  {% include('patterns/wvu-backpage-header--about-wvu.html') %}

  <main class="py-5">
    <div class="container wvu-z-index-content">
      <div class="row">
        <div class="col-md-8">
          <p class="lead">
            WVU is a family of distinctive campuses united by a single mission. From the groundbreaking research of our flagship in Morgantown to the career-oriented programs of WVU Potomac State in Keyser to the technology-intensive programs at WVU Tech in Beckley &mdash; we are leveraging our talents and resources to create a better future for West Virginia and the World.
          </p>
        </div>
        <aside class="wvu-sidebar col-md-3 mt-4 mt-md-0 text-start ms-md-auto">
          <div class="sticky-top pt-3 mt-n3">
            {% include('patterns/wvu-sub-nav--about-wvu.html') %}
          </div>
        </aside>
      </div>
    </div>
  </main>

  {% include('patterns/wvu-video.html') %}

  {% include('patterns/wvu-r1.html') %}

  {% include('patterns/wvu-academic-excellence.html') %}

{% endblock %}
