{% extends 'layout.html' %}

{% block content %}

  <div class="ci">
    <div class="container wvu-z-index-content">
      <div class="ci__main">
        <div class="main">

          <h2>Course Description</h2>
          <p>{{ course.description }}{{ course.coRequisiteText }}</p>

          {% if course.prerequisiteCourses is defined %}
            <h3>Pre-requisite Courses</h3>
            {% if course.preRequisiteText %}
              {{ course.preRequisiteText }}
            {% else %}
              <p>These courses must be taken before taking {{ course.courseSubjectAndNumber }}:</p>
              <ul>
                {% for prerequisiteCourse in course.prerequisiteCourses %}
                  <li><a href="/academics/courses/{{ prerequisiteCourse.courseSubject }}{{ prerequisiteCourse.courseNumber }}">{{ prerequisiteCourse.courseSubjectAndNumber }}: {{ prerequisiteCourse.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}

          {% if course.corequisiteCourses is defined %}
            <h3>Co-requisite Courses</h3>
            <p>These courses must be taken while taking {{ course.courseSubjectAndNumber }}:</p>
            <ul>
              {% for corequisiteCourse in course.corequisiteCourses %}
                <li><a href="/academics/courses/{{ corequisiteCourse.courseSubject }}{{ corequisiteCourse.courseNumber }}">{{ corequisiteCourse.courseSubjectAndNumber }}: {{ corequisiteCourse.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}

        </div>

        <div class="wvu-sidebar">

          <div class="ci__the-basics">
            <ul>
              <li><strong>Course subject:</strong> {{ course.courseSubject }}</li>
              <li><strong>Course number:</strong> {{ course.courseNumber }}</li>
              <li><strong>Credit hours:</strong> {{ course.creditHours }}</li>
            </ul>
          </div>

          <a href="https://star.wvu.edu/pls/starprod/bwckschd.p_disp_dyn_sched" class="button">Schedule of Courses</a>
          <a href="/academics/major-maps" class="button">Browse Major Maps</a>
          <a href="/academics/programs" class="button">Find Your Major</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
