{% extends 'layout.html' %}

{% block content %}

  <div class="wvu-emergency-alert">
    <div class="wvu-emergency-alert__alert">
      <div class="wvu-emergency-alert__alert-title">
        <h1>Current Emergency Status</h1>
        <p>For more information visit: <a href="{{emergency.url}}">emergency.wvu.edu</a></p>
        <p>&nbsp;</p>
      </div>
      {% if not emergency.status %}
        <div class="wvu-emergency-alert__alert-title">
          <h1>All Clear</h1>
        </div>
      {% else %}
      <div class="wvu-emergency-alert__alert-title">
        <h1>Active Emergency Alert</h1>
      </div>
      {% endif %}

      {% if emergency.events %}
        <ul class="wvu-emergency-alert__events">
          {% for event in emergency.events %}
            <li>
              <a href="{{emergency.url}}">{{event.title}}</a><br />
              <p class="wvu-emergency-alert__alert-updated_at">Last Updated: {{event.updated_at_formatted}}</p>
            </li>
          {% else %}
            <li>No Current Events</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>

{% endblock %}
