<!DOCTYPE html>
<html lang="en-US" >

  <!--
    In Memory of Chris Schwer who lost his life whitewater kayaking on 08.01.12.
    Chris was a designer for WVU, paddler and friend to all.
    We dedicate this site to you Chris. Rest in peace brother.
  -->

  <head>

    {% set siteTitle = '' %}
    {% if contentful.site.displayTitle and 'Is Subsite Home Page' not in contentful.extraOptions %}
      {% set siteTitle = "- #{contentful.site.displayTitle}" %}
    {% endif %}

    {% set title = '' %}
    {% if contentful.slug == "home" %}
      {% set title = 'West Virginia University' %}
    {% elseif contentful.displayTitle %}
      {% set title = "#{contentful.displayTitle} #{siteTitle}" %}
    {% elseif contentful.title %}
      {% set title = "#{contentful.title} #{siteTitle}" %}
    {% endif %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if environment == 'development' %}DEV - {% endif %}{% if contentful.slug != "home" %}{{title|raw}} - {% endif %}West Virginia University</title>

    {% if environment == 'prod' %}
      <link rel="preconnect" href="https://www.googletagmanager.com">
      <link rel="preconnect" href="https://www.youvisit.com">
      <link rel="preconnect" href="https://www.google-analytics.com">
      <link rel="preconnect" href="https://siteimproveanalytics.com">
      <link rel="preconnect" href="https://bam.nr-data.net">
      <link rel="preconnect" href="https://js-agent.newrelic.com">
    {% endif %}

    <link rel="preconnect" href="https://images.ctfassets.net">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">

    <link rel="preconnect" href="https://cdn.fonts.net">
    <link rel="preconnect" href="https://static.wvu.edu">
    <link rel="preconnect" href="https://kit.fontawesome.com">

    {% if environment == 'prod' %}
      {{ include('patterns/wvu-tag-manager-head.html') }}
    {% endif %}

    {% set slug = '' %}
    {% if contentful.slug != "home" %}
      {% set slug = contentful.slug %}
    {% endif %}

    <link rel="canonical" href="https://www.wvu.edu/{{ slug }}">

    {% if contentful.description %}
      <meta name="description" content="{{contentful.description|raw}}" />
    {% endif %}

    {% if contentful.contentfulID %}
      <meta name="editingPage" content="https://app.contentful.com/spaces/udw4veezvy46/entries/{{contentful.contentfulID}}" />
    {% endif %}

    {% set openGraphImage = 'https://www.wvu.edu/images/flying-wv-thumbnail.jpg' %}
    {% if contentful.site.openGraphImage %}
      {% set openGraphImage = "https:#{contentful.site.openGraphImage.file.url}" %}
    {% elseif contentful.openGraphImage %}
      {% set openGraphImage = "https:#{contentful.site.openGraphImage.file.url}" %}
    {% endif %}

    <meta name="theme-color" content="#002855" />
    <meta property="og:site_name" content="West Virginia University" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.wvu.edu/{{ slug }}" />
    <meta property="og:title" content="{{title|trim|raw}}" />
    {% if contentful.description %}
      <meta property="og:description" content="{{contentful.description|raw}}" />
    {% endif %}
    <meta property="og:image" content="{{ openGraphImage|raw }}" />

    <meta name="twitter:image" content="{{ openGraphImage|raw }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="West Virginia University" />
    <meta name="twitter:creator" content="@WestVirginiaU" />
    <meta name="twitter:title" content="{{title|trim|raw}}">
    {% if contentful.description %}
      <meta name="twitter:description" content="{{contentful.description|raw}}">
    {% endif %}

    {% if 'Hide From Search Engines' in contentful.extraOptions %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="robots" content="max-image-preview:standard">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <meta name="norton-safeweb-site-verification" content="gx6ahm4-v-r1qz6t9esrtytjwl4zzrbkzstl76yxnlx-8ccnrad4sgkjdzm-c-k3xsadwhcc8vm2m4v4twsagqngnm05lli86woo0lhh81ese2r8rgatah7-qdajpqp-" />

    <link rel="apple-touch-icon" href="https://images.ctfassets.net/udw4veezvy46/6CfNME6sScEZlOLrZoPamu/11343f61672ec4060f24cfa1de1aecf6/wvu-logo--2.0.0-sq__1_.svg?fm=png&w=57"/>
    <link rel="apple-touch-icon" sizes="72x72" href="https://images.ctfassets.net/udw4veezvy46/6CfNME6sScEZlOLrZoPamu/11343f61672ec4060f24cfa1de1aecf6/wvu-logo--2.0.0-sq__1_.svg?fm=png&w=72"/>
    <link rel="apple-touch-icon" sizes="114x114" href="https://images.ctfassets.net/udw4veezvy46/6CfNME6sScEZlOLrZoPamu/11343f61672ec4060f24cfa1de1aecf6/wvu-logo--2.0.0-sq__1_.svg?fm=png&w=114"/>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.wvu.edu",
        "logo": "https://images.ctfassets.net/udw4veezvy46/6CfNME6sScEZlOLrZoPamu/11343f61672ec4060f24cfa1de1aecf6/wvu-logo--2.0.0-sq__1_.svg"
      }
    </script>

    {% if 'Support Panoramas' in contentful.extraOptions %}
      <link rel="stylesheet" type="text/css" href="/css/pannellum.min.css?cb={{app_version}}">
      <script src="/javascripts/pannellum.min.js?cb={{app_version}}"></script>
    {% endif %}

    <link href="https://cdn.fonts.net/kit/b339d500-35c3-11ed-aaf7-06b70d83f6b0/b339d500-35c3-11ed-aaf7-06b70d83f6b0.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/design-system-v2/styles.css?cb={{app_version}}">
    <script data-search-pseudo-elements defer src="https://kit.fontawesome.com/a140e17a00.js" crossorigin="anonymous"></script>

    <script src="/design-system-v2/meom-wvu-site-navigation--custom.js" type="module"></script>
  </head>
  <body>

    {% if environment == 'prod' %}
      {{ include('patterns/wvu-tag-manager-footer.html') }}
    {% endif %}

    {% if 'Hide Masthead' not in contentful.extraOptions or 'Hide Navigation' not in contentful.extraOptions %}
      <header aria-label="masthead">
    {% endif %}

    {% if 'Hide Masthead' not in contentful.extraOptions %}
      {{ include('patterns/wvu-masthead.html') }}
    {% endif %}

    {% if 'Hide Navigation' not in contentful.extraOptions %}
      {{ include('patterns/wvu-nav.html') }}
    {% endif %}

    {{ contentful.renderedPreHeader|raw }}
    {% if contentful.showHeader == "yes" %}
      {% include('patterns/wvu-backpage-header.html') %}
    {% endif %}
    {{ contentful.renderedPostHeader|raw }}

    {% if 'Hide Masthead' not in contentful.extraOptions or 'Hide Navigation' not in contentful.extraOptions %}
      </header>
    {% endif %}

    {% set timeNow = contentful.timeNow %}
    {% block content %}{% endblock %}

    {{ contentful.renderedPreFooter|raw }}

    {% if 'Hide Footer' not in contentful.extraOptions %}
      {% if major.collegeOrSchool.abbreviation == "CAHS" %}
        {{ include('patterns/wvu-cahs-footer.html') }}
      {% else %}
        {{ include('patterns/wvu-footer.html') }}
      {% endif %}
    {% endif %}

    <script src="/design-system-v2/bootstrap.bundle.min.js"></script>

    <script async src="/javascripts/lite-yt-embed.js?cb={{app_version}}"></script>

    <script async>
      /* lazy load images */
      document.addEventListener("DOMContentLoaded", function() {
        var lazyImages;
        if ("IntersectionObserver" in window && "IntersectionObserverEntry" in window && "intersectionRatio" in window.IntersectionObserverEntry.prototype) {
          lazyImagesImg = [].slice.call(document.querySelectorAll("img.lazy"));
          lazyImagesPic = [].slice.call(document.querySelectorAll("picture.lazy"));
          lazyImages = lazyImagesImg.concat(lazyImagesPic);
          let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
              if (entry.isIntersecting) {
                let lazyImage = entry.target;
                if (lazyImage.tagName === "IMG") {
                  lazyImage.src = lazyImage.dataset.src;
                  lazyImage.classList.remove("lazy");
                  lazyImage.classList.add("animate__animated");
                  lazyImage.classList.add("animate__fadeIn");
                  lazyImageObserver.unobserve(lazyImage);
                } else if (lazyImage.tagName === 'PICTURE') {
                  var children = lazyImage.children;
                  for (var i = 0; i < children.length; i++) {
                    var child = children[i];
                    if (child.tagName === 'SOURCE') {
                      child.srcset = child.dataset.srcset;
                    }
                  }
                  lazyImage.classList.remove("lazy");
                  for (var i = 0; i < children.length; i++) {
                    var child = children[i];
                    if (child.tagName === 'IMG') {
                      child.classList.add("animate__animated");
                      child.classList.add("animate__fadeIn");
                    }
                  }
                  lazyImageObserver.unobserve(lazyImage);
                }
              }
            });
          });

          lazyImages.forEach(function(lazyImage) {
            lazyImageObserver.observe(lazyImage);
          });
        } else {
          // handle IE 11 only for regular images
          lazyImagesInPicture = document.querySelectorAll("img.lazyInPicture");
          for (i = 0; i < lazyImagesPrimed.length; ++i) {
            lazyImages[i].setAttribute('src',lazyImages[i].getAttribute('data-src'));
          }
          lazyImages = document.querySelectorAll("img.lazy");
          for (i = 0; i < lazyImages.length; ++i) {
            lazyImages[i].setAttribute('src',lazyImages[i].getAttribute('data-src'));
          }
        }
      });
    </script>

    <script async>
      /* load lite-yt-embed code if the element exists */
      if (document.getElementsByTagName('lite-youtube').length > 0) {

        var js = document.createElement("script");
        js.setAttribute("src", "/javascripts/lite-yt-embed.js?cb={{app_version}}");
        js.setAttribute("defer", true);
        document.body.appendChild(js);

        var css = document.createElement("link");
        css.setAttribute("rel", "stylesheet");
        css.setAttribute("type", "text/css");
        css.setAttribute("href", "/css/lite-yt-embed.css?cb={{app_version}}");
        document.body.appendChild(css);

      }
    </script>

    {% if 'Support Facebook Video Lazy Load' in contentful.extraOptions %}
      <script src="/javascripts/lite-fb-embed.js?cb={{app_version}}" ></script>
    {% endif %}

    {% if 'Support Panoramas' in contentful.extraOptions %}
      <link rel="stylesheet" type="text/css" href="/css/pannellum.min.css?cb={{app_version}}">
      <script src="/javascripts/pannellum.min.js?cb={{app_version}}" defer></script>
    {% endif %}

    <script async>

      /* load baguette lightbox code if the class exists */
      if (document.getElementsByClassName('baguette').length > 0) {
        var js = document.createElement("script");
        js.setAttribute("src", "/javascripts/baguetteBox.min.js?cb={{app_version}}");
        js.setAttribute("defer", true);
        js.onload = function() {
          for (var b = 0; b < baguettes.length; b++) {
            baguetteBox.run(baguettes[b], {
              captions: function(element) {
                return element.getElementsByTagName('img')[0].alt;
              }
            });
          }
        }
        document.body.appendChild(js);

        var css = document.createElement("link");
        css.setAttribute("rel", "stylesheet");
        css.setAttribute("type", "text/css");
        css.setAttribute("href", "/css/baguetteBox.min.css?cb={{app_version}}");
        document.body.appendChild(css);
      }
    </script>

    <script async>

      /* load animate css if the class exists */
      if (document.getElementsByClassName('animate__animated').length > 0) {
        var css = document.createElement("link");
        css.setAttribute("rel", "stylesheet");
        css.setAttribute("type", "text/css");
        css.setAttribute("href", "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css");
        document.body.appendChild(css);
      }

    </script>

    {% block javascripts %}{% endblock %}

  </body>

</html>
