{% extends 'layout.html' %}

{% block content %}

  <div class="wvu-leadership-profile">

    <div class="wvu-container">

      <div class="main">
        <div class="wvu-leadership-profile__photo">

          <img src="/images/gee-portrait.jpg" alt="President E. Gordon Gee" />

        </div>

        <div class="wvu-leadership-profile__copy">

          <h2>President E. Gordon Gee</h2>
          <p>Gordon Gee is one of America’s most prominent higher education leaders, having served as president of some of the most prestigious public and private universities for more than three decades.</p>
          <p><a href="https://presidentgee.wvu.edu">President E. Gordon Gee’s website</a></p>

        </div>
      </div>

      <div class="wvu-sidebar">
        {% include('patterns/wvu-sub-nav--about-wvu.html') %}
      </div>

    </div>

  </div>

  <div class="wvu-polyptych wvu-polyptych--triptych wvu-accent--dark-green background">
    <div class="wvu-container">

      <div class="wvu-polyptych__panels">

        <div class="wvu-polyptych__panel">

          <div class="wvu-polyptych__copy">

            <h3>Office of the Provost</h3>
            <p>The Provost and Vice President of Academic Affairs is WVU’s chief academic officer, overseeing colleges and academic units, research and outreach.</p>
            <p><a href="https://provost.wvu.edu/">Office of the Provost website</a></p>

          </div>

        </div> <!-- end wvu-polyptych__panel -->

        <div class="wvu-polyptych__panel">

          <div class="wvu-polyptych__copy">

            <h3>University Leaders</h3>
            <p>Deans and other leaders direct WVU’s colleges, schools and major University programs and initiatives.</p>
            <p><a href="/about-wvu/university-leaders">View University leaders</a></p>

          </div>

        </div> <!-- end wvu-polyptych__panel -->

        <div class="wvu-polyptych__panel">

          <div class="wvu-polyptych__copy">

            <h3>Board of Governors</h3>
            <p>The WVU Board of Governors manages the financial, business and education policies and affairs of the University.</p>
            <p><a href="https://bog.wvu.edu/">Board of Governors website</a></p>

          </div>

        </div> <!-- end wvu-polyptych__panel -->

      </div> <!-- end wvu-polyptych__panels -->

    </div> <!-- end wvu-polyptych__container -->
  </div> <!-- end wvu-polyptych -->

{% endblock %}
