{% extends 'layout.html' %}

{% block content %}

  <style>
    .bg-trans-white {
      background-color: rgb(255, 255, 255, 0.9) !important;
    }

    .btn-outline-wvu-neutral--white:hover {
      color: black;
    }

    .nav-tabs .nav-link.active {
      border-top: #002855 solid 7px !important;
      background-color: #fff;
    }

    .nav-tabs .nav-link {
      margin-right: 0.18em;
      background-color: rgb(255, 255, 255, 0.3);
      border-color: #e9ecef #e9ecef transparent #dee2e6;
      border-top: #efefef solid 7px !important;
      border-top-left-radius: 0rem;
      border-top-right-radius: 0rem;
    }

    .nav-tabs .nav-link:hover {
      border-color: #9bd3dd #e9ecef transparent #dee2e6 !important;
    }

    .nav-link:hover {
      color: #0033A0;
    }

    .auto-ul-slashes li {
      display: block !important;
      position: relative !important;
      z-index: 0 !important;
      padding-bottom: .35em;
    }

    .auto-ul-slashes li:before {
      background-color: #EAAA00 !important;
      content: "" !important;
      height: 1em !important;
      position: absolute !important;
      width: 0.5em !important;
      left: -1.5rem !important;
      top: 0.25em !important;
      z-index: -1 !important;
      -ms-transform: skewX(149deg) !important;
      -webkit-transform: skewX(149deg) !important;
      transform: skewX(149deg) !important;
    }

    .auto-ul-slashes--blue li {
      display: block !important;
      position: relative !important;
      z-index: 0 !important;
    }

    .auto-ul-slashes--blue li:before {
      background-color: #002855 !important;
      content: "" !important;
      height: 1em !important;
      position: absolute !important;
      width: 0.5em !important;
      left: -1.5rem !important;
      top: 0.25em !important;
      z-index: -1 !important;
      -ms-transform: skewX(149deg) !important;
      -webkit-transform: skewX(149deg) !important;
      transform: skewX(149deg) !important;
    }

    .program-nav {
      border-left: 1px solid #ccc;
    }

    .degree {
      background-color: #ebf2f9;
    }

    .distinguishers a {
      color: #eaaa00 !important;
    }

    .distinguishers a:visited {
      color: #FDDA24 !important;
    }

    ul.wvu-ul-slashes.distinguishers li {
      width: 30%;
      padding-right: 3em;
      padding-bottom: .5em;
    }

    @media screen and (max-width: 60em) {
      ul.wvu-ul-slashes.distinguishers li {
        width: 100%;
        padding-right: 0em;
      }

      .program-nav {
        border-left: none;
        padding-left: 0.75em;
      }
    }

    .wvu-bg-pattern-grid-transparent {
      z-index: 1;
    }

    .card-body {
      margin-right: 1em;
    }

    .learn-accordion svg.svg-inline--fa.fa-circle-arrow-right{
      padding-right: .5em;
    }

    .learn-accordion .accordion-header {
      font-family: "IowanOldStyleW01-Black", Iowan, Georgia, "Times New Roman", Times, serif !important;
      font-weight: normal !important;
      line-height: 1.16667em !important;
      -webkit-font-smoothing: antialiased !important;
    }

    .learn-accordion .accordion-button:not(.collapsed) {
      box-shadow: none;
      background-color: #FFF5E5;
    }

    .learn-accordion .accordion-button {
      color: #0033A0;
      padding: .65em;
    }

    .wv-res {
      background-position: 50%;
      background-color: #ebf2f9;
      background-image: url(https://images.ctfassets.net/udw4veezvy46/6XFzsbLkWmqiDgpf6IKjub/d4904c17cac1e59585a925b40dc7110d/academic-majors-v2__cost-wv.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .non-res {
      background-position: 50%;
      background-color: #fcf5e0;
      background-image: url(https://images.ctfassets.net/udw4veezvy46/hpWGvELJK7xbo5j8SfCHH/3ce36e83ba79393e08405b3613d76dd9/academic-majors-v2__cost-usa.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .intl-res {
      background-position: 50%;
      background-color: #f3f4f3;
      background-image: url(https://images.ctfassets.net/udw4veezvy46/H5fTGuSfrLxiG3dLqmm38/dbaf3f766a5107454c05106d2ee29bc6/academic-majors-v2__cost-world-v2.png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    .chart-calc {
      padding-left: 2em;
    }

    .accordion-button {
      font-size: 19px;
      padding: 0.75rem 1.25rem;
    }

    .accordion-item {
      border: none;
    }

    .accordion-button:not(.collapsed) {
      box-shadow: none;
      background-color: #ebf2f9;
    }

    .wvu-accent--sunset {
        color: #F58672;
    }

    .bg-wvu-accent--sunset {
        background-color: #F58672;
    }
  </style>

  {% include('patterns/major-information/overview.html') %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


  {% include('patterns/major-information/your-degree-plan.html') %}

  {% if major.distinguishers %}
    {% include('patterns/major-information/wvu-difference.html') %}
  {% endif %}

  {# multidisciplinary studies doesn't have this section. hacky solution #}
  {% if major.degreeDesignation.abbreviation != 'BMDS' and 'Defunct' not in major.extraOptions %}
    {% include('patterns/major-information/learning-by-doing.html') %}
  {% endif %}

  {% if major.hasCareers %}
    {% include('patterns/major-information/careers-and-outcomes.html') %}
  {% endif %}

  {% if major.hasProfiles %}
    {% include('patterns/major-information/meet-your-community.html') %}
  {% endif %}

  {% if major.relatedFrequentlyAskedQuestions %}
    {% include('patterns/major-information/faqs.html') %}
  {% endif %}

  {% if major.hasPlaces %}
    {% include('patterns/major-information/places-and-spaces.html') %}
  {% endif %}

  {% if 'Defunct' not in major.extraOptions %}
    {% include('patterns/major-information/requirements.html') %}
  {% endif %}

  {# we don't have tuition/aid/ways to save for grad. hacky solution #}
  {% if major.hepcLevelKey == 'bachelor' %}
    {% include('patterns/major-information/tuition-and-aid.html') %}
  {% endif %}

  {% include('patterns/major-information/next-steps.html') %}

{% endblock %}
