{% extends 'layout.html' %}

{% block content %}

  <section aria-label="Sitemap" class="wvu-sitemap">
    <div class="container wvu-z-index-content">
      <ul>
        {% for item in navigation.main %}
          {% if not item.hidden %}
            <li>
              {% set hasDropdown = false %}
              {% for subnavitem in item.subnav %}
                {% if not subnavitem.hidden %}
                  {% set hasDropdown = true %}
                {% endif %}
              {% endfor %}
              <a href="{{ item.path }}"{% if item.subnav %} class="has-children"{% endif %}>{{ item.title|raw }}</a>
              {% if hasDropdown %}
                <ul class="sub-pages">
                {% for subnavitem in item.subnav %}
                  {% if not subnavitem.hidden %}
                    <li><a href="{{ subnavitem.path }}">{{ subnavitem.title|raw }}</a></li>
                  {% endif %}
                {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </section>

{% endblock %}
