{% extends 'backpage.html' %}

{% block content %}

  <div class="wvu-system-campuses">

    <div class="container wvu-z-index-content">

      <div class="wvu-system-campuses__campuses">

        <h2>Morgantown <span>West Virginia University</span></h2>

        <h2>Beckley <span>WVU Institute of Technology</span></h2>

        <p><a href="https://www.wvutech.edu/">Visit the WVU Beckley website</a></p>

        <h2>Keyser <span>WVU Potomac State College</span></h2>

        <p><a href="http://www.potomacstatecollege.edu/">Visit the WVU Keyser website</a></p>

        <h2 class="wvu-accent--light-blue">Charleston <span>WVU Health Sciences Center Charleston Division</span></h2>

        <h2 class="wvu-accent--light-blue">Martinsburg <span>WVU Health Sciences Center Martinsburg Division</span></h2>

      </div>

      <div class="wvu-system-campuses__map">

        <img src="/images/system-campuses-map.png" alt="Map showing locations of WVU System" />

      </div>

    </div>

  </div>

{% endblock %}
