<!DOCTYPE html>
<html lang="en-US" >

  <!--
    In Memory of Chris Schwer who lost his life whitewater kayaking on 08.01.12.
    Chris was a designer for WVU, paddler and friend to all.
    We dedicate this site to you Chris. Rest in peace brother.
  -->

  <head>

    {% if environment == 'prod' %}
      {{ include('patterns/wvu-tag-manager-head.html') }}
    {% endif %}

    {% set slug = '' %}
    {% if contentful.slug != "home" %}
      {% set slug = contentful.slug %}
    {% endif %}

    {% set siteTitle = '' %}
    {% if contentful.site.displayTitle and 'Is Subsite Home Page' not in contentful.extraOptions %}
      {% set siteTitle = "- #{contentful.site.displayTitle}" %}
    {% endif %}

    {% set title = '' %}
    {% if contentful.slug == "home" %}
      {% set title = 'West Virginia University' %}
    {% elseif contentful.displayTitle %}
      {% set title = "#{contentful.displayTitle} #{siteTitle}" %}
    {% elseif contentful.title %}
      {% set title = "#{contentful.title} #{siteTitle}" %}
    {% endif %}

    <meta charset="utf-8"/>
    <title>{% if environment == 'development' %}DEV - {% endif %}{% if contentful.slug != "home" %}{{title|raw}} - {% endif %}West Virginia University</title>

    <link rel="canonical" href="https://www.wvu.edu/{{ slug }}">

    {% if contentful.description %}
      <meta name="description" content="{{contentful.description|raw}}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if contentful.contentfulID %}
      <meta name="editingPage" content="https://app.contentful.com/spaces/udw4veezvy46/entries/{{contentful.contentfulID}}" />
    {% endif %}
    
    {% set openGraphImage = 'https://www.wvu.edu/images/flying-wv-thumbnail.jpg' %}
    {% if contentful.site.openGraphImage %}
      {% set openGraphImage = "https:#{contentful.site.openGraphImage.file.url}" %}
    {% elseif contentful.openGraphImage %}
      {% set openGraphImage = "https:#{contentful.site.openGraphImage.file.url}" %}
    {% endif %}

    <meta property="og:site_name" content="West Virginia University" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.wvu.edu/{{ slug }}" />
    <meta property="og:title" content="{{title|trim|raw}}" />
    {% if contentful.description %}
      <meta property="og:description" content="{{contentful.description|raw}}" />
    {% endif %}
    <meta property="og:image" content="{{ openGraphImage|raw }}" />

    <meta name="twitter:image" content="{{ openGraphImage|raw }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="West Virginia University" />
    <meta name="twitter:creator" content="@WestVirginiaU" />
    <meta name="twitter:title" content="{{title|trim|raw}}">
    {% if contentful.description %}
      <meta name="twitter:description" content="{{contentful.description|raw}}">
    {% endif %}

    {% if 'Hide From Search Engines' in contentful.extraOptions %}
      <meta name="robots" content="noindex">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/design-system/css/styles.css?cb={{app_version}}">
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"></noscript>

    {% if 'Support Panoramas' in contentful.extraOptions %}
      <link rel="stylesheet" type="text/css" href="/css/pannellum.min.css?cb={{app_version}}">
      <script src="/javascripts/pannellum.min.js?cb={{app_version}}"></script>
    {% endif %}

    <link rel="preconnect" href="https://bam.nr-data.net">
    <link rel="preconnect" href="https://js-agent.newrelic.com">
    <link rel="preconnect" href="https://fast.fonts.net">
    <link rel="preconnect" href="https://use.fontawesome.com">
    <link rel="preconnect" href="https://images.ctfassets.net">

    {% if environment == 'prod' %}
      <link rel="preconnect" href="https://www.googletagmanager.com">
      <link rel="preconnect" href="https://www.youvisit.com">
      <link rel="preconnect" href="https://www.google-analytics.com">
      <link rel="preconnect" href="https://siteimproveanalytics.com">
    {% endif %}

    {% if 'Preconnect to Facebook' in contentful.site.extraOptions %}
      <link rel="preconnect" href="https://www.facebook.com">
    {% endif %}

    {% if 'Load Bootstrap JS' in contentful.site.extraOptions %}
      <link rel="preconnect" href="https://stackpath.bootstrapcdn.com">
    {% endif %}

  </head>
  <body class="wvu-body page--{{ contentful.slug | replace ({'about-wvu/': "", 'academics/': ""}) }}">

    {% if environment == 'prod' %}
      {{ include('patterns/wvu-tag-manager-footer.html') }}
    {% endif %}

    {% if 'Hide Masthead' not in contentful.extraOptions %}
      {{ include('patterns/wvu-masthead.html') }}
    {% endif %}

    {% if 'Hide Navigation' not in contentful.extraOptions %}
      {{ include('patterns/wvu-nav.html') }}
    {% endif %}

    <main id="wvu-main">
      {% set timeNow = contentful.timeNow %}
      {% block content %}{% endblock %}
    </main>

    {% block preFooterContent %}{% endblock %}

    {% if 'Hide Footer' not in contentful.extraOptions %}
      {{ include('patterns/wvu-footer.html') }}
    {% endif %}


    <script async src="/javascripts/lite-yt-embed.js?cb={{app_version}}"></script>
    <script async src="/javascripts/lazy-load-img.js?cb={{app_version}}"></script>
    <script defer src="https://fast.fonts.net/jsapi/36d8cd92-7cc7-499b-b169-0eed9d670283.js"></script>

    {% if 'Load Bootstrap JS' in contentful.site.extraOptions %}
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {% endif %}

    <script defer src="/design-system/javascripts/all.js?cb={{app_version}}"></script>
    <script defer src="/design-system/javascripts/fonts.js?cb={{app_version}}"></script>

    {% block javascripts %}{% endblock %}

  </body>

</html>
