<Directory /usr/share>
    AllowOverride None
    Require all denied
</Directory>

<Directory /var/www/html>
   Options Indexes FollowSymLinks
   AllowOverride None
   Require all denied
</Directory>

<Directory /srv/www>
   Options Indexes FollowSymLinks
   AllowOverride None
   Require all granted
</Directory>
