<VirtualHost *:<%= @params[:server_port] %>>
  ServerName <%= @params[:server_name] %>
  <% if @params[:server_aliases] -%>
  ServerAlias <%= @params[:server_aliases].join " " %>
  <% end -%>
  DocumentRoot <%= @params[:docroot] %>

  <Directory <%= @params[:docroot] %>>
    Options <%= [@params[:directory_options] || "FollowSymLinks" ].flatten.join " " %>
    AllowOverride <%= [@params[:allow_override] || "None" ].flatten.join " " %>
    Order allow,deny
    Allow from all

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
  </Directory>

  <Directory ~ "\.svn">
    Order allow,deny
    Deny from all
  </Directory>

  <Directory ~ "\.git">
    Order allow,deny
    Deny from all
  </Directory>

  LogLevel warn
  ErrorLog /var/log/apache2/<%= @params[:server_aliases].first %>-error.log
  CustomLog /var/log/apache2/<%= @params[:server_aliases].first %>-access.log combined

  FileETag none

  RewriteEngine On
  IncludeOptional /etc/apache2/sites-available/<%= @params[:server_aliases].first %>.conf.d/rewrite*
  IncludeOptional /etc/apache2/sites-available/<%= @params[:server_aliases].first %>.conf.d/local*

</VirtualHost>
