/*!
 * Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 * Copyright 2022 Fonticons, Inc.
 */
:root, :host {
  --fa-style-family-brands: 'Font Awesome 6 Brands';
  --fa-font-brands: normal 400 1em/1 'Font Awesome 6 Brands'; }

@font-face {
  font-family: 'Font Awesome 6 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-brands-400.woff2") format("woff2"), url("../webfonts/fa-brands-400.ttf") format("truetype"); }

.fab,
.fa-brands {
  font-weight: 400; }

.fa-linkedin-in:before {
  content: "\f0e1"; }

.fa-reddit:before {
  content: "\f1a1"; }

.fa-reddit-alien:before {
  content: "\f281"; }

.fa-facebook-f:before {
  content: "\f39e"; }

.fa-spotify:before {
  content: "\f1bc"; }

.fa-tiktok:before {
  content: "\e07b"; }

.fa-square-facebook:before {
  content: "\f082"; }

.fa-facebook-square:before {
  content: "\f082"; }

.fa-linkedin:before {
  content: "\f08c"; }

.fa-instagram:before {
  content: "\f16d"; }

.fa-facebook:before {
  content: "\f09a"; }

.fa-pinterest-p:before {
  content: "\f231"; }

.fa-snapchat:before {
  content: "\f2ab"; }

.fa-snapchat-ghost:before {
  content: "\f2ab"; }

.fa-youtube:before {
  content: "\f167"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-pinterest:before {
  content: "\f0d2"; }

.fa-mastodon:before {
  content: "\f4f6"; }
