<section class="py-5" id="careers">
  <div class="container">
    <div class="text-center mb-3">
      <h2 class="wvu-shout wvu-shout--medium-shout text-center display-2">Careers and Outcomes</h2>
      <p class="lead">How does this degree prepare students for a career?</p>
    </div>

    <div class="">

      {% set hasCareerONET = false %}
      {% set hasCareerPathway = false %}
      {% set hasGraduatePathway = false %}
      {% for relatedCareer in major.relatedCareers|sort %}
        {% if 'Career (O*NET)' in relatedCareer.entryType %}
          {% set hasCareerONET = true %}
        {% elseif 'Career Pathway' in relatedCareer.entryType %}
          {% set hasCareerPathway = true %}
        {%  elseif 'Graduate Pathway' in relatedCareer.entryType %}
          {% set hasGraduatePathway = true %}
        {% else %}
          {% set hasCareerONET = true %}
        {% endif %}
      {% endfor %}

      {% if (hasCareerONET and hasCareerPathway) or (hasCareerONET and hasGraduatePathway) or (hasCareerPathway and hasGraduatePathway) %}
        <ul class="nav nav-pills justify-content-center iowan-old-style-black-italic h5 pt-2" id="tabs-careers-outcomes" role="tablist">
          {% if hasCareerONET %}
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-onet-tab" data-bs-toggle="pill" data-bs-target="#pills-onet" type="button" role="tab" aria-controls="pills-onet" aria-selected="true">Career Profiles</button>
            </li>
          {% endif %}
          {% if hasCareerPathway %}
            <li class="nav-item" role="presentation">
              <button class="nav-link {% if not(hasCareerONET) %}active{% endif %}" id="pills-careerpathways-tab" data-bs-toggle="pill" data-bs-target="#pills-careerpathways" type="button" role="tab" aria-controls="pills-careerpathways"
                aria-selected="{% if not(hasCareerONET) %}true{% else %}false{% endif %}">How We Prepare You</button>
            </li>
          {% endif %}
          {% if hasGraduatePathway %}
            <li class="nav-item" role="presentation">
              <button class="nav-link {% if not(hasCareerONET) and not(hasCareerPathway) %}active{% endif %}" id="pills-graduatepathways-tab" data-bs-toggle="pill" data-bs-target="#pills-graduatepathways" type="button" role="tab"
                aria-controls="pills-graduatepathways" aria-selected="{% if not(hasCareerONET) and not(hasCareerPathway) %}true{% else %}false{% endif %}">Graduate School Options</button>
            </li>
          {% endif %}
        </ul>
      {% endif %}

      <div class="tab-content" id="pills-tabContent">

        <!-- ONET -->
        {% if hasCareerONET %}
          <div class="tab-pane fade show active" id="pills-onet" role="tabpanel" aria-labelledby="pills-onet-tab" tabindex="0">
            <div class="d-flex flex-row flex-nowrap overflow-auto mt-3">

              {% for relatedCareer in major.relatedCareers|sort %}
                {% if not(relatedCareer.entryType) or 'Career (O*NET)' in relatedCareer.entryType %}
                  <div class="col-md-5 shadow bg-wvu-accent--blue-light wvu-bg-pattern-grid-transparent mx-1">
                    <div class="card card-body wvu-z-index-content">
                      <div class="p-3 mb-1">
                        <h3 class="text-wvu-blue iowan-old-style-black h4">{{ relatedCareer.title }}</h3>
                        {{ relatedCareer.description|raw }}

                        {% if 'Bright Outlook' in relatedCareer.attributes or 'Green' in relatedCareer.attributes or 'Requires Graduate Degree' in relatedCareer.attributes %}
                          <p>
                            {% if 'Bright Outlook' in relatedCareer.attributes %}Has a Bright Outlook <span class="fa-solid fa-sun-bright"></span>{% if 'Green' in relatedCareer.attributes or 'Requires Graduate Degree' in relatedCareer.attributes %}, {% endif %}{% endif %}
                            {% if 'Green' in relatedCareer.attributes %}Is a Green Occupation <span class="fa-solid fa-leaf"></span>{% if 'Requires Graduate Degree' in relatedCareer.attributes %}, {% endif %}{% endif %}
                            {% if 'Requires Graduate Degree' in relatedCareer.attributes %}May require a Graduate Degree <span class="fa-solid fa-diploma"></span>{% endif %}
                          </p>
                        {% endif %}

                        <p class="mb-0"><strong>Median Salary: </strong> {% if relatedCareer.medianSalary == '0' %}NA{% else %}${{ relatedCareer.medianSalary|number_format(0, '.', ',') }}{% endif %}</p>
                        <p>
                          <strong>Possible job titles include:</strong> {{ relatedCareer.alsoCalled|join(', ') }}.
                        </p>

                        <a href="{{ relatedCareer.webAddress }}" class="mt-1 btn btn-outline-wvu-accent--blue-dark">Explore Career</a>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}

            </div>
          </div>
        {% endif %}

        <!-- CAREER PATHWAYS -->
        {% if hasCareerPathway %}
          <div class="tab-pane fade {% if not(hasCareerONET) %}show active{% endif %}" id="pills-careerpathways" role="tabpanel" aria-labelledby="pills-careerpathways-tab" tabindex="0">
            <div class="d-flex flex-row flex-nowrap overflow-auto mt-3">
              {% for relatedCareer in major.relatedCareers|sort %}
                {% if 'Career Pathway' in relatedCareer.entryType %}
                  <div class="col-md-5 shadow bg-wvu-accent--yellow wvu-bg-pattern-grid-transparent mx-1">
                    <div class="card card-body wvu-z-index-content">
                      <div class=" p-3 mb-1">
                        <div class="wvu-z-index-content">
                        <h3 class="text-wvu-blue iowan-old-style-black h4">{{ relatedCareer.displayTitle }}</h3>

                        {{ relatedCareer.description|raw }}

                        {% if relatedCareer.relatedMinors %}
                          <p class="">Suggested WVU Minors for students seeking this career:</p>
                          <ul class="wvu-ul-arrows wvu-ul-arrows-wvu-blue mb-3">
                            {% for relatedMinor in relatedCareer.relatedMinors %}
                              {% set link = '' %}
                              {% if relatedMinor.webAddressCourseCatalog %}
                                {% set link = relatedMinor.webAddressCourseCatalog %}
                              {% endif %}
                              <li>{% if link != '' %}<a class="text-wvu-accent--blue-dark" href="{{link}}">{% endif %}{{ relatedMinor.title }}{% if link != '' %}</a>{% endif %}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                        {% if relatedCareer.requiredCertifications %}
                          <strong class="iowan-old-style-black-italic h5">Required Certifications for this career</strong>
                          <ul class="wvu-ul-arrows wvu-ul-arrows-wvu-blue  mb-3">
                            {% for certifaction in relatedCareer.requiredCertifications %}
                              <li>{{ certifaction.title }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                        {% if relatedCareer.relatedGraduatePrograms %}
                          <strong class="iowan-old-style-black-italic h5">Suggested WVU Graduate Programs</strong>
                          <ul class="wvu-ul-arrows wvu-ul-arrows-wvu-blue  mb-3">
                            {% for relatedGraduateProgram in relatedCareer.relatedGraduatePrograms %}
                              {% set link = '' %}
                              {% if relatedGraduateProgram.webAddressAdmissions %}
                                {% set link = relatedGraduateProgram.webAddressAdmissions %}
                              {% elseif relatedGraduateProgram.webAddressCourseCatalog %}
                                {% set link = relatedGraduateProgram.webAddressCourseCatalog %}
                              {% endif %}
                              <li>{% if link != '' %}<a href="{{link}}">{% endif %}{{ relatedGraduateProgram.degreeDesignation.abbreviation }}, {{ relatedGraduateProgram.degreeDesignation.title }}{% if link != '' %}</a>{% endif %}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                        {% if relatedCareer.relatedResumeBuilders %}
                          <strong class="iowan-old-style-black-italic h5">Suggested Experiences and R&#233;sum&#233; Builders</strong>
                          <ul class="wvu-ul-arrows wvu-ul-arrows-wvu-blue mb-3">
                            {% for relatedResumeBuilder in relatedCareer.relatedResumeBuilders %}
                              <li> {{ relatedResumeBuilder.title }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                        {% if relatedCareer.relatedProfessionalOrganizations %}
                          <strong class="iowan-old-style-black-italic h5">Related Professional Organizations</strong>
                          <ul class="wvu-ul-arrows wvu-ul-arrows-wvu-blue mb-3">
                            {% for relatedProfessionalOrganization in relatedCareer.relatedProfessionalOrganizations %}
                              {% set link = '' %}
                              {% if relatedProfessionalOrganization.webAddress %}
                                {% set link = 't' %}
                              {% endif %}
                              <li> {% if link != '' %}<a class="text-wvu-accent--blue-dark" href="{{ relatedProfessionalOrganization.webAddress }}">{% endif %}{{ relatedProfessionalOrganization.title }}{% if link != '' %}</a>{% endif %}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                        {% if relatedCareer.relatedAlumniProfiles %}
                          <strong class="iowan-old-style-black-italic h5">Alumni</strong>
                          <ul class="list-unstyled">
                            {% for relatedAlumniProfile in relatedCareer.relatedAlumniProfiles %}
                              <li class="row">
                                {% if relatedAlumniProfile.thumbnail %}
                                  <div class="col-3"><img class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" data-src="{{ relatedAlumniProfile.thumbnail.url }}" alt="{{ relatedAlumniProfile.thumbnail.description }}" class=""><br></div>
                                {% endif %}
                                <div class="col-9">
                                  <span class="h5 text-uppercase text-wvu-accent--blue-dark">{{ relatedAlumniProfile.name }}</span>
                                  <br>
                                  <em>{{ relatedAlumniProfile.description }}</em>
                                  {% if relatedAlumniProfile.actionItems %}
                                    {% for actionItem in relatedAlumniProfile.actionItems %}
                                      <a class="btn btn-outline-wvu-accent--blue-dark" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.title }}</a>
                                    {% endfor %}
                                  {% endif %}
                                </div>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}

                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}

            </div>
          </div>
        {% endif %}

        <!-- GRADUATE INFO -->
        {% if hasGraduatePathway %}
          <div class="tab-pane fade{% if not(hasCareerONET) and not(hasCareerPathway) %}show active{% endif %}" id="pills-graduatepathways" role="tabpanel" aria-labelledby="pills-graduatepathways-tab" tabindex="0">
            <div class="d-flex flex-row flex-nowrap overflow-auto mt-3">
              {% for relatedCareer in major.relatedCareers|sort %}
                {% if 'Graduate Pathway' in relatedCareer.entryType %}
                  <div class="col-md-5 shadow bg-wvu-neutral--tan wvu-bg-pattern-grid-transparent mx-1">
                    <div class="card card-body wvu-z-index-content">
                      <div class="p-3 mb-1">
                        <h3 class="text-wvu-blue iowan-old-style-black h4">{{ relatedCareer.displayTitle }}</h3>
                        {{ relatedCareer.description|raw }}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</section>
