<section class="bg-wvu-accent--blue-light" id="faqs">
  <div class="container py-5">
    <div class="row col-12 mx-auto">
      <div class="col-md-3">
        <h2  class="wvu-shout display-2 text-uppercase wvu-bar">
          FAQs
        </h2>
        <p class="lead pr-2 pt-2">Common questions and answers about {{ major.title }}. {# <a href="#next-steps">Contact us</a> to ask yours. #}</p>
      </div>
      <div class="col-md-9 bg-white shadow px-3 py-2">
        <div class="">
          <div class="accordion" id="accordion-faq">
            <ol class="wvu-ol-small-numbers pt-3 mb-0 ">

              {% for faqEntry in major.relatedFrequentlyAskedQuestions %}
                <li class="accordion-item">
                  <h2 class="accordion-header h5 mt-n1" id="heading{{ loop.index }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                      {% if faqEntry.displayTitle %}{{ faqEntry.displayTitle|raw }}{% else %}{{ faqEntry.title|raw }}{% endif %}
                    </button>
                  </h2>
                  <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" data-bs-parent="#accordion-faq">
                    <div class="accordion-body">
                      {{ faqEntry.body|raw }}
                    </div>
                  </div>
                </li>
              {% endfor %}

            </ol>

            {% include('patterns/major-information/faq-schema.html') %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
