<section class="bg-wvu-accent--sunset" id="learning">
  <div class="container py-5">
    <div class="text-center mb-3">
      <h2 class="iowan-old-style-italic text-center display-2"><span class="wvu-shout wvu-shout--medium-shout ">Learn</span> by Doing</h2>
      <p class="lead">Learning happens outside the classroom. Get involved.</p>
    </div>
    <div class="row">
      <div class="col-md-9 bg-white shadow p-3">
        <div class="accordion pt-2" id="accordion-learn-by-doing">
          <div class="auto-ul-slashes learn-accordion">

            {% if major.researchAcademicOpportunities %}
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="heading">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="true" aria-controls="collapse">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Research and Academic Opportunities
                  </button>
                </h2>
                <div id="collapse" class="accordion-collapse collapse show" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    {{ major.researchAcademicOpportunities|raw }}
                  </div>
                </div>
              </div>
            {% endif %}

            {#
              <!-- NOTHING IS JUMPING OUT TO ME TO POPULATE THIS -->
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Work Study
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    Something
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Co-op
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    Something
                  </div>
                </div>
              </div>
            #}

            {% if major.capstoneProjects %}
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingTwo">
                  <button class="accordion-button {% if major.researchAcademicOpportunities %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="{% if not(major.researchAcademicOpportunities) %}true{% else %}false{% endif %}" aria-controls="collapseTwo">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Capstone Projects
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse {% if not(major.researchAcademicOpportunities) %}show{% endif %}" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    <p>Before graduating, all undergraduates in this major complete an academic project (or "capstone") to demonstrate their research, communication and critical thinking skills. {% if not(major.capstoneProjectsIntroduction) %} Projects in WVU's {{ major.title }} major have included:{% endif %}</p>
                    {% if major.capstoneProjectsIntroduction %}
                      {{ major.capstoneProjectsIntroduction|raw }}
                    {% endif %}
                    <ul>
                      {% for CP in major.capstoneProjects|sort %}
                        <li>
                          {% if CP.webAddress %}<em><a href="{{ CP.webAddress }}">{{ CP.title }}</a></em>.{% else %}<em>{{ CP.title }}</em>.{% endif %}
                          {% if CP.description %}{{ CP.description|raw }}{% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if major.relatedStudentOrganizations %}
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingFour">
                  <button class="accordion-button {% if major.researchAcademicOpportunities or major.capstoneProjects %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="{% if not(major.researchAcademicOpportunities) and not(major.capstoneProjects) %}true{% else %}false{% endif %}" aria-controls="collapseFour">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Student Organizations
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse {% if not(major.researchAcademicOpportunities) and not(major.capstoneProjects) %}show{% endif %}" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    <p>Connect with other students who share your academic interests as a member of:</p>
                    <ul>
                      {% for SO in major.relatedStudentOrganizations|sort %}
                        <li><a href="{{ SO.webAddress }}">{{ SO.title }}</a></li>
                      {% endfor %}
                    </ul>
                    <p>View all of the <a href="https://wvuengage.wvu.edu/organizations">student organizations</a> you can join.</p>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if major.relatedProfessionalOrganizations %}
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingPO">
                  <button class="accordion-button {% if major.researchAcademicOpportunities or major.capstoneProjects or major.relatedStudentOrganizations %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePO" aria-expanded="{% if not(major.researchAcademicOpportunities) and not(major.capstoneProjects) and not(major.relatedStudentOrganizations) %}true{% else %}false{% endif %}" aria-controls="collapsePO">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Professional Organizations
                  </button>
                </h2>
                <div id="collapsePO" class="accordion-collapse collapse {% if not(major.researchAcademicOpportunities) and not(major.capstoneProjects) and not(major.relatedStudentOrganizations) %}show{% endif %}" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    <p>Network with professionals in your field as a student member of:</p>
                    <ul>
                      {% for PO in major.relatedProfessionalOrganizations|sort %}
                        <li><a href="{{ PO.webAddress }}">{{ PO.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if major.internshipAssistantshipOpportunities %}
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingFive">
                  <button class="accordion-button {% if major.researchAcademicOpportunities or major.capstoneProjects or major.relatedStudentOrganizations or major.relatedProfessionalOrganizations %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="{% if not(major.researchAcademicOpportunities) and not(major.capstoneProjects) and not(major.relatedStudentOrganizations) and not(major.relatedProfessionalOrganizations) %}true{% else %}false{% endif %}" aria-controls="collapseFive">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Internships
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse {% if not(major.researchAcademicOpportunities) and not(major.capstoneProjects) and not(major.relatedStudentOrganizations) and not(major.relatedProfessionalOrganizations) %}show{% endif %}" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    {{ major.internshipAssistantshipOpportunities|raw }}
                  </div>
                </div>
              </div>
            {% endif %}

            {% if major.transferableSkills %}
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingTS">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTS" aria-expanded="false" aria-controls="collapseTS">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> What Skills You'll Take Away With You
                  </button>
                </h2>
                <div id="collapseTS" class="accordion-collapse collapse" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    <p>Attending college will prepare you for many things. The {{ major.title }} major will give you the following skills:</p>
                    {{ major.transferableSkills|raw }}
                  </div>
                </div>
              </div>
            {% endif %}


            {#
              <!-- NOTHING IS JUMPING OUT TO ME TO POPULATE THIS -->
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Study Abroad
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    Something
                  </div>
                </div>
              </div>
            #}

            {#
              <!-- THIS IS AN API CALL, NEEDS INVESTIGATION -->
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Handshake Current Internships
                  </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    Something
                  </div>
                </div>
              </div>
            #}

            {% if major.relatedLivingLearningCommunities and major.hepcLevelKey == 'bachelor' %}
              <div class="accordion-item">
                <h2 class="accordion-header h5 mt-n1" id="headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                    <span class="fa-solid fa-circle-arrow-right me-1"></span> Learning Living Communities
                  </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordion-learn-by-doing">
                  <div class="accordion-body">
                    <p>Live, study and pursue outside-the-classroom learning in a <a href="https://housing.wvu.edu/housing-options/living-and-learning-communities">residence hall community</a> that shares your interests:</p>
                    <ul>
                      {% for LLC in major.relatedLivingLearningCommunities|sort %}
                        <li><a href="{{ LLC.webAddress }}">{{ LLC.title }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            {% endif %}

          </div>
        </div>
      </div>
      <div class="col-md-3 align-self-center me-lg-n4">
        <img src="https://images.ctfassets.net/udw4veezvy46/7CEmUZXfDvrFfMHWlnDiat/60290696fab7d72c3e01b7d042d341f8/37140_S_JFS_0026_XX.jpg?w=400&q=60"
          alt="Outside of the Evansdale Crossing building.">
        <div class="bg-dark text-white px-2 pt-2 pb-1">
          <p>
            <span class="iowan-old-style-italic">
              What you learn outside of the classroom is just as important as what you learn during class. We’ll help you follow your curiosity.
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
