<section class="bg-light" id="community">
  <div class="container py-5">
    <div class="text-center mb-3">
      <h2 class="iowan-old-style-black-italic wvu-bar wvu-bar--top wvu-bar--center display-3 ">Meet Your Community</h2>
      <p class="lead">The {{ major.title }} family will inspire and support you.</p>
    </div>

    {% set hasClassmates = false %}
    {% set hasFaculty = false %}
    {% set hasAlumni = false %}
    {% if major.relatedStudentProfiles %}
      {% set hasClassmates = true %}
    {% endif %}
    {% if major.relatedFacultyProfiles %}
      {% set hasFaculty = true %}
    {% endif %}
    {% if major.relatedAlumniProfiles %}
      {% set hasAlumni = true %}
    {% endif %}

    <div class="nav nav-pills justify-content-center">

      <ul class="nav nav-pills iowan-old-style-black-italic pt-2 h5" id="tabs-meet-your-community" role="tablist">
        {% if hasClassmates %}
          <li class="nav-item" role="presentation">
            <a class="btn btn-lg btn-outline-wvu-accent--blue-dark me-1 active" id="profiles-classmates-tab" data-toggle="tab" href="#profiles-classmates" role="tab" aria-controls="profiles-classmates" aria-selected="true">Future Classmates</a>
          </li>
        {% endif %}
        {% if hasFaculty %}
          <li class="nav-item" role="presentation">
            <a class="btn btn-lg btn-outline-wvu-accent--blue-dark me-1 {% if not(hasClassmates) %}active{% endif %}" id="profiles-faculty-tab" data-toggle="tab" href="#profiles-faculty" role="tab" aria-controls="profiles-faculty"
              aria-selected="{% if not(hasClassmates) %}true{% else %}false{% endif %}">Program Faculty</a>
          </li>
        {% endif %}
        {% if hasAlumni %}
          <li class="nav-item" role="presentation">
            <a class="btn btn-lg btn-outline-wvu-accent--blue-dark {% if not(hasClassmates) and not(hasFaculty) %}active{% endif %}" id="profiles-alumni-tab" data-toggle="tab" href="#profiles-alumni" role="tab" aria-controls="profiles-alumni"
              aria-selected="{% if not(hasClassmates) and not(hasFaculty) %}true{% else %}false{% endif %}">Alumni Network</a>
          </li>
        {% endif %}
      </ul>

      <div class="tab-content py-3" id="profilesContent">

        {% if hasClassmates %}
          <div class="tab-pane fade active show" id="profiles-classmates" role="tabpanel" aria-labelledby="profiles-classmates-tab" tabindex="0">
            <ul class="row list-unstyled">

              {% for relatedStudentProfile in major.relatedStudentProfiles %}
                <li class="col-md-6 pb-1">
                  <div class="shadow bg-wvu-accent--blue-light h-100">
                    <div class="bg-trans-white h-100 p-4 ">
                      <div class="">
                        {% if relatedStudentProfile.quoteTeaser %}
                          <h3 class="h4 iowan-old-style-italic">{{ relatedStudentProfile.quoteTeaser }}</h3>
                        {% endif %}
                        <div class="row">
                          <div class="col-md-12 pb-4">
                            “{{ relatedStudentProfile.quote|replace({'<p>': '','</p>': ''})|trim|raw }}”
                          </div>
                          {% if relatedStudentProfile.thumbnail %}
                            <div class="col-md-3">
                              <img class="rounded-circle lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" data-src="{{ relatedStudentProfile.thumbnail.url }}?w=200&q=60" alt="{{ relatedStudentProfile.thumbnail.description }}">
                            </div>
                          {% endif %}
                          <div class="col-md-9">
                            <span class="iowan-old-style-black-italic mb-0 h2">{{ relatedStudentProfile.name }}<br></span>
                            <span class="text-uppercase" style="color: #666;">{{ relatedStudentProfile.wvuDegrees|replace({'<p>': '','</p>': ''})|raw|trim }}</span>
                            {% if relatedStudentProfile.actionItems %}
                              {% for actionItem in relatedStudentProfile.actionItems %}
                                <a class="btn btn-outline-wvu-accent--blue-dark mt-1" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.title }}</a>
                              {% endfor %}
                            {% endif %}
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}

            </ul>
          </div>
        {% endif %}

        {% if hasFaculty %}
          <div class="tab-pane fade {% if not(hasClassmates) %}active show{% endif %}" id="profiles-faculty" role="tabpanel" aria-labelledby="profiles-faculty-tab" tabindex="0">

            <section>
              <div class="">
                <ul class="row list-unstyled">

                  {% for relatedFacultyProfile in major.relatedFacultyProfiles %}
                    <li class="col-md-6 pb-2">
                      <div class="shadow bg-wvu-accent--blue-light h-100">
                        <div class="bg-trans-white h-100 p-4 ">
                          <div class="">

                            <div class="row pb-3">
                              {% if relatedFacultyProfile.thumbnail %}
                                <div class="col-md-3">
                                  <img class="rounded-circle lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" data-src="{{ relatedFacultyProfile.thumbnail.url }}?w=200&q=60" alt="{{ relatedFacultyProfile.thumbnail.description }}">
                                </div>
                              {% endif %}
                              <div class="col-md-8 align-self-center">
                                <h3 class="iowan-old-style-black-italic mb-0 h2">{{ relatedFacultyProfile.name }}</h3>
                                {% if relatedFacultyProfile.professionalHighlights %}
                                  <p>Professional highlights:</p>
                                {% endif %}
                              </div>
                            </div>
                            <span class="auto-ul-slashes">
                              {% if relatedFacultyProfile.professionalHighlights %}
                                {{ relatedFacultyProfile.professionalHighlights|raw }}
                              {% endif %}
                            </span>
                            {% if relatedFacultyProfile.actionItems %}
                              {% for actionItem in relatedFacultyProfile.actionItems %}
                                <a class="btn btn-outline-wvu-accent--blue-dark mt-1" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.title }}</a>
                              {% endfor %}
                            {% endif %}

                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}

                </ul>
              </div>
            </section>

          </div>
        {% endif %}

        {% if hasAlumni %}
          <div class="tab-pane fade {% if not(hasClassmates) and not(hasFaculty) %}active show{% endif %}" id="profiles-alumni" role="tabpanel" aria-labelledby="profiles-alumni-tab" tabindex="0">

            <div class="row">
            {% for relatedAlumniProfile in major.relatedAlumniProfiles %}
              <li class="col-md-6 pb-2">
                <div class="shadow bg-wvu-accent--blue-light h-100">
                  <div class="bg-trans-white h-100 p-4 ">
                    <div class="">
                      {% if relatedAlumniProfile.quoteTeaser %}
                        <h3 class="h4 iowan-old-style-italic">{{ relatedAlumniProfile.quoteTeaser }}</h3>
                      {% endif %}
                      <div class="row pb-3 mt-n1">
                        {% if relatedAlumniProfile.thumbnail %}
                          <div class="col-md-3">
                            <img class="rounded-circle lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" data-src="{{ relatedAlumniProfile.thumbnail.url }}?w=200&q=60" alt="{{ relatedAlumniProfile.thumbnail.description }}">
                          </div>
                        {% endif %}
                        <div class="col-md-9 align-self-center">
                          <span class="iowan-old-style-black-italic mb-0 h2">{{ relatedAlumniProfile.name }}<br></span>
                          <span class="text-uppercase" style="color: #666;">{{ relatedAlumniProfile.wvuDegrees|replace({'<p>': '','</p>': ''})|raw|trim }}{% if relatedAlumniProfile.graduationYear %}, {{ relatedAlumniProfile.graduationYear }}{% endif %}</span>
                          {% if relatedAlumniProfile.actionItems %}
                            {% for actionItem in relatedAlumniProfile.actionItems %}
                              <a class="btn btn-outline-wvu-accent--dark-blue mt-1" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.title }}</a>
                            {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                      <div class="col-md-12 iowan-old-style-italic h5">
                        “{{ relatedAlumniProfile.quote|replace({'<p>': '','</p>': ''})|trim|raw }}”
                      </div>

                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
            </div>

          </div>
        {% endif %}


      </div>
    </div>
  </div>
</section>
