<section id="next-steps" class=" py-5 text-center bg-dark wvu-bg-topo-light">
  <div data-aos="fade" data-aos-once="true" data-aos-anchor-placement="top-bottom" class="wvu-z-index-content">
    <div class="container wvu-z-index-content">
      <h2 class="display-2 wvu-shout text-white text-center">Ready to take the next step?</h2>
      <p class="h3 helvetica-neue-light text-white">Learn how to join the WVU family.</p>
      <div class="row justify-content-left px-xl-4">
        <div class="col-lg-4 mb-4 mb-lg-0 me-md-auto  text-lg-start  p-lg-2 p-xl-2">

          {% set rfiLink = 'https://admissions.wvu.edu/request-information' %}
          {% if major.hepcLevelKey != 'bachelor' %}
            {% set rfiLink = 'https://graduateadmissions.wvu.edu/request-information' %}
          {% endif %}
          <div class="col-lg-9">
            <h3 class="card-title mb-0" id="steven-seagal-page-collection-vertical-icons-2-140021">
              <a title="RFI" class="d-block text-uppercase iowan-old-style-black wvu-text-letter-spacing text-wvu-accent--sunset text-decoration-none mb-1" href="{{ rfiLink }}">Request Info</a>
            </h3>
            <p class="text-white">Want to know more about {{ major.title }} at WVU? Fill out our request form to receive more information.</p>


            <a class="btn btn-outline-wvu-accent--sunset" href="{{ rfiLink }}">Request Info</a>

          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0 me-md-auto  text-lg-start  p-lg-2 p-xl-2">


          <div class="col-lg-9">
            <h3 class="card-title mb-0" id="chuck-norris-page-collection-vertical-icons-2-140022">
              <a title="Schedule Appointment" class="d-block text-uppercase iowan-old-style-black wvu-text-letter-spacing text-wvu-accent--blue-light text-decoration-none mb-1" href="https://www.wvu.edu/admissions/experience-wvu">Visit</a>
            </h3>
            <p class="text-white">​​Experiencing campus is the best way to see if WVU is the right fit. Choose from in-person and virtual options.</p>
            <a class="btn btn-outline-wvu-accent--blue-light" href="https://www.wvu.edu/admissions/experience-wvu">Visit WVU</a>
          </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0 me-md-auto  text-lg-start  p-lg-2 p-xl-2">
          {% set applyLink = 'https://admissions.wvu.edu/how-to-apply' %}
          {% if major.hepcLevelKey != 'bachelor' %}
            {% set applyLink = 'https://graduateadmissions.wvu.edu/how-to-apply' %}
          {% endif %}
          <div class="col-lg-9">
            <h3 class="card-title mb-0" id="bosco-baracus-page-collection-vertical-icons-2-140024">
              <a title="Apply" class="d-block text-uppercase iowan-old-style-black wvu-text-letter-spacing text-wvu-accent--yellow text-decoration-none mb-1" href="{{ applyLink }}">Apply</a>
            </h3>
            <p class="text-white">Your first step to becoming a Mountaineer is applying for admission using our convenient online application.</p>
            <a class="btn btn-outline-wvu-accent--yellow" href="{{ applyLink }}">Apply Now</a>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
