<main id="wvu-main-content" class=" py-5 position-relative wvu-bg-size-cover wvu-bg-topo-light bg-wvu-blue" style="background-image: url({{ major.programHeaderBackground.image.url }}?w=1600&q=60); background-size:cover;">
  <div id="overview" class="container wvu-z-index-content" data-aos="fade" data-aos-once="true" data-aos-anchor-placement="top-bottom">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="shadow">
          <div class="bg-trans-white p-3 p-md-4">
            <small class="text-muted"><a href="/" class="text-wvu-neutral--gray">Home</a> / <a href="/academics/" class="text-wvu-neutral--gray">Academics</a> / <a href="/academics/programs" class="text-wvu-neutral--gray">Programs</a></small>
            <p class="mt-3 iowan-old-style-black h6">
              <span class="text-uppercase">
                {% if major.collegeOrSchool.webAddress %}<a class="text-wvu-accent--burnt-orange " href="{{ major.collegeOrSchool.webAddress }}">{% endif %}{{ major.collegeOrSchool.title }}{% if major.division %}:{% endif %}{% if major.collegeOrSchool.webAddress %}</a>{% endif %}
                {% if major.division %}<span class="iowan-old-style-black text-muted"> {{ major.division.title }}</span>{% endif %}
              </span>
            </p>
            <div class="row pt-2 justify-content-between">
              <div class="{% if 'Defunct' not in major.extraOptions %}col-md-8{% else %}col-md-12{% endif %} auto-ul-slashes">
                <h1 id="action-hero-card-1-label mt-2" class="display-3 wvu-shout text-wvu-blue mb-2">{{ major.title }},
                  <!--<abbr title="{{ major.degreeDesignation.title }}">-->{{ major.degreeDesignation.abbreviation }}
                  <!--</abbr>-->
                </h1>

                {% set descBase = major.description|raw|replace({'<p>': '<p class="mb-2">'}) %}
                {% set descArray = descBase|split('<p class="mb-2">', 2) %}
                {% set desc = descArray[0] ~ '<p class="lead mb-3">' ~ descArray[1] %}
                {{ desc|raw }}

              </div>

              {% if 'Defunct' not in major.extraOptions %}
                <div class="col-md-3 pt-1 program-nav text-center">
                  <div class="btn-group-vertical">
                    <a href="#degree-plan" class="btn btn-primary">Your Degree Plan</a>
                    {% if major.distinguishers %}<a href="#wvu-difference" class="btn btn-primary">The WVU Difference</a>{% endif %}
                    {% if major.degreeDesignation.abbreviation != 'BMDS' %}<a href="#learning" class="btn btn-primary">Learn by Doing</a>{% endif %}
                    {% if major.hasCareers %}<a href="#careers" class="btn btn-primary">Careers and Outcomes</a>{% endif %}
                    {% if major.hasProfiles %}<a href="#community" class="btn btn-primary">Meet Your Community</a>{% endif %}
                    {% if major.hasPlaces %}<a href="#places" class="btn btn-primary">Places and Spaces</a>{% endif %}
                    {% if major.hasFAQs %}<a href="#faqs" class="btn btn-primary">Frequently Asked Questions</a>{% endif %}
                    <a href="#requirements" class="btn btn-primary">Admission Requirements</a>
                    {% if major.hepcLevelKey == 'bachelor' %}<a href="#tuition" class="btn btn-primary">Tuition and Aid</a>{% endif %}
                    <a href="#next-steps" class="btn btn-primary">Take the Next Steps</a>
                  </div>
                </div>
              {% endif %}

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
