<section class="bg-wvu-neutral--warm-gray-light wvu-bg-topo-dark" id="places">
  <div class="wvu-z-index-content container py-5">
    <h2 class="wvu-shout wvu-shout--medium-shout text-center display-2 pb-2">Places and Spaces</h2>
    <p class="lead text-center">Learn about all of the places and spaces you'll learn in.</p>
    <div class="row">
      <div class="col-md-9 pb-4 px-4 bg-wvu-neutral--warm-gray-dark auto-ul-slashes">
        <div class="row">
          {% for relatedFacility in major.relatedFacilities %}
            <div class="col-md-6 pt-4 mx-auto">
              {% if relatedFacility.thumbnail %}
                <img alt="{{ relatedFacility.thumbnail.title }}" class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ relatedFacility.thumbnail.url }}?w=600&q=60">
              {% endif %}
              <div class="text-white">
                <h4 class="wvu-shout pb-1 pt-3 h2">{% if relatedFacility.displayTitle %}{{ relatedFacility.displayTitle }}{% else %}{{ relatedFacility.title }}{% endif %}</h4>
                {% if relatedFacility.descriptionAlternate %}{{ relatedFacility.descriptionAlternate|raw }}{% else %}{{ relatedFacility.description|raw }}{% endif %}
              </div>
              {% if relatedFacility.webAddress %}
                <a class="btn btn-outline-white" href="{{ relatedFacility.webAddress }}">Explore the {% if relatedFacility.displayTitle %}{{ relatedFacility.displayTitle }}{% else %}{{ relatedFacility.title }}{% endif %}</a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-3 bg-trans-white p-3 h-100 align-self-center">
          <ul class="wvu-ul-arrows">
              <li class="pb-2"><a class="iowan-old-style-black text-uppercase text-wvu-accent--blue-dark" href="https://www.youvisit.com/tour/wvu">Virtual Tour</a> <br>It's the next-best thing to being here – you can virtually tour residence halls and the WVU Morgantown Campus.</li>
              <li class="pb-2"><a class="iowan-old-style-black text-uppercase text-wvu-accent--blue-dark" href="https://studentlife.wvu.edu">Student Life</a> <br> You will have it all here — epic traditions, quality academics and a supportive community that feels like home. </li>
              <li class="pb-2"><a class="iowan-old-style-black text-uppercase text-wvu-accent--blue-dark" href="https://www.wvu.edu/admissions/experience-wvu ">Visit</a> <br>Experience WVU in person and start imagining life as a Mountaineer! </li>
          </ul>
      </div>
    </div>
  </div>
</section>
