<section class="bg-wvu-gold" id="requirements">
  <div class="container py-5">
    <h2 class="wvu-shout wvu-shout--medium-shout text-center display-2 pb-2">Admission Requirements</h2>

    {% if major.hepcLevelKey == 'bachelor' %}
      <p class="lead pb-2 text-center mx-md-5"> To be admitted to WVU's {{ major.title }} major, first-time freshmen must meet WVU's <a class="text-wvu-accent--blue-dark"
          href="https://admissions.wvu.edu/how-to-apply/first-time-freshmen/admission-requirements">first-time freshman admission requirements</a>. {% if major.admissionRequirements %}They also must meet one of the
        following admission requirements.{% endif %} Interested in transferring? Review the <a class="text-wvu-accent--blue-dark" href="https://admissions.wvu.edu/how-to-apply/transfer-students#anchor-transferreqs">transfer admission requirements</a>.
      </p>

      {% if major.admissionRequirements %}
        <ul class="row list-unstyled justify-content-center">

          {% for requirement in major.admissionRequirements %}
            <li class="col-md-4 pb-1 pb-md-0 p-2">
              <div class="shadow h-100 mb-1">
                <div class="bg-trans-white p-3 h-100">
                  <div class="">
                    <h3 class="wvu-bar iowan-old-style-black h5">{{ requirement.displayTitle }}:</h3>
                    <p>You must meet the following qualifications:</p>
                    <p>
                      {% if requirement.gpa %}
                        &nbsp; &nbsp; <strong>High School GPA:</strong> {{ requirement.gpa }}<br>
                      {% endif %}
                      {% if requirement.actCombined %}
                        &nbsp; &nbsp; <strong>ACT Composite:</strong> {{ requirement.actCombined }}<br>
                      {% endif %}
                      {% if requirement.actEnglish %}
                        &nbsp; &nbsp; <strong>ACT English:</strong> {{ requirement.actEnglish }}<br>
                      {% endif %}
                      {% if requirement.actMath %}
                        &nbsp; &nbsp; <strong>ACT Math:</strong> {{ requirement.actMath }}<br>
                      {% endif %}
                      {% if requirement.satCombinedNew %}
                        &nbsp; &nbsp; <strong>SAT EBRW and Math:</strong> {{ requirement.satCombinedNew }}<br>
                      {% endif %}
                      {% if requirement.satEBRWNew %}
                        &nbsp; &nbsp; <strong >SAT <abbr title="Evidence-Based Reading and Writing">ERW</abbr>:</strong> {{ requirement.satEBRWNew }}<br>
                      {% endif %}
                      {% if requirement.satMathNew %}
                        &nbsp; &nbsp; <strong>SAT Math:</strong> {{ requirement.satMathNew }}<br>
                      {% endif %}
                      {% if requirement.aleks %}
                        &nbsp; &nbsp; <strong>ALEKS:</strong> {{ requirement.aleks }}<br>
                      {% endif %}
                      {% if requirement.teas %}
                        &nbsp; &nbsp; <strong>TEAS:</strong> {{ requirement.teas }}&#37;<br>
                      {% endif %}
                    </p>
                    {% if requirement.description %}
                      {{ requirement.description|raw }}
                    {% endif %}
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}

        </ul>
      {% endif %}

      {% if major.admissionRequirementsExtra %}
        <div>
          {{ major.admissionRequirementsExtra|raw }}
        </div>
      {% endif %}
    {% else %}
      <p class="lead pb-2 text-center mx-md-5"> To be eligible for admission into a graduate program at WVU an applicant must submit official, bachelor's degree transcripts from a regionally accredited institution and hold a GPA of at least 2.75. WVU operates decentralized admissions. Decentralized admissions allows each graduate program to set its own application requirements in addition to the University requirements.</p>
      {% if major.applicationRequirementsExtra or major.applicationDeadlines %}
        <ul class="row list-unstyled justify-content-center">

          {% if major.admissionRequirementsExtra %}
            <li class="col-md-9 pb-1 pb-md-0 p-2">
              <div class="shadow h-100 mb-1">
                <div class="bg-trans-white p-3 h-100">
                  <div class="auto-ul-slashes">
                    <!--
                    <p>
                      To be eligible for admission into the {{ major.title }} graduate program an applicant must submit the following documentation:
                    </p>
                    <ul class="wvu-ul-slashes">
                      {% for AR in major.applicationRequirementsExtra %}
                        <li> {{ AR }}</li>
                      {% endfor %}
                    </ul>
                    -->
                    {{ major.admissionRequirementsExtra|raw }}
                  </div>
                </div>
              </div>
            </li>
          {% endif %}

          {% if major.applicationDeadlines %}
            <li class="col-md-3 pb-1 pb-md-0 p-2">
              <div class="shadow mb-1">
                <div class="bg-wvu-accent--blue p-3 h-100 text-white">
                  <div class="">
                    <h4 class="wvu-h2 wvu-brand-heading">Application Deadlines</h4>
                    <p>
                      {% set termCopy = 'term' %}
                      {% set deadlineCopy = 'deadline' %}
                      {% if major.applicationDeadlines > 1 %}
                        {% set termCopy = 'terms' %}
                        {% set deadlineCopy = 'deadlines' %}
                      {% endif %}
                      <p>Each graduate program sets their own {{ termCopy }} for admission and application {{ deadlineCopy }}. Applicants can only apply for admission for the {{ termCopy }} displayed below. Any questions regarding the application deadline should be directed to the graduate program representative.</p>
                      <ul class="wvu-ul-slashes">
                        {% for AD in major.applicationDeadlines %}
                          <li> <strong>{{ AD.displayTitle }}:</strong> {{ AD.date.month.textLong }} {{ AD.date.day.numberShort }}</li>
                        {% endfor %}
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
            </li>
          {% endif %}

        </ul>
      {% endif %}
    {% endif %}
  </div>
</section>
