<section class="container py-5" id="tuition">
  <div class="text-center">
    <h2 class="wvu-shout text-center display-4"><span class="wvu-slash wvu-slash--skinny wvu-shout display-2 d-inline-block">Tuition and Aid</span></h2>
    <p class="lead pb-3"><em>How much does {{ major.title }} at WVU cost? And how can you save?</em></p>
  </div>


  <div class="row pt-2">
    <div class="chart-calc col-md-4">
    <h4 class="iowan-old-style-black-italic "> <svg class="svg-inline--fa fa-square-dollar" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="square-dollar" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
        data-fa-i2svg="">
        <path fill="currentColor"
          d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM244.8 133.6C244.8 121.7 235.1 112 223.2 112C211.3 112 201.6 121.7 201.6 133.6V149.7C195.5 151.1 189.6 152.1 184.1 155.4C166.1 163.1 149.1 177.6 145.1 199.4C140.9 222.5 150.9 243.3 170.4 255.8C184.6 264.9 203.4 270.2 218.5 274.5C220.7 275.1 222.1 275.7 225.3 276.4C237.2 279.6 249.7 282.1 259.8 289.9C271.5 297.9 265.9 312.1 253.9 316.1C244.1 320.6 231.4 322.1 214.4 319.6C202.8 317.8 191.2 313.8 179.9 310C177.4 309.2 174.9 308.3 172.4 307.5C161.1 303.7 148.8 309.9 145.1 321.2C141.3 332.5 147.5 344.8 158.8 348.5C172.9 353.1 187.1 357.8 201.6 361L201.6 378.4C201.6 390.3 211.3 400 223.2 400C235.1 400 244.8 390.3 244.8 378.4L244.8 363.2C253.7 362.2 262.2 360.2 270 357C288.8 349.5 304.3 334.8 308.5 312.4C312.7 289.2 303.6 267.5 284.2 254.2C269.3 244 249.4 238.4 233.8 233.9C231.5 233.3 229.1 232.6 226.8 231.1C215.4 228.9 203.5 225.7 193.6 219.4C181.1 211.4 190.2 199.8 201.2 195C213.6 189.7 228.9 188.5 242.1 191C249.2 192.4 256.2 194.4 263.2 196.3C264.7 196.8 266.3 197.2 267.8 197.6C279.3 200.8 291.2 194.1 294.4 182.6C297.6 171.1 290.8 159.2 279.3 155.1C277.5 155.5 275.6 154.9 273.8 154.4C264.2 151.7 254.5 149 244.8 147.8L244.8 133.6z">
        </path>
      </svg><!-- <span class="fa-solid fa-square-dollar"></span> --> Tuition and Fees</h4>
    <p>Estimated rates are available on our tuition website. Anyone who is not a current West Virginia resident, including international students, will be charged non-resident rates. </p>
    <a class="btn btn-outline-wvu-accent--blue-dark" href="https://tuition.wvu.edu/undergraduate/morgantown-campus">View Tuition and Fees</a>
    </div>

    <div class="chart-calc col-md-4 pb-2">
      <h4 class="iowan-old-style-black-italic"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9v28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5V291.9c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z"/></svg>
        <!-- <span class="fa-solid fa-graduation-cap"></span> --> Scholarships</h4>
      <p>Estimate your eligibility for merit scholarships at WVU Morgantown.</p>
      <a class="btn btn-outline-wvu-accent--blue-dark" href="https://www.wvu.edu/admissions/scholarships">Find Scholarships</a>
    </div>

    <div class="chart-calc col-md-4">
      <h4 class="iowan-old-style-black-italic">
        <svg class="svg-inline--fa fa-calculator" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calculator" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
          data-fa-i2svg="">
          <path fill="currentColor"
            d="M336 0h-288C22.38 0 0 22.38 0 48v416C0 489.6 22.38 512 48 512h288c25.62 0 48-22.38 48-48v-416C384 22.38 361.6 0 336 0zM64 208C64 199.2 71.2 192 80 192h32C120.8 192 128 199.2 128 208v32C128 248.8 120.8 256 112 256h-32C71.2 256 64 248.8 64 240V208zM64 304C64 295.2 71.2 288 80 288h32C120.8 288 128 295.2 128 304v32C128 344.8 120.8 352 112 352h-32C71.2 352 64 344.8 64 336V304zM224 432c0 8.801-7.199 16-16 16h-128C71.2 448 64 440.8 64 432v-32C64 391.2 71.2 384 80 384h128c8.801 0 16 7.199 16 16V432zM224 336c0 8.801-7.199 16-16 16h-32C167.2 352 160 344.8 160 336v-32C160 295.2 167.2 288 176 288h32C216.8 288 224 295.2 224 304V336zM224 240C224 248.8 216.8 256 208 256h-32C167.2 256 160 248.8 160 240v-32C160 199.2 167.2 192 176 192h32C216.8 192 224 199.2 224 208V240zM320 432c0 8.801-7.199 16-16 16h-32c-8.799 0-16-7.199-16-16v-32c0-8.801 7.201-16 16-16h32c8.801 0 16 7.199 16 16V432zM320 336c0 8.801-7.199 16-16 16h-32c-8.799 0-16-7.199-16-16v-32C256 295.2 263.2 288 272 288h32C312.8 288 320 295.2 320 304V336zM320 240C320 248.8 312.8 256 304 256h-32C263.2 256 256 248.8 256 240v-32C256 199.2 263.2 192 272 192h32C312.8 192 320 199.2 320 208V240zM320 144C320 152.8 312.8 160 304 160h-224C71.2 160 64 152.8 64 144v-64C64 71.2 71.2 64 80 64h224C312.8 64 320 71.2 320 80V144z">
          </path>
        </svg><!-- <span class="fa-solid fa-calculator"></span> --> Net Price Calculator</h4>
      <p>Estimate your cost of attendance and eligibility for financial aid and scholarships at any WVU System campus.</p>
      <a class="btn btn-outline-wvu-accent--blue-dark" href="https://financialaid.wvu.edu/home/estimate-costs-aid/net-price-calculator#">Visit the Net Price Calculator</a>
    </div>
    </div>
  </div>

</section>

<section class="bg-light">
  <div class="container">
    <h4 class="pt-3 text-center iowan-old-style-black-italic display-6">Ways to Save</h4>

    <p class="text-center lead">Here are a few ways for you to save on the cost of attending WVU in addition to <a class="text-wvu-accent--blue-dark" href="https://www.wvu.edu/admissions/scholarships">university scholarships</a>.</p>
    <div class="row py-3 me-md-auto">

      {% if major.accessRelatedCourses %}
        <div class="col-md-6 pb-1 me-md-auto p-2">
          <h5 id="heading-wts-hsaccess">Early College Program</h5>
          <p>Get a head start (and save money) in our High School ACCESS program for high school students. Choose from online, on-campus or dual credit courses that fulfill requirements for general education or {{ major.title }}. Online courses to
            consider for this major include:</p>
          <ul class="wvu-ul-slashes">
            {% for course in major.accessRelatedCourses|sort %}
              {% if 'Online' in course.accessAvailability %}
                <li><strong>{{ course.courseSubjectAndNumber }}:</strong> {{ course.title }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="col-md-6 pb-1 me-md-auto p-2">
        <h5 id="heading-wts-fa">Financial Aid </h5>
        <p>The most important step toward funding your future with financial aid for the {{ major.title }} major is submitting the Free Application for Federal Student Aid, or FAFSA.</p>
        <p>
          <a class="btn btn-primary" href="https://financialaid.wvu.edu/applying-for-aid/fafsa ">How to Complete the FAFSA</a>
        </p>
      </div>

      {% if 'Ohio Reciprocity' in major.extraOptions %}
        <div class="col-md-6 pb-1 me-md-auto p-2">
          <h5 id="heading-wts-or">Ohio Tuition Reciprocity</h5>
          <p>As the result of a special agreement, students from Ohio who are fully admitted to {{ major.title }} can enroll at WVU and pay in-state tuition rates. Students must be admitted to both the University and this major.</p>
          <p>
            <a aria-labelledby="btn-wts-or heading-wts-or" id="btn-wts-or" class="btn btn-primary" href="https://admissions.wvu.edu/cost-and-aid/ohio-tuition-reciprocity-agreement">Learn More</a>
          </p>
        </div>
      {% endif %}

      {% if major.relatedMajorsKeyser or major.relatedMajorsBeckley %}
        <div class="col-md-6 pb-1 me-md-auto p-2">
          <h5 id="heading-wts-sac">Start at Another WVU Campus</h5>
          <p>In addition to our <a class="text-wvu-accent--blue-dark" href="#heading-wts-tta">transfer articulation agreements</a>, you can start your career with WVU at another campus and transfer to WVU Morgantown.</p>
          <ul class="wvu-ul-slashes">
            {% for BM in major.relatedMajorsBeckley %}
              <li><a class="text-wvu-accent--blue-dark" href="{{ BM.webAddressAdmissions }}">{{ BM.title }}, {{ BM.degreeDesignation.abbreviation }}</a></li>
            {% endfor %}
            {% for KM in major.relatedMajorsKeyser %}
              <li><a class="text-wvu-accent--blue-dark" href="{{ KM.webAddressAdmissions }}">{{ KM.title }}, {{ KM.degreeDesignation.abbreviation }}</a></li>
            {% endfor %}
          </p>
        </div>
      {% endif %}

      <div class="col-md-6 pb-1 me-md-auto p-2">
        <h5 id="heading-wts-tta">Transfer Articulation Agreements</h5>
        <p>To simplify the transfer process, we have formal agreements with certain institutions. These agreements outline the courses you should take to prepare for transferring to WVU.</p>
        <p>
          Review the <a class="text-wvu-accent--blue-dark" href="https://registrar.wvu.edu/transfer/articulation-agreements" class="academic-majors-v2__cost-link">full list of transfer articulation agreements</a> to see if your institution is listed.
        </p>
        <p>
          <a class="btn btn-primary" href="https://admissions.wvu.edu/how-to-apply/transfer-students/transferring-course-credit-to-wvu">Learn How to Transfer Course Credits</a>
        </p>
      </div>

    </div>
  </div>
</section>
