<section class="bg-wvu-blue wvu-bg-pattern-grid-transparent wvu-bg-vignetting--10  text-white">
  <div class="container py-5 wvu-z-index-content">
    <h2 id="wvu-difference" class="wvu-shout display-2 text-center">The WVU Difference</h2>
    <p class="lead text-center">What sets this program apart from its competitors?</p>

    {% set hasRankings = 'false' %}
    {% for distinguisher in major.distinguishers %}
      {% for distinguisherType in distinguisher.types %}
        {% if distinguisherType.key == 'ranking' %}
          {% set hasRankings = 'true' %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <div class="row pt-2 ">

      {% if hasRankings == 'true' %}
        <h5 class="iowan-old-style-black-italic h2 text-wvu-gold">Rankings</h5>
        <ul class="list-unstyled text-wvu-blue d-md-flex flew-wrap">
          {% for distinguisher in major.distinguishers %}
            {% set isRanking = 'false' %}
            {% for distinguisherType in distinguisher.types %}
              {% if distinguisherType.key == 'ranking' %}
                {% set isRanking = 'true' %}
              {% endif %}
            {% endfor %}
            {% if isRanking == 'true' %}
              <li class="mx-1 my-2">
                <div class="pt-2 bg-wvu-accent--blue-light"></div>
                <div class="shadow bg-white py-3 px-5 mb-1 text-center">
                  <span class="text-uppercase h5 text-wvu-accent--blue-dark iowan-old-style">Ranked</span><br>
                  <span class="wvu-shout display-2 text-wvu-accent--blue-dark mb-5">{{ distinguisher.rankingNumber }}</span><br>
                  <span class="text-center ">{{ distinguisher.rankingTextSansNumber }}</span>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

      <div class="col-12 {% if major.hepcLevelKey == 'bachelor' %}col-md-9{% endif %} pt-3 ">

        <ul class="wvu-ul-slashes distinguishers  d-md-flex flex-md-wrap justify-content-between">
          {% for distinguisher in major.distinguishers %}
            {% set isRanking = 'false' %}
            {% for distinguisherType in distinguisher.types %}
              {% if distinguisherType.key == 'ranking' %}
                {% set isRanking = 'true' %}
              {% endif %}
            {% endfor %}
            {% if isRanking == 'false' %}
              <li class="mb-1">{% if distinguisher.titleWithHtml %}{{ distinguisher.titleWithHtml|raw }}{% else %}{{ distinguisher.title }}{% endif %}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      {% if major.hepcLevelKey == 'bachelor' %}
        <div class="bg-dark col-md-3 mt-3 p-3 h-100">
          <h5 class="iowan-old-style-black-italic h2 text-wvu-gold">Scholarships</h5>
          <p>93% of WVU freshmen receive grants or scholarships (2023-24).</p>
          <a href="https://www.wvu.edu/admissions/scholarships/first-time-freshmen" class="btn btn-outline-wvu-gold">Learn more</a>
          </ul>
        </div>
      {% endif %}

    </div>
  </div>
</section>
