<section class="container py-5" id="degree-plan">
  <div class="text-center mb-3">
    <h2 class="iowan-old-style-black-italic wvu-bar wvu-bar--top wvu-bar--center display-3 ">Your Degree Plan</h2>
  </div>
  <div class=" row pt-1">

    {% set descriptionDegreePlanIntro = '' %}
    {% set descriptionDegreePlanCoursework = '' %}
    {% if major.descriptionDegreePlan and not(major.descriptionTeaser) %}
      {% set descriptionDegreePlanParts = major.descriptionDegreePlan|raw|split('</p>', 2) %}
      {% set descriptionDegreePlanIntro = descriptionDegreePlanParts[0] %}
      {% set descriptionDegreePlanCoursework = descriptionDegreePlanParts[1]|trim %}
    {% elseif major.descriptionDegreePlan and major.descriptionTeaser %}
      {% set descriptionDegreePlanIntro = major.descriptionTeaser %}
      {% set descriptionDegreePlanCoursework = major.descriptionDegreePlan %}
    {% elseif major.descriptionTeaser %}
      {% set descriptionDegreePlanIntro = major.descriptionTeaser %}
    {% endif %}

    {% if major.areasOfEmphasis %}
      {% set sectionTitle = "Areas of Emphasis" %}
      {% set items = major.areasOfEmphasis %}
    {% elseif major.electiveFocuses %}
      {% set sectionTitle = "Elective Focuses" %}
      {% set items = major.electiveFocuses %}
    {% elseif major.specializations %}
      {% set sectionTitle = "Specializations" %}
      {% set items = major.specializations %}
    {% endif %}
    {% if major.tracks %}
      {% set itemsT = major.tracks %}
    {% endif %}

    {% set courseworkActive = '' %}
    {% set popularCoursesActive = '' %}
    {% set specializationsActive = '' %}
    {% set enhanceYourDegreeActive = '' %}
    {% if not(major.descriptionDegreePlan) or descriptionDegreePlanCoursework == '' %}
      {% if major.popularCourses and 'Show Areas of Emphasis by Default' not in major.extraOptions  %}
        {% set popularCoursesActive = 'active' %}
      {% else %}
        {% if major.areasOfEmphasis or major.electiveFocuses or major.specializations or major.tracks %}
          {% set specializationsActive = 'active' %}
        {% else %}
          {% set enhanceYourDegreeActive = 'active' %}
        {% endif %}
      {% endif %}
    {% else %}
      {% set courseworkActive = 'active' %}
    {% endif %}

    <div class="col-md-4 bg-wvu-blue text-white p-3 h-100">
      <h3 class="wvu-slash wvu-shout h1 wvu-slash--skinny">Intro</h3>
      {% set programCoursesBackgroundPath = 'https://admissions.wvu.edu/images/admissions-feature-panel__visit-28309s0898xx-v2.jpg' %}
      {% set programCoursesBackgroundAlt = 'Aerial view of Martin and Woodburn Halls' %}
      {% if major.programCoursesBackground %}
        {% set programCoursesBackgroundPath = major.programCoursesBackground.url~'?w=400&q=60' %}
        {% set programCoursesBackgroundAlt = major.programCoursesBackground.description %}
      {% endif %}

      <img class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ programCoursesBackgroundPath }}" alt="{{ programCoursesBackgroundAlt }}">
      <p class="lead mt-2 mb-3">
        {{ descriptionDegreePlanIntro|replace({'<p>': '', '</p>': ''})|raw }}
      </p>
    </div>

    <div class="col-md-8 pl-5 pt-md-0 pt-2">

      <ul class="nav nav-tabs iowan-old-style-black-italic flex-column flex-sm-row" id="tabs-degree-plan-coursework" role="tablist">
        {% if descriptionDegreePlanCoursework != '' %}
          <li class="nav-item" role="presentation">
            <a class="nav-link {{ courseworkActive }}" id="coursework-tab" data-toggle="tab" href="#coursework" role="tab" aria-controls="coursework" aria-selected="{% if courseworkActiveActive != '' %}true{% else %}false{% endif %}">Coursework</a>
          </li>
        {% endif %}
        {% if major.popularCourses %}
          <li class="nav-item" role="presentation">
            <a class="nav-link {{ popularCoursesActive }}" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="{% if popularCoursesActive != '' %}true{% else %}false{% endif %}">Popular Courses</a>
          </li>
        {% endif %}
        {% if major.areasOfEmphasis or major.electiveFocuses or major.specializations %}
          <li class="nav-item" role="presentation">
            <a class="nav-link {{ specializationsActive }}" id="focus-tab" data-toggle="tab" href="#focus" role="tab" aria-controls="focus" aria-selected="{% if specializationsActive != '' %}true{% else %}false{% endif %}">{{ sectionTitle }}</a>
          </li>
        {% endif %}
        {% if major.tracks %}
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if not(major.areasOfEmphasis) %}{{ specializationsActive }}{% endif %}" id="focus-tracks-tab" data-toggle="tab" href="#focus-tracks" role="tab" aria-controls="focus-tracks" aria-selected="{% if not(major.areasOfEmphasis) and specializationsActive != '' %}true{% else %}false{% endif %}">Tracks</a>
          </li>
        {% endif %}
        {% if major.hepcLevelKey == 'bachelor' %}
          <li class="nav-item" role="presentation">
            <a class="nav-link {{ enhanceYourDegreeActive }}" id="enhance-tab" data-toggle="tab" href="#enhance" role="tab" aria-controls="enhance" aria-selected="{% if enhanceYourDegreeActive != '' %}true{% else %}false{% endif %}">Enhance Your Degree</a>
          </li>
        {% endif %}
        {% if major.webAddressCourseCatalog %}
          <li class="nav-item" role="presentation">
            <a class="nav-link" target="_blank" href="{{ major.webAddressCourseCatalog }}">Plan of Study <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </li>
        {% endif %}
      </ul>


      <div class="tab-content p-3" id="degreePlanContent">

        <!-- DEGREE PLAN DETAILS -->
        {% if descriptionDegreePlanCoursework != '' %}
          <div class="tab-pane fade {% if courseworkActive != '' %}show active{% endif %} auto-ul-slashes" id="coursework" role="tabpanel" aria-labelledby="coursework-tab" tabindex="0">
            {{ descriptionDegreePlanCoursework|raw }}
          </div>
        {% endif %}

        <!-- COURSES -->
        {% if major.popularCourses %}
          <div class="tab-pane fade {% if popularCoursesActive != '' %}show active{% endif %}" id="popular" role="tabpanel" aria-labelledby="popular-tab" tabindex="0">
            <section>
              <div class="">
                <p class="lead pb-2">Tailor this major to your interests by taking one of these courses as you pursue your degree:</p>
                <ul class="row list-unstyled">
                  {% for course in major.popularCourses %}
                    <li class="col-md-6 pb-2">
                      <div class="shadow bg-wvu-accent--blue-light h-100">
                        <div class="bg-trans-white h-100 p-3 ">
                          <div class="">
                            <h3 class="iowan-old-style-black h5">{{ course.courseSubjectAndNumber }}:<br>{{ course.title }}</h3>
                            {{ course.description|raw }}
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>

                <script type="application/ld+json">
                  {
                    "@context": "http://schema.org",
                    "@type": "ItemList",
                    "itemListElement": [{%for course in major.popularCourses %} {
                      "@type": "ListItem",
                      "position": "{{ loop.index }}",
                      "item": {
                        "@context": "http://schema.org",
                        "@type": "Course",
                        "name": "{{ course.courseSubjectAndNumber }}: {{ course.title }}",
                        "description": "{{ course.description }}",
                        "provider": {
                          "@type": "Organization",
                          "name": "West Virginia University",
                          "sameAs": "https://www.wvu.edu"
                        },
                        "courseCode": "{{ course.courseSubjectAndNumber }}"
                      }
                    }{%if not loop.last %}, {% endif %} {% endfor %}]
                  }
                </script>

              </div>
            </section>

          </div>
        {% endif %}

        <!-- AOEs ETC. -->
        {% if major.areasOfEmphasis or major.electiveFocuses or major.specializations or major.tracks %}
          <div class="tab-pane fade {% if specializationsActive != '' %}show active{% endif %}" id="focus" role="tabpanel" aria-labelledby="focus-tab" tabindex="0">
            <section>
              <div class="">
                <p class="lead pb-2 ">Tailor this major to your interests by focusing your coursework in one of these areas:</p>
                <ul class="row list-unstyled">
                  {% for item in items %}
                    <li class="col-md-6 pb-1">
                      <div class="shadow bg-wvu-accent--yellow h-100">
                        <div class="bg-trans-white h-100 p-3 ">
                          <div class="">
                            {% if item.displayTitle %}
                              <h3 class="iowan-old-style-black h4">{{ item.displayTitle }}</h3>
                            {% else %}
                              <h3 class="iowan-old-style-black h4">{{ item.title }}</h3>
                            {% endif %}
                            {{ item.description|raw }}
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </section>
          </div>
        {% endif %}

        <!-- AOEs ETC. -->
        {% if major.tracks %}
          <div class="tab-pane fade {% if not(major.areasOfEmphasis) and pecializationsActive != '' %}show active{% endif %}" id="focus-tracks" role="tabpanel" aria-labelledby="focus-tracks-tab" tabindex="0">
            <section>
              <div class="">
                <p class="lead pb-2 ">Tailor this major to your interests by focusing your coursework in one of these areas:</p>
                <ul class="row list-unstyled">
                  {% for item in itemsT %}
                    <li class="col-md-6 pb-1">
                      <div class="shadow bg-wvu-accent--yellow h-100">
                        <div class="bg-trans-white h-100 p-3 ">
                          <div class="">
                            {% if item.displayTitle %}
                              <h3 class="iowan-old-style-black h4">{{ item.displayTitle }}</h3>
                            {% else %}
                              <h3 class="iowan-old-style-black h4">{{ item.title }}</h3>
                            {% endif %}
                            {{ item.description|raw }}
                          </div>
                        </div>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </section>
          </div>
        {% endif %}

        <!-- Enhance your degree -->
        <div class="tab-pane fade {% if enhanceYourDegreeActive != '' %}show active{% endif %}" id="enhance" role="tabpanel" aria-labelledby="enhance-tab" tabindex="0">

          <section>

            <div class="">
              <p class="lead pb-2">Take advantage of special options related to this major:</p>

              <ul class="row list-unstyled">

                {% if '3+3 Law Degree' in major.extraOptions %}
                  <li class="col-md-6 pb-2">
                    <div class="shadow bg-wvu-accent--blue-light h-100">
                      <div class="bg-trans-white h-100 p-3 ">
                        <div class="">
                          <h3 class="iowan-old-style-black h4">3+3 Program</h3>
                          <p>This major is eligible for the <a href="https://admissions.law.wvu.edu/apply/3-plus-3">3+3 Law Degree Program</a> that allows qualified students to earn a bachelor’s degree and law degree in six years instead of seven
                            years.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endif %}

                {% if 'Accelerated Program' in major.extraOptions %}
                  <li class="col-md-6 pb-2">
                    <div class="shadow bg-wvu-accent--blue-light h-100">
                      <div class="bg-trans-white h-100 p-3 ">
                        <div class="">
                          <h3 class="iowan-old-style-black h4">Accelerated Program</h3>
                          <p>{{ major.title }} offers the option to earn a bachelor's and master's degree in an accelerated time frame.</p>
                          {% if major.webAddressAcceleratedProgramDetails %}
                              <a href="{{ major.webAddressAcceleratedProgramDetails }}" class="btn btn-outline-wvu-accent--blue-dark">Accelerated Program Details</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </li>
                {% endif %}

                {% if major.accessRelatedCourses %}
                  <li class="col-md-6 pb-2">
                    <div class="shadow bg-wvu-accent--blue-light h-100">
                      <div class="bg-trans-white h-100 p-3 ">
                        <div>
                          <h3 class="iowan-old-style-black h4">Early College Program</h3>
                          <p>Get a head start (and save money) in <a href="https://www.access.wvu.edu/">our High School ACCESS program</a> for high school students. Choose from online, on-campus or dual credit courses that fulfill requirements for
                            general education or {{ major.title }}. Online courses to consider for this major include:</p>
                          <ul class="wvu-ul-slashes">
                            {% for course in major.accessRelatedCourses %}
                              {% if 'Online' in course.accessAvailability %}
                                <li><strong>{{ course.courseSubjectAndNumber}}:</strong> {{ course.title }}</li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endif %}

                {% if major.dualMajor %}
                  <li class="col-md-6 pb-2">
                    <div class="shadow bg-wvu-accent--blue-light h-100">
                      <div class="bg-trans-white h-100 p-3 ">
                        <div>
                          <h3 class="iowan-old-style-black h4">Dual Major</h3>
                          <p>This major offers the option to simultaneously complete a second bachelor's degree in:</p>
                          <ul class="wvu-ul-slashes">
                            {% for dualMajor in major.dualMajor %}
                            <li><a href="{{ dualMajor.webAddressAdmissions }}">{{ dualMajor.title }}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endif %}

                <li class="col-md-6 pb-2">
                  <div class="shadow bg-wvu-accent--blue-light h-100">
                    <div class="bg-trans-white h-100 p-3 ">
                      <div class="">
                        <h3 class="iowan-old-style-black h4">Honors</h3>
                        <p>Expand your curiosity — and enhance your curriculum — through the WVU Honors College. Two programs are offered: <a href="https://www.honors.wvu.edu/students/honors-foundation-program">Honors Foundations</a> for first-
                          and second-year students and <a href="https://www.honors.wvu.edu/students/honors-excel-program">Honors EXCEL</a> for third- and fourth-year students.</p>
                        <a href="https://honors.wvu.edu" class="btn btn-outline-wvu-accent--blue-dark">Explore Honors</a>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
        </div>
      </div>

    </div>

  </div>
</section>
