{% set classesForEachItemBackgroundColor = ['bg-wvu-accent--blue', 'bg-wvu-accent--sunset'] %}
{% if currentBlock.backgroundColor %}
  {% set classesForEachItemBackgroundColor = currentBlock.backgroundColor|split(',') %}
{% endif %}

{% set classesForEachItemText = ['text-white', 'text-dark'] %}
{% if currentBlock.classesForItemText %}
  {% set classesForEachItemText = currentBlock.classesForItemText|split(',') %}
{% endif %}

{% set classesForEachItemButtons = ['btn-outline-white', 'btn-outline-dark'] %}
{% if currentBlock.classesForItemButtons %}
  {% set classesForEachItemButtons = currentBlock.classesForItemButtons|split(',') %}
{% endif %}

{% set classesForEachItemHeader = ['h1 helvetica-neue-bold wvu-bar wvu-bar--bottom wvu-header-max-width mb-1 mt-0'] %}
{% if currentBlock.classesForItemHeaders %}
  {% set classesForEachItemHeader = currentBlock.classesForItemHeaders|split(',') %}
{% endif %}

{% set classesForEachItemLists = ['wvu-ul-chevrons wvu-ul-chevrons'] %}
{% if currentBlock.classesForItemLists %}
  {% set classesForEachItemLists = currentBlock.classesForItemLists|split(',') %}
{% endif %}

{% set loopLength = 0 %}
{% for featurette in currentBlock.featurettes  %}
  {% if
    (featurette.timeShow is not defined and featurette.timeHide is not defined) or
    ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
    ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
    ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
  %}
    {% set loopLength = loopLength + 1 %}
  {% endif %}
{% endfor %}

{% for featurette in currentBlock.featurettes  %}
  {% if
    (featurette.timeShow is not defined and featurette.timeHide is not defined) or
    ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
    ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
    ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
  %}

    {% if featurette.thumbnailSource is defined %}
      {% set imageInfo = featurette.thumbnailSource %}
    {% elseif featurette.thumbnail is defined %}
      {% set imageInfo = featurette.thumbnail %}
    {% else %}
      {% set imageInfo = featurette.whatToFeature.thumbnail %}
    {% endif %}

    {% set inlineStyles = '' %}
    {% if featurette.thumbnail is defined %}
      {% set inlineStyles = inlineStyles ~ "background-image: url(#{featurette.thumbnail.file.url}?w=2000&q=40);" %}
    {% endif %}

    {% set backgroundColor %}
      {{ cycle(classesForEachItemBackgroundColor, loop.index0) }}
    {% endset %}
    {% set classesForItemHeaders %}
      {{ cycle(classesForEachItemHeader, loop.index0) }}
    {% endset %}
    {% set classesForItemText %}
      {{ cycle(classesForEachItemText, loop.index0) }}
    {% endset %}
    {% set classesForItemLists %}
      {{ cycle(classesForEachItemLists, loop.index0) }}
    {% endset %}
    {% set classesForItemButtons %}
      {{ cycle(classesForEachItemButtons, loop.index0) }}
    {% endset %}

    <div class="row mx-0 {{ cycle(['flex-row-reverse', 'flex-row'], loop.index0) }} {{ backgroundColor }} {{ classesForItemText }}">
      <div class="px-0 col-lg-6">
        <div class="h-100 mb-0 wvu-bg-size-cover" style="{{ inlineStyles}} padding-top: 66.6667%"></div>
      </div>          
      <div class="px-0 col-lg-6 d-flex align-items-center {{ cycle(['justify-content-end', 'justify-content-start'], loop.index0) }}">
        <div class="col-xxl-10">
          <div class="p-3 p-md-4 p-xl-5">
            {% if featurette.whatToFeature.contentfulContentType == 'blocksStudentProfile' or featurette.whatToFeature.contentfulContentType == 'blocksFacultyMemberProfile' %}
              {% include 'blocks/featurettes/profile-text.html' %}
            {% elseif featurette.whatToFeature.contentfulContentType == 'facilities' %}
              {% include 'blocks/featurettes/facility-text.html' %}
            {% else %}
              {% include 'blocks/featurettes/default-text.html' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
  {% endif %}
{% endfor %}