{% set calendarItems = jsonDecode(fetch(featurette.calendarFeed.webAddress)) %}

<ul class="">
  {% for calendarItem in calendarItems.events %}
    <li class="pb-1 row">
      <div class="col-4 col-sm-2 p-0">
        <span class="iowan-old-style-black-italic text-uppercase text-wvu-accent--sunset">{{ calendarItem.event.event_instances[0].event_instance.start|date('M d') }} </span> <br>
        <span class="iowan-old-style text-uppercase">{{ calendarItem.event.event_instances[0].event_instance.start|date('g a') }} - {{ calendarItem.event.event_instances[0].event_instance.end|date('g a') }}</span> <br>
      </div>
      <a class="col-8 col-sm-9" href="{{ calendarItem.event.localist_url }}"><strong>{{ calendarItem.event.title }}</strong></a>
    </li>
  {% endfor %}
</ul>
