{% set ariaLabelledBy = "false" %}
{% set ariaLabelledByID = "" %}
{% if 'Add ARIA LabelledBy to Links' in featurette.extraOptions %}
  {% set ariaLabelledBy = "true" %}
  {% set ariaLabelledByID = random() %}
{% endif %}

{% set classesForItemText = '' %}
{% if currentBlock.classesForItemText %}
  {% set classesForItemText = currentBlock.classesForItemText %}
{% endif %}

{% set classesForItemButtons = 'btn-outline-wvu-gold' %}
{% if currentBlock.classesForItemButtons %}
  {% set classesForItemButtons = currentBlock.classesForItemButtons %}
{% endif %}

{% if featurette.displayName or featurette.whatToFeature.linkText %}
  {% set buttonText = '' %}
  {% if 'Add New/Updated Tags' in currentBlock.extraOptions %}
    {% set buttonColor = '' %}
    {% if 'Mark as New' in featurette.extraOptions and (featurette.dateAdded is not defined or ((featurette.dateAdded.unix + 604800) > currentBlock.timeNow)) %}
      {% set buttonText = 'New' %}
      {% set buttonColor = 'wvu-accent--sunset' %}
    {% elseif 'Mark as Updated' in featurette.extraOptions and (featurette.dateUpdated is not defined or ((featurette.dateUpdated.unix + 604800) > currentBlock.timeNow)) %}
      {% set buttonText = 'Updated' %}
      {% set buttonColor = 'wvu-accent--old-gold' %}
    {% endif %}
  {% endif %}

  {% set visuallyHiddenClass = "" %}
  {% if 'Hide Display Name (Visually)' in featurette.extraOptions %}
    {% set visuallyHiddenClass = "visually-hidden" %}
  {% endif %}

  {% set classesForItemHeaders = 'h2 d-block wvu-shout wvu-bar mb-2 text-decoration-none text-white' %}
  {% if currentBlock.classesForItemHeaders %}
    {% set classesForItemHeaders = currentBlock.classesForItemHeaders %}
  {% endif %}

  <h3 class="{{ classesForItemHeaders }}{{ visuallyHiddenClass }}" {% if ariaLabelledBy == "true" %}id="wvu-f-{{ ariaLabelledByID }}"{% endif %}>{% if featurette.displayName %}{{ featurette.displayName|raw }}{% else %}{{ featurette.whatToFeature.linkText|raw }}{% endif %}{% if buttonText != '' %} <span class="badge bg-{{ buttonColor }} text-uppercase">{{ buttonText }}</span>{% endif %}</h3>

{% endif %}

<div class="{{ classesForItemText }}">
  {% if featurette.longDescription %}
    {{ featurette.longDescription | raw }}
  {% else %}
    {{ featurette.description | raw }}
  {% endif %}
</div>

{% if 'Add Download Thumbnail Button' in featurette.extraOptions %}
  <a class="btn {{ classesForItemButtons }}" href="{{ featurette.thumbnail.file.url }}" download>Download {{ featurette.thumbnail.description|raw }}</a>
{% endif %}

{% if 'Add Slashes to Quicklinks' in featurette.extraOptions %}

  <ul class="wvu-ul-slashes">

    {% set listEnded = false %}
    {% for actionItem in featurette.quicklinkOrActionItem %}

      {% set buttonText = '' %}
      {% if 'Add New/Updated Tags' in currentBlock.extraOptions %}
        {% set buttonColor = '' %}
        {% if 'Mark as New' in actionItem.extraOptions and (actionItem.dateAdded is not defined or ((actionItem.dateAdded.unix + 604800) > currentBlock.timeNow)) %}
          {% set buttonText = 'New' %}
          {% set buttonColor = 'wvu-accent--sunset' %}
        {% elseif 'Mark as Updated' in actionItem.extraOptions and (actionItem.dateUpdated is not defined or ((actionItem.dateUpdated.unix + 604800) > currentBlock.timeNow)) %}
          {% set buttonText = 'Updated' %}
          {% set buttonColor = 'wvu-neutral--tan' %}
        {% endif %}
      {% endif %}

      {% if ariaLabelledBy == "true" %}
        {% set ariaLabelledByIDLink = random() %}
      {% endif %}

      {% if 'Use Button Layout' in actionItem.extraOptions %}
        {% if not listEnded %}</ul>{% endif %}
        {% set listEnded = true %}
        <a class="btn {{ classesForItemButtons }} mb-1" href="{{ actionItem.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.linkText|raw }}</a>
      {% elseif actionItem.contentfulContentType == 'frequentlyAskedQuestions' %}
        <li><a href="{% if actionItem.webAddressExternal %}{{ actionItem.webAddressExternal|raw }}{% else %}/faq/{{ actionItem.slug }}{% endif %}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.title|raw }}</a> {% if buttonText != '' %} <span class="badge bg-{{ buttonColor }}">{{ buttonText }}</span>{% endif %}</li>
      {% elseif actionItem.contentfulContentType == 'blocksQuicklink' %}
        <li><a href="{{ actionItem.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.linkText|raw }}</a> {% if buttonText != '' %} <span class="badge bg-{{ buttonColor }} text-uppercase">{{ buttonText }}</span>{% endif %}</li>
      {% elseif actionItem.quicklink.webAddress %}
        <li><a href="{{ actionItem.quicklink.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.action }}</a> {% if buttonText != '' %} <span class="badge bg-{{ buttonColor }} text-uppercase">{{ buttonText }}</span>{% endif %}</li>
      {% else %}
        <li><a href="{{ actionItem.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.title }}</a> {% if buttonText != '' %} <span class="badge bg-{{ buttonColor }} text-uppercase">{{ buttonText }}</span>{% endif %}</li>
      {% endif %}

    {% endfor %}

  {% if not listEnded %}</ul>{% endif %}

{% else %}

  {% for actionItem in featurette.quicklinkOrActionItem %}

    {% if ariaLabelledBy == "true" %}
      {% set ariaLabelledByIDLink = random() %}
    {% endif %}

    {% if actionItem.contentfulContentType == 'blocksQuicklink' %}
      <a class="btn {{ classesForItemButtons }} mb-1" href="{{ actionItem.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.linkText|raw }}</a>
    {% elseif actionItem.quicklink.webAddress %}
      <a class="btn {{ classesForItemButtons }} mb-1" href="{{ actionItem.quicklink.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.action }}</a>
    {% else %}
      <a class="btn {{ classesForItemButtons }} mb-1" href="{{ actionItem.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.title }}</a>
    {% endif %}

  {% endfor %}

{% endif %}
