{% set classesForRow = 'justify-content-start' %}
{% if currentBlock.classesForRow %}
  {% set classesForRow = currentBlock.classesForRow %}
{% endif %}

{% set classesForItems = 'mb-4 mb-md-0 col-sm-6 col-md-4' %}
{% if currentBlock.classesForItems %}
  {% set classesForItems = currentBlock.classesForItems %}
{% endif %}

{% set classesForItemHeaders = 'h2 d-block wvu-shout wvu-bar mb-2 text-decoration-none text-wvu-blue' %}
{% if currentBlock.classesForItemHeaders %}
  {% set classesForRow = currentBlock.classesForItemHeaders %}
{% endif %}

{% set classesForItemText = 'mb-0' %}
{% if currentBlock.classesForItemText %}
  {% set classesForRow = currentBlock.classesForItemText %}
{% endif %}

{% set classesForItemButtons = 'btn-outline-wvu-gold' %}
{% if currentBlock.classesForItemButtons %}
  {% set classesForItemButtons = currentBlock.classesForItemButtons %}
{% endif %}

{% set classesForItemLists = 'wvu-ul-chevrons' %}
{% if currentBlock.classesForItemLists %}
  {% set classesForItemLists = currentBlock.classesForItemLists %}
{% endif %}

{% if currentBlock.displayName %}
  <h2 id="{{ ariaLabelledById }}" class="{{ classesForDisplayName }}">{{ currentBlock.displayName }}</h2>
{% else %}
  <h2 id="{{ ariaLabelledById }}" class="visually-hidden">{{ currentBlock.title }}</h2>
{% endif %}

{% if currentBlock.lede or currentBlock.ledeLong %}
  <div class="{{ classesForLede }}">
    {% if currentBlock.lede %}
      {{ currentBlock.lede }}
    {% else %}
      {{ currentBlock.ledeLong|raw }}
    {% endif %}
  </div>
{% endif %}

<div class="row {{ classesForRow }}">

  {% set loopLength = 0 %}
  {% for featurette in currentBlock.featurettes  %}
    {% if
        (featurette.timeShow is not defined and featurette.timeHide is not defined) or
        ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
        ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
        ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
    %}
      {% set loopLength = loopLength + 1 %}
    {% endif %}
  {% endfor %}

  {% for featurette in currentBlock.featurettes  %}
    {% if
      (featurette.timeShow is not defined and featurette.timeHide is not defined) or
      ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
      ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
      ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
    %}
      {% set itemInlineStyles = '' %}
      {% if featurette.thumbnail %}
        {% set itemInlineStyles = itemInlineStyles ~ "background-image: url(#{featurette.thumbnail.file.url}?w=960&q=40);" %}
      {% endif %}
      <div class="{{ classesForItems }}">
        <div class="d-block h-100 text-white text-decoration-none position-relative">
          <div class="h-100 card bg-dark text-white shadow wvu-bg-tint wvu-bg-size-cover wvu-bg-position-center" style="{{ itemInlineStyles }}">
            <div class="wvu-z-index-content p-3 h-100">
              {% if featurette.displayName %}
                {% set itemName = featurette.displayName %}
              {% else %}
                {% set itemName = featurette.name %}
              {% endif %}
              {% include 'blocks/featurettes/cards-w-overlay-text.html' %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>