{% set ariaLabelledBy = "false" %}
{% set ariaLabelledByID = "" %}
{% if 'Add ARIA LabelledBy to Links' in featurette.extraOptions %}
  {% set ariaLabelledBy = "true" %}
  {% set ariaLabelledByID = random() %}
{% endif %}

<h3 class="{{ classesForItemHeaders }}" {% if ariaLabelledBy == "true" %}id="{{ ariaLabelledByID }}"{% endif %}>{% if featurette.displayName %}{{ featurette.displayName }}{% else %}{{ featurette.whatToFeature.linkText }}{% endif %}</h3>

<div class="card-text {{ classesForItemText }}">
  {% if featurette.longDescription %}
    {{ featurette.longDescription | raw }}
  {% else %}
    {{ featurette.description | raw }}
  {% endif %}
</div>

{% for actionItem in featurette.quicklinkOrActionItem %}

  {% if actionItem.contentfulContentType == 'blocksQuicklink' %}
    <a class="btn {{ classesForItemButtons }} mb-1" href="{{ actionItem.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="{{ ariaLabelledByID }}"{% endif %}>{{ actionItem.linkText|raw }}</a>
  {% elseif actionItem.quicklink.webAddress %}
    <a class="btn {{ classesForItemButtons }} mb-1" href="{{ actionItem.quicklink.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="{{ ariaLabelledByID }}"{% endif %}>{{ actionItem.action }}</a>
  {% else %}
    <a class="btn {{ classesForItemButtons }} mb-1" href="{{ actionItem.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="{{ ariaLabelledByID }}"{% endif %}>{{ actionItem.title }}</a>
  {% endif %}

{% endfor %}
