{% set classesForItems = 'mb-4 col-lg-10 mx-md-auto text-start' %}
{% if currentBlock.classesForItems %}
  {% set classesForItems = currentBlock.classesForItems %}
{% endif %}

{% set classesForItemHeaders = 'h2 d-block wvu-shout wvu-bar mb-2 text-decoration-none text-wvu-blue' %}
{% if currentBlock.classesForItemHeaders %}
  {% set classesForItemHeaders = currentBlock.classesForItemHeaders %}
{% endif %}

{% set classesForItemText = '' %}
{% if currentBlock.classesForItemText %}
  {% set classesForRow = currentBlock.classesForItemText %}
{% endif %}

{% set classesForItemHeaders = 'wvu-shout h1' %}
{% if currentBlock.classesForItemHeaders %}
  {% set classesForItemHeaders = currentBlock.classesForItemHeaders %}
{% endif %}

{% set classesForItemButtons = 'btn-primary' %}
{% if currentBlock.classesForItemButtons %}
  {% set classesForItemButtons = currentBlock.classesForItemButtons %}
{% endif %}

{% set classesForItemLists = 'wvu-ul-chevrons' %}
{% if currentBlock.classesForItemLists %}
  {% set classesForItemLists = currentBlock.classesForItemLists %}
{% endif %}

{% set classesForIcons = 'h1 rounded-circle p-4 bg-light' %}
{% if currentBlock.classesForIcons %}
  {% set classesForIcons = currentBlock.classesForIcons %}
{% endif %}

{% set loopLength = 0 %}
{% for featurette in currentBlock.featurettes  %}
  {% if
      (featurette.timeShow is not defined and featurette.timeHide is not defined) or
      ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
      ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
      ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
  %}
    {% set loopLength = loopLength + 1 %}
  {% endif %}
{% endfor %}

{% for featurette in currentBlock.featurettes  %}
  <div class="{{ classesForItems }}">
    <div class="row">
      {% set thumbnailClass = 'w-100' %}
      {% if featurette.thumbnailClass %}
        {% set thumbnailClass = featurette.thumbnailClass %}
      {% endif %}

      {% if
          (featurette.timeShow is not defined and featurette.timeHide is not defined) or
          ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
          ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
          ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
      %}

        {% if featurette.thumbnail is defined %}
          {% set imageInfo = featurette.thumbnail %}
        {% else %}
          {% set imageInfo = featurette.whatToFeature.thumbnail %}
        {% endif %}

        {% set inlineStyle = 'false' %}
        {% set backgroundColor = '' %}
        {% set inlineBackgroundColor = '' %}
        {% if currentBlock.backgroundColor and not featurette.backgroundColor %}
          {% if '#' in currentBlock.backgroundColor %}
            {% set inlineStyle = 'true' %}
            {% set inlineBackgroundColor = currentBlock.backgroundColor %}
          {% else %}
            {% set backgroundColor = currentBlock.backgroundColor %}
          {% endif %}
        {% elseif featurette.backgroundColor %}
          {% if '#' in featurette.backgroundColor %}
            {% set inlineStyle = 'true' %}
            {% set inlineBackgroundColor = featurette.backgroundColor %}
          {% else %}
            {% set backgroundColor = featurette.backgroundColor %}
          {% endif %}
        {% endif %}

        {% if 'Hide Photo' not in featurette.extraOptions %}
          <div class="col-md-3 mb-2 mb-lg-1 text-center">
            <div class="row">
              {% if 'Replace Photo with Title' in featurette.extraOptions %}
                {% set titleStyleClass = '' %}
                {% if 'Use Regular Helvetica Neue for Title' in featurette.extraOptions %}
                  {% set titleStyleClass = 'left-heading--regular' %}
                {% endif %}
                <div class="col-12">
                  <h3 class="left-heading {{ titleStyleClass }}">
                    {% if featurette.displayName %}
                      {{ featurette.displayName|raw }}
                    {% else %}
                      {{ faq.title|raw }}
                    {% endif %}
                  </h3>
                </div>
              {% elseif 'Use Icons Over Thumbnails' in currentBlock.extraOptions %}
                <div class="col-6 me-auto col-md-12 col-lg-10 col-xl-8 me-lg-0 ms-lg-auto">
                  <div class="mb-2 d-flex justify-content-end">
                    <div class="{{ classesForIcons }} d-flex mx-auto align-items-center justify-content-center">
                      <span class="{{ featurette.classesForFontAwesome }} position-absolute" aria-hidden="true"></span>
                    </div>
                  </div>
                </div>
              {% else %}
                {% set imageQuality = '40' %}
                {% if 'Use Less Compression on Photo' in featurette.extraOptions %}
                  {% set imageQuality = '60' %}
                {% endif %}
                <div class="col-12">
                  <img class="lazy {{ thumbnailClass }}" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageInfo.file.url }}?w=480&h=480&q={{ imageQuality }}" alt="{{ imageInfo.description }}">
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="col-md-7">
          <div class="row">
            <div class="col-lg mb-3 mb-lg-0">

              {% if 'Replace Photo with Title' not in featurette.extraOptions %}
                {% if featurette.displayName or faq.title %}
                  <h2 class="{{ classesForItemHeaders }}">
                    {% if featurette.displayName %}
                      {{ featurette.displayName|raw }}
                    {% else %}
                      {{ faq.title|raw }}
                    {% endif %}
                  </h2>
                {% endif %}
              {% endif %}

              <div class="mb-0">
                {% if featurette.longDescription %}
                  {{ featurette.longDescription | raw }}
                {% else %}
                  {{ featurette.description | raw }}
                {% endif %}
              </div>

              {% if 'Show Quicklinks Beneath Description on Horizontal Layout' in featurette.extraOptions and featurette.quicklinkOrActionItem|length > 0 %}
                <p style="mt-2">
                  {% for actionItem in featurette.quicklinkOrActionItem  %}
                    {% if actionItem.contentfulContentType == 'blocksQuicklink' %}
                      <a href="{{ actionItem.webAddress }}" class="btn {{ classesForItemButtons }} mb-1">{{ actionItem.linkText|raw }}</a>
                    {% elseif actionItem.quicklink.webAddress %}
                      <a href="{{ actionItem.quicklink.webAddress }}" class="btn {{ classesForItemButtons }} mb-1">{{ actionItem.action }}</a>
                    {% else %}
                      <a href="{{ actionItem.webAddress }}" class="btn {{ classesForItemButtons }} mb-1">{{ actionItem.title }}</a>
                    {% endif %}
                  {% endfor %}
                </p>
              {% endif %}

              {% if 'Hide Also See' not in featurette.extraOptions and featurette.quicklinkOrActionItem|length > 0 %}
                <div class="col-lg-4">
                  <div class="wvu-bg-tint--10">
                    <div class="wvu-z-index-content p-3">
                      <h3>Also See:</h3>
                      <ul class="wvu-ul-slashes wvu-ul-slashes--gold">
                        {% for actionItem in featurette.quicklinkOrActionItem  %}
                          <li>
                            {% if actionItem.contentfulContentType == 'blocksQuicklink' %}
                              <a href="{{ actionItem.webAddress }}">{{ actionItem.linkText|raw }}</a>
                            {% elseif actionItem.quicklink.webAddress %}
                              <a href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.action }}</a>
                            {% else %}
                              <a href="{{ actionItem.webAddress }}">{{ actionItem.title }}</a>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% if currentBlock.sublede %}
  <div class="lead fs-5 pb-4 text-center">
    <p>{{ currentBlock.sublede|raw }}</p>
  </div>
{% endif %}

{% if currentBlock.relatedQuicklinks %}
  <div class="text-center fs-5 pb-4">
    {% for quicklink in currentBlock.relatedQuicklinks %}
      <a href="{{ quicklink.webAddress }}" class="btn {{ classesForItemButtons }} me-1 mb-1">{{ quicklink.linkText|raw }}</a>
    {% endfor %}
  </div>
{% endif %}
