{% set classesForEachBackgroundColor = ['bg-wvu-accent--blue'] %}
{% if currentBlock.backgroundColor %}
  {% set classesForEachBackgroundColor = currentBlock.backgroundColor|split(',') %}
{% endif %}

{% set classesForEachItemHeader = ['h2 mb-2 link-white text-decoration-none'] %}
{% if currentBlock.classesForItemHeaders %}
  {% set classesForEachItemHeader = currentBlock.classesForItemHeaders|split(',') %}
{% endif %}

{% set classesForEachItemText = ['text-white'] %}
{% if currentBlock.classesForItemText %}
  {% set classesForEachItemText = currentBlock.classesForItemText|split(',') %}
{% endif %}

<div class="container-fluid px-3">
  <div class="row justify-content-start">

    {% set loopLength = 0 %}
    {% for featurette in currentBlock.featurettes  %}
      {% if
        (featurette.timeShow is not defined and featurette.timeHide is not defined) or
        ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
        ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
        ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
      %}
        {% set loopLength = loopLength + 1 %}
      {% endif %}
    {% endfor %}

    {% set numberOfColumns = loopLength %}
    {% if currentBlock.forceNumberOfColumns %}
      {% set numberOfColumns = currentBlock.forceNumberOfColumns %}
    {% endif %}

    {% set columnClasses = 'col mb-3' %}
    {% set rowClasses = '' %}
    {% if numberOfColumns == '1' %}
      {% set columnClasses = 'col' %}
    {% elseif numberOfColumns == '2' %}
      {% set columnClasses = 'col-sm-6 col-md-4' %}
      {% set rowClasses = 'd-flex justify-content-center' %}
    {% elseif numberOfColumns == '3' or numberOfColumns == '4' %}
      {% set columnClasses = 'col-sm-6 col-md' %}
    {% elseif numberOfColumns == '5' %}
      {% set columnClasses = 'col-sm-6 col-md-4 col-lg-3' %}
    {% elseif numberOfColumns == '6' or numberOfColumns == '9' %}
      {% set columnClasses = 'col-sm-6 col-md-4' %}
    {% endif %}

    {% for featurette in currentBlock.featurettes  %}
      {% if
        (featurette.timeShow is not defined and featurette.timeHide is not defined) or
        ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
        ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
        ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
      %}

        {% if featurette.thumbnailSource is defined %}
          {% set imageInfo = featurette.thumbnailSource %}
        {% elseif featurette.thumbnail is defined %}
          {% set imageInfo = featurette.thumbnail %}
        {% else %}
          {% set imageInfo = featurette.whatToFeature.thumbnail %}
        {% endif %}

        {% set backgroundColor %}
          {{ cycle(classesForEachBackgroundColor, loop.index0) }}
        {% endset %}
        {% set classesForItemHeaders %}
          {{ cycle(classesForEachItemHeader, loop.index0) }}
        {% endset %}
        {% set classesForItemText %}
          {{ cycle(classesForEachItemText, loop.index0) }}
        {% endset %}

        <div class="{{ columnClasses }} mb-3">
          <div class="position-relative h-100 p-3 p-xl-4 d-flex flex-column justify-content-between {{ classesForItemText }} {{ backgroundColor }}">            
            <h3 id="lorem-ipsum-dolor-sit-amet-consectetur-page-collection-colored-boxes-1-139968">
              <a class="stretched-link text-decoration-none {{ classesForItemHeaders }}" href="{% for actionItem in featurette.quicklinkOrActionItem|slice(0,1) %}{{ actionItem.webAddress }}{% endfor %}">
                {% if featurette.displayName %}{{ featurette.displayName|raw }}{% else %}{{ featurette.whatToFeature.linkText|raw }}{% endif %}
              </a>
            </h3>
            <div class="flex-grow-1">
              {% if featurette.description %}
                {{ featurette.description | raw }}
              {% endif %}
            </div>              
            <div class="h1 mb-0">
              <span aria-hidden="true" class="fa-solid fa-arrow-circle-right"></span>
            </div>
          </div>
        </div>

      {% endif %}
    {% endfor %}
  </div>
</div>