{% set classesForItemHeaders = 'h2 d-block wvu-shout mb-2 text-decoration-none text-wvu-blue' %}
{% if currentBlock.classesForItemHeaders %}
  {% set classesForRow = currentBlock.classesForItemHeaders %}
{% endif %}

{% set classesForItemText = '' %}
{% if currentBlock.classesForItemText %}
  {% set classesForRow = currentBlock.classesForItemText %}
{% endif %}

{% set classesForItemButtons = 'btn-primary' %}
{% if currentBlock.classesForItemButtons %}
  {% set classesForItemButtons = currentBlock.classesForItemButtons %}
{% endif %}

{% set classesForItemLists = 'wvu-ul-chevrons' %}
{% if currentBlock.classesForItemLists %}
  {% set classesForItemLists = currentBlock.classesForItemLists %}
{% endif %}

{% set removeBottomPaddingClass = '' %}
{% set removeTopPaddingClass = '' %}
{% set featuretteProfilesClass = '' %}

{% set inlineStyle = 'false' %}
{% if '#' in currentBlock.backgroundColor %}
  {% set inlineStyle = 'true' %}
{% endif %}

{% set columnClasses = 'col-sm-6' %}
{% set rowClasses = '' %}
{% if numberOfColumns == '1' %}
  {% set columnClasses = 'col' %}
{% elseif numberOfColumns == '2' %}
  {% set columnClasses = 'col-sm-6 col-md-4' %}
  {% set rowClasses = 'd-flex justify-content-center' %}
{% elseif numberOfColumns == '3' or numberOfColumns == '4' %}
  {% set columnClasses = 'col-sm-6 col-md' %}
{% elseif numberOfColumns == '5' %}
  {% set columnClasses = 'col-sm-6 col-md-4 col-lg-3' %}
{% elseif numberOfColumns == '6' or numberOfColumns == '9' %}
  {% set columnClasses = 'col-sm-6 col-md-4' %}
{% endif %}

<div class="row {{ featuretteProfilesClass }} mb-4">
  {% set loopLength = 0 %}
  {% for featurette in currentBlock.featurettes  %}
    {% if
        (featurette.timeShow is not defined and featurette.timeHide is not defined) or
        ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
        ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
        ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
    %}
      {% set loopLength = loopLength + 1 %}
    {% endif %}
  {% endfor %}

  {% for featurette in currentBlock.featurettes  %}
    {% if
        (featurette.timeShow is not defined and featurette.timeHide is not defined) or
        ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
        ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
        ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
    %}

      <div class="{{ columnClasses }} mb-2">
        <div class="card shadow-sm h-100 bg-wvu-gold pt-1 text-dark">
          <div class="bg-white h-100">

            {% if 'Hide Photo' not in featurette.extraOptions %}
              {% include 'blocks/featurettes/media.html' %}
            {% endif %}

            <div class="card-body">
              {% if featurette.whatToFeature.contentfulContentType == 'blocksStudentProfile' or featurette.whatToFeature.contentfulContentType == 'blocksFacultyMemberProfile' %}
                {% include 'blocks/featurettes/profile-text.html' %}
              {% elseif featurette.whatToFeature.contentfulContentType == 'facilities' %}
                {% include 'blocks/featurettes/facility-text.html' %}
              {% elseif featurette.whatToFeature.contentfulContentType == 'frequentlyAskedQuestions' %}
                {% include 'blocks/featurettes/faq-text.html' %}
              {% elseif featurette.whatToFeature.contentfulContentType == 'virtualTourPanoramas' %}
                {% include 'blocks/featurettes/panorama-text.html' %}
              {% else %}
                {% include 'blocks/featurettes/card-text.html' %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
