{% set classesForItemHeaders = 'wvu-bar wvu-bar--bottom' %}
{% if currentBlock.classesForItemHeaders %}
  {% set classesForItemHeaders = currentBlock.classesForItemHeaders %}
{% endif %}

{% set classesForItemText = '' %}
{% if currentBlock.classesForItemText %}
  {% set classesForItemText = currentBlock.classesForItemText %}
{% endif %}

{% set classesForItemButtons = 'btn-outline-wvu-gold' %}
{% if currentBlock.classesForItemButtons %}
  {% set classesForItemText = currentBlock.classesForItemButtons %}
{% endif %}

{% set classesForItemLists = 'wvu-ul-chevrons wvu-ul-chevrons-wvu-gold' %}
{% if currentBlock.classesForItemLists %}
  {% set classesForItemLists = currentBlock.classesForItemLists %}
{% endif %}

{% set loopLength = 0 %}
{% for featurette in currentBlock.featurettes  %}
  {% if
    (featurette.timeShow is not defined and featurette.timeHide is not defined) or
    ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
    ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
    ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
  %}
    {% set loopLength = loopLength + 1 %}
  {% endif %}
{% endfor %}

<div class="row mx-0">
  {% for featurette in currentBlock.featurettes|slice(0,3) %}
    {% if
      (featurette.timeShow is not defined and featurette.timeHide is not defined) or
      ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
      ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
      ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
    %}

      {% set inlineStyles = '' %}
      {% if featurette.thumbnail is defined %}
        {% set inlineStyles = inlineStyles ~ "background-image: url(#{featurette.thumbnail.file.url}?w=1200&q=40);" %}
      {% endif %}

      <div class="col-12 col-xl px-0">
        <div class="h-100 mb-0 wvu-overflow-hidden wvu-background-size-cover p-3 bg-wvu-accent--blue-dark text-white text-left wvu-bg-size-cover wvu-bg-vignetting--80 wvu-bg-position-center shadow" style="{{ inlineStyles }}">
          <div class="container position-relative wvu-z-index-content px-0 h-100">
            <div class="row h-100">
              <div class="col-xl-8 d-flex flex-column justify-content-between">

                  {% if featurette.whatToFeature.contentfulContentType == 'blocksStudentProfile' or featurette.whatToFeature.contentfulContentType == 'blocksFacultyMemberProfile' %}
                    {% include 'blocks/featurettes/profile-text.html' %}
                  {% elseif featurette.whatToFeature.contentfulContentType == 'facilities' %}
                    {% include 'blocks/featurettes/facility-text.html' %}
                  {% else %}
                    {% include 'blocks/featurettes/default-text.html' %}
                  {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>