<div>
  <h3 class="{{ classesForItemHeaders }}"">
    {% if featurette.displayName %}
      {{ featurette.displayName }}
    {% else %}
      {{ person.name }}
    {% endif %}
  </h3>

  {% if person.major %}
    <div class="wvu-profile__major">
      <em><a href='{{ person.major.webAddressAdmissions }}'>{{ person.major.title }}</a>{% if person.year.yearFourDigits %}, Class of {{ person.year.yearFourDigits }}{% endif %}</em>
    </div>
  {% endif %}

  {% if person.department %}
    <div class="wvu-profile__major">
      <em>{{ person.department.title }}</em>
    </div>
  {% endif %}

  {% if featurette.longDescription %}
    {{ featurette.longDescription | raw }}
  {% elseif featurette.description %}
    {{ featurette.description | raw }}
  {% else %}
    {% if featurette.whatToFeature.snazzyHeadline and 'Hide Snazzy Headline' not in featurette.extraOptions %}
      <p style="margin-bottom: -.6em;"><strong>{{ featurette.whatToFeature.snazzyHeadline }}</strong></p>
    {% endif %}
    {{ featurette.whatToFeature.description | raw }}
  {% endif %}
</div>

<div>
  {% if featurette.quicklinkOrActionItem %}
    {% for actionItem in featurette.quicklinkOrActionItem %}
      <a class="btn {{ classesForItemButtons }} mb-1" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.title }}</a>
    {% endfor %}
  {% else %}
    {% for action in featurette.whatToFeature.actionItems %}
      <a href="{{ action.quicklink.webAddress }} mb-1" class="btn {{ classesForItemButtons }}">{{ action.title }}</a>
    {% endfor %}
  {% endif %}

  {% if featurette.whatToFeature.interests and 'Hide Also See' not in featurette.extraOptions %}
    <h4>Also See:</h4>
    <ul class="{{ classesForItemLists }}">
      {% for interest in featurette.whatToFeature.interests  %}
        <li><a href="{{ interest.webAddress }}">{{ interest.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>