{% set classesForRow = 'justify-content-start' %}
{% if currentBlock.classesForRow %}
  {% set classesForRow = currentBlock.classesForRow %}
{% endif %}

{% set itemButtonText = 'Read More' %}
{% if currentBlock.itemButtonText %}
  {% set classesForRow = currentBlock.itemButtonText %}
{% endif %}

{% set classesForItemHeaders = 'h2 d-block wvu-shout wvu-bar mb-2 text-decoration-none text-wvu-blue' %}
{% if currentBlock.classesForItemHeaders %}
  {% set classesForItemHeaders = currentBlock.classesForItemHeaders %}
{% endif %}

{% set classesForItemText = '' %}
{% if currentBlock.classesForItemText %}
  {% set classesForItemText = currentBlock.classesForItemText %}
{% endif %}

{% set classesForItemButtons = 'btn-primary' %}
{% if currentBlock.classesForItemButtons %}
  {% set classesForItemButtons = currentBlock.classesForItemButtons %}
{% endif %}

{% set classesForItemLists = 'wvu-ul-chevrons' %}
{% if currentBlock.classesForItemLists %}
  {% set classesForItemLists = currentBlock.classesForItemLists %}
{% endif %}

{% set numberOfColumns = loopLength %}
{% if currentBlock.forceNumberOfColumns %}
  {% set numberOfColumns = currentBlock.forceNumberOfColumns %}
{% endif %}

{% set columnClasses = 'col-sm-6 col-md-3' %}
{% set rowClasses = '' %}
{% if numberOfColumns == '1' %}
  {% set columnClasses = 'col' %}
{% elseif numberOfColumns == '2' %}
  {% set columnClasses = 'col-sm-6 col-md-4' %}
  {% set rowClasses = 'd-flex justify-content-center' %}
{% elseif numberOfColumns == '3' or numberOfColumns == '4' %}
  {% set columnClasses = 'col-sm-6 col-md' %}
{% elseif numberOfColumns == '5' %}
  {% set columnClasses = 'col-sm-6 col-md-4 col-lg-3' %}
{% elseif numberOfColumns == '6' or numberOfColumns == '9' %}
  {% set columnClasses = 'col-sm-6 col-md-4' %}
{% endif %}

<div class="row {{ classesForRow }}">

  {% set loopLength = 0 %}
  {% for featurette in currentBlock.featurettes  %}
    {% if
        (featurette.timeShow is not defined and featurette.timeHide is not defined) or
        ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
        ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
        ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
    %}
      {% set loopLength = loopLength + 1 %}
    {% endif %}
  {% endfor %}

  {% for featurette in currentBlock.featurettes  %}
    {% if
      (featurette.timeShow is not defined and featurette.timeHide is not defined) or
      ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
      ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
      ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
    %}
      <div class="{{ columnClasses }}">
        {% if featurette.displayName %}
          {% set itemName = featurette.displayName %}
        {% else %}
          {% set itemName = featurette.name %}
        {% endif %}
        {% if 'Swap Photo and Text' in featurette.extraOptions %}
          {% include 'blocks/featurettes/copy.html' %}
          {% include 'blocks/featurettes/media.html' %}
        {% else %}
          {% include 'blocks/featurettes/media.html' %}
          {% include 'blocks/featurettes/copy.html' %}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
