{% if featurette.thumbnailSource is defined %}
  <img class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ featurette.thumbnailSource }}" alt="{{ featurette.thumbnailSourceAlt }}" loading="lazy">
{% elseif featurette.classesForFontAwesome is defined %}
  <span class="icon-big {{ featurette.classesForFontAwesome }}" title="{{ featurette.thumbnailSourceAlt }}"></span>
{% else %}
  {% set imgWidth = imageInfo.file.details.image.width %}
  {% set imgHeight = imageInfo.file.details.image.height %}
  {% set imgAPIPropProgressiveJPEG = '' %}
  {% set imgAPIWidth1x = '' %}
  {% set imgAPIWidth2x = '' %}
  {% set imgAPIQuality = '&q=60' %}
  {% if imageInfo.file.contentType != 'image/svg+xml' %}
    {% if imageInfo.file.contentType == 'image/jpeg' %}
      {% set imgAPIPropProgressiveJPEG = '&fl=progressive' %}
    {% endif %}
    {% set imgAPIWidth1x = 540 %}
    {% if featurette.inquiryForm or loopLength == 1 %}
      {% set imgAPIWidth1x = 800 %}
    {% endif %}
    {% set imgAPIWidth2x = imgAPIWidth1x * 2 %}
    {% if 'Use Less Compression on Photo' in featurette.extraOptions %}
      {% set imgAPIQuality = '&q=80' %}
    {% endif %}
    {% set foo = "" %}
    {% set defaultSrcSet = imageInfo.file.url~'?'~imgAPIQuality %}
    <picture class="lazy {{ featurette.thumbnailClass }}">
      <source type="image/avif" srcset="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ imgWidth }} {{ imgHeight }}'%3E%3C/svg%3E" data-srcset='{{ defaultSrcSet }}&fm=avif&w={{ imgAPIWidth1x }} 1x, {{ defaultSrcSet }}&fm=avif&w={{ imgAPIWidth2x }} 2x'>
      <source type="image/webp" srcset="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ imgWidth }} {{ imgHeight }}'%3E%3C/svg%3E" data-srcset='{{ defaultSrcSet }}&fm=webp&w={{ imgAPIWidth1x }} 1x, {{ defaultSrcSet }}&fm=webp&w={{ imgAPIWidth2x }} 2x'>
      <source srcset="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ imgWidth }} {{ imgHeight }}'%3E%3C/svg%3E" data-srcset='{{ defaultSrcSet }}{{ imgAPIPropProgressiveJPEG }}&w={{ imgAPIWidth1x }} 1x, {{ defaultSrcSet }}{{ imgAPIPropProgressiveJPEG }}&w={{ imgAPIWidth2x }} 2x'>
      <img class='lazyInPicture {{ featurette.thumbnailClass }}' src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ imgWidth }} {{ imgHeight }}'%3E%3C/svg%3E" data-srcset="{{ defaultSrcSet }}{{ imgAPIPropProgressiveJPEG }}&w={{ imgAPIWidth1x }}" alt="{{ imageInfo.description }}">
    </picture>
  {% else %}
    <img class="lazy {{ featurette.thumbnailClass }}" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 {{ imgWidth }} {{ imgHeight }}'%3E%3C/svg%3E" data-src="{{ imageInfo.file.url }}" alt="{{ imageInfo.description }}" loading="lazy">
  {% endif %}

{% endif %}
