{% set facility = featurette.whatToFeature %}

<h3>
  {% if featurette.displayName %}
    {{ featurette.displayName }}
  {% else %}
    {{ facility.title }}
  {% endif %}
</h3>

{% if facility.building %}
  <div class="wvu-profile__major" style="font-style: italic">
    {{ facility.building.title }} {# {% if facility.building.campus %} on the {{ facility.building.campus.title }} Campus{% endif %} #}
  </div>
{% endif %}

{% if featurette.longDescription %}
  {{ featurette.longDescription | raw }}
{% elseif featurette.description %}
  {{ featurette.description | raw }}
{% else %}
  {{ facility.description | raw }}
{% endif %}

{% if facility.relatedVirtualTourStops %}
  {% for virtualTourStop in facility.relatedVirtualTourStops %}
    <a class="button" href="{{ virtualTourStop.webAddress }}">View the {{ virtualTourStop.title }} on our Virtual Tour</a>
  {% endfor %}
  <br>
{% endif %}

{% if featurette.quicklinkOrActionItem %}
  {% for actionItem in featurette.quicklinkOrActionItem %}
    <a class="button" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.title }}</a>
  {% endfor %}
{% else %}
  <a class="button" href="{{ facility.webAddress }}">Learn more<span class="u-wvu-visually-hidden"> about {{ facility.title }}</span></a>
{% endif %}
