<style>

  h1.wvu-bar.wvu-bar--center.wvu-shout, h2.wvu-bar.wvu-bar--center.wvu-shout {
      position: relative !important;
      margin-top: 2rem !important;
  }

  h1.wvu-bar.wvu-bar--center:before, h2.wvu-bar.wvu-bar--center:before {
    background-color: #eaaa00 !important;
    content: "" !important;
    height: .5rem !important;
    position: absolute !important;
    top: -2rem !important;
    width: 7rem !important;
  }

  h1.wvu-text-align--left, h2.wvu-text-align--left {
   text-align: left;
  }

  h1.wvu-text--one-em, h2.wvu-text--one-em {
   font-size: 1em;
  }
</style>
<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="wvu-featurettes wvu-featurettes--9 py-5 {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeLeftPaddingClass }} {{ currentBlock.removeRightPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>
  <div class="wvu-container">
    <div class="wvu-featurettes__featurettes ">
      <div class="wvu-featurettes__featurette wvu-featurettes__featurette--9">
        <div class="wvu-featurettes__info wvu-featurettes__info--hasphoto">
          {% if currentBlock.displayName %}
            <div class="wvu-featurettes__header {{ iowanClass }}">
              {% if 'Set Title as H1' in currentBlock.extraOptions %}
                <h1 class="wvu-bar wvu-bar--center wvu-shout wvu-text-align--left wvu-text--one-em wvu-h2">{{ currentBlock.displayName|raw }}</h1>
              {% else %}
                <h2 class="wvu-bar wvu-bar--center wvu-shout wvu-text-align--left wvu-text--one-em">{{ currentBlock.displayName|raw }}</h2>
              {% endif %}
            </div>
          {% endif %}

          {% if currentBlock.lede or currentBlock.ledeLong %}
            {% if currentBlock.lede %}
              <p>{{ currentBlock.lede|raw }}</p>
            {% else %}
              {{ currentBlock.ledeLong|raw }}
            {% endif %}
          {% endif %}

          {% if currentBlock.relatedQuicklinks %}
            {% for quicklink in currentBlock.relatedQuicklinks %}
              <a href="{{ quicklink.webAddress }}" class="button">{{ quicklink.linkText|raw }}</a>
            {% endfor %}
          {% endif %}

        </div>
      </div>
      {% set loopLength = 0 %}
      {% for featurette in currentBlock.featurettes  %}
        {% if
            (featurette.timeShow is not defined and featurette.timeHide is not defined) or
            ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
            ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
            ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
        %}
          {% set loopLength = loopLength + 1 %}
        {% endif %}
      {% endfor %}

      {% for featurette in currentBlock.featurettes  %}
        {% if
            (featurette.timeShow is not defined and featurette.timeHide is not defined) or
            ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
            ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
            ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
        %}
          <div {% if featurette.anchorID %}id="{{featurette.anchorID}}"{% endif %} class="wvu-featurettes__featurette wvu-featurettes__featurette--9">

            {% include 'blocks/featurettes/media.html' %}
            {% include 'blocks/featurettes/copy.html' %}

          </div>
        {% endif %}

      {% endfor %}
    </div>
  </div>
</div>
