{% set baguetteID = random() %}
<div class="img-{{ baguetteID }} baguette">
  <a href="{{ imageInfo.file.url }}?w=540&q=60" data-at-800="{{ imageInfo.file.url }}?w=800&q=60" data-at-1200="{{ imageInfo.file.url }}?w=1200&q=60"><img class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageInfo.file.url }}?w=540&q=60" alt="{{ imageInfo.description }}" loading="lazy"></a>
</div>
<script>
  if (typeof(baguettes) === "undefined") {
    baguettes = [];
  }
  baguettes.push(".img-{{ baguetteID }}");
</script>
