{% if currentBlock.displayName or currentBlock.lede or currentBlock.ledeLong %}
  <div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="wvu-featurettes {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>

    <div class="wvu-container">
      {% if currentBlock.displayName %}
        <div class="wvu-featurettes__header" {% if 'Minimize Display Name' in currentBlock.extraOptions %}style="text-align: center"{% endif %}>
          {% if 'Minimize Display Name' in currentBlock.extraOptions %}
            <h3>{{ currentBlock.displayName|raw }}</h3>
          {% elseif 'Set Title as H1' in currentBlock.extraOptions %}
            <h1>{{ currentBlock.displayName|raw }}</h1>
          {% else %}
            <h2>{{ currentBlock.displayName|raw }}</h2>
          {% endif %}
        </div>
      {% endif %}

      {% if currentBlock.lede or currentBlock.ledeLong %}
        <div class="wvu-lede-text" style="background-color: inherit; text-align: center; padding-top: 0; {% if currentBlock.sublede %}padding-bottom: 0;{% else %}padding-bottom: 1em;{% endif %}">
          {% if currentBlock.lede %}
            <p>{{ currentBlock.lede|raw }}</p>
          {% else %}
            {{ currentBlock.ledeLong|raw }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

{% set loopLength = 0 %}
{% for featurette in currentBlock.featurettes  %}
  {% if
      (featurette.timeShow is not defined and featurette.timeHide is not defined) or
      ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
      ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
      ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
  %}
    {% set loopLength = loopLength + 1 %}
  {% endif %}
{% endfor %}

{% if currentBlock.sidebar %}
<div class="wvu-backpage">
  <div class="wvu-container">

    <div class="main">
{% endif %}

{% for featurette in currentBlock.featurettes  %}

  {% if
      (featurette.timeShow is not defined and featurette.timeHide is not defined) or
      ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
      ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
      ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
  %}

    {% set halveBottomPaddingClass = '' %}
    {% set halveTopPaddingClass = '' %}
    {% set removeBottomPaddingClass = '' %}
    {% set removeTopPaddingClass = '' %}

    {% if 'Halve Bottom Padding' in featurette.extraOptions %}
      {% set halveBottomPaddingClass = 'halve-bottom-padding' %}
    {% endif %}
    {% if 'Halve Top Padding' in featurette.extraOptions %}
      {% set halveTopPaddingClass = 'halve-top-padding' %}
    {% endif %}
    {% if 'Remove Bottom Padding' in featurette.extraOptions %}
      {% set removeBottomPaddingClass = 'remove-bottom-padding' %}
    {% endif %}
    {% if 'Remove Top Padding' in featurette.extraOptions %}
      {% set removeTopPaddingClass = 'remove-top-padding' %}
    {% endif %}

    {% set removeProfileTextTopMarginClass = '' %}
    {% set removeProfilePhotoNegativeMarginClass = '' %}
    {% if 'Replace Photo with Title' in featurette.extraOptions %}
      {% set removeProfileTextTopMarginClass = 'remove-profile-text-top-margin' %}
      {% set removeProfilePhotoNegativeMarginClass = 'remove-profile-photo-negative-margin' %}
    {% endif %}

    {% set addVerticalMarginClass = '' %}
    {% set addVerticalAlignClass = '' %}
    {% if 'Vertically Align Text in the Middle' in featurette.extraOptions %}
      {% set addVerticalMarginClass = 'add-vertical-margin' %}
      {% set addVerticalAlignClass = 'd-flex-35 align-items-center' %}
    {% endif %}

    {% if featurette.thumbnail is defined %}
      {% set imageInfo = featurette.thumbnail %}
    {% else %}
      {% set imageInfo = featurette.whatToFeature.thumbnail %}
    {% endif %}

    {% set inlineStyle = 'false' %}
    {% set backgroundColor = '' %}
    {% set inlineBackgroundColor = '' %}
    {% if currentBlock.backgroundColor and not featurette.backgroundColor %}
      {% if '#' in currentBlock.backgroundColor %}
        {% set inlineStyle = 'true' %}
        {% set inlineBackgroundColor = currentBlock.backgroundColor %}
      {% else %}
        {% set backgroundColor = currentBlock.backgroundColor %}
      {% endif %}
    {% elseif featurette.backgroundColor %}
      {% if '#' in featurette.backgroundColor %}
        {% set inlineStyle = 'true' %}
        {% set inlineBackgroundColor = featurette.backgroundColor %}
      {% else %}
        {% set backgroundColor = featurette.backgroundColor %}
      {% endif %}
    {% endif %}

    <div {% if featurette.anchorID %}id="{{featurette.anchorID}}"{% endif %} class="wvu-profile clearBoth {{ halveBottomPaddingClass }} {{ halveTopPaddingClass }} {{ removeBottomPaddingClass }} {{ removeTopPaddingClass }} {% if inlineStyle == 'false' %}wvu-{{ backgroundColor }}{% endif %} background" {% if inlineStyle == 'true' %}style="background-color: {{ inlineBackgroundColor }}"{% endif %}>
      <div class="wvu-container">

        <!-- Dave, add classes .d-flex and .align-items-center to the .wvu-profile__photo-and-main div if you want to center the text. -->
        <div class="wvu-profile__photo-and-main {{ addVerticalAlignClass }} " style="margin-bottom: 0;{% if 'Hide Also See' in featurette.extraOptions %}width: 100%{% endif %}">
          {% if 'Hide Photo' not in featurette.extraOptions %}
            <div class="wvu-profile__photo {{ removeProfilePhotoNegativeMarginClass }}">
              {% if 'Replace Photo with Title' in featurette.extraOptions %}
                {% set titleStyleClass = '' %}
                {% if 'Use Regular Helvetica Neue for Title' in featurette.extraOptions %}
                  {% set titleStyleClass = 'left-heading--regular' %}
                {% endif %}
                <h3 class="left-heading {{ titleStyleClass }}">
                  {% if featurette.displayName %}
                    {{ featurette.displayName|raw }}
                  {% else %}
                    {{ faq.title|raw }}
                  {% endif %}
                </h3>
              {% elseif featurette.classesForFontAwesome is defined %}
                <span class="icon-big {{ featurette.classesForFontAwesome }}" title="{{ featurette.thumbnailSourceAlt }}"></span>
              {% else %}
                {% set imageQuality = '40' %}
                {% if 'Use Less Compression on Photo' in featurette.extraOptions %}
                  {% set imageQuality = '60' %}
                {% endif %}
                <img class="lazy {{ featurette.thumbnailClass }}" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageInfo.file.url }}?w=480&h=480&q={{ imageQuality }}" style="border-radius: 0;" alt="{{ imageInfo.description }}">
              {% endif %}
            </div>
          {% endif %}
          <div class="wvu-profile__main {{ removeProfileTextTopMarginClass }} {{ addVerticalMarginClass }}">

            {% if 'Replace Photo with Title' not in featurette.extraOptions %}
              {% if featurette.displayName or faq.title %}
                <h2 style="margin-top: 0">
                  {% if featurette.displayName %}
                    {{ featurette.displayName|raw }}
                  {% else %}
                    {{ faq.title|raw }}
                  {% endif %}
                </h2>
              {% endif %}
            {% endif %}

            {% if featurette.longDescription %}
              {{ featurette.longDescription | raw }}
            {% else %}
              {{ featurette.description | raw }}
            {% endif %}

            {% if 'Show Quicklinks Beneath Description on Horizontal Layout' in featurette.extraOptions and featurette.quicklinkOrActionItem|length > 0 %}
              <p style="margin-top: 24px">
                {% for actionItem in featurette.quicklinkOrActionItem  %}
                  {% if actionItem.contentfulContentType == 'blocksQuicklink' %}
                    <a href="{{ actionItem.webAddress }}" class="button">{{ actionItem.linkText|raw }}</a>
                  {% elseif actionItem.quicklink.webAddress %}
                    <a href="{{ actionItem.quicklink.webAddress }}" class="button">{{ actionItem.action }}</a>
                  {% else %}
                    <a href="{{ actionItem.webAddress }}" class="button">{{ actionItem.title }}</a>
                  {% endif %}
                {% endfor %}
              </p>
            {% endif %}

          </div>
        </div>
        {% if 'Hide Also See' not in featurette.extraOptions and featurette.quicklinkOrActionItem|length > 0 %}
          <div class="wvu-profile__sidebar">
            <h3>Also See:</h3>
            <ul>
              {% for actionItem in featurette.quicklinkOrActionItem  %}
                <li>
                  {% if actionItem.contentfulContentType == 'blocksQuicklink' %}
                    <a href="{{ actionItem.webAddress }}">{{ actionItem.linkText|raw }}</a>
                  {% elseif actionItem.quicklink.webAddress %}
                    <a href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.action }}</a>
                  {% else %}
                    <a href="{{ actionItem.webAddress }}">{{ actionItem.title }}</a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>

    </div>

  {% endif %}

{% endfor %}

{% if currentBlock.sidebar %}
    </div>
    <aside class="wvu-sidebar">
      {{ currentBlock.sidebar|raw }}
    </aside>
  </div>
</div>
{% endif %}

{% if currentBlock.sublede %}
  <div class="{% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>
    <div class="wvu-container">
      <style>
        .wvu-lede-small p {
          margin-top: 0;
          font-size: 1.5em;
          clear: both;
        }
        @media (max-width: 48em) {
          .wvu-lede-small p {
            margin-top: 0;
            font-size: 1em;
          }
        }
      </style>
      <div class="wvu-lede-small" style="text-align: center; padding-bottom: 4em">
        <p>{{ currentBlock.sublede|raw }}</p>
      </div>
    </div>
  </div>
{% endif %}

{% if currentBlock.relatedQuicklinks %}
  <div style="padding-bottom: 4em">
    <div class="wvu-container">
      <div style="clear: both;text-align: center;font-size: 1.5em;">
        {% for quicklink in currentBlock.relatedQuicklinks %}
          <a href="{{ quicklink.webAddress }}" class="button" style="margin-right: 10px;">{{ quicklink.linkText|raw }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
