{% set featuretteProfilesClass = '' %}
{% if 'Features Profiles' in currentBlock.extraOptions %}
  {% set featuretteProfilesClass = 'featurette-profiles' %}
{% endif %}
<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="wvu-featurettes wvu-featurettes--2 {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeLeftPaddingClass }} {{ currentBlock.removeRightPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>
  <div class="wvu-container">

    {% if currentBlock.heroImage %}
      <img class="lazy" style="margin-bottom: 3em;" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ currentBlock.heroImage.file.url }}?w=800&q=60" alt="{{ currentBlock.heroImage.description }}" loading="lazy">
    {% endif %}

    {% set iowanClass = "" %}
    {% if 'Use Iowan for Title' in currentBlock.extraOptions %}
      {% set iowanClass = "iowan-old-style" %}
    {% endif %}

    {% if currentBlock.displayName %}
      <div class="wvu-featurettes__header {{ iowanClass }}" {% if 'Minimize Display Name' in currentBlock.extraOptions %}style="text-align: center"{% endif %}>
        {% if 'Minimize Display Name' in currentBlock.extraOptions %}
          <h2 class="minimize-display-name">{{ currentBlock.displayName|raw }}</h2>
        {% elseif 'Set Title as H1' in currentBlock.extraOptions %}
          <h1 class="header-margin">{{ currentBlock.displayName|raw }}</h1>
        {% else %}
          <h2 class="header-margin">{{ currentBlock.displayName|raw }}</h2>
        {% endif %}
      </div>
    {% endif %}

    {% if currentBlock.lede or currentBlock.ledeLong %}
      <div class="wvu-lede-text" style="background-color: inherit; text-align: center; padding-top: 0; {% if currentBlock.sublede %}padding-bottom: 0;{% else %}padding-bottom: 1em;{% endif %}">
        {% if currentBlock.lede %}
          <p>{{ currentBlock.lede|raw }}</p>
        {% else %}
          {{ currentBlock.ledeLong|raw }}
        {% endif %}
      </div>
    {% endif %}

    <div class="wvu-featurettes__featurettes {{ featuretteProfilesClass }}">

      {% set loopLength = 0 %}
      {% for featurette in currentBlock.featurettes  %}
        {% if
            (featurette.timeShow is not defined and featurette.timeHide is not defined) or
            ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
            ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
            ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
        %}
          {% set loopLength = loopLength + 1 %}
        {% endif %}
      {% endfor %}

      {% for featurette in currentBlock.featurettes  %}
        {% if
            (featurette.timeShow is not defined and featurette.timeHide is not defined) or
            ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
            ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
            ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
        %}
          <div {% if featurette.anchorID %}id="{{featurette.anchorID}}"{% endif %} {% if 'Remove Top Margin' not in featurette.extraOptions %}style="margin-top: 3em;"{% endif %} class="wvu-featurettes__featurette {% if 'Force Three Columns' in currentBlock.extraOptions %}wvu-featurettes__featurette--3 wvu-featurettes__featurette--3--thinedge{% elseif 'Force Five Columns' in currentBlock.extraOptions %}wvu-featurettes__featurette--5{% elseif loopLength > 5 %}wvu-featurettes__featurette--long{% else %}wvu-featurettes__featurette--{{ loopLength }}{% endif %}">

            {% if 'Swap Photo and Text' in featurette.extraOptions %}
              {% include 'blocks/featurettes/copy.html' %}
              {% include 'blocks/featurettes/media.html' %}
            {% else %}
              {% include 'blocks/featurettes/media.html' %}
              {% include 'blocks/featurettes/copy.html' %}
            {% endif %}

          </div>

          {% if featurette.inquiryForm %}
            <style>
              @media (min-width: 60em) {
                .inquiry-form { float: right; margin-top: 44px; }
                .wvu-featurettes__featurette.wvu-featurettes__featurette--1 { width: 70%; }
                .wvu-featurettes__featurette.wvu-featurettes__featurette--1 .wvu-featurettes__photo { width: 100%; }
                .wvu-featurettes__featurette.wvu-featurettes__featurette--1 .wvu-featurettes__info { width: 80%; }
              }
              @media (min-width: 48em) and (max-width: 60em) {
                .inquiry-form { clear: both }
                .wvu-featurettes__featurette.wvu-featurettes__featurette--1 { width: 100%; }
                .wvu-featurettes__featurette.wvu-featurettes__featurette--1 .wvu-featurettes__photo { width: 100%; }
                .wvu-featurettes__featurette.wvu-featurettes__featurette--1 .wvu-featurettes__info { width: 100%; }
              }
            </style>

            {% set formURL = featurette.inquiryForm.webAddress %}
            {% if 'Use Wufoo Form Code' in featurette.inquiryFormOptions %}
              <style>
                @media (min-width: 60em) {
                  .inquiry-form { float: right; margin-top: 44px; padding: 10px; width: 37%; }
                  .inside-padding { padding: 20px; background-color: white; }
                  .wvu-featurettes__featurette.wvu-featurettes__featurette--1 { width: 60% }
                }
                @media (min-width: 48em) and (max-width: 60em) {
                  .inquiry-form { clear: both }
                }
              </style>
              {% set formID = formURL|split('/')|last %}
              <div class="inquiry-form background wvu-neutral--dark-gray">
                <div id="wufoo-{{ formID }}" class="inside-padding"> Fill out my <a href="{{ formURL }}">online form</a>. </div> <script type="text/javascript"> var {{ formID }}; (function(d, t) { var s = d.createElement(t), options = { 'userName':'urwvu', 'formHash':'{{ formID }}', 'autoResize':true, 'height':'637', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { {{ formID }} = new WufooForm(); {{ formID }}.initialize(options); {{ formID }}.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
              </div>
            {% else %}
              <style>
                @media (min-width: 60em) {
                  .inquiry-form { float: right; margin-top: 44px; }
                }
                @media (min-width: 48em) and (max-width: 60em) {
                  .inquiry-form { clear: both }
                }
              </style>
              <div class="inquiry-form col-md-5 col-lg-3 mx-auto ">

                <h2 class="wvu-shout">{{ featurette.inquiryForm.displayTitle|raw }}</h2>

                {% if featurette.inquiryForm.description %}
                  {{ featurette.inquiryForm.description|raw }}
                {% endif %}

                {{ fetch(formURL)|raw }}

              </div>
            {% endif %}
          {% endif %}
        {% endif %}

      {% endfor %}

    </div>

    {% if currentBlock.sublede %}
      <style>
        .featurette-footer.wvu-lede-small p {
          margin-top: 0;
          font-size: 1.5em;
          clear: both;
        }
        @media (max-width: 48em) {
          .featurette-footer.wvu-lede-small p {
            margin-top: 0;
            font-size: 1em;
          }
        }
      </style>
      <div class="featurette-footer wvu-lede-small" style="text-align: center; clear: both; padding-top: 1.5em;">
        <p>{{ currentBlock.sublede|raw }}</p>
      </div>
    {% endif %}

    {% if currentBlock.relatedQuicklinks %}
      <div style="clear: both;text-align: center;padding-top: 1.5em;font-size: 1.5em;">
        {% for quicklink in currentBlock.relatedQuicklinks %}
          <a href="{{ quicklink.webAddress }}" class="button" style="margin-right: 10px;">{{ quicklink.linkText|raw }}</a>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</div>
