{% set columnLayoutClass = '' %}
{% set withPaddingClass = '' %}
{% set slashesClass = '' %}
{% set quicklinksID = '' %}
{% set quicklinksBackgroundColor = '' %}
{% set quicklinksInlineStyle = '' %}

{% if 'Add Slashes' in currentBlock.extraOptions %}
  {% set slashesClass = 'wvu-slashes wvu-slashes--quicklist' %}
{% endif %}

{% if 'Two Column Layout' in currentBlock.extraOptions %}
  {% set columnLayoutClass = 'wvu-quicklinks-2-col' %}
{% endif %}

{% if 'Add Padding to List Items' in currentBlock.extraOptions %}
  {% set withPaddingClass = 'with-padding' %}
{% endif %}

{% if currentBlock.anchorID %}
  {% set quicklinksID = "id=#{currentBlock.anchorID}" %}
{% endif %}

{% if currentBlock.inlineStyle == 'false' %}
  {% if currentBlock.backgroundColor %}
    {% set quicklinksBackgroundColor %}wvu-{{ currentBlock.backgroundColor }} background{% endset %}
  {% endif %}
{% else %}
  {% set quicklinksInlineStyle %}style="background-color: {{ currentBlock.backgroundColor }}"{% endset %}
{% endif %}

{% set quicklinksClasses %}wvu-quicklinks {{ columnLayoutClass }} {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {{quicklinksBackgroundColor}} {% endset %}

<div {{quicklinksID}} class="{{ quicklinksClasses|trim }}" {{quicklinksInlineStyle}}>
  <div class="wvu-container">
    <div class="wvu-quicklinks__header">
      <h2 class="wvu-h3">
        {{ currentBlock.displayTitle }}
      </h2>
      {% if currentBlock.description %}
        <div class="wvu-quicklinks__description">
          {{ currentBlock.description|raw }}
        </div>
      {% endif %}
      {% if currentBlock.featuredWebAddress %}<p><a class="button" href="{{ currentBlock.featuredWebAddress.webAddress }}">{{ currentBlock.featuredWebAddress.linkText|raw }}</a></p>{% endif %}
    </div>
    <div class="wvu-quicklinks__links ">

      {# Set outside of list/group includes as its shared between both #}
      {% set quicklinksUlClasses %}
        {{ classesForLists }}
      {% endset %}

      {# Check if quicklinks is a group or single list #}
      {% if currentBlock.quicklinks[0].quicklinks|length > 0 %}
        {{ include('blocks/quicklinks/group.html') }}
      {% else %}
        {{ include('blocks/quicklinks/list.html') }}
      {% endif %}

    </div>
  </div>
</div>
