{% set quicklinkCategories = currentBlock.quicklinks %}

{% if quicklinkCategories|length > 0 %}
  {% for quicklinkGroup in quicklinkCategories %}
    <h3>{{ quicklinkGroup.displayTitle }}</h3>

    {% set quicklinks = quicklinkGroup.quicklinks %}

    {% if 'Automatically Sort Links' in currentBlock.extraOptions %}
      {% set quicklinks = quicklinks|sort %}
    {% endif %}

    <ul class="{{ quicklinksUlClasses|trim }}">
      {% for link in quicklinks %}
        {{ include('blocks/quicklinks/link.html') }}
      {% endfor %}
    </ul>

  {% endfor %}
{% endif %}