{% if currentBlock.anchorID %}
  {% set quicklinksID = "id=#{currentBlock.anchorID}" %}
{% endif %}

<div {{quicklinksID}} class="linktree-wvu wvu-{{ currentBlock.backgroundColor }} background">
  <div class="wvu-container">

  <div style="padding-top: 3em; padding-bottom:3em;" class="linktree-link col-md-6 mx-auto">

    <img src="{{ currentBlock.thumbnail.file.url }}" alt="{{ currentBlock.thumbnail.description }}">

    <h1 class="wvu-h3 text-center mt-2">
      {{ currentBlock.displayTitle }}
    </h1>

    {% if currentBlock.description %}
      <div class="wvu-quicklinks__description linktree-p">
        {{ currentBlock.description|raw }}
      </div>
    {% endif %}

    {% set quicklinks = currentBlock.quicklinks %}
    {% if 'Automatically Sort Links' in currentBlock.extraOptions %}
      {% set quicklinks = quicklinks|sort %}
    {% endif %}

    {% for link in quicklinks %}

      {# determine if we should show this based on the current time #}
      {% if
          (link.timeShow is not defined and link.timeHide is not defined) or
          ((link.timeShow is not defined) and (link.timeHide and (link.timeHide.unix > currentBlock.timeNow))) or
          ((link.timeHide is not defined) and (link.timeShow and (currentBlock.timeNow > link.timeShow.unix))) or
          ((link.timeShow and (link.timeShow.unix < currentBlock.timeNow)) and (link.timeHide and (link.timeHide.unix > currentBlock.timeNow)))
      %}

        {# can include an FAQ entry here directly instead of a quicklink to it #}
        {% set webAddress = '' %}
        {% set linkText = '' %}
        {% set buttonText = '' %}

        {% if link.contentfulContentType == 'frequentlyAskedQuestions' %}
          {% if link.webAddressExternal %}
            {% set webAddress = link.webAddressExternal %}
          {% else %}
            {% set webAddress = "/faq/#{link.slug}" %}
          {% endif %}
          {% set linkText = link.title %}
        {% else  %}
          {% set webAddress = link.webAddress %}
          {% set linkText = link.linkText %}
        {% endif %}

        {# Rebecca - the actual button #}
        {% if webAddress %}
          <a class="btn {{ classesForButtons }}" href="{{ webAddress }}">{{ linkText|raw }}</a>
        {% endif %}

      {% endif %}
    {% endfor %}

  </div>

  </div>
</div>
