{% set webAddress = '' %}
{% set linkText = '' %}
{% set buttonText = '' %}

{% if link.contentfulContentType == 'frequentlyAskedQuestions' %}
  {% if link.webAddressExternal %}
    {% set webAddress = link.webAddressExternal %}
  {% else %}
    {% set webAddress = "/faq/#{link.slug}" %}
  {% endif %}
  {% set linkText = link.title %}
{% else  %}
  {% set webAddress = link.webAddress %}
  {% set linkText = link.linkText %}
{% endif %}

{% if 'Add New/Updated Tags' in currentBlock.extraOptions %}
  {% set buttonColor = '' %}
  {% if 'Mark as New' in link.extraOptions and (link.dateAdded is not defined or ((link.dateAdded.unix + 604800) > currentBlock.timeNow)) %}
    {% set buttonText = 'New' %}
    {% set buttonColor = 'orange' %}
  {% elseif 'Mark as Updated' in link.extraOptions and (link.dateUpdated is not defined or ((link.dateUpdated.unix + 604800) > currentBlock.timeNow)) %}
    {% set buttonText = 'Updated' %}
    {% set buttonColor = 'brown' %}
  {% endif %}
{% endif %}

{% if buttonText != '' %}
  {% set linkButton %} <span class="btn {{ classesForButtons }}">{{ buttonText|trim }}</span>{% endset %}
{% endif %}

{% if webAddress %}
  <li><a href="{{ webAddress }}">{{ linkText|trim|raw }}</a>{{ linkButton }}</li>
{% endif %}
