<div class="wvu-neutral--dark-gray background">

  <div class="wvu-container" style="padding-top: 2rem; padding-bottom: 4rem;">

    <h2 class="wvu-shout" style="font-size: 4rem; color: #9BD3DD">Daily Results</h2>

    <p>
      The daily results were last updated on <strong>December 20, 2021</strong>. These daily results are for the Fall 2021 academic semester.
    </p>

    <style>
      .color-white { color: #fff; }
      .background-blue { background-color: #002855; }
      .background-yellow { background-color: #EAAA00; }
      .background-grey { background-color: #A2AAAD; }
      .background-blue-grey { background-color: #bec9cd; }
      .background-white { background-color: #fff; }
      .background-none { background-color: transparent; }
      .table td.border-top-none { border-top: none; }
      .table.table--case-count tr:nth-child(1) { background-color: transparent; }
      caption span { display: block; font-size: 1rem; font-weight: normal; margin-top: -15px; }
    </style>

    <div id="daily-campus-testing" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Testing Results by Day
          <span>
            <br>All University-conducted testing during Fall 2021 was focused on symptomatic individuals and sample testing of certain groups, including those living in residence halls, participating in athletics and in performing arts, among others, as necessary. The University does expect the daily percentage of positive COVID-19 tests will increase during symptomatic and sample testing, as these tests are for individuals who have COVID-19 symptoms and groups who are more likely to be at risk of contracting COVID-19.
            <br><br>Positive test results are listed by the date that they were reported to WVU by WVU Rapid Development Laboratory, not the date the positive cases were tested. This dashboard should not be used to monitor individual test results. Students, faculty and staff should follow the Return to Campus guidelines to <a href="https://www.wvu.edu/return-to-campus/what-you-need-to-know/testing#getting-results">access their individual test results</a>.
          </span>
        </caption>
        <col>
        <colgroup span="3"></colgroup>
        <tr>
          <td class="border-top-none background-none"></td>
          {#
            <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Students</th>
            <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Faculty/Staff</th>
          #}
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Total</th>
        </tr>
        <tr>

          <th scope="col" class="border-left background-blue-grey">Date</th>

          {#
            <th scope="col" class="border-left background-blue-grey">Resulted</th>
            <th scope="col" class=" background-blue-grey">Positives</th>
            <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

            <th scope="col" class="border-left background-blue-grey">Resulted</th>
            <th scope="col" class=" background-blue-grey">Positives</th>
            <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>
          #}

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

        </tr>

        {% set hasCampusTestingNote = false %}
        {% for testResult in testResults.daily.campusTesting %}

          {% set showTestingData = false %}
          {% if testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
            {% set showTestingData = true %}
          {% endif %}

          {% if showTestingData %}

            <tr class="border-left">

              {% if testResult.noteCampusTesting %}
                {% set hasCampusTestingNote = true %}
              {% endif %}

              <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteCampusTesting %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-ct" aria-describedby="notes-campus-testing-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-ct-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

              {#
                {% if testResult.testsResultedStudentsAthletes is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedStudentsAthletes|number_format }}</td>{% endif %}
                {% if testResult.testsPositiveStudentsAthletes is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveStudentsAthletes|number_format }}</td>{% endif %}
                {% if testResult.testsPercentPositiveStudentsAthletes is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveStudentsAthletes }}</td>{% endif %}

                {% if testResult.testsResultedFacultyStaffAthleticStaff is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedFacultyStaffAthleticStaff|number_format }}</td>{% endif %}
                {% if testResult.testsPositiveFacultyStaffAthleticStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveFacultyStaffAthleticStaff|number_format }}</td>{% endif %}
                {% if testResult.testsPercentPositiveFacultyStaffAthleticStaff is not defined %}<td>-</td aria-label="No data available">{% else %}<td>{{ testResult.testsPercentPositiveFacultyStaffAthleticStaff }}</td>{% endif %}
              #}
              {% if testResult.testsResultedTotalWithAthletics is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedTotal|number_format }}</td>{% endif %}
              {% if testResult.testsPositiveTotalWithAthletics is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveTotal|number_format }}</td>{% endif %}
              {% if testResult.testsPercentPositiveTotalWithAthletics is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveTotal }}</td>{% endif %}

            </tr>

          {% endif %}
        {% endfor %}

      </table>
    </div>

    {% if hasCampusTestingNote %}
      <h2 id="notes-campus-testing-label" class="u-wvu-visually-hidden">Campus Testing Notes</h2>
      <ol id="notes-campus-testing" class="notes target">
        {% for testResult in testResults.daily.campusTesting %}
          {% if testResult.noteCampusTesting and testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-ct" class="notes-ref-dg" style="margin: 0">{{ testResult.noteCampusTesting|raw }}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-ct-ref" aria-label="Back to content ↩">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    <p {% if hasCampusTestingNote == false %}style="margin-top: -5px;"{% endif %}>
      {% if 'Hide Weekly Results' not in currentBlock.extraOptions %}View <a href='/return-to-campus/daily-test-results/morgantown/all#daily-campus-testing'>all campus testing results</a>.{% endif %}
      Return to <a href="#results">list of tables</a>.
    </p>

    <div id="daily-self-reported" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Self-Reported Cases by Day
          <span>
            <br>The following positive cases were self-reported to the University by students, faculty and staff who were tested outside the University testing process. Self-reported cases are listed on the date they were reported to WVU, not the date the cases were tested.
          </span>
        </caption>
        <tr>
          <th scope="col" class="border-left background-yellow">Date</th>
          {#
            <th class="border-left background-yellow">Student Self-Reported Cases</th>
            <th class="border-left background-yellow">Faculty/Staff Self-Reported Cases</th>
          #}
          <th class="border-left background-yellow">Total Self-Reported Cases</th>
        </tr>

        {% set hasSelfReportedNote = false %}
        {% for testResult in testResults.daily.selfReported %}

          {% set showSelfReportData = false %}
          {% if testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
            {% set showSelfReportData = true %}
          {% endif %}

          {% if showSelfReportData %}
            <tr class="border-left">

              {% if testResult.noteSelfReported %}
                {% set hasSelfReportedNote = true %}
              {% endif %}

              <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteSelfReported %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-sr" aria-describedby="notes-self-reported-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-sr-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

              {#
                {% if testResult.selfReportedTestsPositiveStudents is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.selfReportedTestsPositiveStudents }}</td>{% endif %}
                {% if testResult.selfReportedTestsPositiveFacultyStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.selfReportedTestsPositiveFacultyStaff }}</td>{% endif %}
              #}
              {% if testResult.selfReportedTestsPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.selfReportedTestsPositiveTotal }}</td>{% endif %}

            </tr>
          {% endif %}

        {% endfor %}

      </table>
    </div>

    {% if hasSelfReportedNote %}
      <h2 id="notes-self-reported-label" class="u-wvu-visually-hidden">Self-Reported Notes</h2>
      <ol id="notes-self-reported" class="notes">
        {% for testResult in testResults.daily.selfReported %}
          {% if testResult.noteSelfReported %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-sr" class="notes-ref-dg" style="margin: 0"> {{ testResult.noteSelfReported|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-sr-ref" aria-label="Back to content ↩">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    <p {% if hasSelfReportedNote == false %}style="margin-top: -5px;"{% endif %}>
      {% if 'Hide Weekly Results' not in currentBlock.extraOptions %}View <a href='/return-to-campus/daily-test-results/morgantown/all#daily-self-reported'>all self-reported cases</a>.{% endif %}
      Return to <a href="#results">list of tables</a>.
    </p>

    <div id="daily-quarantine" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Quarantine Cases by Day
          <span>
            <br>Quarantine means avoiding contact with others to the furthest extent possible for 14 days, as directed by the local health department. Persons who are quarantining should not be on campus for class or work at any point during this period. Persons are likely in quarantine because they’ve been considered a <a href="https://www.wvu.edu/return-to-campus/what-you-need-to-know/public-health-and-safety#close-contacts">close contact</a> of someone who tested positive for COVID-19. The University has been aggressive in quarantining as we know students live near one another, and in an abundance of caution we have quarantined to mitigate community spread.
          </span>
        </caption>
        <tr>
          <th class="border-left background-yellow">Date</th>
          <th class="border-left background-yellow">Residence Halls</th>
          <th class="border-left background-yellow">University Apartments</th>
          <th class="border-left background-yellow">Off-Campus</th>
          <th class="border-left background-yellow">Went Home</th>
          <th class="border-left background-yellow">Greek Housing</th>
          <th class="border-left background-yellow">Pending</th>
          <th class="border-left background-yellow">Total</th>
        </tr>

        {% set quarantineDataExists = true %}
        {% set hasQuarantineNote = false %}
        {% for testResult in testResults.daily.quarantine %}

          {% set showTestingData = false %}
          {% if testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
            {% set showTestingData = true %}
          {% endif %}

          {% if showTestingData %}

            {% set showQuarantineData = false %}
            {% if testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
              {% set showQuarantineData = true %}
            {% endif %}

            {% if showQuarantineData %}
              <tr class="border-left">

                {% if testResult.dateDataFrom.timestamp == '2020-08-09' %}
                  {% set quarantineDataExists = false %}
                {% endif %}

                {% if testResult.noteQuarantine %}
                  {% set hasQuarantineNote = true %}
                {% endif %}

                {% if quarantineDataExists %}
                  <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteQuarantine %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-q" aria-describedby="notes-quarantine-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-q-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

                  {% if testResult.quarantineResidenceHalls is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineResidenceHalls }}</td>{% endif %}
                  {% if testResult.quarantineUniversityApartments is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineUniversityApartments }}</td>{% endif %}
                  {% if testResult.quarantineOffCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineOffCampus }}</td>{% endif %}
                  {% if testResult.quarantineWentHome is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineWentHome }}</td>{% endif %}
                  {% if testResult.quarantineGreekLife is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineGreekLife }}</td>{% endif %}
                  {% if testResult.quarantineUndetermined is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineUndetermined }}</td>{% endif %}
                  {% if testResult.quarantineResidenceHalls is not defined and testResult.quarantineUniversityApartments is not defined and testResult.quarantineOffCampus is not defined and testResult.quarantineWentHome is not defined and testResult.quarantineGreekLife is not defined %}
                    <td class="border-left" aria-label="No data available">-</td>
                  {% elseif testResult.quarantineTotal is not defined %}
                    <td class="border-left" aria-label="No data available">-</td>
                  {% else %}
                    <td class="border-left">{{ testResult.quarantineTotal|number_format }}</td>
                  {% endif %}
                {% endif %}
              </tr>
            {% endif %}

          {% endif %}
        {% endfor %}

      </table>
    </div>

    {% if hasQuarantineNote %}
      <h2 id="notes-quarantine-label" class="u-wvu-visually-hidden">Quarantine Notes</h2>
      <ol id="notes-quarantine" class="notes">
        {% for testResult in testResults.daily.quarantine %}
          {% if testResult.noteQuarantine %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-q" class="notes-ref-dg" style="margin: 0"> {{ testResult.noteQuarantine|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-q-ref" aria-label="Back to content ↩">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    <p {% if hasQuarantineNote == false %}style="margin-top: -5px;"{% endif %}>
      {% if 'Hide Weekly Results' not in currentBlock.extraOptions %}View <a href="/return-to-campus/daily-test-results/morgantown/all#daily-quarantine">all quarantine numbers</a>.{% endif %}
      Return to <a href="#results">list of tables</a>.
    </p>

    <div id="daily-isolation" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Isolation Cases by Day
          <span>
            <br>Isolation means avoiding contact with others for at least 10 days after a person's testing date, as directed by the local health department. Students living in a residence hall isolate in Gaskins House. Persons who are isolating should not be on campus for class or work at any point during their isolation period and must remain in isolation until medically cleared. Persons are likely in isolation due to a positive COVID-19 test result.
          </span>
        </caption>
        <tr>
          <th class="border-left background-yellow">Date</th>
          {#
            <th class="border-left background-yellow"><a href="#note-congregate-iso" aria-describedby="notes-isolation-label" class="notes-label target" id="note-congregate-iso-ref">Arnold Apts.</a></th>
            <th class="border-left background-yellow"><abbr title="Percent">%</abbr> Filled</th>
          #}
          <th class="border-left background-yellow">Gaskins</th>
          <th class="border-left background-yellow"><abbr title="Percent">%</abbr> Filled</th>
          <th class="border-left background-yellow">In Transition</th>
          <th class="border-left background-yellow"><abbr title="University">U.</abbr> Apts.</th>
          <th class="border-left background-yellow">Off-Campus</th>
          <th class="border-left background-yellow">Went Home</th>
          <th class="border-left background-yellow">Greek Housing</th>
          <th class="border-left background-yellow">Pending</th>
          <th class="border-left background-yellow">Total</th>
        </tr>

        {% set isolationDataExists = true %}
        {% set hasIsolationNote = false %}
        {% for testResult in testResults.daily.isolation %}

          {% set showTestingData = false %}
          {% if testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
            {% set showTestingData = true %}
          {% endif %}

          {% if showTestingData %}
            <tr class="border-left">

              {% if testResult.dateDataFrom.timestamp == '2020-08-09' %}
                {% set isolationDataExists = false %}
              {% endif %}

              {% if testResult.noteIsolation %}
                {% set hasIsolationNote = true %}
              {% endif %}

              {% if isolationDataExists %}
                <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteIsolation %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-iso" aria-describedby="notes-isolation-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-iso-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

                {#
                  {% if testResult.isolationArnoldApartments is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationArnoldApartments }}</td>{% endif %}
                  {% if testResult.isolationArnoldApartmentsPercentFilled is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationArnoldApartmentsPercentFilled }}</td>{% endif %}
                #}
                {% if testResult.isolationGaskins is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationGaskins }}</td>{% endif %}
                {% if testResult.isolationGaskinsPercentFilled is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationGaskinsPercentFilled }}</td>{% endif %}
                {% if testResult.isolationResidenceHalls is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationResidenceHalls }}</td>{% endif %}
                {% if testResult.isolationUniversityApartments is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationUniversityApartments }}</td>{% endif %}
                {% if testResult.isolationOffCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationOffCampus }}</td>{% endif %}
                {% if testResult.isolationWentHome is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationWentHome }}</td>{% endif %}
                {% if testResult.isolationGreekLife is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationGreekLife }}</td>{% endif %}
                {% if testResult.isolationUndetermined is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationUndetermined }}</td>{% endif %}
                {% if testResult.isolationTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationTotal }}</td>{% endif %}
              {% endif %}

            </tr>
          {% endif %}
        {% endfor %}

      </table>
    </div>

    {% if hasIsolationNote %}
      <h2 id="notes-isolation-label" class="u-wvu-visually-hidden">Isolation Notes</h2>
      <ol id="notes-isolation" class="notes">
        {% for testResult in testResults.daily.isolation %}
          {% if testResult.noteIsolation %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-iso" class="notes-ref" style="margin: 0"> {{ testResult.noteIsolation|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-iso-ref" aria-label="Back to content ↩">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    <p>
      {% if 'Hide Weekly Results' not in currentBlock.extraOptions %}View <a href="/return-to-campus/daily-test-results/morgantown/all#daily-isolation">all isolation numbers</a>.{% endif %}
      Return to <a href="#results">list of tables</a>.
    </p>

  </div>
</div>
