<div class="wvu-neutral--dark-gray background">

  <div class="wvu-container" style="padding-top: 2rem; padding-bottom: 4rem;">

    <h2 class="wvu-shout" style="font-size: 4rem; color: #9BD3DD">Daily Results</h2>

    <p>
      The daily test results were last updated on <strong><time datetime="{{ testResults.daily.campusTesting[0].dateDataAdded.year.numberLong }}-{{ testResults.daily.campusTesting[0].dateDataAdded.month.numberLong }}-{{ testResults.daily.campusTesting[0].dateDataAdded.day.numberLong }}">{{ testResults.daily.campusTesting[0].dateDataAdded.month.textLong }} {{ testResults.daily.campusTesting[0].dateDataAdded.day.numberShort }}, {{ testResults.daily.campusTesting[0].dateDataAdded.year.numberLong }}</time></strong>. {# Tables are updated Monday-Friday by 2 p.m. #} {# //  with the previous day's results. Monday's update includes Friday, Saturday and Sunday. #}
    </p>

    <style>
      .color-white { color: #fff; }
      .background-blue { background-color: #002855; }
      .background-yellow { background-color: #EAAA00; }
      .background-grey { background-color: #A2AAAD; }
      .background-blue-grey { background-color: #bec9cd; }
      .background-white { background-color: #fff; }
      .background-none { background-color: transparent; }
      .table td.border-top-none { border-top: none; }
      .table.table--case-count tr:nth-child(1) { background-color: transparent; }
      caption span { display: block; font-size: 1rem; font-weight: normal; margin-top: -15px; }
    </style>

    <div id="daily-campus-testing" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Testing Results by Day
          <span>
            <br>All Keyser campus-conducted testing moving forward this fall will be focused on symptomatic individuals and sample testing of certain groups, including those living in residence halls and participating in athletics, among others, as necessary. The University does expect the daily percentage of positive COVID-19 tests will increase during symptomatic and sample testing, as these tests are for individuals who have COVID-19 symptoms and groups who are more likely to be at risk of contracting COVID-19.
            <br><br>Positive test results are listed with the date that they were reported to WVU Keyser by our labs, not the date the positive cases were tested. This dashboard should not be used to monitor individual test results.
            {% if 'Hide Weekly Results' not in currentBlock.extraOptions %}<br><br>View <a href='/return-to-campus/daily-test-results/keyser/all#daily-campus-testing'>all campus testing results</a>.{% endif %}
          </span>
        </caption>
        <tr>
          <td class="border-top-none background-none"></td>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Students</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Faculty/Staff</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Total</th>
        </tr>
        <tr>

          <th scope="col" class="border-left background-blue-grey">Date</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

        </tr>

        {% set hasCampusTestingNote = false %}
        {% for testResult in testResults.daily.campusTesting %}

          {% set showTestingData = false %}
          {% if testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
            {% set showTestingData = true %}
          {% endif %}

          {% if showTestingData %}
            <tr class="border-left">

              {% if testResult.noteCampusTesting %}
                {% set hasCampusTestingNote = true %}
              {% endif %}

              <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteCampusTesting %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-ct" aria-describedby="notes-campus-testing-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-ct-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

              {% if testResult.testsResultedStudents is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedStudents|number_format }}</td>{% endif %}
              {% if testResult.testsPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveStudents|number_format }}</td>{% endif %}
              {% if testResult.testsPercentPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveStudents }}</td>{% endif %}

              {% if testResult.testsResultedFacultyStaff is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedFacultyStaff|number_format }}</td>{% endif %}
              {% if testResult.testsPositiveFacultyStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveFacultyStaff|number_format }}</td>{% endif %}
              {% if testResult.testsPercentPositiveFacultyStaff is not defined %}<td>-</td aria-label="No data available">{% else %}<td>{{ testResult.testsPercentPositiveFacultyStaff }}</td>{% endif %}

              {% if testResult.testsResultedTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedTotal|number_format }}</td>{% endif %}
              {% if testResult.testsPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveTotal|number_format }}</td>{% endif %}
              {% if testResult.testsPercentPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveTotal }}</td>{% endif %}

            </tr>

          {% endif %}
        {% endfor %}

      </table>
    </div>

    {% if hasCampusTestingNote %}
      <h2 id="notes-campus-testing-label" class="u-wvu-visually-hidden">Campus Testing Notes</h2>
      <ol id="notes-campus-testing" class="notes target">
        {% for testResult in testResults.daily.campusTesting %}
          {% if testResult.noteCampusTesting %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-ct" class="notes-ref-dg" style="margin: 0">{{ testResult.noteCampusTesting|raw }}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-ct-ref" aria-label="Back to content ↩">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    {#

      <div id="daily-self-reported" class="table-responsive" style="margin-top: 2rem">
        <table class="table table--case-count border-bottom border-right">
          <caption style="text-align: left; margin-top: 1rem; color: #fff;">
            {{ relatedDivisionalCampus.campusNameShort }} Campus Self-Reported Cases by Day
            <span>
              <br>The following positive cases were self-reported to WVU Keyser by students, faculty and staff who were tested outside the University testing process. Positive cases must be reported to WVU Keyser.
              <br><br>Self-reported cases are listed on the date they were reported to WVU Keyser, not the date the cases were tested.
              {% if 'Hide Weekly Results' not in currentBlock.extraOptions %}<br><br>View <a href='/return-to-campus/daily-test-results/keyser/all#daily-self-reported'>all campus testing results</a>.{% endif %}
            </span>
          </caption>
          <tr>
            <th scope="col" class="border-left background-yellow">Date</th>
            <th class="border-left background-yellow">Student Self-Reported Cases</th>
            <th class="border-left background-yellow">Faculty/Staff Self-Reported Cases</th>
            <th class="border-left background-yellow">Total Self-Reported Cases</th>
          </tr>

          {% set hasSelfReportedNote = false %}
          {% for testResult in testResults.daily.selfReported %}

            <tr class="border-left">

              {% if testResult.noteSelfReported %}
                {% set hasSelfReportedNote = true %}
              {% endif %}

              <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteSelfReported %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-sr" aria-describedby="notes-self-reported-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-sr-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

              {% if testResult.selfReportedTestsPositiveStudents is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.selfReportedTestsPositiveStudents }}</td>{% endif %}
              {% if testResult.selfReportedTestsPositiveFacultyStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.selfReportedTestsPositiveFacultyStaff }}</td>{% endif %}
              {% if testResult.selfReportedTestsPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.selfReportedTestsPositiveTotal }}</td>{% endif %}

            </tr>

          {% endfor %}

        </table>
      </div>

      {% if hasSelfReportedNote %}
        <h2 id="notes-self-reported-label" class="u-wvu-visually-hidden">Self-Reported Notes</h2>
        <ol id="notes-self-reported" class="notes">
          {% for testResult in testResults.daily.selfReported %}
            {% if testResult.noteSelfReported %}
              <li id="note-{{ testResult.dateDataFrom.timestamp }}-sr" class="notes-ref-dg" style="margin: 0"> {{ testResult.noteSelfReported|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-sr-ref" aria-label="Back to content ↩">↩</a></li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endif %}

    #}

  </div>
</div>
