{% set removeBottomPaddingClass = '' %}
{% set removeTopPaddingClass = '' %}
{% set featuretteProfilesClass = '' %}

{% set inlineStyle = 'false' %}
{% if '#' in currentBlock.backgroundColor %}
  {% set inlineStyle = 'true' %}
{% endif %}
<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="wvu-featurettes wvu-featurettes--2 {{ removeBottomPaddingClass }} {{ removeTopPaddingClass }} {% if inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>
  <div class="wvu-container container">
    {% if currentBlock.displayName %}
      <div class="wvu-featurettes__header" {% if 'Minimize Display Name' in currentBlock.extraOptions %}style="text-align: center"{% endif %}>
        {% if 'Minimize Display Name' in currentBlock.extraOptions %}
          <h3>{{ currentBlock.displayName }}</h3>
        {% else %}
          <h2>{{ currentBlock.displayName }}</h2>
        {% endif %}
      </div>
    {% endif %}

    {% if currentBlock.lede or currentBlock.ledeLong %}
      <div class="wvu-lede-text" style="background-color: inherit; text-align: center; padding-top: 0; {% if currentBlock.sublede %}padding-bottom: 0;{% else %}padding-bottom: 1em;{% endif %}">
        {% if currentBlock.lede %}
          <p>{{ currentBlock.lede|raw }}</p>
        {% else %}
          {{ currentBlock.ledeLong|raw }}
        {% endif %}
      </div>
    {% endif %}

    <div class="row {{ featuretteProfilesClass }} pb-3">

      {% set loopLength = 0 %}
      {% for featurette in currentBlock.featurettes  %}
        {% if
            (featurette.timeShow is not defined and featurette.timeHide is not defined) or
            ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
            ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
            ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
        %}
          {% set loopLength = loopLength + 1 %}
        {% endif %}
      {% endfor %}

      {% for featurette in currentBlock.featurettes  %}
        {% if
            (featurette.timeShow is not defined and featurette.timeHide is not defined) or
            ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
            ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
            ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
        %}

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card shadow-sm h-100">

              <img class="lazy card-img-top" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageInfo.file.url }}?w=540&q=60" alt="{{ imageInfo.description }}" loading="lazy">

              <div class="card-body">

                {% if featurette.whatToFeature.contentfulContentType == 'blocksStudentProfile' or featurette.whatToFeature.contentfulContentType == 'blocksFacultyMemberProfile' %}

                  {% include 'blocks/featurettes/profile-text.html' %}

                {% elseif featurette.whatToFeature.contentfulContentType == 'facilities' %}

                  {% include 'blocks/featurettes/facility-text.html' %}

                {% elseif featurette.whatToFeature.contentfulContentType == 'frequentlyAskedQuestions' %}

                  {% include 'blocks/featurettes/faq-text.html' %}

                {% elseif featurette.whatToFeature.contentfulContentType == 'virtualTourPanoramas' %}

                  {% include 'blocks/featurettes/panorama-text.html' %}

                {% else %}

                  {% include 'blocks/featurettes/card-text.html' %}

                {% endif %}
              </div>
            </div>

          </div>

        {% endif %}

      {% endfor %}

    </div>

  </div>
</div>
