{% set ariaLabelledById = random() %}

{% set classesForSection = '' %}
{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

{% set classesForDisplayName = 'display-3 wvu-shout' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForLede = 'h3 helvetica-neue-light mb-4' %}
{% if currentBlock.classesForLede %}
  {% set classesForLede = currentBlock.classesForLede %}
{% endif %}

{% set inlineStyles = '' %}
{% if currentBlock.backgroundColor %}
  {% set inlineStyles = inlineStyles ~ "background-color: #{currentBlock.backgroundColor};" %}
{% endif %}
{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=960&q=40);" %}
{% endif %}

<section aria-labelledby="{{ ariaLabelledById }}" class="py-5 {{ classesForSection }} {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeLeftPaddingClass }} {{ currentBlock.removeRightPaddingClass }} {{ currentBlock.removeTopPaddingClass }}" style="{{ inlineStyles }}"  {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>

  <div class="container wvu-z-index-content">

    {% if currentBlock.displayName %}
      <div class="wvu-z-index-content">

        {% set hTag = 'h2' %}
        {% if 'Set Title as H1' in currentBlock.extraOptions %}
          {% set hTag = 'h1' %}
        {% endif %}
        <{{hTag}} id="{{ ariaLabelledById }}" class="{{ classesForDisplayName }}">{{ currentBlock.displayName }}</{{hTag}}>

        {% if currentBlock.lede or currentBlock.ledeLong %}
          {% if currentBlock.lede %}
            {{ currentBlock.lede|raw|replace({'<p>': "<p class='#{ classesForLede }'>"})|raw }}
          {% else %}
            {{ currentBlock.ledeLong|raw|replace({'<p>': "<p class='#{ classesForLede }'>"})|raw }}
          {% endif %}
        {% endif %}

      </div>
    {% endif %}

    {% set loopLength = 0 %}
    {% for featurette in currentBlock.featurettes  %}
      {% if
          (featurette.timeShow is not defined and featurette.timeHide is not defined) or
          ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
          ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
          ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
      %}
        {% set loopLength = loopLength + 1 %}
      {% endif %}
    {% endfor %}

    {% set numberOfColumns = loopLength %}
    {% if currentBlock.forceNumberOfColumns %}
      {% set numberOfColumns = currentBlock.forceNumberOfColumns %}
    {% endif %}

    {% set columnClasses = 'col-sm-6 col-md-3' %}
    {% set rowClasses = '' %}
    {% if numberOfColumns == '1' %}
      {% set columnClasses = 'col' %}
    {% elseif numberOfColumns == '2' %}
      {% set columnClasses = 'col-sm-6 col-md-4' %}
      {% set rowClasses = 'd-flex justify-content-center' %}
    {% elseif numberOfColumns == '3' or numberOfColumns == '4' %}
      {% set columnClasses = 'col-sm-6 col-md' %}
    {% elseif numberOfColumns == '5' %}
      {% set columnClasses = 'col-sm-6 col-md-4 col-lg-3' %}
    {% elseif numberOfColumns == '6' or numberOfColumns == '9' %}
      {% set columnClasses = 'col-sm-6 col-md-4' %}
    {% endif %}

    <div class="row {{ rowClasses }}">

      {% for featurette in currentBlock.featurettes  %}

        {% if
            (featurette.timeShow is not defined and featurette.timeHide is not defined) or
            ((featurette.timeShow is not defined) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow))) or
            ((featurette.timeHide is not defined) and (featurette.timeShow and (currentBlock.timeNow > featurette.timeShow.unix))) or
            ((featurette.timeShow and (featurette.timeShow.unix < currentBlock.timeNow)) and (featurette.timeHide and (featurette.timeHide.unix > currentBlock.timeNow)))
        %}

          {% set classesForFeaturette = '' %}
          {% if featurette.classesForFeaturette %}
            {% set classesForFeaturette = currentBlock.classesForFeaturette %}
          {% endif %}

          <div class="{{ columnClasses }} mb-3 {{ classForFeaturette }}" {% if featurette.anchorID %}id="{{featurette.anchorID}}"{% endif %}>

            {% if 'Use Card Layout' in currentBlock.extraOptions %}
              {% include 'blocks/featurettes/card.html' %}
            {% else %}
              {% include 'blocks/featurettes/default.html' %}
            {% endif %}

          </div>

        {% endif %}

      {% endfor %}

    </div>

    {% if currentBlock.sublede %}
      {% set classesForSubLede = 'mt-4 wvu-z-index-content mb-2' %}
      {% if currentBlock.classesForSubLede %}
        {% set classesForSubLede = currentBlock.classesForSubLede %}
      {% endif %}
      <div class="{{ classesForSubLede }}">
        <p class="mb-0">{{ currentBlock.sublede|raw }}</p>
      </div>
    {% endif %}

    {% if currentBlock.relatedQuicklinks %}
      <div style="clear: both;text-align: center;padding-top: 1.5em;font-size: 1.5em;">
        {% for quicklink in currentBlock.relatedQuicklinks %}
          <a href="{{ quicklink.webAddress }}" class="button" style="margin-right: 10px;">{{ quicklink.linkText|raw }}</a>
        {% endfor %}
      </div>
    {% endif %}

  </div>
</section>
