.wvu-backpage-header {
  background-color: $pms-432-c;;
  background-position: 50% 50%;
  background-size: cover;
  color: white;
  display: table;
  overflow: hidden;
  position: relative;
  width: 100%;
  a {
    color: white;
  }
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  h1 {
    clear: both;
    margin-top: 10px;;
    position: relative;
    @include wvu-gold-slash();
    span {
      position: relative;
      z-index: 3;
    }
  }
  p {
    font-size: 1.5em;
    margin-bottom: 2em;
    position: relative;
    z-index: 3;
  }
  h1, p, a {
    text-shadow: 1px 1px 1px #000000;
  }
}

.wvu-backpage-header--big-photo {
  .wvu-backpage-header__container {
    @include wvu-vignetting($wvu-hero-vignetting-opacity);
  }
}

.wvu-backpage-header__container {
  @include wvu-vignetting($wvu-hero-vignetting-opacity);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2.5em;
  @include mq($bp-xlarge) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Layout
// ==================================

.wvu-backpage-header__container {
  @include outer-container();
}
