.wvu-testimonial {
  overflow: hidden;
  text-align: center;
  @include pms-5625-c-background();
}

.wvu-testimonial--backpage {
  background-color: white;
}

.wvu-testimonial__container {
  @include outer-container();
  @include u-wvu-container-padding();
  padding-top: 12em;
}

.wvu-testimonial__quote {
  font-family: $wvu-traditional-audience;
  font-size: 2em;
  margin: 0 auto 1em auto;
  max-width: 15em;
  position: relative;
  @include wvu-gold-slash();
  &:before {
    background-size: 400px;
    left: 24%;
    top: -9em;
    z-index: 0;
  }
  span {
    position: relative;
    z-index: 3;
  }
}

.wvu-testimonial__author {
  font-weight: bold;
}

.wvu-testimonial__photo {
  width: 100%;
  img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
}

.wvu-testimonial__postscript {
  @include wvu-postscript();
}
