.cs-rss-snippet {
  padding: 1em 0;
}

.wvu-calendar {
  padding-left: 0;
  li { margin-bottom: 0.5em; display: inline-block; width: 100%;
    .eventDate { float: left; margin-right: 4%; width: 10%; text-align: center; padding-bottom: 6px; border-radius: 6px; display: inline-block;
    }
    .eventMonth { font-size: .8em; text-transform: uppercase; }
    .eventDay { display: block; font-size: 1.5em; line-height: .8em; clear: both; }
    .eventInfo { float: left; width: 86%; display: inline-block;}
    .eventTime { font-weight: bold; }
    .eventName { display: block; }
  }
  &.wvu-calendar--flex {
    @include mq($bp-medium) {
      display: flex;
      align-items: stretch;
      flex-flow: row wrap;
      li {
        width: 33%;
        padding: 0 1em 1em 0;
      }
    }
  }
}

.wvu-calendar-widget__container {
  @include u-wvu-container-padding();
}

.wvu-calendar-widget__header {
  text-align: center;
  h2 {
    @include wvu-secondary-pattern-heading();
  }
  h3 {
    @include wvu-secondary-pattern-heading();
    font-size: 2.4em;
  }
  p {
    margin: 0 auto;
  }
}

.wvu-calendar-widget__postscript {
  @include wvu-postscript();
  p {
    max-width: 99999em;
  }
}

.wvu-calendar {
  li {
    .eventDate {
      font-weight: bold;
    }
  }
}

.wvu-calendar--flex {
  font-size: 1em;
}

.ua-calendar-widget {
  a {
    text-decoration: none;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.wvu-calendar-widget__date {
  border: 1px solid tint($wvu-black, 50%);
  border-radius: 3px;
  line-height: 1.2em;
  padding: .5em 0;
  text-align: center;
}

.wvu-calendar-widget__item {
  margin-bottom: 1em;
}

.wvu-calendar-widget__day {
  font-size: 1.5em;
}

.wvu-sidebar, .so-featurettes__featurette, .so-magic-anytych__panel {
  .wvu-calendar-widget__postscript, .wvu-calendar-widget__header {
    display: none;
  }
  .wvu-calendar-widget__container {
    padding: 0;
  }
  .wvu-calendar--flex { padding-left: 0;
    li { padding-right: 1em; }
    @include mq($bp-medium) {
      display: block;
      li {
        width: 100%;
        padding: 0 0 1em 0;
      }
    }
  }
}

.wvu-calendar-widget { padding-left: 0;
  li { margin-bottom: 0.5em; display: inline-block; width: 100%;
    .eventDate { float: left; margin-right: 4%; width: 10%; text-align: center; padding-bottom: 6px; border-radius: 6px;
    }
    .calEventMonth { font-size: .8em; text-transform: uppercase; }
    .calEventDay { display: block; font-size: 1.5em; line-height: .8em; clear: both; }
    .eventInfo { float: left; width: 86%;}
    .eventTime { font-weight: bold; }
    .eventName { display: block; }
  }
}

.wvu-calendar-widget--flex { padding-left: 0;
  li { padding-right: 1em; }
  @include mq($bp-medium) {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    li {
      width: 33%;
      padding: 0 0 1em 0;
    }
  }
}

.main, .wvu-diptych__panel, .wvu-polyptych__panel, .wvu-triptych__panel, .wvu-quadriptych__panel, .wvu-pentaptych__panel, .wvu-sidebar {
  .wvu-calendar {
    &.wvu-calendar--flex {
      @include mq($bp-medium) {
        display: block;
        li {
          width: 100%;
        }
      }
    }
  }
  .wvu-calendar-widget__container {
    padding: 0;
  }
}

// Layout
// ==========================================

.wvu-calendar-widget__container {
  @include outer-container();
}

.wvu-calendar-widget__date {
  @include mq($bp-medium) {
    @include span-columns(2);
  }
}

.wvu-calendar-widget__item {
  @include span-columns(12);
}

.wvu-calendar-widget__details {
  @include mq($bp-medium) {
    @include span-columns(10);
  }
}
