.wvu-adverts__advertisement {
  border: 1px solid $wvu-black;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
  min-height: 79px;

  a {
    @include wvu-shout();
    -webkit-font-smoothing: antialiased;
    &:hover { background: transparent; }
  }
  h2 {
    margin-top: 0;
  }
}

.wvu-adverts__adverts {
  display: table;
  width: 100%;
  margin-top: 2em;
}

h2 + .wvu-adverts__adverts {
  margin-top: 3em;
}

.wvu-adverts__adverts--5, .wvu-adverts__adverts--9, .wvu-adverts__adverts--10 {
  .wvu-adverts__ad-text {
    @include mq($bp-medium) {
      font-size: 1.2em;
    }
  }
}

.wvu-adverts__ad-text {
  position: absolute;
  font-size: 1.5em;
  line-height: $wvu-shout-line-height;
  font-weight: bold;
  width: 100%;

  bottom: -1px;
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.7+0,0.7+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C */
  @include mq($bp-small) {
    font-size: 1em;
  }
  @include mq($bp-xlarge) {
    font-size: 1.5em;
  }
  a { color: white; text-decoration: none;
    display: block;
    padding: 0.5em;
    @include wvu-gold-slash();
    z-index: 3;
    &:before {
      background-size: 50px;
      height: 50px;
      left: -15px;
      top: -11px;
    }
    &:hover { color: white; }
    &:visited { color: white; }
    span {
      color: white;
      position: relative;
      text-decoration: none;
      z-index: 3;
    }
  }
}

.wvu-adverts__container {
  @include u-wvu-container-padding();
}

.wvu-adverts__entries--edit-mode {
  .wvu-adverts__image, .wvu-adverts__copy {
    color: $wvu-black;
    h2 {
      color: $wvu-black;
    }
  }
}

.wvu-adverts__header {
  text-align: center;
  h2 {
    @include wvu-secondary-pattern-heading();
  }
  h3 {
    @include wvu-secondary-pattern-heading();
    font-size: 2.4em;
  }
  p {
    margin: 1em auto 2em auto;
  }
}

.wvu-adverts__links-list { margin-top: 1em;
  ul { list-style-type: none; padding-left: 0;
    li {
      a {
        &:hover { color: white; }
      }
    }
  }
}

.wvu-adverts__postscript {
  @include wvu-postscript();
}

.wvu-sidebar {
  .wvu-adverts__advertisement {
    text-align: left;
    .wvu-adverts__headline, .wvu-adverts__lede, .wvu-adverts__postscript {
      text-align: left;
    }
  }
  .wvu-adverts__adverts, .wvu-adverts__adverts--two, .wvu-adverts__adverts--three, .wvu-adverts__adverts--four, .wvu-adverts__adverts--five {
    .wvu-adverts__advertisement {
      margin-bottom: 1em;
    }
  }
  .wvu-adverts__container {
    width: 100%;
    padding: 0;
  }
  .wvu-adverts__header {
    display: none;
  }
}

.main {
  .wvu-adverts__ad-text {
    @include mq($bp-xlarge) {
      font-size: 1.2em;
    }
  }
  .wvu-adverts__header {
    display: none;
  }
}

// Layout
// =====================================

.wvu-adverts__advertisement {
  @include span-columns(12);

  @include mq($bp-small) {
    @include span-columns(3);
    @include omega(4n);
  }

}

.wvu-adverts__adverts--2 {
  .wvu-adverts__advertisement {
    @include mq($bp-medium) {
      @include span-columns(6);
      @include omega(2n)
    }
  }
}

.wvu-adverts__adverts--3, .wvu-adverts__adverts--6 {
  .wvu-adverts__advertisement {
    @include mq($bp-medium) {
      @include span-columns(4);
      @include omega-reset(4n);
      @include omega(3n)
    }
  }
}

.wvu-adverts__adverts--4 {
  .wvu-adverts__advertisement {
    @include mq($bp-medium) {
      @include span-columns(3);
      @include omega-reset(4n);
      @include omega(4n);
    }
  }
}

.wvu-adverts__adverts--5, .wvu-adverts__adverts--9, .wvu-adverts__adverts--10 {
  .wvu-adverts__advertisement {
    @include mq($bp-medium) {
      @include span-columns(2.4);
      @include omega-reset(4n);
      @include omega(5n);
    }
  }
}

.wvu-adverts__container {
  @include outer-container();
}

.wvu-adverts__links-list { margin-top: 1em;
  @include mq($bp-medium) {
    @include span-columns(3);
  }
}

.wvu-sidebar {
  .wvu-adverts__advertisement {
    @include mq($bp-small) {
      @include span-columns(12);
      @include omega-reset(4n);
    }
  }
}

.wvu-adverts__entries--edit-mode {
  .wvu-adverts__image, .wvu-adverts__copy {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
  }
}

.wvu-sidebar {
  .wvu-adverts__adverts, .wvu-adverts__adverts--two, .wvu-adverts__adverts--three, .wvu-adverts__adverts--four, .wvu-adverts__adverts--five {
    .wvu-adverts__advertisement {
      @include mq($bp-small) {
        @include span-columns(12);
      }
    }
  }
}

.main {
  .wvu-adverts__container {
    width: 100%;
    padding: 0;
  }
}
