.wvu-hero {
  background-color: $pms-432-c;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
  padding: 0 2em;
  position: relative;
  @include mq($bp-xlarge) {
    padding: 0;
  }
  a {
    color: white;
    position: relative;
    z-index: 3;
  }
  h1 {
    font-size: 4.5em;
    line-height: $header-line-height;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 8em;
    position: relative;
    @include wvu-shout();
    text-transform: uppercase;
    @include wvu-gold-slash();
    @include mq($bp-large) {
      margin-top: 1em;
    }
    &:before {
      background-size: 292px;
      left: -173px;
      top: -83px;
    }
    span {
      position: relative;
      z-index: 3;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  img {
    border: 1px solid $wvu-black;
    position: relative;
    z-index: 3;
  }
  p {
    margin-bottom: 2em;
    margin-top: 2em;
    position: relative;
    z-index: 3;
  }
}

.wvu-hero--big-photo {
  .wvu-hero__copy {
    h1 {
      margin-top: .8em;
      @include mq($bp-large) {
        font-size: 6.2em;
        max-width: 6em;
      }
      &:before {
        background-size: 433px;
        left: -240px;
        top: -124px;
      }
    }
    p {
      font-size: 1.25em;
      max-width: 24em;
    }
    h1, p, a {
      text-shadow: 1px 1px 1px #000000;
    }
    a {
      &:hover {
        text-shadow: none;
      }
    }
    @include mq($bp-medium) {
      @include span-columns(12);
    }
    &.wvu-hero__copy--edit-mode {
      @include mq($bp-medium) {
        @include span-columns(6);
      }
    }
  }
  .wvu-hero__container {
    padding: 4em 0 8.3em 0;
  }
}

.wvu-hero--right {
  .wvu-hero__container {
    &:before {
      background: radial-gradient(farthest-side at 30% 55%, transparent, #000 131%);
    }
  }
  .wvu-hero__copy {
    float: right;
    width: auto;
  }
}

.wvu-hero__container {
  @include u-wvu-container-padding();
  @include wvu-vignetting($wvu-hero-vignetting-opacity);
}

.wvu-hero__copy {
  margin-bottom: 2em;
  @include mq($bp-medium) {
    margin-bottom: 0;
  }
}

.wvu-hero__copy, .wvu-hero__photo {
  @include mq($bp-medium) {
    @include span-columns(6);
  }
}

.wvu-hero__photo-caption {
  background-color: $wvu-black;
  color: shade(white, 20%);
  font-size: 0.8em;
  position: relative;
  text-transform: uppercase;
  z-index: 3;
  @include mq($bp-medium) {
    float: right;
  }
}

.wvu-hero__photo-container--has-video-true {
  @include u-wvu-embed-container();
  z-index: 3;
}

.wvu-hero__photo--edit-mode {
  .wvu-hero__photo-container--has-video-true {
    position: relative;
    padding-bottom: 0;
    padding-top: 0;
    height: auto;
    overflow: auto;
    iframe, object, video, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.page--edit-mode {
  .wvu-hero {
    h1 {
      &:before {
        display: none;
      }
    }
  }
  .wvu-hero__container {
    &:before {
      display: none;
    }
  }
}

$i: 90;
@while $i > 0 {
  .wvu-hero__container {
    &.wvu-hero__container--vignetting-#{$i} {
      &:before {
        opacity: $i * .01;
      }
    }
    $i: $i - 10;
  }
}

// Layout
// ================================

.wvu-hero__container { @include outer-container(); }

@mixin has-small-hero {
  @if $has-small-photo == true {
    .wvu-hero__copy {
      @include mq($bp-medium) { @include span-columns(4); }
      @include mq($bp-large) { @include span-columns(5); }
    }
    .wvu-hero__photo {
      @include mq($bp-medium) { @include span-columns(8); }
      @include mq($bp-large) { @include span-columns(7); }
    }
  }
}

@include has-small-hero();

.wvu-hero--small-photo .wvu-hero__copy {
  @include mq($bp-medium) { @include span-columns(4); }
  @include mq($bp-large) { @include span-columns(5); }
}
.wvu-hero--small-photo .wvu-hero__photo {
  @include mq($bp-medium) { @include span-columns(8); }
  @include mq($bp-large) { @include span-columns(7); }
}
