<section class="wvu-breadcrumbs py-2 w-100 position-absolute wvu-z-index-breadcrumbs" aria-label="Breadcrumbs">
  <div class="container position-relative wvu-z-index-content small">

    <ul class="wvu-slash-list pl-0">
      <li><a href="/">Home</a></li>
      {% for breadcrumb in breadcrumbs %}
        {% if not loop.last %}
          <li><a href="{{ breadcrumb.path }}">{{ breadcrumb.title|raw }}</a></li>
        {% else %}
          <li class="active">{{ breadcrumb.title|raw }}</li>
        {% endif %}
      {% endfor %}
    </ul>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
              {
                "@type": "ListItem",
                "position": {{ loop.index }},
                "name": "{{ breadcrumb.title|striptags|replace({ '"': '\\"' })|raw }}",
                "item": "https://www.wvu.edu{{ breadcrumb.path }}"
              },
            {% else %}
              {
                "@type": "ListItem",
                "position": {{ loop.index }},
                "name": "{{ breadcrumb.title|striptags|replace({ '"': '\\"' })|raw }}"
              }
            {% endif %}
          {% endfor %}
        ]
      }
    </script>

  </div>
</section>
