{% set orgTitle = "West Virginia University" %}
{% set orgPOBox = "PO Box 6201" %}
{% set orgMailingAddress1 = "" %}
{% set orgMailingAddress2 = "" %}
{% set orgMailingAddress3 = "" %}
{% set orgCity = "Morgantown" %}
{% set orgState = "WV" %}
{% set orgZipCode = "26506" %}
{% set orgPhoneNumber = "(304) 293-0111" %}
{% set orgEmailAddress = "web_services@mail.wvu.edu" %}
{% if contentful.site.relatedOrganization %}
  {% set orgTitle = contentful.site.relatedOrganization.title %}
  {% set orgPOBox = contentful.site.relatedOrganization.poBox %}
  {% set orgMailingAddress1 = contentful.site.relatedOrganization.mailingAddress1 %}
  {% set orgMailingAddress2 = contentful.site.relatedOrganization.mailingAddress2 %}
  {% set orgMailingAddress3 = contentful.site.relatedOrganization.mailingAddress3 %}
  {% set orgCity = contentful.site.relatedOrganization.city %}
  {% set orgState = contentful.site.relatedOrganization.state.abbreviation %}
  {% set orgZipCode = contentful.site.relatedOrganization.zipCode %}
  {% set orgPhoneNumber = contentful.site.relatedOrganization.phoneNumber %}
  {% set orgEmailAddress = contentful.site.relatedOrganization.emailAddress %}
{% endif %}

<footer class="py-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <address class="mb-4">
          <p>
            <strong>{{ orgTitle }}</strong>
            {% if orgMailingAddress1 %}<br>{{ orgMailingAddress1 }}{% endif %}
            {% if orgMailingAddress2 %}<br>{{ orgMailingAddress2 }}{% endif %}
            {% if orgMailingAddress3 %}<br>{{ orgMailingAddress3 }}{% endif %}
            {% if orgPOBox %}<br>{{ orgPOBox }}{% endif %}
            {% if orgCity and orgState and orgZipCode %}<br>{{ orgCity }}, {{ orgState }} {{ orgZipCode }}{% endif %}
          </p>
          <p>
            {% if orgPhoneNumber %}<a class="fas fa-phone" href="tel:{{ orgPhoneNumber|replace({'(': '', ')': '', '-': '', ' ': ''}) }}"> {{ orgPhoneNumber }}</a>{% endif %}
            {% if orgPhoneNumber and orgEmailAddress %}<br>{% endif %}
            {% if orgEmailAddress %}<a class="fas fa-envelope" href="mailto:{{ orgEmailAddress }}"> {{ orgEmailAddress }}</a>{% endif %}
          </p>
        </address>
      </div>
      <div class="col-3"></div>
      <div class="col-3"></div>
    </div> <!-- /.wvu-contact -->
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="" href="https://about.wvu.edu/wvu-facts"><span class="small">Accreditations</span></a></li>
          <li class="list-inline-item"><a class="" href="https://webstandards.wvu.edu"><span class="small">Web Standards</span></a></li>
          <li class="list-inline-item"><a class="" href="https://www.wvu.edu/privacy"><span class="small">Privacy Notice</span></a></li>
          <li class="list-inline-item"><a class="" href="mailto:web_services@mail.wvu.edu"><span class="small">Questions or Comments?</span></a></li>
        </ul>
        <p>
          <span class="small">&copy; {{ "now"|date("Y") }} <a class="" href="https://www.wvu.edu/">West Virginia University</a>. West Virginia University is an Equal Opportunity Employer.
          <span class="wvu-credits__last-edited">Last updated on {{ contentful.lastUpdated.month.textLong }} {{ contentful.lastUpdated.day.numberShort }}, {{ contentful.lastUpdated.year.numberLong }}.</span></span>
        </p>
      </div>
      <div class="col-md-6 text-md-right">
        <ul class="list-unstyled mb-0">
          <li class="list-inline-item"><a class="" href="https://www.wvu.edu/SiteIndex/"><span class="small">A-Z Site Index</span></a></li>
          <li class="list-inline-item"><a class="" href="https://campusmap.wvu.edu"><span class="small">Campus Map</span></a></li>
          <li class="list-inline-item"><a class="" href="https://careers.wvu.edu/career-opportunities"><span class="small">WVU Careers</span></a></li>
          <li class="list-inline-item"><a class="" href="https://directory.wvu.edu"><span class="small">WVU Directory</span></a></li>
        </ul>
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="" href="https://give.wvu.edu/campaign/givewvu/c415566"><span class="small">Give</span></a></li>
          <li class="list-inline-item"><a class="" href="https://careerservices.wvu.edu/students/handshake-login"><span class="small">Handshake</span></a></li>
          <li class="list-inline-item"><a class="" href="https://alert.wvu.edu/"><span class="small">WVU Alert</span></a></li>
          <li class="list-inline-item"><a class="" href="https://wvutoday.wvu.edu"><span class="small">WVU Today</span></a></li>
          <li class="list-inline-item"><a class="" href="https://portal.wvu.edu"><span class="small">WVU Portal</span></a></li>
        </ul>
        <ul class="list-unstyled">
          <li class="list-inline-item"><a class="" href="https://www.facebook.com/wvumountaineers"><span class="small"><span class="fab fa-facebook-square h5"></span><span class="sr-only">WVU on Facebook</span></span></a></li>
          <li class="list-inline-item"><a class="" href="https://www.instagram.com/westvirginiau/"><span class="small"><span class="fab fa-instagram h5"></span><span class="sr-only">WVU on Instagram</span></span></a></li>
          <li class="list-inline-item"><a class="" href="https://twitter.com/WestVirginiaU"><span class="small"><span class="fab fa-twitter-square h5"></span><span class="sr-only">WVU on Twitter</span></span></a></li>
          <li class="list-inline-item"><a class="" href="https://www.youtube.com/user/westvirginiau"><span class="small"><span class="fab fa-youtube-square h5"></span><span class="sr-only">WVU on YouTube</span></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
