{% include('patterns/wvu-breadcrumbs.html') %}

<div class="wvu-overflow-hidden pt-5 pb-3 bg-wvu-neutral--dark-gray text-white wvu-bg-vignetting wvu-bg-blend-mode-luminosity--80 wvu-background-position-center" style=" ">
  <div class="container position-relative wvu-z-index-content">

    {% set title = contentful.title %}
    {% if contentful.displayTitle %}
      {% set title = contentful.displayTitle %}
    {% endif %}

    <h1 id="backpage-header-1-label" class="display-4 helvetica-neue-bold mb-0">{{ title|raw }}</h1>

  </div>
</div>
