{% set mastheadLogoWebAddress = '/' %}
{% if contentful.site.mastheadLogoWebAddress %}
  {% set mastheadLogoWebAddress = contentful.site.mastheadLogoWebAddress %}
{% endif %}

{% set logoLockUpSoloClass = '' %}
{% if 'Hide Masthead Title' in contentful.site.extraOptions %}
  {% set logoLockUpSoloClass = 'wvu-logo-lockup--solo' %}
  <style>
    .wvu-logo-lockup--solo {
      bottom: -5px;
      background-position: 0 !important;
      background-size: 22.25em 3em !important;
      position: relative !important;
    }
  </style>
{% endif %}

<header>
  <a class="sr-only sr-only-focusable" href="#wvu-main-content">Skip to main content</a>
  <div class="wvu-masthead bg-wvu-blue">
    <div class="container">
      <div class="row">
        <div class="align-self-center col">
          {% if 'Use Alternate Logo' in contentful.site.extraOptions %}
            <a class="d-block position-relative my-3 text-center text-lg-left text-decoration-none" href="{{ mastheadLogoWebAddress }}">
              <span class="sr-only">West Virginia University </span>
              <span class="sr-only">{% if contentful.site.coBrandTitle %}{{ contentful.site.coBrandTitle }}{% else %}{{ contentful.site.displayTitle }}{% endif %}</span>
              <img alt="#{contentful.site.mastheadLogo.file.title}" src="#{contentful.site.mastheadLogo.file.url}">
            </a>
          {% else %}
            <a class="d-flex position-relative my-3 align-items-center justify-content-center justify-content-lg-start text-decoration-none text-white" href="{{ mastheadLogoWebAddress }}">
              <span class="sr-only">West Virginia University </span>
              <span class="wvu-logo-lockup {{ logoLockUpSoloClass }} mt-n1">
                {% if 'Hide Masthead Title' not in contentful.site.extraOptions %}
                  {{ contentful.site.displayTitle }}
                {% endif %}
              </span>
              {% if (contentful.site.mastheadLogo or contentful.site.coBrandTitle) and ('Hide Co-Brand in Masthead' not in contentful.site.extraOptions) %}
                <span class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 border-left border-white">
                  {% if contentful.site.mastheadLogo %}
                    <img src="#{contentful.site.mastheadLogo.file.url}" alt="#{contentful.site.mastheadLogo.file.title}">
                  {% else %}
                    {{ contentful.site.coBrandTitle }}
                    {% if contentful.site.coBrandSubTitle %}
                      <span class="d-block helvetica-neue-light small">{{ contentful.site.coBrandSubTitle|raw }}</span>
                    {% endif %}
                  {% endif %}
                </span>
              {% endif %}
            </a>
          {% endif %}
        </div>
        {% if contentful.site.mastheadQuicklinks %}
          <div class="col-12 col-lg-4 justify-content-md-end d-flex mb-lg-0">
            <div class="container">
              {% set buttonHeightClass = 'h-100 justify-content-lg-end' %}
              {% if contentful.site.parentOrganization and ('Hide Parent Organization in Masthead' not in contentful.site.extraOptions) %}
                {% set buttonHeightClass = '' %}
                <div class="row justify-content-center justify-content-lg-start mb-2">
                  <span class="bg-wvu-gold px-2 py-1 align-self-top small"><a href="{{ contentful.site.parentOrganization.webAddress }}" class="text-decoration-none text-wvu-blue ">{{ contentful.site.parentOrganization.titleWithOffice }}</a></span>
                </div>
              {% endif %}
              <div class="row align-content-center justify-content-center justify-content-lg-start {{ buttonHeightClass }}">
                {% set buttonSmallClass = '' %}
                {% if 'Make Mastheads Button Small' in contentful.site.extraOptions %}
                  {% set buttonSmallClass = 'btn-sm' %}
                {% endif %}
                {% set colors = ['accent--light-blue','accent--orange','gold','accent--yellow','accent--burnt-orange'] %}
                {% for quicklink in contentful.site.mastheadQuicklinks %}
                  <a href="{{ quicklink.webAddress }}" class="mb-3 mb-lg-0 align-self-center btn mb-1 btn-outline-wvu-{{ colors[loop.index0] }} mr-1 {{ buttomSmallClass }}">{{ quicklink.linkText|raw }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
