<div>

  <style>
    .color-white { color: #fff; }
    .background-blue { background-color: #002855; }
    .background-yellow { background-color: #EAAA00; }
    .background-grey { background-color: #A2AAAD; }
    .background-blue-grey { background-color: #bec9cd; }
    .background-white { background-color: #fff; }
    .background-none { background-color: transparent; }
    .table td.border-top-none { border-top: none; }
    .table.table--case-count tr:nth-child(1) { background-color: transparent; }
    caption span { display: block; font-size: 1rem; font-weight: normal; margin-top: -15px; }
  </style>

  <div class="wvu-container" style="padding-top: 2rem; padding-bottom: 4rem;">

    <h2 class="wvu-shout" style="font-size: 4rem;">Weekly Results</h2>

    {% set latestWeeklyDate = testResults.weekly.campusTesting[0] %}
    <p>
      The weekly results were last updated on <strong><time datetime="{{ latestWeeklyDate.dateDataFromWeekEnd.timestamp }}">{{ latestWeeklyDate.dateDataFromWeekEnd.month.textLong }} {{ latestWeeklyDate.dateDataFromWeekEnd.day.numberShort }}, {{ latestWeeklyDate.dateDataFromWeekEnd.year.numberLong }}</time></strong>. {# Tables are updated Mondays by 2 p.m. #} {# with the previous day's results. Monday's update includes Friday, Saturday and Sunday. #}
    </p>

    <div id="weekly-campus-vaccination" class="table-responsive" style="margin-top: 2rem;">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Vaccination Cumulative Results by Week
          <span><br>Vaccinated faculty, staff and students are listed with the week that they received their first dose of vaccine. Learn more about <a href="https://www.wvu.edu/return-to-campus/what-you-need-to-know/vaccine">vaccine distribution at WVU</a>.</span>
        </caption>

        <tr>

          <th scope="col" class="border-left background-yellow">Dates</th>
          <th scope="col" class="border-left background-yellow">Total Students, Faculty and Staff Who Received First-dose of Vaccine</th>

        </tr>

        {% set vaccinationDataExists = true %}
        {% set hasWeeklyVaccineNote = false %}
        {% for testResult in testResults.weekly.vaccination %}

          {% if testResult.dateDataFromWeekEnd.timestamp == '2020-12-27' %}
            {% set vaccinationDataExists = false %}
          {% endif %}

          {% if vaccinationDataExists %}
            {% if testResult.noteWeeklyVaccine %}
              {% set hasWeeklyVaccineNote = true %}
            {% endif %}
            <tr class="border-left">
              <th scope="row">
                <time datetime="{{ testResult.dateDataFromWeekStart.timestamp }}">{{ testResult.dateDataFromWeekStart.month.textShort }}. {{ testResult.dateDataFromWeekStart.day.numberShort }}</time> -
                <time datetime="{{ testResult.dateDataFromWeekEnd.timestamp }}">{% if testResult.noteWeeklySnapshot %}<a href="#note-{{ testResult.dateDataFromWeekEnd.timestamp }}-ws" aria-describedby="notes-weekly-snapshot-label" class="notes-label target" id="note-{{ testResult.dateDataFromWeekEnd.timestamp }}-ws-ref">{% endif %}{{ testResult.dateDataFromWeekEnd.month.textShort }}. {{ testResult.dateDataFromWeekEnd.day.numberShort }}{% if testResult.noteWeeklySnapshot %}</a>{% endif %}</time>
              </th>
              {% if testResult.vaccineFirstDoseTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.vaccineFirstDoseTotal }}</td>{% endif %}
            </tr>
          {% endif %}

        {% endfor %}

      </table>
    </div>

    <p {% if hasWeeklyVaccineNote == false %}style="margin-top: -5px;"{% endif %}>
      Return to <a href="#results">list of tables</a>.
    </p>

    <hr style="margin-bottom: 6em">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

    <style>
      .scrolling-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
      }
      .scrolling-wrapper {
        height: 80px;
        margin-bottom: 20px;
        width: 100%;
        -webkit-overflow-scrolling: touch;
      }
      .scrolling-wrapper::-webkit-scrollbar {
        display: none;
      }
      canvas {
        display: inline-block;
      }
    </style>

    {% set testResultsWeekly = testResults.weekly.campusTesting  %}

    {% set unixEpoch = testResultsWeekly[0].dateDataFromWeekStart.unixEpoch %}
    {% set maxResulted = 0 %}

    {% set testsResultedTotalJSON = '[' %}
    {% set testsPositiveTotalJSON = '[' %}
    {% set testsPercentPositiveTotalJSON = '[' %}

    {% for testResult in testResultsWeekly %}

      {% set date = testResult.dateDataFromWeekStart.timestamp %}

      {% if testResult.testsResultedTotalWithAthletics %}
        {% set testsResultedTotal = testResult.testsResultedTotalWithAthletics|replace({',':''}) %}
        {% if testsResultedTotal > maxResulted %}
          {% set maxResulted = testsResultedTotal %}
        {% endif %}
      {% else %}
        {% set testsResultedTotal = 0 %}
      {% endif %}
      {% if testResult.testsPositiveTotalWithAthletics %}
        {% set testsPositiveTotal = testResult.testsPositiveTotalWithAthletics|replace({',':''}) %}
      {% else %}
        {% set testsPositiveTotal = 0 %}
      {% endif %}
      {% if testResult.testsPercentPositiveTotalWithAthletics %}
        {% set testsPercentPositiveTotal = testResult.testsPercentPositiveTotalWithAthletics|replace({'%':'','-':'0'}) %}
      {% else %}
        {% set testsPercentPositiveTotal = 0 %}
      {% endif %}

      {% set testsResultedTotalJSON = testsResultedTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsResultedTotal ~ ' }'  %}
      {% set testsPositiveTotalJSON = testsPositiveTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsPositiveTotal ~ ' }'  %}
      {% set testsPercentPositiveTotalJSON = testsPercentPositiveTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsPercentPositiveTotal ~ ' }'  %}

      {% if loop.last == false  %}
        {% set testsResultedTotalJSON = testsResultedTotalJSON ~ ', ' %}
        {% set testsPositiveTotalJSON = testsPositiveTotalJSON ~ ', ' %}
        {% set testsPercentPositiveTotalJSON = testsPercentPositiveTotalJSON ~ ', ' %}
      {% endif %}

    {% endfor %}

    {% set testsResultedTotalJSON = testsResultedTotalJSON ~ ']' %}
    {% set testsPositiveTotalJSON = testsPositiveTotalJSON ~ ']' %}
    {% set testsPercentPositiveTotalJSON = testsPercentPositiveTotalJSON ~ ']' %}

    <div class="table-responsive" style="margin-top: 4rem">
      <div class="chart-container" style="position: relative;  width:1200px;">
        <canvas id="mixedChart" width="800" height="200"></canvas>
      </div>
    </div>

    <script>

      var config = {
        "type": 'bar',
        "data": {
          "datasets": [
            {
              "id": "testsResultedTotal",
              "label": "Total Resulted",
              "data": {{ testsResultedTotalJSON|raw }},
              "backgroundColor": "#708573",
              "xbackgroundColor": "#A2AAAD",
              "stepSize": 500,
              "precision": 0,
              "order": 2,
            },
            {
              "id": "testsPositiveTotal",
              "label": "Total Positive",
              "data": {{ testsPositiveTotalJSON|raw }},
              "backgroundColor": "#CD4C08",
              "xbackgroundColor": "#333F48",
              "precision": 0,
              "stepSize": 500,
              "order": 3
            },
            {
              "id": "testsPercentPositiveTotal",
              "label": "Total Percent Positive",
              "yAxisID": 'percent-positive',
              "data": {{ testsPercentPositiveTotalJSON|raw }},
              "backgroundColor": "#002855",
              "borderColor": "#002855",
              "borderWidth": 1,
              "lineTension": 0.2,
              "type": 'line',
              "fill": "none",
              "order": 1,
              "tooltips": {
                "callbacks": {
                  "label": function(tooltipItem, data) {
                    return tooltipItem['value']+'32%';
                  }
                }
              },
              "precision": 2,
              "max": 100,
              "stepSize": 20,
              "callback": function(value) {
                return value + "%"
              }
            }
          ]
        },
        options: {
          responsive: true,
          title: {
            display: false
          },
          legend: {
            position: 'bottom'
          },
          tooltips: {
            mode: 'index',
            position: 'nearest',
            callbacks: {
              label: function (t, d) {
                if (t.datasetIndex === 2) {
                  return t['value']+'% Positive';
                } else if (t.datasetIndex === 1) {
                  if (t['value'] === '1') {
                    return t['value']+' Positive Result';
                  } else {
                    return t['value']+' Positive Results';
                  }
                } else if (t.datasetIndex === 0) {
                  return t['value']+' Results';
                }
              }
            }
          },
          scales: {
            xAxes: [{
              distribution: 'series',
              offset: true,
              type: "time",
              gridLines: {
                display: false
              },
              time: {
                unit: 'day',
                round: 'day',
                parser: 'YYYY-MM-DD',
                displayFormats: {
                  day: 'MMM D'
                },
                tooltipFormat: 'll'
              },
              xticks: {
                min: {{ unixEpoch }}-(86400000*28),
                max: {{ unixEpoch }}
              },
              scaleLabel: {
                display:     true,
                labelString: 'Totals for week beginning on date shown'
              }
            }],
            yAxes: [{
              id: 'Total Tests Resulted',
              type: 'linear',
              position: 'left',
              ticks: {
                beginAtZero: true
              },
              scaleLabel: {
                display:     true,
                labelString: 'Totals'
              }
            }, {
              id: 'percent-positive',
              type: 'linear',
              position: 'right',
              gridLines: {
                display: false
              },
              ticks: {
                max: 1,
                min: 0
              },
              ticks: {
                beginAtZero: true,
                callback: function(value) {
                  return value + "%"
                }
              },
              scaleLabel: {
                display:     true,
                labelString: 'Percent Positive'
              }
            }]
          }
        }
      };
      ctx = document.getElementById('mixedChart');
      newChart = new Chart(ctx, config);
    </script>

    <div id="weekly-campus-testing" class="table-responsive" style="margin-top: 2rem;">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Testing Cumulative Results by Week
          <span><br>Positive test results are listed with the week that they were reported to WVU by Quest Diagnostics and QLabs, not the date the positive cases were tested. This dashboard should not be used to monitor individual test results. Students, faculty and staff should follow the Return to Campus guidelines to <a href="https://www.wvu.edu/return-to-campus/what-you-need-to-know/testing#getting-results">access their individual test results</a>. University results started to be reported on July 21, 2020.</span>
        </caption>
        <tr>
          <td class="border-top-none"></td>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Students</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Faculty/Staff</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Total</th>
        </tr>
        <tr>

          <th scope="col" class="border-left background-blue-grey">Dates</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

        </tr>

        {% set hasWeeklySnapshotNote = false %}
        {% for testResult in testResults.weekly.campusTesting %}
          <tr class="border-left">

            {% if testResult.noteWeeklySnapshot %}
              {% set hasWeeklySnapshotNote = true %}
            {% endif %}

            <th scope="row">
              <time datetime="{{ testResult.dateDataFromWeekStart.timestamp }}">{{ testResult.dateDataFromWeekStart.month.textShort }}. {{ testResult.dateDataFromWeekStart.day.numberShort }}</time> -
              <time datetime="{{ testResult.dateDataFromWeekEnd.timestamp }}">{% if testResult.noteWeeklySnapshot %}<a href="#note-{{ testResult.dateDataFromWeekEnd.timestamp }}-ws" aria-describedby="notes-weekly-snapshot-label" class="notes-label target" id="note-{{ testResult.dateDataFromWeekEnd.timestamp }}-ws-ref">{% endif %}{{ testResult.dateDataFromWeekEnd.month.textShort }}. {{ testResult.dateDataFromWeekEnd.day.numberShort }}{% if testResult.noteWeeklySnapshot %}</a>{% endif %}</time>
            </th>

            {% if testResult.testsResultedStudentsAthletes == 0 and testResult.testsPositiveStudentsAthletes  == 0 %}
              <td class="border-left" aria-label="No data available">-</td>
              <td aria-label="No data available">-</td>
            {% else %}
              {% if testResult.testsResultedStudentsAthletes is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedStudentsAthletes }}</td>{% endif %}
              {% if testResult.testsPositiveStudentsAthletes is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveStudentsAthletes }}</td>{% endif %}
            {% endif %}
            {% if testResult.testsPercentPositiveStudentsAthletes is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveStudentsAthletes }}</td>{% endif %}

            {% if testResult.testsResultedFacultyStaffAthleticStaff is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedFacultyStaffAthleticStaff }}</td>{% endif %}
            {% if testResult.testsPositiveFacultyStaffAthleticStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveFacultyStaffAthleticStaff }}</td>{% endif %}
            {% if testResult.testsPercentPositiveFacultyStaffAthleticStaff is not defined %}<td>-</td aria-label="No data available">{% else %}<td>{{ testResult.testsPercentPositiveFacultyStaffAthleticStaff }}</td>{% endif %}

            {% if testResult.testsResultedTotalWithAthletics is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedTotalWithAthletics }}</td>{% endif %}
            {% if testResult.testsPositiveTotalWithAthletics is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveTotalWithAthletics }}</td>{% endif %}
            {% if testResult.testsPercentPositiveTotalWithAthletics is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveTotalWithAthletics }}</td>{% endif %}

          </tr>
        {% endfor %}

      </table>
    </div>

    {% if hasWeeklySnapshotNote %}
      <h2 id="notes-weekly-snapshot-label" class="u-wvu-visually-hidden">Weekly Campus Testing Notes</h2>
      <ol id="notes-weekly-snapshot" class="notes">
        {% for testResult in testResults.weekly.campusTesting %}
          {% if testResult.noteWeeklySnapshot %}
            <li id="note-{{ testResult.dateDataFromWeekEnd.timestamp }}-ws" class="notes-ref-dg" style="margin: 0"> {{ testResult.noteWeeklySnapshot|raw }} <a href="#note-{{ testResult.dateDataFromWeekEnd.timestamp }}-ws-ref" aria-label="Back to content">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    <p {% if hasWeeklySnapshotNote == false %}style="margin-top: -5px;"{% endif %}>
      Return to <a href="#results">list of tables</a>.
    </p>

    <div id="rtc-testing-results" class="table-responsive" style="margin-top: 2rem;">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Cumulative Results for Return to Campus Testing
          <span><br>The following table shows the number of results and positive cases found during the University's Return to Campus testing process that began on July 20, 2020 and ended August 28, 2020.</span>
        </caption>
        <tr>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Students</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Faculty/Staff</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Total</th>
        </tr>
        <tr>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

        </tr>

          <tr class="border-left">

            <td class="border-left">21,237</td>
            <td>188</td>
            <td>0.89%</td>

            <td class="border-left">4,120</td>
            <td>4</td>
            <td>0.10%</td>

            <td class="border-left">25,357</td>
            <td>192</td>
            <td>0.76%</td>

          </tr>

      </table>
    </div>

    <p style="margin-top: -5px;">
      Return to <a href="#results">list of tables</a>.
    </p>

    <div id="cumulative-testing-results" class="table-responsive" style="margin-top: 2rem;">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Cumulative Results for All Campus Testing
          <span><br>The following table shows the number of results and positive cases found during the University's campus testing process that began on July 20, 2020. This data is cumulative through <strong>{{ testResults.summary.cumulative.dateDataFromEnd.month.textLong }} {{ testResults.summary.cumulative.dateDataFromEnd.day.numberShort }}, {{ testResults.summary.cumulative.dateDataFromEnd.year.numberLong }}</strong>.</span>
        </caption>
        <tr>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Students</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Faculty/Staff</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Total</th>
        </tr>
        <tr>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

        </tr>

          <tr class="border-left">

            <td class="border-left">{{ testResults.summary.cumulative.testsResultedStudentsAthletesTotal }}</td>
            <td>{{ testResults.summary.cumulative.testsPositiveStudentsAthletesTotal }}</td>
            <td>{{ testResults.summary.cumulative.testsPercentPositiveStudentsAthletesTotal }}</td>

            <td class="border-left">{{ testResults.summary.cumulative.testsResultedFacultyStaffAthleticStaffTotal }}</td>
            <td>{{ testResults.summary.cumulative.testsPositiveFacultyStaffAthleticStaffTotal }}</td>
            <td>{{ testResults.summary.cumulative.testsPercentPositiveFacultyStaffAthleticStaffTotal }}</td>

            <td class="border-left">{{ testResults.summary.cumulative.testsResultedTotalWithAthleticsTotal }}</td>
            <td>{{ testResults.summary.cumulative.testsPositiveTotalWithAthleticsTotal }}</td>
            <td>{{ testResults.summary.cumulative.testsPercentPositiveTotalWithAthleticsTotal }}</td>

          </tr>

      </table>
    </div>

    <p style="margin-top: -5px;">
      Return to <a href="#results">list of tables</a>.
    </p>

  </div>

</div>
