<div>

  <div class="wvu-container">

    <p>
      The daily test results were last updated on <strong><time datetime="{{ testResults[0].dateDataAdded.year.numberLong }}-{{ testResults[0].dateDataAdded.month.numberLong }}-{{ testResults[0].dateDataAdded.day.numberLong }}">{{ testResults[0].dateDataAdded.month.textLong }} {{ testResults[0].dateDataAdded.day.numberShort }}, {{ testResults[0].dateDataAdded.year.numberLong }}</time></strong>. These tables are updated Monday-Friday by 2 p.m. {# with the previous day's results. Monday's update includes Friday, Saturday and Sunday. #}
    </p>

    {#
      <p>
        {% if 'Show 28 Results Only' in extraOptions %}
          The "<a href="#test-results-daily">{{ relatedDivisionalCampus.campusNameShort }} Campus Testing Results by Date Results Were Received</a>" table shows the last 28 days worth of test results. <a href="/return-to-campus/daily-test-results/morgantown/all">View all {{ testResults|length }} days of test results</a>.
        {% else %}
          The "<a href="#test-results-daily">{{ relatedDivisionalCampus.campusNameShort }} Campus Testing Results by Date Results Were Received</a>" table shows all {{ testResults|length }} days of results. <a href="/return-to-campus/daily-test-results/morgantown">View only the last 28 days of test results</a>.
        {% endif %}
      </p>
      <p>The "<a href="#test-results-cumulative">{{ relatedDivisionalCampus.campusNameShort }} Campus Cumulative Results of Campus Testing</a>" table includes data from all {{ testResults|length }} days of test results.</p>
    #}
    <div id="test-results-daily" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">{% if 'Show 28 Results Only' not in extraOptions %}All {% endif %}{{ relatedDivisionalCampus.campusNameShort }} Campus Testing Results by Date Results Were Received</caption>
        <tr>
          <td class="border-left"></td>
          <th colspan="3" scope="colgroup" class="border-left">Students</th>
          <th colspan="3" scope="colgroup" class="border-left">Faculty/Staff</th>
          <th colspan="3" scope="colgroup" class="border-left">Total</th>
        </tr>
        <tr>
          <th scope="col" class="border-left">Date</th>

          <th scope="col" class="border-left"><a href="#resulted-meaning" aria-describedby="notes-label-daily-results" id="resulted-meaning-ref">Resulted</a></th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>
        </tr>

        {% set testResultsFinal = testResults %}
        {#
          {% if 'Show 28 Results Only' in extraOptions %}
            {% set testResultsFinal = testResults|slice(0,28) %}
          {% endif %}
        #}

        {% if testResults.code is not defined %}
          {% for testResult in testResultsFinal %}
            <tr class="border-left">

              <th scope="row"><time datetime="{{ testResult.dateDataFrom.year.numberLong }}-{{ testResult.dateDataFrom.month.numberLong }}-{{ testResult.dateDataFrom.day.numberLong }}">{{ testResult.dateDataFrom.month.textShortWithPeriod }} {{ testResult.dateDataFrom.day.numberShort }}</time></th>

              {% if testResult.testsResultedStudents is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedStudents|number_format }}</td>{% endif %}
              {% if testResult.testsPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveStudents|number_format }}</td>{% endif %}
              {% if testResult.testsPercentPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveStudents }}</td>{% endif %}

              {% if testResult.testsResultedFacultyStaff is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedFacultyStaff|number_format }}</td>{% endif %}
              {% if testResult.testsPositiveFacultyStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveFacultyStaff|number_format }}</td>{% endif %}
              {% if testResult.testsPercentPositiveFacultyStaff is not defined %}<td>-</td aria-label="No data available">{% else %}<td>{{ testResult.testsPercentPositiveFacultyStaff }}</td>{% endif %}

              {% if testResult.testsResultedTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% elseif testResult.testsResultedTotal is same as('-') %}<td class="border-left">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedTotal|number_format }}</td>{% endif %}
              {% if testResult.testsPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% elseif testResult.testsResultedTotal is same as('-') %}<td>-</td>{% else %}<td>{{ testResult.testsPositiveTotal|number_format }}</td>{% endif %}
              {% if testResult.testsPercentPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveTotal }}</td>{% endif %}

            </tr>
          {% endfor %}
        {% endif %}

      </table>
    </div>

    <h2 id="notes-label-daily-results" class="u-wvu-visually-hidden"">Daily Results Notes</h2>
    <ol id="notes-daily-results">
      <li id="resulted-meaning" style="margin: 0"> "Resulted" indicates that the sample from a test has been received by the lab, tested and results of the sample have been provided. <a href="#resulted-meaning-ref" aria-label="Back to content">↩</a></li>
    </ol>

    <div id="test-results-cumulative" class="table-responsive" style="margin-top: 1rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">{{ relatedDivisionalCampus.campusNameShort }} Campus Cumulative Results of Campus Testing</caption>
        <tr>
          <th colspan="3" scope="colgroup" class="border-left">Students</th>
          <th colspan="3" scope="colgroup" class="border-left">Faculty/Staff</th>
          <th colspan="3" scope="colgroup" class="border-left">Total</th>
        </tr>
        <tr>
          <th scope="col" class="border-left">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>
        </tr>

        {% set testsResultedStudentsTotal = 0 %}
        {% set testsPositiveStudentsTotal = 0 %}

        {% set testsResultedFacultyStaffTotal = 0 %}
        {% set testsPositiveFacultyStaffTotal = 0 %}

        {% set testsResultedTotalTotal = 0 %}
        {% set testsPositiveTotalTotal = 0 %}

        {% for testResult in testResults %}

          {% set testsResultedStudentsTotal = testsResultedStudentsTotal + testResult.testsResultedStudents %}
          {% set testsPositiveStudentsTotal = testsPositiveStudentsTotal + testResult.testsPositiveStudents %}
          {% set testsResultedFacultyStaffTotal = testsResultedFacultyStaffTotal+testResult.testsResultedFacultyStaff %}
          {% set testsPositiveFacultyStaffTotal = testsPositiveFacultyStaffTotal + testResult.testsPositiveFacultyStaff %}
          {% set testsResultedTotalTotal = testsResultedTotalTotal + testResult.testsResultedTotal %}
          {% set testsPositiveTotalTotal = testsPositiveTotalTotal + testResult.testsPositiveTotal %}

        {% endfor %}

        {% if testResults.code is not defined %}
          <tr>

            {% if testsResultedStudentsTotal == 0 %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testsResultedStudentsTotal|number_format }}</td>{% endif %}
            {% if testsPositiveStudentsTotal == 0 %}<td aria-label="No data available">-</td>{% else %}<td>{{ testsPositiveStudentsTotal|number_format }}</td>{% endif %}

            {% if testsResultedStudentsTotal != 0 %}
              {% set testsPercentPositiveStudentsTotal = (testsPositiveStudentsTotal/testsResultedStudentsTotal)*100 %}
              <td>{{ testsPercentPositiveStudentsTotal|round(2,'common') }}%</td>
            {% else %}
              <td>xx-</td>
            {% endif %}

            {% if testsResultedFacultyStaffTotal == 0 %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testsResultedFacultyStaffTotal|number_format }}</td>{% endif %}
            <td>{{ testsPositiveFacultyStaffTotal|number_format }}</td>

            {% if testsResultedFacultyStaffTotal != 0 %}
              {% set testsPercentPositiveFacultyStaffTotal = (testsPositiveFacultyStaffTotal/testsResultedFacultyStaffTotal)*100 %}
              <td>{{ testsPercentPositiveFacultyStaffTotal|round(2, "common") }}%</td>
            {% else %}
              <td>-</td>
            {% endif %}

            {% if testsResultedTotalTotal == 0 %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testsResultedTotalTotal|number_format }}</td>{% endif %}
            {% if testsPositiveTotalTotal == 0 %}<td aria-label="No data available">-</td>{% else %}<td>{{ testsPositiveTotalTotal|number_format }}</td>{% endif %}

            {% if testsResultedTotalTotal != 0 %}
              {% set testsPercentPositiveTotalTotal = (testsPositiveTotalTotal/testsResultedTotalTotal)*100 %}
              <td>{{ testsPercentPositiveTotalTotal|round(2,'common') }}%</td>
            {% else %}
              <td>-</td>
            {% endif %}

          </tr>
        {% endif %}

      </table>
    </div>

  </div>

</div>
