<div id="test-results-daily" class="table-responsive" style="margin-top: 2rem">
  <table class="table table--case-count border-bottom border-right">
    <caption style="text-align: left; margin-top: 1rem;">Latest {{ relatedDivisionalCampus.campusNameShort }} Campus Results by Date Received</caption>
    <tr>
      <td class="border-top-none"></td>
      <th colspan="6" scope="colgroup" class="border-left background-dark-grey color-white">Students</th>
      <th colspan="6" scope="colgroup" class="border-left background-dark-grey color-white">Faculty/Staff</th>
      <th colspan="6" scope="colgroup" class="border-left background-dark-grey color-white">Total</th>
    </tr>
    <tr>
      <td class="border-top-none"></td>
      <th colspan="3" scope="colgroup" class="border-left background-blue-grey">Sym. Testing</th>
      <th colspan="3" scope="colgroup" class="border-left background-blue-grey">Asym. Testing</th>
      <th colspan="3" scope="colgroup" class="border-left background-blue-grey">Sym. Testingg</th>
      <th colspan="3" scope="colgroup" class="border-left background-blue-grey">Asym. Testing</th>
      <th colspan="3" scope="colgroup" class="border-left background-blue-grey">Sym. Testing</th>
      <th colspan="3" scope="colgroup" class="border-left background-blue-grey">Asym. Testing</th>
    </tr>
    <tr>
      <th scope="col" class="border-left background-blue-grey">Date</th>

      <th scope="col" class="border-left background-blue-grey"><a href="#resulted-meaning" aria-describedby="notes-label-daily-results" id="resulted-meaning-ref"><abbr title="Resulted">Res.</abbr></a></th>
      <th scope="col" class=" background-blue-grey"><abbr title="Positive">Pos.</th>
      <th scope="col" class=" background-blue-grey"><abbr title="Percent Positive">% Pos.</abbr></th>

      <th scope="col" class="border-left background-blue-grey"><a href="#resulted-meaning" aria-describedby="notes-label-daily-results" id="resulted-meaning-ref"><abbr title="Resulted">Res.</abbr></a></th>
      <th scope="col" class=" background-blue-grey"><abbr title="Positive">Pos.</th>
      <th scope="col" class=" background-blue-grey"><abbr title="Percent Positive">% Pos.</abbr></th>

      <th scope="col" class="border-left background-blue-grey"><abbr title="Resulted">Res.</abbr></th>
      <th scope="col" class=" background-blue-grey"><abbr title="Positive">Pos.</th>
      <th scope="col" class=" background-blue-grey"><abbr title="Percent Positive">% Pos.</abbr></th>

      <th scope="col" class="border-left background-blue-grey"><a href="#resulted-meaning" aria-describedby="notes-label-daily-results" id="resulted-meaning-ref"><abbr title="Resulted">Res.</abbr></a></th>
      <th scope="col" class=" background-blue-grey"><abbr title="Positive">Pos.</th>
      <th scope="col" class=" background-blue-grey"><abbr title="Percent Positive">% Pos.</abbr></th>

      <th scope="col" class="border-left background-blue-grey"><abbr title="Resulted">Res.</abbr></th>
      <th scope="col" class=" background-blue-grey"><abbr title="Positive">Pos.</th>
      <th scope="col" class=" background-blue-grey"><abbr title="Percent Positive">% Pos.</abbr></th>

      <th scope="col" class="border-left background-blue-grey"><a href="#resulted-meaning" aria-describedby="notes-label-daily-results" id="resulted-meaning-ref"><abbr title="Resulted">Res.</abbr></a></th>
      <th scope="col" class=" background-blue-grey"><abbr title="Positive">Pos.</th>
      <th scope="col" class=" background-blue-grey"><abbr title="Percent Positive">% Pos.</abbr></th>

    </tr>

    <tr class="border-left">

      <th scope="row"><time datetime="{{ testResults[0].dateDataFrom.year.numberLong }}-{{ testResults[0].dateDataFrom.month.numberLong }}-{{ testResults[0].dateDataFrom.day.numberLong }}">Aug. 27</time></th>

      <td class="border-left">161</td>
      <td>14</td>
      <td>8.70%</td>
      <td class="border-left">161</td>
      <td>14</td>
      <td>8.70%</td>

      <td class="border-left">0</td>
      <td>0</td>
      <td>0.00%</td>
      <td class="border-left">161</td>
      <td>14</td>
      <td>8.70%</td>

      <td class="border-left">161</td>
      <td>14</td>
      <td>8.70%</td>
      <td class="border-left">161</td>
      <td>14</td>
      <td>8.70%</td>

    </tr>
  </table>
</div>
