<div id="weekly-quarantine" class="table-responsive" style="margin-top: 2rem">
  <table class="table table--case-count border-bottom border-right">
    <caption style="text-align: left; margin-top: 1rem;">
      {{ relatedDivisionalCampus.campusNameShort }} Campus Quarantine Snapshots
      <span>
        <br>Quarantine means avoiding contact with others to the furthest extent possible for 14 days, as directed by the local health department. Persons who are quarantining should not be on campus for class or work at any point during this period. Persons are likely in quarantine because they’ve been considered a close contact of someone who tested positive for COVID-19. The University has been aggressive in quarantining as we know students, in particular, live in close proximity, and in an abundance of caution have quarantined to mitigate community spread.
        <br><br>
        These data show how many students were in quarantine on a given date. It is not a total for the week.
        The current quarantine snapshot is from <strong><time datetime="{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.year.numberLong }}-{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.month.numberLong }}-{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.day.numberLong }}">{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.month.textLong }} {{ testResults.snapshots.isolation[0].dateDataFromWeekStart.day.numberShort }}, {{ testResults.snapshots.isolation[0].dateDataFromWeekStart.year.numberLong }}</time></strong>.
      </span>
    </caption>
    <tr>
      <th class="border-left background-yellow">Date</th>
      <th class="border-left background-yellow">Residence Halls</th>
      <th class="border-left background-yellow">University Apartments</th>
      <th class="border-left background-yellow">Off-Campus</th>
      <th class="border-left background-yellow">Went Home</th>
      <th class="border-left background-yellow">Greek Housing</th>
      <th class="border-left background-yellow">Total</th>
    </tr>

    {% set hasQuarantineNote = false %}
    {% for testResult in testResults.snapshots.quarantine %}
      <tr class="border-left">

        {% if testResult.noteQuarantine %}
          {% set hasQuarantineNote = true %}
        {% endif %}

        <th scope="row">
          {% if testResult.noteQuarantine %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-q" aria-describedby="notes-quarantine-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-q-ref">{% endif %}
          {% if loop.first %}
            Current
          {% else %}
            <time datetime="{{ testResult.dateDataFromWeekStart.timestamp }}">{{ testResult.dateDataFromWeekStart.month.textShort }}. {{ testResult.dateDataFromWeekStart.day.numberShort }}</time>
          {% endif %}
          {% if testResult.noteCampusTesting %}</a>{% endif %}
        </th>

        {% if testResult.quarantineResidenceHalls is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineResidenceHalls }}</td>{% endif %}
        {% if testResult.quarantineUniversityApartments is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineUniversityApartments }}</td>{% endif %}
        {% if testResult.quarantineOffCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineOffCampus }}</td>{% endif %}
        {% if testResult.quarantineWentHome is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineWentHome }}</td>{% endif %}
        {% if testResult.quarantineGreekLife is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineGreekLife }}</td>{% endif %}
        {% if testResult.quarantineTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineTotal }}</td>{% endif %}

      </tr>
    {% endfor %}

  </table>
</div>

{% if hasQuarantineNote %}
  <h2 id="notes-quarantine-label" class="u-wvu-visually-hidden">Quarantine Notes</h2>
  <ol id="notes-quarantine" class="notes">
    {% for testResult in testResults.snapshots.quarantine %}
      {% if testResult.noteQuarantine %}
        <li id="note-{{ testResult.dateDataFrom.timestamp }}-q" class="notes-ref-dg" style="margin: 0"> {{ testResult.noteQuarantine|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-q-ref" aria-label="Back to content">↩</a></li>
      {% endif %}
    {% endfor %}
  </ol>
{% endif %}

<div id="weekly-isolation" class="table-responsive" style="margin-top: 2rem">
  <table class="table table--case-count border-bottom border-right">
    <caption style="text-align: left; margin-top: 1rem;">
      {{ relatedDivisionalCampus.campusNameShort }} Campus Isolation Snapshots
      <span>
        <br>Isolation means avoiding contact with others for at least 10 days after a person's testing date, as directed by the local health department. Students living in a residence hall isolate in Arnold Apartments. Persons who are isolating should not be on campus for class or work at any point during their isolation period, and must remain in isolation until medically cleared. Persons are likely in isolation due to a positive COVID-19 test result.
        <br><br>
        These data show how many students were in isolation on a given date. It is not a total for the week.
        The current isolation snapshot is from <strong><time datetime="{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.year.numberLong }}-{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.month.numberLong }}-{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.day.numberLong }}">{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.month.textLong }} {{ testResults.snapshots.isolation[0].dateDataFromWeekStart.day.numberShort }}, {{ testResults.snapshots.isolation[0].dateDataFromWeekStart.year.numberLong }}</time></strong>.
      </span>
    </caption>
    <tr>
      <th class="border-left background-yellow">Date</th>
      <th class="border-left background-yellow">Arnold Apartments</th>
      <th class="border-left background-yellow"><abbr title="Percent">%</abbr> Filled</th>
      <th class="border-left background-yellow">In Transition</th>
      <th class="border-left background-yellow">University Apartments</th>
      <th class="border-left background-yellow">Off-Campus</th>
      <th class="border-left background-yellow">Went Home</th>
      <th class="border-left background-yellow">Greek Housing</th>
      <th class="border-left background-yellow">Total</th>
    </tr>

    {% set hasIsolationNote = false %}
    {% for testResult in testResults.snapshots.isolation %}
      <tr class="border-left">

        {% if testResult.noteIsolation %}
          {% set hasIsolationNote = true %}
        {% endif %}

        <th scope="row">
          {% if testResult.noteIsolation %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-iso" aria-describedby="notes-isolation-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-iso-ref">{% endif %}
          {% if loop.first %}
            Current
          {% else %}
            <time datetime="{{ testResult.dateDataFromWeekStart.timestamp }}">{{ testResult.dateDataFromWeekStart.month.textShort }}. {{ testResult.dateDataFromWeekStart.day.numberShort }}</time>
          {% endif %}
          {% if testResult.noteCampusTesting %}</a>{% endif %}
        </th>

        {% if testResult.isolationArnoldApartments is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationArnoldApartments }}</td>{% endif %}
        <td class="border-left">{{ testResult.isolationArnoldApartmentsPercentFilled }}</td>
        {% if testResult.isolationResidenceHalls is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationResidenceHalls }}</td>{% endif %}
        {% if testResult.isolationUniversityApartments is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationUniversityApartments }}</td>{% endif %}
        {% if testResult.isolationOffCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationOffCampus }}</td>{% endif %}
        {% if testResult.isolationWentHome is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationWentHome }}</td>{% endif %}
        {% if testResult.isolationGreekLife is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationGreekLife }}</td>{% endif %}
        {% if testResult.isolationTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationTotal }}</td>{% endif %}

      </tr>
    {% endfor %}

  </table>
</div>

{% if hasIsolationNote %}
  <h2 id="notes-isolation-label" class="u-wvu-visually-hidden">Isolation Notes</h2>
  <ol id="notes-isolation" class="notes">
    {% for testResult in testResults.snapshots.isolation %}
      {% if testResult.noteIsolation %}
        <li id="note-{{ testResult.dateDataFromWeekStart.timestamp }}-iso" class="notes-ref" style="margin: 0"> {{ testResult.noteIsolation|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-iso-ref" aria-label="Back to content">↩</a></li>
      {% endif %}
    {% endfor %}
  </ol>
{% endif %}
