<h2>Not Found</h2>

<p>
  We’re sorry, but the page you requested can't be found. You may want to try a site search:
</p>

<form class="form-search form-search--error" action="//search.wvu.edu/search" method="get" role="search">

  <label class="form-search__label" for="q">
    <span class="form-search__label-text">Search</span>
    <input id="q" class="form-search__field" name="q" maxlength="256" placeholder="Search WVU" type="search" />
  </label>

  <input id="sort" name="sort" type="hidden" value="date:D:L:d1" />
  <input id="output" name="output" type="hidden" value="xml_no_dtd" />
  <input id="ie" name="ie" type="hidden" value="UTF-8" />
  <input id="oe" name="oe" type="hidden" value="UTF-8" />
  <input id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend" />
  <input id="client" name="client" type="hidden" value="default_frontend" />
  <input name="btnG" type="submit" value="Search" />

  <div class="form-search__search-type">
    <fieldset>
      <legend>
        Would you like to search this site specifically, or all WVU websites?
      </legend>
      <div class="wvu-input-container">
        <input id="form-search__wvusearch" type="radio" name="as_sitesearch" value="wvu.edu" checked="true"/>
        <label for="form-search__wvusearch">Search WVU</label>
      </div>
      <div class="wvu-input-container">
        <input id="form-search__sitesearch" type="radio" name="as_sitesearch" value="www.wvu.edu" />
        <label for="form-search__sitesearch">Search this site</label>
      </div>
    </fieldset>
  </div>

</form>
