<div>

  <style>
    .color-white { color: #fff; }
    .background-blue { background-color: #002855; }
    .background-yellow { background-color: #EAAA00; }
    .background-grey { background-color: #A2AAAD; }
    .background-blue-grey { background-color: #bec9cd; }
    .background-white { background-color: #fff; }
    .background-none { background-color: transparent; }
    .table td.border-top-none { border-top: none; }
    .table.table--case-count tr:nth-child(1) { background-color: transparent; }
    caption span { display: block; font-size: 1rem; font-weight: normal; margin-top: -15px; }
  </style>

  <div class="wvu-container" style="padding-top: 2rem; padding-bottom: 4rem;">

    <h2 class="wvu-shout" style="font-size: 4rem;">Weekly Results</h2>

    {% set latestWeeklyDate = testResults.weekly.campusTesting[0] %}
    <p>
      The weekly results for vaccination rates, campus testing, quarantine and isolation will be posted starting on Wednesday, August 25. Tables are updated Wednesdays by 2 p.m.
    </p>


  </div>

</div>
