<div class="wvu-neutral--dark-gray background">

  <div class="wvu-container" style="padding-top: 2rem; padding-bottom: 4rem;">

    <h2 class="wvu-shout" style="font-size: 4rem; color: #9BD3DD">Daily Results</h2>

    <p>
      The daily test results were last updated on <strong><time datetime="{{ testResults.daily.campusTesting[0].dateDataAdded.year.numberLong }}-{{ testResults.daily.campusTesting[0].dateDataAdded.month.numberLong }}-{{ testResults.daily.campusTesting[0].dateDataAdded.day.numberLong }}">{{ testResults.daily.campusTesting[0].dateDataAdded.month.textLong }} {{ testResults.daily.campusTesting[0].dateDataAdded.day.numberShort }}, {{ testResults.daily.campusTesting[0].dateDataAdded.year.numberLong }}</time></strong>. These tables are updated Monday-Friday by 11 a.m. {# with the previous day's results. Monday's update includes Friday, Saturday and Sunday. #}
    </p>

    <style>
      .color-white { color: #fff; }
      .background-blue { background-color: #002855; }
      .background-yellow { background-color: #EAAA00; }
      .background-grey { background-color: #A2AAAD; }
      .background-blue-grey { background-color: #bec9cd; }
      .background-white { background-color: #fff; }
      .background-none { background-color: transparent; }
      .table td.border-top-none { border-top: none; }
      .table.table--case-count tr:nth-child(1) { background-color: transparent; }
      caption span { display: block; font-size: 1rem; font-weight: normal; margin-top: -15px; }
    </style>

    <div id="daily-campus-testing" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Testing Results by Day
          <span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien risus, suscipit eget dui non, lacinia finibus ex. Nam placerat, diam sed mollis laoreet, nisi nunc accumsan magna, mollis rutrum nulla odio quis ligula.</span>
        </caption>
        <tr>
          <td class="border-top-none background-none"></td>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Students</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Faculty/Staff</th>
          <th colspan="3" scope="colgroup" class="border-left background-yellow">Total</th>
        </tr>
        <tr>

          <th scope="col" class="border-left background-blue-grey">Date</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          <th scope="col" class="border-left background-blue-grey">Resulted</th>
          <th scope="col" class=" background-blue-grey">Positives</th>
          <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

        </tr>

        {% set hasCampusTestingNote = false %}
        {% for testResult in testResults.daily.campusTesting %}
          <tr class="border-left">

            {% if testResult.noteCampusTesting %}
              {% set hasCampusTestingNote = true %}
            {% endif %}

            <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteCampusTesting %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-ct" aria-describedby="notes-campus-testing-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-ct-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

            {% if testResult.testsResultedStudents is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedStudents|number_format }}</td>{% endif %}
            {% if testResult.testsPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveStudents|number_format }}</td>{% endif %}
            {% if testResult.testsPercentPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveStudents }}</td>{% endif %}

            {% if testResult.testsResultedFacultyStaff is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedFacultyStaff|number_format }}</td>{% endif %}
            {% if testResult.testsPositiveFacultyStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveFacultyStaff|number_format }}</td>{% endif %}
            {% if testResult.testsPercentPositiveFacultyStaff is not defined %}<td>-</td aria-label="No data available">{% else %}<td>{{ testResult.testsPercentPositiveFacultyStaff }}</td>{% endif %}

            {% if testResult.testsResultedTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedTotal|number_format }}</td>{% endif %}
            {% if testResult.testsPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveTotal|number_format }}</td>{% endif %}
            {% if testResult.testsPercentPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveTotal }}</td>{% endif %}

          </tr>
        {% endfor %}

      </table>
    </div>

    {% if hasCampusTestingNote %}
      <h2 id="notes-campus-testing-label" class="u-wvu-visually-hidden">Campus Testing Notes</h2>
      <ol id="notes-campus-testing" class="notes target">
        {% for testResult in testResults.daily.campusTesting %}
          {% if testResult.noteCampusTesting %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-ct" class="notes-ref-dg" style="margin: 0">{{ testResult.noteCampusTesting|raw }}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-ct-ref" aria-label="Back to content">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    <div id="daily-self-reported" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Self-Reported Results by Day
          <span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien risus, suscipit eget dui non, lacinia finibus ex. Nam placerat, diam sed mollis laoreet, nisi nunc accumsan magna, mollis rutrum nulla odio quis ligula.</span>
        </caption>
        <tr>
          <th scope="col" class="border-left background-yellow">Date</th>
          <th class="border-left background-yellow">Student Cases</th>
          <th class="border-left background-yellow">Faculty/Staff Cases</th>
          <th class="border-left background-yellow">Total Cases</th>
        </tr>

        {% set hasSelfReportedNote = false %}
        {% for testResult in testResults.daily.selfReported %}
          <tr class="border-left">

            {% if testResult.noteSelfReported %}
              {% set hasSelfReportedNote = true %}
            {% endif %}

            <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteSelfReported %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-sr" aria-describedby="notes-self-reported-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-sr-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

            {% if testResult.selfReportedTestsPositiveStudents is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.selfReportedTestsPositiveStudents }}</td>{% endif %}
            {% if testResult.selfReportedTestsPositiveFacultyStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.selfReportedTestsPositiveFacultyStaff }}</td>{% endif %}
            {% if testResult.selfReportedTestsPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.selfReportedTestsPositiveTotal }}</td>{% endif %}

          </tr>
        {% endfor %}

      </table>
    </div>

    {% if hasSelfReportedNote %}
      <h2 id="notes-self-reported-label" class="u-wvu-visually-hidden">Self-Reported Notes</h2>
      <ol id="notes-self-reported" class="notes">
        {% for testResult in testResults.daily.selfReported %}
          {% if testResult.noteSelfReported %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-sr" class="notes-ref-dg" style="margin: 0"> {{ testResult.noteSelfReported|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-sr-ref" aria-label="Back to content">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

  </div>
</div>

{% if 'Hide Weekly Data' not in extraOptions %}
  <div>

    <div class="wvu-container" style="padding-top: 2rem; padding-bottom: 4rem;">

      <h2 class="wvu-shout" style="font-size: 4rem;">Weekly Results</h2>

      <p>
        The weekly test results were last updated on <strong><time datetime="{{ testResults.daily.campusTesting[0].dateDataAdded.year.numberLong }}-{{ testResults.daily.campusTesting[0].dateDataAdded.month.numberLong }}-{{ testResults.daily.campusTesting[0].dateDataAdded.day.numberLong }}">{{ testResults.daily.campusTesting[0].dateDataAdded.month.textLong }} {{ testResults.daily.campusTesting[0].dateDataAdded.day.numberShort }}, {{ testResults.daily.campusTesting[0].dateDataAdded.year.numberLong }}</time></strong>. These tables are updated Monday-Friday by 11 a.m. {# with the previous day's results. Monday's update includes Friday, Saturday and Sunday. #}
      </p>


      <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

      <style>
        .scrolling-wrapper {
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;
        }
        .scrolling-wrapper {
          height: 80px;
          margin-bottom: 20px;
          width: 100%;
          -webkit-overflow-scrolling: touch;
        }
        .scrolling-wrapper::-webkit-scrollbar {
          display: none;
        }
        canvas {
          display: inline-block;
        }
      </style>

      {% set testResultsWeekly = testResults.weekly.campusTesting  %}

      {% set unixEpoch = testResultsWeekly[0].dateDataFromWeekStart.unixEpoch %}
      {% set maxResulted = 0 %}

      {% set testsResultedTotalJSON = '[' %}
      {% set testsPositiveTotalJSON = '[' %}
      {% set testsPercentPositiveTotalJSON = '[' %}

      {% for testResult in testResultsWeekly %}

        {% set date = testResult.dateDataFromWeekStart.timestamp %}

        {% if testResult.testsResultedTotal %}
          {% set testsResultedTotal = testResult.testsResultedTotal|replace({',':''}) %}
          {% if testsResultedTotal > maxResulted %}
            {% set maxResulted = testsResultedTotal %}
          {% endif %}
        {% else %}
          {% set testsResultedTotal = 0 %}
        {% endif %}
        {% if testResult.testsPositiveTotal %}
          {% set testsPositiveTotal = testResult.testsPositiveTotal|replace({',':''}) %}
        {% else %}
          {% set testsPositiveTotal = 0 %}
        {% endif %}
        {% if testResult.testsPercentPositiveTotal %}
          {% set testsPercentPositiveTotal = testResult.testsPercentPositiveTotal|replace({'%':''}) %}
        {% else %}
          {% set testsPercentPositiveTotal = 0 %}
        {% endif %}

        {% set testsResultedTotalJSON = testsResultedTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsResultedTotal ~ ' }'  %}
        {% set testsPositiveTotalJSON = testsPositiveTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsPositiveTotal ~ ' }'  %}
        {% set testsPercentPositiveTotalJSON = testsPercentPositiveTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsPercentPositiveTotal ~ ' }'  %}

        {% if loop.last == false  %}
          {% set testsResultedTotalJSON = testsResultedTotalJSON ~ ', ' %}
          {% set testsPositiveTotalJSON = testsPositiveTotalJSON ~ ', ' %}
          {% set testsPercentPositiveTotalJSON = testsPercentPositiveTotalJSON ~ ', ' %}
        {% endif %}

      {% endfor %}

      {% set testsResultedTotalJSON = testsResultedTotalJSON ~ ']' %}
      {% set testsPositiveTotalJSON = testsPositiveTotalJSON ~ ']' %}
      {% set testsPercentPositiveTotalJSON = testsPercentPositiveTotalJSON ~ ']' %}

      <div class="table-responsive" style="margin-top: 4rem">
        <div class="chart-container" style="position: relative;  width:1200px;">
          <canvas id="mixedChart" width="800" height="200"></canvas>
        </div>
      </div>

      <script>

        var config = {
          "type": 'bar',
          "data": {
            "datasets": [
              {
                "id": "testsResultedTotal",
                "label": "Total Resulted",
                "data": {{ testsResultedTotalJSON|raw }},
                "backgroundColor": "#708573",
                "xbackgroundColor": "#A2AAAD",
                "stepSize": 500,
                "precision": 0,
                "order": 2,
              },
              {
                "id": "testsPositiveTotal",
                "label": "Total Positive",
                "data": {{ testsPositiveTotalJSON|raw }},
                "backgroundColor": "#CD4C08",
                "xbackgroundColor": "#333F48",
                "precision": 0,
                "stepSize": 500,
                "order": 3
              },
              {
                "id": "testsPercentPositiveTotal",
                "label": "Total Percent Positive",
                "yAxisID": 'percent-positive',
                "data": {{ testsPercentPositiveTotalJSON|raw }},
                "backgroundColor": "#002855",
                "borderColor": "#002855",
                "borderWidth": 1,
                "lineTension": 0.2,
                "type": 'line',
                "fill": "none",
                "order": 1,
                "tooltips": {
                  "callbacks": {
                    "label": function(tooltipItem, data) {
                      console.log(data.datasets[tooltipItem.datasetIndex].label);
                      console.log(tooltipItem['value']);
                      return tooltipItem['value']+'32%';
                    }
                  }
                },
                "precision": 2,
                "max": 100,
                "stepSize": 20,
                "callback": function(value) {
                  return value + "%"
                }
              }
            ]
          },
          options: {
            responsive: true,
            title: {
              display: false
            },
            legend: {
              position: 'bottom'
            },
            tooltips: {
              mode: 'index',
              position: 'nearest',
              callbacks: {
                label: function (t, d) {
                  if (t.datasetIndex === 2) {
                    return t['value']+'% Positive';
                  } else if (t.datasetIndex === 1) {
                    if (t['value'] === '1') {
                      return t['value']+' Positive Result';
                    } else {
                      return t['value']+' Positive Results';
                    }
                  } else if (t.datasetIndex === 0) {
                    return t['value']+' Results';
                  }
                }
              }
            },
            scales: {
              xAxes: [{
                distribution: 'series',
                offset: true,
                type: "time",
                gridLines: {
                  display: false
                },
                time: {
                  unit: 'day',
                  round: 'day',
                  parser: 'YYYY-MM-DD',
                  displayFormats: {
                    day: 'MMM D'
                  },
                  tooltipFormat: 'll'
                },
                xticks: {
                  min: {{ unixEpoch }}-(86400000*28),
                  max: {{ unixEpoch }}
                },
                scaleLabel: {
                  display:     true,
                  labelString: 'Date'
                }
              }],
              yAxes: [{
                id: 'Total Tests Resulted',
                type: 'linear',
                position: 'left',
                ticks: {
                  beginAtZero: true
                },
                scaleLabel: {
                  display:     true,
                  labelString: 'Totals'
                }
              }, {
                id: 'percent-positive',
                type: 'linear',
                position: 'right',
                gridLines: {
                  display: false
                },
                ticks: {
                  max: 1,
                  min: 0
                },
                ticks: {
                  beginAtZero: true,
                  callback: function(value) {
                    return value + "%"
                  }
                },
                scaleLabel: {
                  display:     true,
                  labelString: 'Percent Positive'
                }
              }]
            }
          }
        };
        ctx = document.getElementById('mixedChart');
        newChart = new Chart(ctx, config);
      </script>

      <div id="weekly-campus-testing" class="table-responsive" style="margin-top: 2rem;">
        <table class="table table--case-count border-bottom border-right">
          <caption style="text-align: left; margin-top: 1rem;">
            {{ relatedDivisionalCampus.campusNameShort }} Campus Testing Results by Week
            <span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien risus, suscipit eget dui non, lacinia finibus ex. Nam placerat, diam sed mollis laoreet, nisi nunc accumsan magna, mollis rutrum nulla odio quis ligula.</span>
          </caption>
          <tr>
            <td class="border-top-none"></td>
            <th colspan="3" scope="colgroup" class="border-left background-yellow">Students</th>
            <th colspan="3" scope="colgroup" class="border-left background-yellow">Faculty/Staff</th>
            <th colspan="3" scope="colgroup" class="border-left background-yellow">Total</th>
          </tr>
          <tr>

            <th scope="col" class="border-left background-blue-grey">Date</th>

            <th scope="col" class="border-left background-blue-grey">Resulted</th>
            <th scope="col" class=" background-blue-grey">Positives</th>
            <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

            <th scope="col" class="border-left background-blue-grey">Resulted</th>
            <th scope="col" class=" background-blue-grey">Positives</th>
            <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

            <th scope="col" class="border-left background-blue-grey">Resulted</th>
            <th scope="col" class=" background-blue-grey">Positives</th>
            <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          </tr>

          {% set hasWeeklySnapshotNote = false %}
          {% for testResult in testResults.weekly.campusTesting %}
            <tr class="border-left">

              {% if testResult.noteWeeklySnapshot %}
                {% set hasWeeklySnapshotNote = true %}
              {% endif %}

              <th scope="row"><time datetime="{{ testResult.dateDataFromWeekStart.timestamp }}">{% if testResult.noteWeeklySnapshot %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-ws" aria-describedby="notes-weekly-snapshot-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-ws-ref">{% endif %}{{ testResult.dateDataFromWeekStart.month.textShort }}. {{ testResult.dateDataFromWeekStart.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

              {% if testResult.testsResultedStudents is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedStudents }}</td>{% endif %}
              {% if testResult.testsPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveStudents }}</td>{% endif %}
              {% if testResult.testsPercentPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveStudents }}</td>{% endif %}

              {% if testResult.testsResultedFacultyStaff is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedFacultyStaff }}</td>{% endif %}
              {% if testResult.testsPositiveFacultyStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveFacultyStaff }}</td>{% endif %}
              {% if testResult.testsPercentPositiveFacultyStaff is not defined %}<td>-</td aria-label="No data available">{% else %}<td>{{ testResult.testsPercentPositiveFacultyStaff }}</td>{% endif %}

              {% if testResult.testsResultedTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedTotal }}</td>{% endif %}
              {% if testResult.testsPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveTotal }}</td>{% endif %}
              {% if testResult.testsPercentPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveTotal }}</td>{% endif %}

            </tr>
          {% endfor %}

        </table>
      </div>

      {% if hasWeeklySnapshotNote %}
        <h2 id="notes-weekly-snapshot-label" class="u-wvu-visually-hidden">Weekly Campus Testing Notes</h2>
        <ol id="notes-weekly-snapshot" class="notes">
          {% for testResult in testResults.weekly.campusTesting %}
            {% if testResult.noteWeeklySnapshot %}
              <li id="note-{{ testResult.dateDataFrom.timestamp }}-ws" class="notes-ref-dg" style="margin: 0"> {{ testResult.noteWeeklySnapshot|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-ws-ref" aria-label="Back to content">↩</a></li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endif %}

      <div id="weekly-quarantine" class="table-responsive" style="margin-top: 2rem">
        <table class="table table--case-count border-bottom border-right">
          <caption style="text-align: left; margin-top: 1rem;">
            {{ relatedDivisionalCampus.campusNameShort }} Campus Quarantine Results
            <span><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sapien risus, suscipit eget dui non, lacinia finibus ex. Nam placerat, diam sed mollis laoreet, nisi nunc accumsan magna, mollis rutrum nulla odio quis ligula.</span>
          </caption>
          <tr>
            <th class="border-left background-yellow">Date</th>
            <th class="border-left background-yellow">Residence Halls</th>
            <th class="border-left background-yellow">University Apartments</th>
            <th class="border-left background-yellow">Off-Campus</th>
            <th class="border-left background-yellow">Went Home</th>
            <th class="border-left background-yellow">Greek Housing</th>
            <th class="border-left background-yellow">Total</th>
          </tr>

          {% set hasQuarantineNote = false %}
          {% for testResult in testResults.snapshots.quarantine %}
            <tr class="border-left">

              {% if testResult.noteQuarantine %}
                {% set hasQuarantineNote = true %}
              {% endif %}

              <th scope="row">
                {% if testResult.noteQuarantine %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-q" aria-describedby="notes-quarantine-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-q-ref">{% endif %}
                {% if loop.first %}
                  Current
                {% else %}
                  <time datetime="{{ testResult.dateDataFromWeekStart.timestamp }}">{{ testResult.dateDataFromWeekStart.month.textShort }}. {{ testResult.dateDataFromWeekStart.day.numberShort }}</time>
                {% endif %}
                {% if testResult.noteCampusTesting %}</a>{% endif %}
              </th>

              {% if testResult.quarantineResidenceHalls is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineResidenceHalls }}</td>{% endif %}
              {% if testResult.quarantineUniversityApartments is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineUniversityApartments }}</td>{% endif %}
              {% if testResult.quarantineOffCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineOffCampus }}</td>{% endif %}
              {% if testResult.quarantineWentHome is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineWentHome }}</td>{% endif %}
              {% if testResult.quarantineGreekLife is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineGreekLife }}</td>{% endif %}
              {% if testResult.quarantineTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineTotal }}</td>{% endif %}

            </tr>
          {% endfor %}

        </table>
      </div>

      {% if hasQuarantineNote %}
        <h2 id="notes-quarantine-label" class="u-wvu-visually-hidden">Quarantine Notes</h2>
        <ol id="notes-quarantine" class="notes">
          {% for testResult in testResults.snapshots.quarantine %}
            {% if testResult.noteQuarantine %}
              <li id="note-{{ testResult.dateDataFrom.timestamp }}-q" class="notes-ref-dg" style="margin: 0"> {{ testResult.noteQuarantine|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-q-ref" aria-label="Back to content">↩</a></li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endif %}

      <div id="weekly-isolation" class="table-responsive" style="margin-top: 2rem">
        <table class="table table--case-count border-bottom border-right">
          <caption style="text-align: left; margin-top: 1rem;">
            {{ relatedDivisionalCampus.campusNameShort }} Campus Isolation Results
            <span>
              <br>Isolation numbers
              <strong><time datetime="{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.year.numberLong }}-{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.month.numberLong }}-{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.day.numberLong }}">{{ testResults.snapshots.isolation[0].dateDataFromWeekStart.month.textLong }} {{ testResults.snapshots.isolation[0].dateDataFromWeekStart.day.numberShort }}, {{ testResults.snapshots.isolation[0].dateDataFromWeekStart.year.numberLong }}</time></strong>

            </span>
          </caption>
          <tr>
            <th class="border-left background-yellow">Date</th>
            <th class="border-left background-yellow">Arnold Apartments</th>
            <th class="border-left background-yellow"><abbr title="Percent">%</abbr> Filled</th>
            <th class="border-left background-yellow">In Transition</th>
            <th class="border-left background-yellow">University Apartments</th>
            <th class="border-left background-yellow">Off-Campus</th>
            <th class="border-left background-yellow">Went Home</th>
            <th class="border-left background-yellow">Greek Housing</th>
            <th class="border-left background-yellow">Total</th>
          </tr>

          {% set hasIsolationNote = false %}
          {% for testResult in testResults.snapshots.isolation %}
            <tr class="border-left">

              {% if testResult.noteIsolation %}
                {% set hasIsolationNote = true %}
              {% endif %}

              <th scope="row">
                {% if testResult.noteIsolation %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-iso" aria-describedby="notes-isolation-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-iso-ref">{% endif %}
                {% if loop.first %}
                  Current
                {% else %}
                  <time datetime="{{ testResult.dateDataFromWeekStart.timestamp }}">{{ testResult.dateDataFromWeekStart.month.textShort }}. {{ testResult.dateDataFromWeekStart.day.numberShort }}</time>
                {% endif %}
                {% if testResult.noteCampusTesting %}</a>{% endif %}
              </th>

              {% if testResult.isolationArnoldApartments is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationArnoldApartments }}</td>{% endif %}
              <td class="border-left">{{ testResult.isolationArnoldApartmentsPercentFilled }}</td>
              {% if testResult.isolationResidenceHalls is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationResidenceHalls }}</td>{% endif %}
              {% if testResult.isolationUniversityApartments is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationUniversityApartments }}</td>{% endif %}
              {% if testResult.isolationOffCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationOffCampus }}</td>{% endif %}
              {% if testResult.isolationWentHome is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationWentHome }}</td>{% endif %}
              {% if testResult.isolationGreekLife is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationGreekLife }}</td>{% endif %}
              {% if testResult.isolationTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationTotal }}</td>{% endif %}

            </tr>
          {% endfor %}

        </table>
      </div>

      {% if hasIsolationNote %}
        <h2 id="notes-isolation-label" class="u-wvu-visually-hidden">Isolation Notes</h2>
        <ol id="notes-isolation" class="notes">
          {% for testResult in testResults.snapshots.isolation %}
            {% if testResult.noteIsolation %}
              <li id="note-{{ testResult.dateDataFromWeekStart.timestamp }}-iso" class="notes-ref" style="margin: 0"> {{ testResult.noteIsolation|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-iso-ref" aria-label="Back to content">↩</a></li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endif %}

    </div>

  </div>
{% endif %}
