<div class="wvu-neutral--dark-gray background">

  <div class="wvu-container" style="padding-top: 2rem; padding-bottom: 4rem;">

    <h2 class="wvu-shout" style="font-size: 4rem; color: #9BD3DD">Daily Results</h2>

    <p>
      The daily results were last updated on <strong>May 6, 2022</strong>. {# Tables are updated Monday-Friday by 2 p.m. #} {# //  with the previous day's results. Monday's update includes Friday, Saturday and Sunday. #}
    </p>

    <style>
      .color-white { color: #fff; }
      .background-blue { background-color: #002855; }
      .background-yellow { background-color: #EAAA00; }
      .background-grey { background-color: #A2AAAD; }
      .background-blue-grey { background-color: #bec9cd; }
      .background-white { background-color: #fff; }
      .background-none { background-color: transparent; }
      .table td.border-top-none { border-top: none; }
      .table.table--case-count tr:nth-child(1) { background-color: transparent; }
      caption span { display: block; font-size: 1rem; font-weight: normal; margin-top: -15px; }
    </style>

    <div id="daily-campus-testing" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Testing Results by Day
          <span>
              <br>The campus testing results presented here were from community testing and reflect those results identified as students, faculty or staff related to WVU Beckley. This dashboard should not be used to monitor individual test results. Students, faculty and staff should follow their testing provider's guidance to access their individual test results.
              <!--<br><br><strong>Important:</strong> This table is updated Monday-Friday by 2 p.m. with the previous day's results. Monday's update includes Friday, Saturday and Sunday.-->
              <!--{% if 'Hide Weekly Results' not in currentBlock.extraOptions %}<br><br>View <a href='/return-to-campus/daily-test-results/beckley/all#daily-campus-testing'>all campus testing results</a>.{% endif %}-->
          </span>
        </caption>
          <tr>
            <td class="border-top-none background-none"></td>
            <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Students</th>
            <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Faculty/Staff</th>
            <th colspan="3" scope="colgroup" class="border-left background-yellow">Tests Performed: Total</th>
          </tr>
          <tr>

            <th scope="col" class="border-left background-blue-grey">Date</th>

            <th scope="col" class="border-left background-blue-grey">Resulted</th>
            <th scope="col" class=" background-blue-grey">Positives</th>
            <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

            <th scope="col" class="border-left background-blue-grey">Resulted</th>
            <th scope="col" class=" background-blue-grey">Positives</th>
            <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

            <th scope="col" class="border-left background-blue-grey">Resulted</th>
            <th scope="col" class=" background-blue-grey">Positives</th>
            <th scope="col" class=" background-blue-grey"><abbr title="Percent">%</abbr> Positive</th>

          </tr>

          {% set hasCampusTestingNote = false %}
          {% for testResult in testResults.daily.campusTesting %}

            {% set showTestingData = false %}
            {% if testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
              {% set showTestingData = true %}
            {% endif %}

            {% if showTestingData %}
              <tr class="border-left">

                {% if testResult.noteCampusTesting %}
                  {% set hasCampusTestingNote = true %}
                {% endif %}

                <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteCampusTesting %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-ct" aria-describedby="notes-campus-testing-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-ct-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

                {% if testResult.testsResultedStudents is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedStudents|number_format }}</td>{% endif %}
                {% if testResult.testsPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveStudents|number_format }}</td>{% endif %}
                {% if testResult.testsPercentPositiveStudents is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveStudents }}</td>{% endif %}

                {% if testResult.testsResultedFacultyStaff is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedFacultyStaff|number_format }}</td>{% endif %}
                {% if testResult.testsPositiveFacultyStaff is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveFacultyStaff|number_format }}</td>{% endif %}
                {% if testResult.testsPercentPositiveFacultyStaff is not defined %}<td>-</td aria-label="No data available">{% else %}<td>{{ testResult.testsPercentPositiveFacultyStaff }}</td>{% endif %}

                {% if testResult.testsResultedTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.testsResultedTotal|number_format }}</td>{% endif %}
                {% if testResult.testsPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPositiveTotal|number_format }}</td>{% endif %}
                {% if testResult.testsPercentPositiveTotal is not defined %}<td aria-label="No data available">-</td>{% else %}<td>{{ testResult.testsPercentPositiveTotal }}</td>{% endif %}

              </tr>
            {% endif %}

          {% endfor %}

      </table>
    </div>

    {% if hasCampusTestingNote %}
      <h2 id="notes-campus-testing-label" class="u-wvu-visually-hidden">Campus Testing Notes</h2>
      <ol id="notes-campus-testing" class="notes target">
        {% for testResult in testResults.daily.campusTesting %}
          {% if testResult.noteCampusTesting %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-ct" class="notes-ref-dg" style="margin: 0">{{ testResult.noteCampusTesting|raw }}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-ct-ref" aria-label="Back to content ↩">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    <div id="daily-quarantine" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Quarantine Cases by Day
          <span>
            <span>
              <br>Persons were likely in quarantine because they’ve been considered a close contact of someone who tested positive for COVID-19.
              <br><br><strong>Important:</strong> Quarantine data was unavailable due to changes in the University’s contact tracing protocols. In most instances, the primary responsibility for contact tracing was transferred to the individual who has a positive test result, and they were asked to notify close contacts of possible exposure.
            </span>
            <!--{% if 'Hide Weekly Results' not in currentBlock.extraOptions %}<br><br>View <a href="/return-to-campus/daily-test-results/beckley/all#daily-quarantine">all quarantine numbers</a>.{% endif %}-->
          </span>
        </caption>

        {#
        <tr>
          <th class="border-left background-yellow">Date</th>
          <th class="border-left background-yellow">On-Campus</th>
          <th class="border-left background-yellow">Off-Campus</th>
          <th class="border-left background-yellow">Went Home</th>
          <th class="border-left background-yellow">Total</th>
        </tr>

        {% set quarantineDataExists = true %}
        {% set hasQuarantineNote = false %}
        {% for testResult in testResults.daily.quarantine %}

          {% set showTestingData = false %}
          {% if testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
            {% set showTestingData = true %}
          {% endif %}

          {% if showTestingData %}

            <tr class="border-left">

              {% if testResult.dateDataFrom.timestamp == '2020-08-06' %}
                {% set quarantineDataExists = false %}
              {% endif %}

              {% if testResult.noteQuarantine %}
                {% set hasQuarantineNote = true %}
              {% endif %}

              {% if quarantineDataExists %}
                <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteQuarantine %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-q" aria-describedby="notes-quarantine-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-q-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

                {% if testResult.quarantineOnCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineOnCampus }}</td>{% endif %}
                {% if testResult.quarantineOffCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineOffCampus }}</td>{% endif %}
                {% if testResult.quarantineWentHome is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineWentHome }}</td>{% endif %}
                {% if testResult.quarantineTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.quarantineTotal|number_format }}</td>{% endif %}

              {% endif %}
            </tr>

          {% endif %}
        {% endfor %}
        #}

      </table>
    </div>

    {% if hasQuarantineNote %}
      <h2 id="notes-quarantine-label" class="u-wvu-visually-hidden">Quarantine Notes</h2>
      <ol id="notes-quarantine" class="notes">
        {% for testResult in testResults.daily.quarantine %}
          {% if testResult.noteQuarantine %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-q" class="notes-ref-dg" style="margin: 0"> {{ testResult.noteQuarantine|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-q-ref" aria-label="Back to content ↩">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

    <div id="daily-isolation" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem; color: #fff;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Isolation Cases by Day
          <span>
            <br>Isolation means avoiding contact with others for at least 5 days after a person's testing date, as directed by the local health department. Persons who were isolating should not have been on campus for class or work at any point during their isolation period and must have remained in isolation until medically cleared. Persons were likely in isolation due to a positive COVID-19 test result.
            <br><br>Students that were pending received a positive test via a rapid test. These students are awaiting a confirmatory PCR test. Students that were pending are treated as positives and were in isolation.
            <!--{% if 'Hide Weekly Results' not in currentBlock.extraOptions %}<br><br>View <a href="/return-to-campus/daily-test-results/beckley/all#daily-isolation">all isolation numbers</a>.{% endif %}-->
          </span>
        </caption>

        <tr>
          <th class="border-left background-yellow">Date</th>
          <th class="border-left background-yellow">On-Campus</th>
          <th class="border-left background-yellow">Off-Campus</th>
          <th class="border-left background-yellow">Went Home</th>
          <th class="border-left background-yellow">Pending</th>
          <th class="border-left background-yellow">Total</th>
        </tr>

        {% set isolationDataExists = true %}
        {% set hasIsolationNote = false %}
        {% for testResult in testResults.daily.isolation %}

          {% set showTestingData = false %}
          {% if testResult.dateDataFrom.unix >= currentBlock.reportStartDate.unix and currentBlock.reportEndDate.unix >= testResult.dateDataFrom.unix %}
            {% set showTestingData = true %}
          {% endif %}

          {% if showTestingData %}
            <tr class="border-left">

              {% if testResult.dateDataFrom.timestamp == '2020-08-06' %}
                {% set isolationDataExists = false %}
              {% endif %}

              {% if testResult.noteIsolation %}
                {% set hasIsolationNote = true %}
              {% endif %}

              {% if isolationDataExists %}
                <th scope="row"><time datetime="{{ testResult.dateDataFrom.timestamp }}">{% if testResult.noteIsolation %}<a href="#note-{{ testResult.dateDataFrom.timestamp }}-iso" aria-describedby="notes-isolation-label" class="notes-label target" id="note-{{ testResult.dateDataFrom.timestamp }}-iso-ref">{% endif %}{{ testResult.dateDataFrom.month.textShort }}. {{ testResult.dateDataFrom.day.numberShort }}{% if testResult.noteCampusTesting %}</a>{% endif %}</time></th>

                {% if testResult.isolationOnCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationOnCampus }}</td>{% endif %}
                {% if testResult.isolationOffCampus is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationOffCampus }}</td>{% endif %}
                {% if testResult.isolationWentHome is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationWentHome }}</td>{% endif %}
                {% if testResult.isolationUndetermined is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationUndetermined }}</td>{% endif %}
                {% if testResult.isolationTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.isolationTotal }}</td>{% endif %}

              {% endif %}

            </tr>
          {% endif %}
        {% endfor %}

      </table>
    </div>

    {% if hasIsolationNote %}
      <h2 id="notes-isolation-label" class="u-wvu-visually-hidden">Isolation Notes</h2>
      <ol id="notes-isolation" class="notes">
        {% for testResult in testResults.daily.isolation %}
          {% if testResult.noteIsolation %}
            <li id="note-{{ testResult.dateDataFrom.timestamp }}-iso" class="notes-ref" style="margin: 0"> {{ testResult.noteIsolation|raw }} <a href="#note-{{ testResult.dateDataFrom.timestamp }}-iso-ref" aria-label="Back to content ↩">↩</a></li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endif %}

  </div>
</div>
