<div id='hero-banner' data-banner-video
  data-banner-mp4='https://static.wvu.edu/streaming/2021-oct-fall-at-wvu/2021-oct-fall-at-wvu-orig-23fps-5MBs.mp4'
  data-poster='https://images.ctfassets.net/udw4veezvy46/2POEsPcsevuivTvpKobzbX/a52552af1daa018df551290eafaad5b8/welcome-home-oct-2021.jpg?w=1600'>

  <div id='hero-banner-copy' class='hero-banner-heading px-lg-5'>
    <div id='animation' class='show-animation'>
      <h1 class='wvu-shadow iowan-old-style-black-italic'>Welcome home.</h1>
      <p class='wvu-shadow wvu-lede pb-3'>Find your purpose in Almost Heaven.</p>
      <a href='https://admissions.wvu.edu/how-to-apply' class='button button--white'>Apply to WVU</a>  <a href='https://www.wvu.edu/academics' class='button button--white'>Programs and Majors</a> <a href='https://www.wvu.edu/admissions/experience-wvu' class='button button--white'>Visit WVU</a>
    </div>
  </div>

</div>

<style>

  .iowan-old-style-black-italic {
    font-family: 'IowanOldStyleW01-BlackI',Iowan,Georgia,'Times New Roman',Times,serif !important;
    font-style: normal !important;
    font-weight: normal !important;
  }

  .wvu-lede {
    margin: auto;
  }

  .wvu-shadow {
    text-shadow: 1px 1px 10px black;
  }

  // Video Hero Banner (VHB)
  // Developer: Michael Spellacy (Spell), https://michaelspellacy.com
  @keyframes heroBannerFade {
    0% {
        opacity:0
    }

    100% {
        opacity:1
    }
  }

  #hero-banner {
    animation: heroBannerFade 300ms 600ms ease-in-out forwards;
    background-color: black;
    x-margin: -1em -1em 0;
    opacity: 97%;
    overflow: hidden;
    padding-bottom: 55%;
    position:relative
  }

  @media (min-width: 778px) {
    #hero-banner {
      padding-bottom: 20%;
      padding-top: 25%;
    }
  }

  @media (max-width: 60em) {
    #hero-banner .hero-banner-heading h1 {
      font-size: 2.25em;
      margin-top: -2em;
    }
    #hero-banner .hero-banner-heading p {
      font-size: 1.125em;
    }

    #hero-banner-video, #hero-banner-image {
      object-fit: fill;
    }

    #hero-banner .hero-banner-heading {
      top: 55% !important;
    }
  }

  @media (max-width: 1440px){
    #hero-banner #hero-banner-button {
      bottom: 31px;
      height: 33px;
      background-color: black;
      left: 11.5px;
      opacity: .85;
      width: 33px;
    }
  }

  @media (max-width: 30em){
    #hero-banner {
      padding-bottom: 33%;
      padding-top: 30%;
    }
  }

  @media (max-width: 30em){
    #hero-banner .hero-banner-heading h1 {
      margin-top: -0.8em;
    }
  }

 .hide-animation {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.33s, opacity 0.33s
}

.show-animation {
     visibility: visible;
      opacity: 1;
      transition-duration: 0.75s;
}

  #hero-banner .hero-banner-heading {
      color: white;
      font-weight: normal;
      line-height: 1.2;
      margin: 0;
      position: absolute;
      text-align: center;
      top: 48%;
      transform: translateY(-50%);
      width: 100%;
      z-index:2
  }

  #hero-banner .hero-banner-heading strong {
      display:block
  }

  .hero-banner-heading h1 {
     font-size: 4.5em;
     color: white;
     margin-bottom: .125em;
   }

  .hero-banner-heading p {
     font-size: 2.4em;
  }

  div#hero-banner:after {
      background: linear-gradient(0deg, black 1%, transparent 45%);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
  }

  #hero-banner.hero-banner-active #hero-banner-image {
      display:none
  }

  #hero-banner-video, #hero-banner-image {
      left: 0;
      object-fit: cover;
      opacity: 0.8;
      position: absolute;
      top: 0;
      transition: all 150ms ease-in-out;
      width:100%;
      height: 100%;
  }

  .paused #hero-banner-video, .paused #hero-banner-image {
      opacity:0.6;
  }

  #hero-banner-button {
      background-color: transparent;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAABQAQMAAACDEa/aAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABFJREFUKM9j+P//xygexQOFAVmQ2dAaCQcwAAAAAElFTkSuQmCC');
      background-position: 51% 50%;
      background-repeat: no-repeat;
      background-size: 35%;
      border-radius: 30px;
      border: 1px white solid;
      bottom: 34px;
      height: 45px;
      margin: auto;
      left: 25px;
      opacity: 0.5;
      position: absolute;
      transition: all 150ms;
      width: 45px;
      visibility: visible;
      z-index:4
  }

  #hero-banner:hover #hero-banner-button, #hero-banner-button:focus {
      opacity:1
  }

  button#hero-banner-button:hover {
      border: 5px solid white;
      transition: 125ms ease-in-out;
  }

  .paused #hero-banner-button {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABgAQMAAACJwtYYAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAAMdJREFUOMtF06FxxEAMhWGVkBJcimDK2hJUwpUSuPBKMFhgmNEYnG/2VpkYvF/oI/8IPfsy3QETTrhcrIAHTDibWA4DHjDhbGI5DDhgwtnEchhwwDecTSyDAQd8w9nE2uATDvi6SVd0RVd0RVd0pU58wgEvuJpYG/yBO3xBWDsM6OLkRfJ4hyEuF6eJCQ8Y4nLxY2LCDkNcLn5MTNhhu0llVDcTdtjE5eJl4i/s8CFqUP+VeMIOHyIzpLI6YYebuCS74Am/IdUfqsf2gxHDS4AAAAAASUVORK5CYII=');
      background-position: 57% 50%;
  }
</style>



<script>

  // Based on Video Hero Banner (VHB) by Michael Spellacy (Spell), https://michaelspellacy.com
  var heroBanner = document.getElementById('hero-banner');
  var heroBannerCopy = document.getElementById('hero-banner-copy');
  var heroBannerVideo = heroBanner.getAttribute('data-banner-video');

  // Check if banner exists.
  if (heroBannerVideo !== null) {

    // Set 'active' hook to main element
    heroBanner.classList.add('hero-banner-active');

    // Variables
    var heroBannerPoster = heroBanner.getAttribute('data-poster');
    var heroBannerPlay = 'Play Background Animation';
    var heroBannerPause = 'Pause Background Animation';
    var heroBannerState = 'paused';

    // Create: Video
    var heroBannerVideo = document.createElement('video');
    heroBannerVideo.id = 'hero-banner-video';
    heroBannerVideo.setAttribute('aria-label', 'Background Animation');
    heroBannerVideo.setAttribute('playsinline', '');
    heroBannerVideo.setAttribute('disableRemotePlayback', '');
    heroBannerVideo.setAttribute('crossorigin', 'anonymous');
    heroBannerVideo.setAttribute('preload', 'none');
    //heroBannerVideo.setAttribute('controls', 'native');
    //heroBannerVideo.setAttribute('muted', 'true');
    heroBannerVideo.setAttribute('poster', heroBannerPoster);

    // Add: Video
    heroBanner.appendChild(heroBannerVideo);

    // Add: Video Sources
    var heroBannerVideoSource;
    var formats = ['x-mpegURL', 'mp4'];
    for (var i = 0; i < formats.length; i++) {
      var format = formats[i];
      if (heroBanner.hasAttribute('data-format-'+format) !== -1) {
        heroBannerVideoSource = document.createElement('source');
        heroBannerVideoSource.setAttribute('src', heroBanner.getAttribute('data-banner-'+format));
        heroBannerVideoSource.setAttribute('type', 'video/'+format);
        heroBannerVideo.appendChild(heroBannerVideoSource);
      }
    }

    // Create: Play/Pause Button
    var heroBannerButton = document.createElement('button');
    heroBannerButton.id = 'hero-banner-button';

    // Add: Play/Pause Button
    heroBanner.appendChild(heroBannerButton);

    // set-up on paused
    heroBanner.classList.add(heroBannerState);
    heroBannerButton.setAttribute('aria-label', heroBannerPlay);

    // Event: Play/Pause Button
    heroBannerButton.onclick = function(){

      if (heroBanner.classList.contains(heroBannerState)) {
        playVideoByButton();
      } else {
        pauseVideoByButton();
      }

    };

    // Create/Add: Close Caption Track
    document.getElementById('hero-banner-video').addEventListener('loadedmetadata', function() {
      console.log('adding track');
      track = document.createElement('track');
      track.kind = 'captions';
      track.label = 'English';
      track.srclang = 'en';
      track.src = 'https://static.wvu.edu/homepage-videos/oct-21-fall-video.vtt';
      document.getElementById('hero-banner-video').appendChild(track);
    });

  }

  // Pause Video
  function pauseVideoByButton() {
    heroBannerVideo.pause();
    pauseVideoActions();
  }

  function pauseVideoActions() {
    heroBanner.classList.add(heroBannerState);
    heroBannerButton.setAttribute('aria-label', heroBannerPlay);
    showText();
    clearTimeout(timeoutID);
    if (window.dataLayer !== undefined) {
      window.dataLayer.push({ 'event': 'videoBackgroundEvent', 'VBEaction': 'pause', 'VBElabel': 'Oct. 2021 - Fall Video' });
    }
  }

  heroBannerVideo.onpause = function(event) {
    pauseVideoActions();
  };

  function showText() {
    document.getElementById('animation').classList.replace('hide-animation','show-animation');
  }

  // Play Video
  function playVideoByButton() {
    heroBannerVideo.play();
    heroBannerVideo.setAttribute('controls', 'native');
    playVideoActions();
  }

  function playVideoActions() {
    heroBanner.classList.remove(heroBannerState);
    heroBannerButton.setAttribute('aria-label', heroBannerPause);
    document.getElementById('animation').classList.replace('show-animation','hide-animation');
    if (window.dataLayer !== undefined) {
      window.dataLayer.push({ 'event': 'videoBackgroundEvent', 'VBEaction': 'play', 'VBElabel': 'Oct. 2021 - Fall Video' });
    }
  }

  var timeoutID;
  heroBannerVideo.onplay = function(event) {
    var timeoutTime = 61.75 - this.currentTime;
    timeoutID = setTimeout(showText, timeoutTime*1000);
    playVideoActions();
  };

</script>
