
<style>
  .hella-drop-shadow {
    text-shadow: 0px 0px 8px #4a4646;
  }
  .text-yellow {
    color: #ffd400 !important;
  }
  .text-larger {
    font-size: 3.5em;
  }
</style>

<!-- Tour Guides Start -->

<!-- baily name -->
<div class="container pt-5">
  <div class="pr-3 pb-3  pr-lg-5 pb-lg-0 pl-2 pr-xl-0 pb-xl-0 pl-xl-0">
    <div class="row">
      <div class="col-md-8">
        <h2 class="iowan-old-style-black-italic text-wvu-blue" style="font-size: 3rem" id="profiles-label">Meet Our Tour Guides</h2>
      </div>
    </div>
  </div>
</div>

<!-- dog photos -->
<div class="container-fluid">
  <div class="row mx-0 pb-5">

    <!-- Amelia -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class="pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--30 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/2XObu1IU2nwskEdduHPidt/4a27e5ce0d75fb6cd63fdff3149bf92e/amelia-cac.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width:100%">
              <h2 class="h1 text-yellow text-larger wvu-shout hella-drop-shadow" data-aos="slide-right">Amelia</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">3-year-old Boston Terrier.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Auggie-->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class="pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/3WsMIWdDCsoeV8266K2DxK/48355e65b9f073dbe562bc108ffb462e/auggie-boreman.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Auggie</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">5-month-old Australian Shepherd.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bailey -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/7cPDUjG74Q2JqBMUDDiwgj/b2113bba2fe7ae038da2e5ecf02c5694/bailey-woodburn.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Bailey</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">17-year-old Bichon Frise.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Blue -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/1dj6eC1vfkOnuk0NS1bqfq/dd77517f7dd1b708f117b958ebb1952c/blue-prt-station.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Blue</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">1-year-old Border Collie mix.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cooper -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/35T5v2qVYK5BmzKJplVLRm/85e9fe61129a9fe6ed2f670372a7db17/cooper-white-hall.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Cooper</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">6-year-old English Bulldog.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Daisy -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/2sQ75PL0rimkpzFkwfbbW6/39f5aa8161190a06b173eaad7893c006/daisy-artmuseum.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Daisy</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">6-month-old Labrador and Border Collie mix.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Django -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/2o6DMWjWrXixnRMKe8CTme/6fa9ee3f5f18e74ae5721c53628c4df0/django-football.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Django</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">10-month-old Husky and Malamute mix.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Easton and Aspen -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/5gjQqYUiLDO24Dl3Q7YB0f/fb4ca1e137b26dc794873289cdb73e45/easton-aspen-ballpark.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Easton and Aspen</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">6-year-old Golden Retrievers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Freddie -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/2NXnbWAwPuelkqUg1slnco/6f1420ab101c85f773dd02348bf5c7a6/freddie-vandalia.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Freddie</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">2-year-old Cavalier King Charles Spaniel.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Geo -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-right--40 wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/6oqemKEztltmrKWPcYg2VI/c36fb5dc86b2a6b1428931bb77f68838/geo-dlesk.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Geo</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">1-year-old Beabull.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ginger and Nina -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/2xNAFLZ452LSsUQuO6hgic/ec7e080b162a5aeef97d510f23668b4c/ginger-nina-rockefeller.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Ginger and Nina</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">Golden Retrievers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Jack -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/5GDhHz6SttWTnsk6pNRa6U/612a086889701aa123feef049a7abefe/jack-nrcce.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Jack</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">3-year-old Great Pyrenees, Labrador, and Poodle mix.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Jemma -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/50z8hka8gPB5peWcG6GO2F/2e07cfbe15ecbb54ba82f09bb9fa3c9d/gemma-collegepark.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Jemma</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">2-year-old Pug.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Lilo -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/38ru9MILopI0DVDQzoHV8u/e241b6be43223dd5c8307e9da9b65127/lilo-engineering-research.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Lilo</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">12-year-old Beagle mix.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Lucas -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/mffeNrtFuHGd8cOPQKMCG/c5723df1bd10c86859ff2446791a70e1/lucas-hsc.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Lucas</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">6-year-old Labradoodle.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Maggie -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/3zaphHKNnDdeRYQuL8bLbk/b53a29ca71b17aa6fdb2bb26fbb149e7/maggie-emoore.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Maggie</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">3-year-old Goldendoodle.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Omega -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-right--40 wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/6v73lEOuuuE7wvjKfCdAMc/6c9e4af257d5ba117ecfdb9de9a9e456/omega-martin.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Omega</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">9-year-old Standard Poodle.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ruby -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/4eg8UEghpO0QGHaF7SZwLH/05adf2fc305968a2caac1b073b7b04d0/ruby-life-sciences.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Ruby</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">5-year-old Golden Retriever.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Ryder -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/7DTNtHms3DS40ZVFxML5Wu/884dacba11c0ce3075f2052f4b118fc5/ryder-agsci-south.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Ryder</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">7-year-old Labrador and Great Pyrenees mix.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scout -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-right--40 wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/1x5ioRTn56lohjSd1wZCik/c09560e7d2fdc2622df775e6c860dfc7/scout-towers.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Scout</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">8-year-old Pembroke Welsh Corgi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Whiskey -->
    <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
      <div class=" pt-4 w-100">
        <div class="p-3 h-100 wvu-bg-position-top-left--20 wvu-bg-position-xl-top-left wvu-bg-size-cover wvu-bg-blend-mode-lighten" style="background-image: url(https://images.ctfassets.net/udw4veezvy46/63gAgiTDopxono4Uuh68or/64fdeb4afabf43111a2a3d4d5da1ea4f/whiskey-evansdale-library.jpg?q=60&w=500)">
          <div class="row align-items-end h-100">
            <div style="width: 100%">
              <h2 class="h1 wvu-shout text-yellow text-larger hella-drop-shadow" data-aos="slide-right">Whiskey</h2>
              <p class="pt-6 wvu-shout text-white h5 wvu-bar wvu-bar--white wvu-bar--bottom wvu-bar--skinny hella-drop-shadow">6-month-old Labrador mix.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Tour Guides End -->
