<style>
  #map-container {
    height: 700px;
  }
  #map {
    width: 100%;
    height: 700px;
  }
  @media (max-width: 768px) {
    #map-container {
      height: 600px;
    }
    #map {
      height: 600px;
    }
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 4.5rem;
    }
    .h1 {
      font-size: 1.5rem;
    }
  }
</style>

<!-- map -->
<div id="map-container" class="pb-2">
  <div id="map"></div>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABjMspKcp50mdRg0WRx69eDfm8a9UA2eE&&v=beta&callback=initMap" async></script>
<script>

  /**
  * Start of smoothlyAnimatePanTo function from StackOverflow answer: https://stackoverflow.com/questions/3817812/google-maps-v3-can-i-ensure-smooth-panning-every-time
  **/
  function project(latLng) {
    var TILE_SIZE = 256

    var siny = Math.sin(latLng.lat() * Math.PI / 180)

    siny = Math.min(Math.max(siny, -0.9999), 0.9999)

    return new google.maps.Point(
        TILE_SIZE * (0.5 + latLng.lng() / 360),
        TILE_SIZE * (0.5 - Math.log((1 + siny) / (1 - siny)) / (4 * Math.PI)))
  }

  function getPixel(latLng, zoom) {
    var scale = 1 << zoom
    var worldCoordinate = project(latLng)
    return new google.maps.Point(
            Math.floor(worldCoordinate.x * scale),
            Math.floor(worldCoordinate.y * scale))
  }

  function getMapDimenInPixels(map) {
    var zoom = map.getZoom()
    var bounds = map.getBounds()
    var southWestPixel = getPixel(bounds.getSouthWest(), zoom)
    var northEastPixel = getPixel(bounds.getNorthEast(), zoom)
    return {
        width: Math.abs(southWestPixel.x - northEastPixel.x),
        height: Math.abs(southWestPixel.y - northEastPixel.y)
    }
  }

  function willAnimatePanTo(map, destLatLng, optionalZoomLevel) {
    var dimen = getMapDimenInPixels(map)

    var mapCenter = map.getCenter()
    optionalZoomLevel = !!optionalZoomLevel ? optionalZoomLevel : map.getZoom()

    var destPixel = getPixel(destLatLng, optionalZoomLevel)
    var mapPixel = getPixel(mapCenter, optionalZoomLevel)
    var diffX = Math.abs(destPixel.x - mapPixel.x)
    var diffY = Math.abs(destPixel.y - mapPixel.y)

    return diffX < dimen.width && diffY < dimen.height
  }

  function getOptimalZoomOut(map, latLng, currentZoom) {
    if(willAnimatePanTo(map, latLng, currentZoom - 1)) {
        return currentZoom - 1
    } else if(willAnimatePanTo(map, latLng, currentZoom - 2)) {
        return currentZoom - 2
    } else {
        return currentZoom - 3
    }
  }

  function smoothlyAnimatePanToWorkarround(map, destLatLng, optionalAnimationEndCallback) {
    var initialZoom = map.getZoom(), listener

    function zoomIn() {
        if(map.getZoom() < initialZoom) {
            map.setZoom(Math.min(map.getZoom() + 3, initialZoom))
        } else {
            google.maps.event.removeListener(listener)

            //here you should (re?)enable only the ui controls that make sense to your app
            map.setOptions({draggable: true, zoomControl: true, scrollwheel: true, disableDoubleClickZoom: false})

            if(!!optionalAnimationEndCallback) {
                optionalAnimationEndCallback()
            }
        }
        offsetCenter(map, destLatLng, 0, -300);
        map.setTilt(50);
    }

    function zoomOut() {
        if(willAnimatePanTo(map, destLatLng)) {
            google.maps.event.removeListener(listener)
            listener = google.maps.event.addListener(map, 'idle', zoomIn)
            map.panTo(destLatLng)
        } else {
            map.setZoom(getOptimalZoomOut(map, destLatLng, map.getZoom()))
        }
    }

    //here you should disable all the ui controls that your app uses
    map.setOptions({draggable: false, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: true})
    map.setZoom(getOptimalZoomOut(map, destLatLng, initialZoom))
    listener = google.maps.event.addListener(map, 'idle', zoomOut)

  }

  function smoothlyAnimatePanTo(map, destLatLng) {
    if(willAnimatePanTo(map, destLatLng)) {
      map.panTo(destLatLng)
    } else {
      smoothlyAnimatePanToWorkarround(map, destLatLng);
    }
  }
  /* End smoothlyAnimatePanTo function from StackOverflow */

  /**
   * Start of offsetCenter from StackOverflow answer https://stackoverflow.com/questions/10656743/how-to-offset-the-center-point-in-google-maps-api-v3
   * Use with smoothlyAnimatePanTo to make sure the window fits in the view after animating
   */
  function offsetCenter(map, latlng, offsetx, offsety) {

      var scale = Math.pow(2, map.getZoom());

      var worldCoordinateCenter = map.getProjection().fromLatLngToPoint(latlng);
      var pixelOffset = new google.maps.Point((offsetx/scale) || 0,(offsety/scale) ||0);

      var worldCoordinateNewCenter = new google.maps.Point(
          worldCoordinateCenter.x - pixelOffset.x,
          worldCoordinateCenter.y + pixelOffset.y
      );

      var newCenter = map.getProjection().fromPointToLatLng(worldCoordinateNewCenter);

      map.setCenter(newCenter);

  }
  /* End offsetCenter function from StackOverflow */

  var currentPlace = 0;
  var markers = [];
  var map;

  function getRandomInt(max) {
    return Math.floor(Math.random() * max);
  }

  function goTo(id, map) {

    // capture where it's outside the bounds of the listing
    id = (id < 0) ? (locations.length - 1) : id;
    id = (id == locations.length) ? 0 : id;

    // do all the things
    var marker = markers[id];
    currentPlace = id;
    var location = locations[id].buildingLatLong.split(', ');;
    openInfoWindow(marker, id, map);
    smoothlyAnimatePanTo(map, new google.maps.LatLng(location[0], location[1]));
    document.getElementById('map').scrollIntoView();

  }

  function templateContent(id) {
    var loc = locations[id];
    var content = '';
    content += '<div style="width: 100%; max-width: 400px;">';
    content += '<img style="width: 100%; height: 100%; padding-bottom: 10px;" alt="'+loc.dogName+' in front of '+loc.buildingName+'" src="'+loc.photo+'?q=60&w=400">';
    content += '<h1 style="font-size: 2em; margin-bottom: 0.2em;">'+loc.buildingName+'</h1>';
    if ((loc.buildingDate !== '') && (loc.buildDescription !== '')) {
      content += '<p>'+loc.buildingDate+' '+loc.buildingDescription+'</p>';
    }
    if ((loc.virtualTour !== '') && (loc.insideOutside === 'Inside')) {
      content += '<p>View a <a href="'+loc.virtualTour+'" target="_blank">360° panorama</a> from inside '+loc.buildingName+'.</p>';
    } else if ((loc.virtualTour !== '') && (loc.insideOutside === 'Outside')) {
      content += '<p>View a <a href="'+loc.virtualTour+'" target="_blank">360° panorama</a> from outside '+loc.buildingName+'.</p>';
    }
    content += '<p><em>Canine model:</em> '+loc.dogName+', '+loc.dogAgeType+'.';
    if ((loc.dogKind !== '') && (loc.dogName.indexOf(' and ') !== -1)) {
      content += ' '+loc.dogName+' are '+loc.dogKind+'.';
    } else if (loc.dogKind !== '') {
      content += ' '+loc.dogName+' is a '+loc.dogKind+'.';
    }
    content += '</p>';
    content += '<p><a href="javascript:goTo('+(id-1)+',map);">≪ Previous</a> | <a href="javascript:goTo('+(id+1)+',map);">Next ≫</a></p>';
    return content;
  }

  var infoWindow;
  var infoWindowOpened = false;
  function openInfoWindow(marker, loc, map) {
    if (infoWindowOpened) {
      infoWindow.close();
    }
    infoWindow = new google.maps.InfoWindow({
      content: templateContent(loc),
    });
    google.maps.event.addListener(infoWindow,'closeclick',function(){
      map.setTilt(50);
    });
    if (window.dataLayer !== undefined) {
      window.dataLayer.push({ 'event': 'tourStop', 'Taction': 'view', 'Tlabel': locations[loc].buildingName });
    }
    infoWindow.open({anchor: marker, map, shouldFocus: true});
    infoWindowOpened = true;
    return true;
  }

  function PreviousControl(controlDiv, map) {

    // Set CSS for the control border.
    const controlUI = document.createElement("div");

    controlUI.style.backgroundColor = "#006FE6";
    controlUI.style.border = "2px solid #fff";
    controlUI.style.borderRadius = "3px";
    controlUI.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
    controlUI.style.cursor = "pointer";
    controlUI.style.marginTop = "8px";
    controlUI.style.marginBottom = "22px";
    controlUI.style.marginLeft = "-40px";
    controlUI.style.marginRight = "22px";
    controlUI.style.width = "130px";
    controlUI.style.textAlign = "center";
    controlUI.title = "Click to go to previous place";
    controlDiv.appendChild(controlUI);

    // Set CSS for the control interior.
    const controlText = document.createElement("div");

    controlText.style.color = "#fff";
    controlText.style.fontFamily = "Roboto,Arial,sans-serif";
    controlText.style.fontSize = "16px";
    controlText.style.lineHeight = "38px";
    controlText.style.paddingLeft = "5px";
    controlText.style.paddingRight = "5px";
    controlText.innerHTML = "Previous in Tour";
    controlUI.appendChild(controlText);

    // Setup the click event listeners: simply set the map to Chicago.]
    controlUI.addEventListener("click", () => {
      var previousPlace = currentPlace - 1;
      goTo(previousPlace, map);
    });

  }

  function NextControl(controlDiv, map) {

    // Set CSS for the control border.
    const controlUI = document.createElement("div");

    controlUI.style.backgroundColor = "#006FE6";
    controlUI.style.border = "2px solid #fff";
    controlUI.style.borderRadius = "3px";
    controlUI.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
    controlUI.style.cursor = "pointer";
    controlUI.style.marginTop = "8px";
    controlUI.style.marginLeft = "-15px";
    controlUI.style.marginBottom = "22px";
    controlUI.style.width = "130px";
    controlUI.style.textAlign = "center";
    controlUI.title = "Click to go to next place on tour";
    controlDiv.appendChild(controlUI);

    // Set CSS for the control interior.
    const controlText = document.createElement("div");

    controlText.style.color = "#fff";
    controlText.style.fontFamily = "Roboto,Arial,sans-serif";
    controlText.style.fontSize = "16px";
    controlText.style.lineHeight = "38px";
    controlText.style.paddingLeft = "5px";
    controlText.style.paddingRight = "5px";
    controlText.innerHTML = "Next in Tour";
    controlUI.appendChild(controlText);

    // Setup the click event listeners: simply set the map to Chicago.]
    controlUI.addEventListener("click", () => {
      var nextPlace = currentPlace + 1;
      goTo(nextPlace, map);
    });
  }

  // initialize map
  function initMap() {

    map = new google.maps.Map(document.getElementById("map"), {
      "tilt": 50,
      "heading": 0,
      "zoom": 18,
      "center": { lat: 39.63514011852313, lng: -79.954425630187 },
      "mapId": "b82e0dd0ca4ae06d"
    });

    var infoWindow, marker;
    for (var i = 0; i < locations.length; i++) {

      latLng = locations[i].buildingLatLong.split(', ');
      infowindow = new google.maps.InfoWindow({
        content: templateContent(i),
      });

      marker = new google.maps.Marker({
        position: { lat: parseFloat(latLng[0]), lng: parseFloat(latLng[1]) },
        icon: { url: "https://images.ctfassets.net/udw4veezvy46/5CjE6ORptsntz08OU0Eh0o/50ef3be04d3b3f98c45ff8f4b49633d6/doge--34.svg", scaledSize: new google.maps.Size(50, 50) },
        map,
        title: locations[i].buildingName,
        optimized: false,
      });

      google.maps.event.addListener(marker,'click', (function(id){
        return function() {
          var marker = markers[id];
          currentPlace = id;
          openInfoWindow(marker, id, map);
        };
      })(i));

      google.maps.event.addListener(infowindow,'closeclick',function(){
        map.setTilt(50);
      });

      markers.push(marker);

    }

    const previousControlDiv = document.createElement("div");
    const nextControlDiv = document.createElement("div");

    PreviousControl(previousControlDiv, map);
    map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(previousControlDiv);

    NextControl(nextControlDiv, map);
    map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(nextControlDiv);

    // add to buttons
    document.getElementById('button-start-evansdale').onclick = function() {
      goTo(31, map);
      return false;
    };

    document.getElementById('button-start-downtown').onclick = function() {
      goTo(0, map);
      return false;
    };

  }

</script>
