<!--
   ####### CSS #######
-->
<style>
  .wvu-bg-topo-dark {
    background-size: cover;
    position: relative;
  }

  .wvu-bg-topo-dark:before {
    background-image: url(https://static.wvu.edu/global/images/patterns/wvu/background__topo-black--2.0.0.svg);
    background-position: center;
    background-size: 1000px 976px !important;
    opacity: 1;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .bg-trans-white {
    background-color: rgb(255, 255, 255, 0.7) !important;
  }

  .btn-outline-wvu-neutral--white:hover {
    color: black;
  }

  .font-awe {
    font-size: 3.25em;
  }

  .bg-wvu-black-tint {
    background-color: rgb(0, 0, 0, 0.8) !important;
  }

  .auto-ul-slashes li {
    display: block !important;
    position: relative !important;
    z-index: 0 !important;
    padding-bottom: .35em;
  }

  .auto-ul-slashes li:before {
    background-color: #EAAA00 !important;
    content: "" !important;
    height: 1em !important;
    position: absolute !important;
    width: 0.5em !important;
    left: -1.5rem !important;
    top: 0.25em !important;
    z-index: -1 !important;
    -ms-transform: skewX(149deg) !important;
    -webkit-transform: skewX(149deg) !important;
    transform: skewX(149deg) !important;
  }

  .auto-ul-slashes--blue li {
    display: block !important;
    position: relative !important;
    z-index: 0 !important;
  }

  .auto-ul-slashes--blue li:before {
    background-color: #002855 !important;
    content: "" !important;
    height: 1em !important;
    position: absolute !important;
    width: 0.5em !important;
    left: -1.5rem !important;
    top: 0.25em !important;
    z-index: -1 !important;
    -ms-transform: skewX(149deg) !important;
    -webkit-transform: skewX(149deg) !important;
    transform: skewX(149deg) !important;
  }

  .program-nav {
    border-left: none;
    padding-left: 0.75em;
  }
  }

  .wvu-bg-pattern-grid-transparent {
    z-index: 1;
  }

  .card-body {
    margin-right: 1em;
  }

  .chart-calc {
    padding-left: 2em;
  }
</style>

<!--
   ####### HTML #######
-->
<section class="bg-wvu-accent--light-blue wvu-bg-topo-dark" id="visit">
  <div class="wvu-z-index-content wvu-container py-5">


    <div class="row">
      <div class="col-lg-6 pb-3 pb-lg-0 auto-ul-slashes">
        <div class="pt-2 bg-wvu-accent--yellow rounded-top shadow">
        </div>
        <div class="pl-3 pt-1 pr-3 bg-wvu-black-tint shadow h-100">
          <div class="row">
            <div class="col-md-2 pt-4 px-3 text-center">
              <span class="font-awe fa-solid fa-car-side text-white"></span>
            </div>
            <div class="col-md-10 pt-4 p-3">
              <div class="text-white">
                <h1 class="wvu-shout split-h2 pb-1 h1 text-white">Tour Campus</h1>
                  <p>You may think you know all about WVU, but visiting the campus is the best way to get a feel for the university and decide if it's the right fit for you. Meet with admissions staff, take a tour led by current students, and sit in on a class. Come see for yourself why WVU is a great choice for your college education.</p>
              </div>
              <a class="button button--white" href="https://visit.wvu.edu/">Schedule Your Tour</a> <a class="button button--white" href="https://www.wvu.edu/admissions/experience-wvu">Special Events</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 pb-3 pb-lg-0">
        <div class="pt-2 bg-wvu-neutral--light-gray rounded-top shadow">
        </div>
        <div class="pl-3 pt-1 pr-3 bg-trans-white shadow h-100">
          <h3 class="iowan-old-style-black-italic pb-1 pt-2 h4">Virtual Tour</h3>
          <p>Experience West Virginia University from the comfort of your own home with a virtual tour! As a prospective student, the virtual tour is a great way to explore the campus and get a feel for student life without having to travel. </p>
          <a class="button" href="https://www.youvisit.com/tour/wvu">Take the Virtual Tour</a>
        </div>
      </div>
      <div class="col-lg-3 ">
        <div class="pt-2 bg-wvu-neutral--light-gray rounded-top shadow">
        </div>
        <div class="pl-3 pt-1 pr-3 bg-trans-white shadow h-100">
          <h3 class="iowan-old-style-black-italic pb-1 pt-2 h4">Ready? Apply!</h3>
          <p>Applying to West Virginia University is easy and straightforward. We're dedicated to helping you through the application process and <a href="#counselor">answering any questions</a> you may have. Start your journey to becoming a Mountaineer today and apply to WVU!</p>
          <a class="button" href="https://admissions.wvu.edu/how-to-apply/">Apply to WVU</a>
        </div>
      </div>
    </div>
  </div>
</section>
