<!--
   ####### CSS #######
-->
<style>
  .bg-trans-white {
    background-color: rgb(255, 255, 255, 0.9) !important;
    color: #002855;
    text-shadow: none !important;
  }

  .btn-outline-wvu-neutral--white:hover {
    color: black;
  }

  .auto-ul-slashes li {
    display: block !important;
    position: relative !important;
    z-index: 0 !important;
    padding-bottom: .35em;
  }

  .auto-ul-slashes li:before {
    background-color: #EAAA00 !important;
    content: "" !important;
    height: 1em !important;
    position: absolute !important;
    width: 0.5em !important;
    left: -1.5rem !important;
    top: 0.25em !important;
    z-index: -1 !important;
    -ms-transform: skewX(149deg) !important;
    -webkit-transform: skewX(149deg) !important;
    transform: skewX(149deg) !important;
  }

  .auto-ul-slashes--blue li {
    display: block !important;
    position: relative !important;
    z-index: 0 !important;
  }

  .auto-ul-slashes--blue li:before {
    background-color: #002855 !important;
    content: "" !important;
    height: 1em !important;
    position: absolute !important;
    width: 0.5em !important;
    left: -1.5rem !important;
    top: 0.25em !important;
    z-index: -1 !important;
    -ms-transform: skewX(149deg) !important;
    -webkit-transform: skewX(149deg) !important;
    transform: skewX(149deg) !important;
  }

  .program-nav {
    border-left: none;
    padding-left: 0.75em;
  }
  }

  .wvu-bg-pattern-grid-transparent {
    z-index: 1;
  }

  .card-body {
    margin-right: 1em;
  }

  .chart-calc {
    padding-left: 2em;
  }

  .wvu-bar {
    position: relative !important;
    padding-top: 1.5rem;
  }

  .wvu-bar.wvu-bar--center {
    display: inline-block !important;
  }

  .wvu-bar.wvu-bar--center:before,
  .wvu-bar.wvu-bar--center:after {
    left: 50% !important;
    margin-left: -3.5rem !important
  }

  .wvu-bar:before {
    background-color: #EAAA00 !important;
    content: "" !important;
    height: .5rem !important;
    position: absolute !important;
    top: 0rem !important;
    width: 7rem !important;
  }



  .hero-h1 {
    font-size: 3.2em !important;
  }

  @media screen and (min-width: 768px) {
    .hero-h1 {
      font-size: 2.5em !important;
    }
  }

  @media screen and (min-width: 960px) {
    .hero-h1 {
      font-size: 3.5em !important;
    }
  }

  @media screen and (min-width: 960px) {
    .hero-h1 {
      font-size: 3.5em !important;
    }
  }


  @media screen and (min-width: 960px) {
    .mb-hero-box {
      margin-bottom: 0;
    }
  }

  .mb-hero-box {
    margin-bottom: 2em;
  }

  .wvu-bg-tint {
    background-size: cover !important;
    position: relative;
  }

  .wvu-bg-tint:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    opacity: .8;
    z-index: 1;
  }



  /* overwriting styles */

  @media (min-width: 107.5em) {
    .wvu-hero__copy p {
      max-width: 650px;
    }
  }

  @media (min-width: 60em) {
    .wvu-hero {
      padding: 4rem 0;
    }
  }

  .wvu-hero__copy p {
    font-size: 1.4rem !important;
  }

  .wvu-hero__container {
    padding-bottom: 4em !important;
  }

  @media screen and (min-width: 960px) {
    .wvu-hero__container {
      padding-bottom: 0 !important;
    }
  }

  @media screen and (min-width: 1111px) {
    .wvu-hero__iframe {
      float: right !important;
    }
  }

  .wvu-hero__iframe {
    float: left !important;
  }

  .wvu-hero h1:before {
    content: none;
  }


  .wvu-hero__container:before {
    background: none;
  }

  .car-bg-topo:before {
    background-image: url(https://images.ctfassets.net/udw4veezvy46/47WNYXc66Pi8sLcw07apuk/ab78bd4fb50097953fdc01a94d9bf720/car-geo-pattern.svg);
    background-position: center;
    background-size: cover;
    opacity: 1;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .car-bg-topo {
    background-size: cover;
    position: relative;
  }

  .iowan-old-style-black-italic {
    text-transform: none;
    line-height: 1 !important;
    font-size: 0.85em;
  }

  .fas {
    color: #EAAA00;
  }

  #next-steps h2 {
    margin-bottom: 0;
  }

  .wvu-hero h1 {
    max-width: 7em !important;
  }

  .wvu-hero .split-left .button {
    font-size: 1.25rem;
}

  .wvu-hero .split-right .button {
    font-size: 1em;
  }

  .wvu-hero .split-right p {
    text-shadow: none;
  }

  .wvu-hero .split-right a {
    text-shadow: none;
    color: #002855;
  }
  .wvu-hero .split-right img {
    border: none;
  }

  h3.split-right-h3 {
    color: #002855;
    font-size: 1.25em;
  }
</style>

<!--
   ####### HTML #######
-->
<section class="wvu-hero bgImg  hideMobile     wvu- background car-bg-topo" id="hero-split">
  <div class="wvu-z-index-content wvu-hero__container py-5">


    <div class="row">
      <div class="mb-hero-box split-left wvu-container wvu-hero__copy wvu-bg-tint" style="padding: 2em; padding-top:4.5em;">

        <h1 class="hero-h1">
          <span class="wvu-bar">First-time Freshman Scholarships</span>
        </h1>

        <p style="font-size: 1.6em!important;  margin-top: 1em;" class="h3 iowan-old-style-black-italic">90% of freshmen receive grants or scholarships.</p>
        <p>We award scholarships based on criteria like academic merit, financial need, diversity, leadership and service. In-state and out-of-state students — including test-optional applicants — can qualify. And best of all, some scholarships
          “stack,” which means you can get more than one.
        </p>

        <p style="margin-top: 1em;
          margin-bottom: 1.5em;">See what scholarships you could receive (and how to qualify).</p>

        <a style="margin-bottom:10px;" href="#apply" class="rsvpButton button button--accent-burnt-orange-fill">How to Apply</a> <a style="margin-bottom:10px;" href="#merit" class="rsvpButton button button--accent-burnt-orange-fill">WVU
          Scholarships</a>
        <a style="margin-bottom:10px;" href="#tour" class="rsvpButton button button--accent-burnt-orange-fill">More Ways to Pay</a>

        <p><a href="https://admissions.wvu.edu/cost-and-aid/scholarship-estimate">Estimate Your Scholarships</a> | <a href="#faq">FAQ</a> | <a href="#help">Need Help?</a></p>


      </div>
      <div class="split-right col-md-3 bg-trans-white h-100 split p-0 rounded-top">
        <div ><img class="rounded-top w-100" src="https://static.wvu.edu/html-email-assets/images/admissions-2/mountainlair-sunset.jpg" alt="example img"></div>
        <div class="px-3 py-2">
          <h3 class="split-right-h3 iowan-old-style-black-italic mb-1 split-h3">Just starting your search?</h3>
          <p class="mt-0 mb-3"><a href="https://www.volutus.wvu.edu/admissions/cost-and-aid-guide">Download our no-nonsense guide</a> to cost and aid at WVU.</p>
          <h3 class="split-right-h3 iowan-old-style-black-italic mb-1 split-h3">WV Resident Scholarships</h3>
          <p class="mt-0">We’re proud to invest in West Virginia students! And in many cases, WVU scholarships are awarded in <strong>addition to the Promise scholarship</strong>. Check out our scholarships for West Virginians.</p>
          <a href="https://financialaid.wvu.edu/home/scholarships/freshmen/residents" class="button button--fill">WV Resident Scholarships</a>
          <p class="mt-2"><strong>Not a WV resident?</strong> We have <a href="https://financialaid.wvu.edu/home/scholarships/freshmen/non-residents">scholarships for out-of-state students</a> too!</p>

        </div>

      </div>
    </div>
  </div>

</section>
