<!--
   ####### CSS #######
-->
<style>
  #distance-container {
    text-align: left;
  }

  #distance-form .submit-button {

  }

  #distance-form .submit-button:active { }

  #distance-form .input-holder {
      display: flex;
      align-items: center;
  }

  #distance-form .input-holder label {
    color: #000000;
  }

  #distance-form ::-webkit-input-placeholder { /* WebKit browsers */
    color: #000000
  }

  #distance-form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000000;
  }

  #distance-form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000000;
  }

  #distance-form :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000000;
  }

  #distance-form label.error {
    color: #C00;
  }

  #distance-form input::-webkit-input-placeholder {
    color: #000000;
  }

  #distance-form input:-moz-placeholder {
    color: #000000;
    opacity: 1;
  }

  #distance-form input::-moz-placeholder {
    color: #000000;
    opacity: 1;
  }

  #distance-form input:-ms-input-placeholder {
    color: #000000;
  }

  #distance-form .dynamic-button:hover {
    background-color: #1b1b1b;
  }

  #distance-form .submit-holder {
    position: relative;
  }

  #distance-form .dynamic-button, #distance-form .image-button {
    margin: 0;
    top: 271px;
    left: -1px;
    box-sizing: content-box;
    line-height: 28px;
    font-weight: 700;
    height: 36px;
  }

  #distance-origin {
    width: 280px;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px;
    height: 36px;
  }

  #distance-submit {
    background-color: #002855;
    color: #ffffff;
    margin: 0;
    box-sizing: content-box;
    line-height: 19px;
    font-weight: 700;
    font-family: Arial, sans-serif;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    padding: 0;
    vertical-align: middle;
    height: 30px;
    font-size: 18px;
    width: 90px;
    margin-top: 0px;
  }

  #output {
    margin-top: 30px;
    font-size: 20px;
    color: #000000;
    padding: 20px;
    background-color: #ffffff;
    margin-right: 10px;
  }

  #distance-results-text {
    display: block;
    padding: 20px 0 0 0;
    color: #002954;
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="input"] {
    background-color: #fff;
    border: 1px solid #8095a8;
    padding: 9px 10px 10px 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 8px 0 8px 0;
    font-size: 15px;
    line-height: 19px;
    width: 100%;
    height: 43px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="input"] {
    cursor: auto !important;
    background: #eee;
    border: 1px solid #9f9f9f;
    padding: .2em;
    margin: 0 .5em .6em 0;
    line-height: 1.2em;
    vertical-align: middle;
    height: 1.5em;
  }

  input[type="text"], input[type="password"], input[type="email"], textarea {
    color: #1c4e99;
    background-color: #ffffff;
    border-color: rgba(0,0,0,0);
  }

  .hide {
    display: none;
  }
</style>

<!--
   ####### HTML #######
-->
<div class="wvu-container">
  <p>Enter your address below to find out how long it would take you to get to West Virginia
    University.
  </p>

  <div id="distance-container">
    <div id="inputs">
      <form id="distance-form" class="email-form">
        <div class="input-holder field-text">
          <label for="distance-origin" class="visuallyhidden">Enter your address...</label>
          <input id="distance-origin" type="text" name="distance-origin" placeholder="Enter your address..." data-label-inside="Enter your address..." class="shortnice form-input  required  ">
          <button id="distance-submit" class="btn submit-button button_submit dynamic-button corners">SUBMIT</button>
        </div>
      </form>
    </div>
    <div id="distance-output" class="hide"></div>
  </div>
</div>

<!--
   ####### JavaScript #######
-->
<script>
  var service;
  var finalDestination = 'Mountaineer Statue, Morgantown, WV';

  function initCalculator() {
    service = new google.maps.DistanceMatrixService;
  }

  function calculateDistance(origin) {

    service.getDistanceMatrix({
      origins: [origin],
      destinations: [finalDestination],
      travelMode: 'DRIVING',
      unitSystem: google.maps.UnitSystem.IMPERIAL,
      avoidHighways: false,
      avoidTolls: false
    }, function(response, status) {

      if (status !== 'OK') {

        alert('Error was: ' + status);

      } else {

        var originList = response.originAddresses;
        var destinationList = response.destinationAddresses;
        var outputDiv = document.getElementById('distance-output');
        outputDiv.innerHTML = '';
        outputDiv.classList.remove('hide');

          for (var i = 0; i < originList.length; i++) {
            var results = response.rows[i].elements;
            for (var j = 0; j < results.length; j++) {
              if (results[j].duration === undefined) {
                outputDiv.innerHTML = '<p>A drive time for the address that was entered couldn\'t be calculated. Try again, please.</p>';
              } else {
                outputDiv.innerHTML = '<p>The drive time to WVU should be:<br><span id="distance-results-text"><strong>'+results[j].duration.text+'</strong> (<span style="font-style: italic">'+results[j].distance.text+'</span>)</p>';
              }
            }
          }
        }
    });

  }

  // make sure the form doesn't submit
  document.getElementById('distance-form').onsubmit = function(event) {
    event.preventDefault();
  }

  // when the button is clicked calculate the distance
  document.getElementById('distance-submit').onclick = function(event) {
    var originSubmitted = document.getElementById('distance-origin').value;
    calculateDistance(originSubmitted)
  }
</script>
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAr5gZKh2y7OXBxKHYPaC4coG2jDP3Usy8&amp;callback=initCalculator"></script>
