<div id='hero-banner' class='bgImg background'>

  <div id='hero-banner-copy' class='hero-banner-heading px-lg-5 p-2 col-10 col-md-8'>
    <div id='animation' class='show-animation'>
      <h1 class='wvu-shadow iowan-old-style-black-italic'>Happy 156th!</h1>
      <p class='wvu-shadow wvu-lede'>Cue the confetti</a>, noisemakers and party hats!</strong>
      <p class='wvu-shadow sublede pb-1'>Today we're celebrating WVU's 156th birthday. Since its founding on February 7, 1867, WVU has pursued the same mission — to improve the lives of West Virginians.</p>
      <a href='#' id="confetti-button" class='animate__animated animate__pulse animate__repeat-3 button button--accent-light-blue-fill'>Celebrate with Confetti! <span class="">🎉 </span></a>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<script>

  function throwConfetti() {

    var duration = 5 * 1000;
    var end = Date.now() + duration;
     if (window.dataLayer !== undefined) {
        window.dataLayer.push({ 'event': 'confettiToggleEvent', 'CTEaction': 'thrown', 'CTElabel': 'WVU Birthday' });
    }

    (function frame() {
      // launch a few confetti from the left edge
      confetti({
        particleCount: 7,
        angle: 45,
        spread: 65,
        startVelocity: 55,
        colors: ['#002855', '#EAAA00','#005EB8','#FDDA24'],
        origin: { x: -0.05, y: 0.75 }
      });
      // and launch a few from the right edge
      confetti({
        particleCount: 7,
        angle: 135,
        spread: 65,
        startVelocity: 55,
        colors: ['#002855', '#EAAA00','#005EB8','#FDDA24'],
        origin: { x: 1.05, y: 0.75 }
      });

      // keep going until we are out of time
      if (Date.now() < end) {
        requestAnimationFrame(frame);
      }
    }());

  }
  document.getElementById('confetti-button').onclick = function() {
    throwConfetti();
    return false;
  }
</script>

<style>

  .iowan-old-style-black-italic {
    font-family: 'IowanOldStyleW01-BlackI',Iowan,Georgia,'Times New Roman',Times,serif !important;
    font-style: normal !important;
    font-weight: normal !important;
  }

  .wvu-lede {
    margin: auto;
  }

  .wvu-shadow {
    text-shadow: 1px 1px 10px black;
  }

  #hero-banner {
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 97%;
    overflow: hidden;
    padding-bottom: 80%;
    position:relative;
    background-position: 50% 80%;
    background-size: cover;
    background-image: url('https://images.ctfassets.net/udw4veezvy46/5YTMdmAxR4tPRfwrdoG9N7/8aa8bdbda7c88f717f3726456c7f31fd/38581_S_HAG_0002_XX.jpg?w=1600');
  }

  #hero-banner .hero-banner-heading {
    color: white;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
    text-align: center;
    width: 100%;
    z-index:2;
    background-color: rgb(0, 0, 0, 0.8) !important;
    position: absolute;
    bottom: 3%;
  }

  #hero-banner .hero-banner-heading strong {
    display:block
  }

  #hero-banner .hero-banner-heading p.sublede {
    font-size: 1.6em;
    display: block;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: "HelveticaNeueW01-45Ligh","Helvetica Neue",Helvetica,"Helvetica LT Std","Helvetica CY",Arial,"Lucida Grande",sans-serif;
  }

  #hero-banner .hero-banner-heading h1 {
     font-size: 4.5em;
     color: white;
     margin-bottom: .125em;
   }

  #hero-banner .hero-banner-heading p {
     font-size: 2.4em;
  }

  a#confetti-button {
    font-size: 1.125em;
  }

  a#confetti-button:hover {
    color: #9bd3dd;
  }

  @media (min-width: 1415px) {
    #hero-banner {
      padding-bottom: 20%;
      padding-top: 25%;
    }
  }

  @media (max-width: 75em) {
    #hero-banner .hero-banner-heading h1 {
      font-size: 2.25em;
    }
    #hero-banner .hero-banner-heading p {
      font-size: 1.125em;
    }
    #hero-banner .hero-banner-heading p.sublede {
      font-size: 1.125em;
    }
  }

  @media (max-width: 35em){
    #hero-banner {
      padding-bottom: 73%;
      padding-top: 85%;
      background-position: 52%;
    }

    @media (max-width: 53em){
      #hero-banner {
        padding-bottom: 35%;
        padding-top: 82%;
        background-position: 52%;
      }

  }

</style>
