<section aria-labelledby="r1-label" class="py-5 bg-wvu-accent--sunset">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h2 id="r1-label" class="display-1 wvu-shout">R1</h2>
      </div>
      <div class="col-md-10 lead">
        <p>R1: Doctoral Universities &mdash; Highest research activity as described by the Carnegie Classification of Institutions of Higher Education.</p>
      </div>
    </div>
  </div>
</section>
