{% include('patterns/wvu-breadcrumbs.html') %}
<div class="wvu-z-index-content pt-5 pb-3 text-white bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark wvu-bg-vignetting wvu-bg-blend-mode-luminosity--80 wvu-bg-position-center" style="background-image: url(../images/header-backgrounds/about-wvu.jpg)">
  <div class="container position-relative wvu-z-index-content">
    <h1 id="backpage-header-1-label" class="display-4 helvetica-neue-bold mb-0 mb-3"><span>{{ contentful.title }}</span></h1>
    <div class="row align-items-stretch">
      <div class="col-lg">
        <h2 class="wvu-shout text-wvu-gold">Service</h2>
        <p class="small">We seek opportunities to serve others and are committed to providing the highest quality of service.</p>
      </div>
      <div class="col-lg">
        <h2 class="wvu-shout text-wvu-gold">Curiosity</h2>
        <p class="small">We ask questions, seek new opportunities and change through innovation.</p>
      </div>
      <div class="col-lg">
        <h2 class="wvu-shout text-wvu-gold">Respect</h2>
        <p class="small">We are respectful, transparent and inclusive with each other.</p>
      </div>
      <div class="col-lg">
        <h2 class="wvu-shout text-wvu-gold">Accountability</h2>
        <p class="small">We perform at our very best every day to create a University that is responsive, efficient and effective.</p>
      </div>
      <div class="col-lg">
        <h2 class="wvu-shout text-wvu-gold">Appreciation</h2>
        <p class="small">We support and value each other’s contributions as we build a community that is One WVU.</p>
      </div>
    </div>
  </div>
</div>
