<footer class="wvu-footer bg-wvu-blue text-white py-5">
  <div class="container">

    <div class="row mb-4">
      <div class="col-xl-5">
        <address>
          <strong>{{ orgTitle|raw }}</strong>
          {% if orgMailingAddress1 %}<br>{{ orgMailingAddress1 }}{% endif %}
          {% if orgMailingAddress2 %}<br>{{ orgMailingAddress2 }}{% endif %}
          {% if orgMailingAddress3 %}<br>{{ orgMailingAddress3 }}{% endif %}
          {% if orgCity and orgState and orgZipCode %}<br>{{ orgCity }}, {{ orgState }} {{ orgZipCode }}{% endif %}
        </address>

        <p>
          {% if orgPhoneNumber %}<a class="text-decoration-none" href="tel:{{ orgPhoneNumber|replace({'(': '', ')': '', '-': '', ' ': ''}) }}"><span class="fa-regular fa-phone"></span> {{ orgPhoneNumber }}</a>{% endif %}<br>
          {% if orgEmailAddress %}<a class="text-decoration-none" href="mailto:{{ orgEmailAddress }}"><span class="fa-regular fa-envelope"></span> {{ orgEmailAddress }}</a>{% endif %}
        </p>
      </div>
      <div class="col-xl-7">
        <div class="row">
          <div class="col-md-8">
            <ul class="list-unstyled wvu-column-count-2">
              <li><a class="text-decoration-none text-wvu-gold" href="https://alumni.wvu.edu">Alumni</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://admissions.wvu.edu/how-to-apply">Apply to WVU</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://bog.wvu.edu/">Board of Governors</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://campusmap.wvu.edu/">Campus Map</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://visit.wvu.edu/tours">Campus Tours</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://emergency.wvu.edu/">Emergency Information</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://give.wvu.edu/campaign/givewvu/c415566">Give to WVU</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="/academics/programs">Majors</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://admissions.wvu.edu/request-information">Request Admissions Info</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://wvu.bncollege.com">Shop for WVU Gear</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://tour.wvu.edu/">Virtual Tour</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="/info-for/visitors">Visit Us</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://wvu.bncollege.com">WVU Bookstore</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://careers.wvu.edu/career-opportunities">WVU Careers</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://magazine.wvu.edu">WVU Magazine</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://portal.wvu.edu">WVU Portal</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="/sitemap">Sitemap</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li><a class="text-decoration-none text-white" href="https://admissions.wvu.edu/our-campuses" class="wvu-white-text"><strong>WVU System</strong></a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://www.wvutech.edu/">WVU Beckley</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://www.potomacstatecollege.edu/">WVU Keyser</a></li>
              <li><a class="text-decoration-none text-wvu-gold" href="https://online.wvu.edu/">WVU Online</a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/about-wvu/wvu-facts">Accreditations</a></li>
          <li class="list-inline-item"><a href="https://webstandards.wvu.edu">Web Standards</a></li>
          <li class="list-inline-item"><a href="https://consumerinformation.wvu.edu/">Consumer Info</a></li>
          <li class="list-inline-item"><a href="https://www.wvu.edu/privacy">Privacy Notice</a></li>
          <li class="list-inline-item"><a href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a></li>
        </ul>
        <p class="wvu-footer__copyright_updated">
          &copy; {{ "now"|date("Y") }} West Virginia University. West Virginia University is an Equal Opportunity Employer.
          {% if contentful.lastUpdated %} Last updated on {{ contentful.lastUpdated.month.textLong }} {{ contentful.lastUpdated.day.numberShort }}, {{ contentful.lastUpdated.year.numberLong }}.{% endif %}
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end">
        <p>Follow WVU on:
          <a href="https://www.youtube.com/user/WestVirginiaU"><span class="fa-brands fa-youtube social-media-icon social-media-icon--youtube" title="YouTube"></span></a>
          <a href="https://instagram.com/westvirginiau"><span class="fa-brands fa-instagram social-media-icon social-media-icon--instagram" title="Instagram"></span></a>
          <a href="https://www.tiktok.com/@westvirginiau"><span class="fa-brands fa-tiktok social-media-icon social-media-icon--tiktok" title="TikTok"></span></a>
          <a href="https://social.wvu.edu"><span class="fa-light fa-chevron-circle-right social-media-icon social-media-icon--more" title="More social networks"></span></a></p>
      </div>
    </div>

  </div>

</footer>
