{% set subNav = [] %}
{% for item in navigation.main %}
  {% if 'about-wvu' in item.path  %}
    {% set subNav = subNav|merge(item) %}
  {% endif %}
{% endfor %}

<div class="mb-3">
  {% if subNav %}
    <ul class="nav flex-column border-start border-muted ps-1 mb-3">
      {% for item in subNav.subnav %}
        <li class="nav-item">
          <a href="{{ item.path }}" class="nav-link text-decoration-none{% if item.path == currentPage %} active{% endif %}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
