<div aria-labelledby="video-label" class="py-5 bg-wvu-blue text-white">
  <div class="container">

    <div class="row">

      <div class="col-md-8 mb-3 mb-md-0">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/p8cr9RYEHTA" title="Mountaineers Go First" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col">

        <h2 id="video-label" class="wvu-shout">Mountaineers <br><span class="text-wvu-gold">Go First</span></h2>

        <p>At WVU, going first is in our blood. We’re bold enough for big ideas — and determined to launch them.</p>

      </div>

    </div>

  </div>
</div>
