<div class="wvu-news">

  <div class="wvu-news__header small">
    <h3 class="wvu-shout text-wvu-gold d-inline-block me-2">News</h3> <a class="text-decoration-none" href="https://wvutoday.wvu.edu/">WVU Today</a> | <a class="text-decoration-none" href="http://feeds.feedburner.com/wvu/ilPI">Subscribe via RSS <span class="fa-regular fa-rss text-syndication"></span></a>
  </div>

  {% include('patterns/wvu-wvutoday.html') %}

</div>
