<nav aria-label="Main navigation" id="nav-primary" class="wvu-site-nav bg-wvu-accent--blue-dark navbar navbar-expand-lg p-0 navbar-dark w-100">
  <div class="container">
    <button aria-controls="wvu-site-nav__items" aria-expanded="false" type="button" class="wvu-site-nav__toggle js-wvu-site-nav-toggle border-0 bg-wvu-accent--blue-dark text-white position-relative ps-0 pe-2 d-flex d-lg-none align-items-center">
      <span aria-hidden="true" class="wvu-hamburger js-wvu-hamburger">
        <span class="wvu-hamburger__line wvu-hamburger__line--top js-wvu-hamburger__line--top"></span>
        <span class="wvu-hamburger__line wvu-hamburger__line--middle"></span>
        <span class="wvu-hamburger__line wvu-hamburger__line--bottom js-wvu-hamburger__line--bottom"></span>
      </span>
      <span class="js-wvu-site-nav-toggle-text">Open Menu</span>
    </button>
    <ul id="wvu-site-nav__items" class="wvu-site-nav__items js-wvu-site-nav-items position-static list-unstyled d-lg-flex align-items-lg-center flex-lg-wrap mb-0">
      {% for item in navigation.main %}
        {% if not item.hidden %}
          {% set hasDropdown = false %}
          {% for subnavitem in item.subnav %}
            {% if not subnavitem.hidden %}
              {% set hasDropdown = true %}
            {% endif %}
          {% endfor %}
          <li{% if hasDropdown %} class="wvu-site-nav__menu-item-has-children position-relative d-lg-flex"{% endif %}>
            <a class="nav-link px-1 py-2 fw-normal flex-grow-1" href="{{ item.path }}">{{ item.title|raw }}</a>
            {% if hasDropdown %}
              <ul class="wvu-site-nav__sub-menu small bg-wvu-accent--blue-dark list-unstyled ms-2 ms-lg-0">
                {% for subnavitem in item.subnav %}
                  {% if not subnavitem.hidden %}
                    <li><a class="nav-link px-1 py-2 fw-normal flex-grow-1" href="{{ subnavitem.path }}">{{ subnavitem.title|raw }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul> <!-- /.nav-collapse -->
  </div> <!-- /.container -->
</nav>