{% set classesForBreadCrumbs = '' %}

<section class="wvu-breadcrumbs py-2 w-100 position-absolute wvu-z-index-breadcrumbs" aria-label="Breadcrumb Links">
  <div class="container position-relative small">
    <div class="ms-1">
      <div class="wvu-bg-tint text-white d-inline-block m-n1 p-1">
        <ul class="wvu-z-index-content wvu-slash-list ps-0 mb-0 d-inline-block">
          <li><a href="/">Home</a></li>
          {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
              <li><a class="text-white" href="{{ breadcrumb.path }}">{{ breadcrumb.title|raw }}</a></li>
            {% else %}
              <li class="text-white active">{{ breadcrumb.title|raw }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {% for breadcrumb in breadcrumbs %}
            {% if not loop.last %}
              {
                "@type": "ListItem",
                "position": {{ loop.index }},
                "name": "{{ breadcrumb.title|striptags|replace({ '"': '\\"' })|raw }}",
                "item": "https://www.wvu.edu{{ breadcrumb.path }}"
              },
            {% else %}
              {
                "@type": "ListItem",
                "position": {{ loop.index }},
                "name": "{{ breadcrumb.title|striptags|replace({ '"': '\\"' })|raw }}"
              }
            {% endif %}
          {% endfor %}
        ]
      }
    </script>

  </div>
</section>
