{% if siteindex.cache.hit %}
  <!-- Siteindex Cache Hit {{ siteindex.cache.time }} -->
{% else %}
  <!-- Siteindex Cache No hit {{ siteindex.cache.time }} -->
{% endif %}


<section aria-labelledby="navigation" class="wvu-a-z-index">

  <div class="wvu-a-z-index__nav">

    <div class="container">

      <h2 class="hidden__anchor u-wvu-visually-hidden" id="navigation">
        Navigation
      </h2>

      {% if siteindex.content.alpha %}
        <ul class="wvu-a-z-index__navigation">
          <li class="wvu-a-z-index__navigation-item"><a href="#non_alpha">#</a></li>
          {% for alpha in siteindex.content.alpha %}
            <li class="wvu-a-z-index__navigation-item"><a href="#{{alpha.key}}">{{alpha.key}}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>

  </div>

  <div class="container">

    <div class="wvu-a-z-index__apha-type-wrapper">

      <h3>Non Alpha</h3>

      <div class="wvu-a-z-index__letter">
        {% if siteindex.content.non_alpha %}
          <h4 class="wvu-a-z-index__header"># <a href="#navigation" id="non_alpha">[return to top]</a></h4>
          <ul class="wvu-a-z-index__list wvu-a-z-index__non_alpha">
            {% for site in siteindex.content.non_alpha %}
              <li class="wvu-a-z-index__item">
                <a href="{{site.url}}">{{site.title}}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>

    <div class="wvu-a-z-index__apha-type-wrapper">

      <h3>Alpha</h3>

      {% if siteindex.content.alpha %}
        {% for alpha in siteindex.content.alpha %}
          <div class="wvu-a-z-index__letter">
            <h4 class="wvu-a-z-index__header">{{alpha.key}} <a href="#navigation" id="{{alpha.key}}">[return to top]</a></h4>
            <ul class="wvu-a-z-index__list wvu-a-z-index__alpha">
              {% for site in alpha.objects %}
                <li class="wvu-a-z-index__item">
                  <a href="{{site.url}}">{{site.title}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      {% endif %}

    </div>

  </div>
</section>
