{% set mastheadLogoWebAddress = '/' %}
{% if contentful.site.mastheadLogoWebAddress %}
  {% set mastheadLogoWebAddress = contentful.site.mastheadLogoWebAddress %}
{% endif %}

<style>
  .wvu-logo-lockup--solo {
    bottom: -5px;
    background-position: 0 !important;
    background-size: 300px 75px !important;
    width: 300px !important;
    height: 75px !important;
    max-width: 300px !important;
  }
</style>

<a class="visually-hidden-focusable" href="#wvu-main-content">Skip to main content</a>
<div class="wvu-masthead bg-wvu-blue">
  <div class="container">
    <div class="row">
      <div class="align-self-center col-12 col-md">
        {% if 'Use Alternate Logo' in contentful.site.extraOptions %}
          <a class="d-block position-relative my-3 text-center text-lg-left text-decoration-none" href="{{ mastheadLogoWebAddress }}">
            <span class="visually-hidden">West Virginia University </span>
            <span class="visually-hidden">{% if contentful.site.coBrandTitle %}{{ contentful.site.coBrandTitle }}{% else %}{{ contentful.site.displayTitle }}{% endif %}</span>
            <img alt="#{contentful.site.mastheadLogo.file.title}" src="#{contentful.site.mastheadLogo.file.url}">
          </a>
        {% else %}
          <a class="d-flex position-relative my-3 align-items-center justify-content-center justify-content-lg-start text-decoration-none text-white" href="{{ mastheadLogoWebAddress }}">
            <span class="visually-hidden">West Virginia University </span>
            <span class="wvu-logo-lockup wvu-logo-lockup--solo mt-n1 position-relative">
            </span>
            {% if (contentful.site.mastheadLogo or contentful.site.coBrandTitle) and ('Hide Co-Brand in Masthead' not in contentful.site.extraOptions) %}
              <span class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 border-left border-white">
                {% if contentful.site.mastheadLogo %}
                  <img src="#{contentful.site.mastheadLogo.file.url}" alt="#{contentful.site.mastheadLogo.file.title}">
                {% else %}
                  {{ contentful.site.coBrandTitle }}
                  {% if contentful.site.coBrandSubTitle %}
                    <span class="d-block helvetica-neue-light small">{{ contentful.site.coBrandSubTitle|raw }}</span>
                  {% endif %}
                {% endif %}
              </span>
            {% endif %}
          </a>
        {% endif %}
      </div>
      <div class="col-8 mx-auto mx-md-0 col-md-5 col-lg-4 col-xl-3 py-2 mb-3 mb-md-0">
        {% set searchWebAddress = 'www.wvu.edu' %}
        {% if contentful.site.mastheadLogoWebAddress %}
          {% set searchWebAddress = contentful.site.mastheadLogoWebAddress %}
        {% endif %}
        <form class="form-inline w-100" action="https://search.wvu.edu/search" method="get" role="search" aria-label="Site Search">
          <label class="visually-hidden" id="search-label" for="q">
            <span class="visually-hidden">Search</span>
          </label>
          <input id="sort" name="sort" type="hidden" value="date:D:L:d1">
          <input id="output" name="output" type="hidden" value="xml_no_dtd">
          <input id="ie" name="ie" type="hidden" value="UTF-8">
          <input id="oe" name="oe" type="hidden" value="UTF-8">
          <input id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend">
          <input id="client" name="client" type="hidden" value="default_frontend">
          <div class="small mb-1">
            <a href="/SiteIndex" class="text-white text-decoration-none">A-Z Index</a> | <a href="https://cal.wvu.edu" class="text-white text-decoration-none">Calendar</a> | <a href="https://directory.wvu.edu/" class="text-white text-decoration-none">Directory</a> | <!--<a href="https://campusmap.wvu.edu/" class="wvu-masthead__link">Maps</a> |--> <a href="https://portal.wvu.edu/" class="text-white text-decoration-none">Portal</a> | <a href="https://wvu.bncollege.com" class="text-white text-decoration-none">Shop</a>
          </div>
          <div class="row">
            <div class="col pe-0">
              <input id="q" class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-2 ps-1">
              <button class="btn btn-outline-white" name="btnG" type="submit"><span class="fas fa-search h5 mb-0"><span class="visually-hidden">Search</span></span></button>
            </div>
          </div>
          <div class="row mt-1 text-white small">
            <fieldset class="col-12">
              <legend class="visually-hidden">
                Would you like to search this site specifically, or all WVU websites?
              </legend>
              <div class="d-inline-block pe-2">
                <input class="form-check-input" id="form-search__sitesearch" type="radio" name="as_sitesearch" value="{{ searchWebAddress }}" {% if 'Turn On Site Search' in contentful.site.extraOptions %}checked="checked"{% endif %}>
                <label class="form-check-label" for="form-search__sitesearch">Search this site</label>
              </div>
              <div class="d-inline-block">
                <input class="form-check-input" id="form-search__wvusearch" type="radio" name="as_sitesearch" value="wvu.edu" {% if 'Turn On Site Search' not in contentful.site.extraOptions %}checked="checked"{% endif %}>
                <label class="form-check-label" for="form-search__wvusearch">Search WVU</label>
              </div>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
