{% set subNav = [] %}
{% for item in navigation.main %}
  {% if 'about-wvu' in item.path  %}
    {% set subNav = subNav|merge(item) %}
  {% endif %}
{% endfor %}

{% if subNav %}
  <div class="sticky-top pt-3 mt-n3"></div>
    <ul class="nav flex-column border-start border-muted ps-1 mb-3">
      {% for item in subNav.subnav %}
        <li class="nav-item">
          <a class="nav-link text-decoration-none wvu-sub-nav__{{ item.path | replace ({'about-wvu/': "", 'academics/': ""})}}" href="{{ item.path }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
