{% include('patterns/wvu-breadcrumbs.html') %}

<div class="wvu-z-index-content pb-3 bg-wvu-neutral--dark-gray bg-wvu-accent--blue-dark wvu-bg-vignetting wvu-bg-blend-mode-luminosity--80 wvu-bg-position-center">
  <div class="container position-relative wvu-z-index-content">
    <div class="row align-items-stretch">
      <div class="col-12 col-md-8 mt-5">

        {% set title = contentful.title %}
        {% if contentful.displayTitle %}
          {% set title = contentful.displayTitle %}
        {% endif %}

        <h1 id="backpage-header-1-label" class="display-4 helvetica-neue-bold mb-0 text-white">{{ title|raw }}</h1>
      </div>
    </div>
  </div>
</div>
