<section class="py-5 bg-wvu-gold wvu-bg-topo-dark text-wvu-blue">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="mb-4 mb-lg-0 col-lg h3 wvu-shout">
            <span class="display-1 d-block">
              25
            </span>
            Rhodes Scholars
          </div>
          <div class="mb-4 mb-lg-0 col-lg h3 wvu-shout">
            <span class="display-1 d-block">
              26
            </span>
            Truman Scholars
          </div>
          <div class="mb-4 mb-lg-0 col-lg h3 wvu-shout">
            <span class="display-1 d-block">
              47
            </span>
            Goldwater Scholars
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h4 class="h2">Academic Excellence</h4>
        <p class="fs-5">WVU recipients of prestigious scholarships include 2 Beckman Scholars, 25 Rhodes Scholars, 26 Truman Scholars, 47 Goldwater Scholars, 4 George C. Marshall (British) Scholars, 6 Morris K. Udall Scholars, 5 USA Today All-USA College Academic First Team Members (and 11 academic team honorees), 29 Boren Scholars, 106 Gilman Scholars, 81 Fulbright Scholars, 3 Department of Homeland Security Scholars, 39 Critical Language Scholars, one Jack Kent Cooke Foundation Graduate Scholar, 34 National Science Foundation Graduate Research Fellowships and one Schwarzman Scholar.</p>
      </div>
    </div>
  </div>
</section>
