{% if wvutoday.cache.hit %}
  <!-- WVUToday Cache Hit {{ wvutoday.cache.time }} -->
{% else %}
  <!-- WVUToday Cache No hit {{ wvutoday.cache.time }} -->
{% endif %}

<ul class="list-unstyled">
  {% for story in wvutoday.content %}
    <li class="mb-2">
      <div class="row">
        <div class="col-sm-4">
          <img class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{story.thumbnail_url|replace({'840x840':'200x200'})}}" alt="{{story.image_alt}}" />
        </div>
        <div class="col-sm-8">
          <p class="mb-0"><a class="text-white helvetica-neue-bold text-decoration-none" href="{{story.link}}">{{story.title | raw}}</a></p>
          <p class="mb-0">{{story.date_formatted_human}}</p>
          {# other date formats
            {{story.date_formatted_long}}
            {{story.date_formatted_short}}
          #}
        </div>
      </div>
    </li>
  {% else %}
    <li>No Stories</li>
  {% endfor %}
</ul>

<p class="small"><a href="https://wvutoday.wvu.edu/colleges-schools">Browse by Colleges and Schools</a> | <span style="font-size: 0.9em">Go in-depth with</span> <a href="https://magazine.wvu.edu">WVU Magazine</a></p>
