<section class="py-5 bg-wvu-accent--blue-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="display-4 wvu-shout"><span class="text-wvu-gold">9th Most Affordable</span> Tuition Among Flagship Universities</h2>
      </div>
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="wvu-affordability__description">
          <p class="fs-5">Our tuition rates are among the lowest in the nation. Annual undergraduate tuition and fee rates for 2016-17 are $7,992 for in-state students and $22,488 for out-of-state students.</p>
          <p class="mb-0 fs-5"><a href="https://admissions.wvu.edu/cost-and-aid/cost-estimate">Estimate Your Costs</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
