<div class="col-xl ml-xl-3">
  <div class="mb-2 text-start">
    <div class="row mx-0">
      <div class="col-12 col-lg-6 ml-auto mt-2 mr-lg-n4">
        <img alt="" src="https://images.ctfassets.net/udw4veezvy46/325ijr1hIMlPwWfZxI5Iok/ed373a595bb89c1c18796903766b07c9/pathways-header-w-preview.jpg?&q=60&fm=avif&w=1600">
      </div>
      <div class="col-12 col-lg-6 mt-lg-4 text-center">
        <div class="pt-1 bg-wvu-gold shadow">
          <div class="pl-4 pt-3 pe-4 pb-3 mb-3 bg-light">
            <div class="row">
              <div class="col-2 col-md-3 col-xl-2 mx-auto">
                <p class="rounded-circle h2 bg-wvu-accent--blue text-white ratio ratio-1x1 d-flex align-items-center justify-content-center mt-n5 position-relative">
                  <span class="fa-regular fa-file-import w-50 position-relative"></span>
                </p>
              </div>
            </div>
            <h2 class="display-4 wvu-shout text-wvu-blue">Tell us about yourself.</h2>
            <p class="iowan-old-style-italic h2 text-wvu-blue">Tell us about yourself</p>

            <a class="btn btn-primary" href="#">Download the things</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>