{% set classesForSection = 'text-center wvu-bg-position-center text-white' %}

{% set classesForDisplayName = 'wvu-header-max-width mb-0 p-2 p-md-4 wvu-shout display-3 text-wvu-accent--blue' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForButton = 'btn-primary' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

<div class="row ms-0 me-0">  
  <div class="py-6 py-md-0 col-md-6 wvu-bg-size-cover {{ classesForSection }}" style="{{ inlineStyles }}"></div>    
  <div class="col-md-6 me-auto bg-light py-5 wvu-z-index-content">      
    <{{ hTag }} id="action-hero-split-1-label" class="{{ backgroundColor }} {{ classesForDisplayName }} ms-md-n5">{{ currentBlock.displayName }}</{{ hTag }}>
    <div class="ps-3">        
      <div class="wvu-p-max-width">
        {% set ledeBase = currentBlock.lede|raw %}
        {% set ledeArray = ledeBase|split('<p>', 2) %}
        {% set lede = ledeArray[0] ~ '<p class="iowan-old-style-italic text-wvu-blue h1 mb-3">' ~ ledeArray[1] %}
        {{ lede|raw }}
        {% if currentBlock.actionItem %}
          <a class="btn mt-3 {{ classesForButton }}" href="{{ currentBlock.actionItem.webAddress }}">{{ currentBlock.actionItem.title }}</a>
        {% endif %}
        {% if currentBlock.postscript %}
          <div class="mt-2">
            {{ currentBlock.postscript|raw }}
          </div>
        {% endif %} 
      </div>
    </div>
  </div>  
</div>