{% set classesForSection = 'wvu-bg-position-center text-white' %}

{% set classesForDisplayName = 'h1 text-wvu-gold wvu-bar wvu-bar--white wvu-bar--center iowan-old-style-black-italic' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForButton = 'btn-outline-white' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

{% set backgroundColor = 'bg-wvu-accent--blue-dark' %}
{% if currentBlock.backgroundColor %}
  {% set backgroundColor = currentBlock.backgroundColor %}
{% endif %}

{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=1600&q=40);" %}
{% endif %}

{% set textAlignedRightClass = 'justify-content-start' %}
{% if currentBlock.isTextAlignedRight == 'true' %}
  {% set textAlignedRightClass = 'justify-content-end' %}
{% endif %}

<div class="position-relative p-4 m-n4 wvu-bg-topo-dark">
  <div class="wvu-bg-size-cover position-relative text-center {{ classesForSection }}" style="{{ inlineStyles }}">
    <div class="container wvu-z-index-content">        
      <div class="row {{ textAlignedRightClass }}">
        <div class="col col-md-7 col-lg-5 py-6 px-4 px-xl-5 my-n4 {{ backgroundColor }}">            
          <{{ hTag }} id="{{ ariaLabelledById }}" class="{{ classesForDisplayName }}">{{ currentBlock.displayName }}</{{ hTag }}>
          {% set ledeBase = currentBlock.lede|raw|replace({'<p>': '<p class="pb-2">'}) %}
          {% set ledeArray = ledeBase|split('<p class="pb-2">', 2) %}
          {% set lede = ledeArray[0] ~ '<p class="lead pb-2">' ~ ledeArray[1] %}
          {{ lede|raw }}
          {% if currentBlock.actionItem %}
            <a class="btn {{ classesForButton }}" href="{{ currentBlock.actionItem.webAddress }}">{{ currentBlock.actionItem.title }}</a>
          {% endif %}
          {% if currentBlock.postscript %}
            <div class="mt-2">
              {{ currentBlock.postscript|raw }}
            </div>
          {% endif %} 
        </div>
      </div>      
    </div>
  </div>
</div>