{% set classesForDisplayName = 'display-2 wvu-shout text-wvu-gold' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForButton = 'btn-primary mb-1' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

<div class="row justify-content-center my-5">
  <div class="col-md-5 me-md-1 text-md-end p-3">
    <{{ hTag }} class="{{ classesForDisplayName }}">
      {{ currentBlock.displayName }}
    </{{ hTag }}>
  </div>
  <div class="col-md-5 ms-md-1 p-3">

    {% set ledeBase = currentBlock.lede|raw|replace({'<p>': '<p class="h3 mb-3 helvetica-neue-light">'}) %}
    {% set ledeArray = ledeBase|split('<p class="pb-2">', 2) %}
    {% set lede = ledeArray[0] ~ '<p class="lead pb-2">' ~ ledeArray[1] %}
    {{ lede|raw }}

    {% if currentBlock.actionItem %}
      <a href="{{ currentBlock.actionItem.webAddress }}" class="btn {{ classesForButton }}" role="button">{{ currentBlock.actionItem.title }}</a>
    {% endif %}

    {% if currentBlock.postscript %}
      <div class="mt-2">
        {{ currentBlock.postscript|raw }}
      </div>
    {% endif %} 
  </div>
</div>
