{% set classesForDisplayName = 'display-3 wvu-shout text-wvu-blue mb-2' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForBorder = 'bg-wvu-gold' %}
{% if currentBlock.classesForBorder %}
  {% set classesForBorder = currentBlock.classesForBorder %}
{% endif %}

{% set classesForButton = 'btn-primary' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

<div class="row justify-content-center pt-1">
  <div class="col-md-9">
    <div class="pt-1 shadow {{ classesForBorder }}">
      <div class="bg-white p-3 p-md-4">

        <{{ hTag }} id="{{ ariaLabelledById }}" class="{{ classesForDisplayName }}">
          {{ currentBlock.displayName }}
        </{{ hTag }}>

        {% set ledeBase = currentBlock.lede|raw|replace({'<p>': '<p class="mb-2">'}) %}
        {% set ledeArray = ledeBase|split('<p class="mb-2">', 2) %}
        {% set lede = ledeArray[0] ~ '<p class="lead mb-2">' ~ ledeArray[1] %}
        {{ lede|raw }}

        {% if currentBlock.actionItem %}
          <p>
            <a href="{{ currentBlock.actionItem.webAddress }}" class="btn {{ classesForButton }}" role="button">{{ currentBlock.actionItem.title }}</a>
          </p>
        {% endif %}

      </div>
    </div>
  </div>
</div>
