{% set classesForDisplayName = 'display-1 wvu-shout text-wvu-gold' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

<div class="wvu-bg-topo-dark m-n3 m-lg-n5 p-3 p-lg-5">
  <div class="row p-3 p-lg-4">
    <div class="col-md-6 col-xl-4 pt-6 pt-lg-0 pb-lg-6">
      <{{ hTag }} id="{{ ariaLabelledById }}" class="wvu-z-index-content mb-5 {{ classesForDisplayName }} ms-lg-n5">{{ currentBlock.displayName }}</{{ hTag }}>        
      <div class="bg-white p-3 text-center wvu-z-index-content mb-lg-6">
        <div>
          {{ currentBlock.lede|raw }}
        </div>
        {% if currentBlock.postscript %}
          <div class="mt-2">
            {{ currentBlock.postscript|raw }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>