{% set textAlignedRightClass = '' %}
{% if currentBlock.isTextAlignedRight == 'true' %}
  {% set textAlignedRightClass = 'ms-auto' %}
{% endif %}

<div class="row py-5">
  <div class="col col-md-6 {{ textAlignedRightClass }}">
    <div class="wvu-bg-tint p-3 p-lg-4 my-n4">
      <div class="wvu-z-index-content">            
        {{ currentBlock.lede|raw }}
        {% if currentBlock.postscript %}
          <div class="mt-2">
            {{ currentBlock.postscript|raw }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>