{% set classesForDisplayName = 'display-4 wvu-shout' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForButton = 'btn btn-primary btn-lg' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

{% set textAlignedRightClass = '' %}
{% if currentBlock.isTextAlignedRight == 'true' %}
  {% set textAlignedRightClass = 'ms-auto' %}
{% endif %}

<div class="row py-5">
  <div class="col col-md-6 {{ textAlignedRightClass }}">
    <div class="wvu-bg-tint p-3 p-lg-4 my-n4">
      <div class="wvu-z-index-content">            
        <{{ hTag }} id="{{ ariaLabelledById }}" class="{{ classesForDisplayName }}">
          {{ currentBlock.displayName }}
        </{{ hTag }}>
        {% set ledeBase = currentBlock.lede|raw %}
        {% set ledeArray = ledeBase|split('<p>', 2) %}
        {% set lede = ledeArray[0] ~ '<p class="iowan-old-style-italic text-wvu-blue h1 mb-3">' ~ ledeArray[1] %}
        <div>
          {{ lede|raw }}
        </div>
        {% if currentBlock.actionItem %}
          <a class="btn {{ classesForButton }}" href="{{ currentBlock.actionItem.webAddress }}" role="button">{{ currentBlock.actionItem.title }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>