{% set layoutClass = 'wvu-programs' %}
{% if 'Use Quicklinks Layout' in currentBlock.extraOptions %}
  {% set layoutClass = 'wvu-quicklinks' %}
{% elseif 'Use Card Layout' in currentBlock.extraOptions %}
  {% set layoutClass = 'wvu-featurettes wvu-programs' %}
{% endif %}
<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="{{ layoutClass }} {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>

  <div class="wvu-container">

    {% if 'Use Quicklinks Layout' in currentBlock.extraOptions %}
      {% include('blocks/programs/quicklink-layout.html') %}
    {% elseif 'Use Card Layout v2' in currentBlock.extraOptions %}
      {% include('blocks/programs/card-layout--v2.html') %}
    {% else %}
      {% set showMajorMap = 'false' %}
      {% include('blocks/programs/card-layout.html') %}
    {% endif %}

  </div>

</div>
