<div class="wvu-hero wvu-hero--archive" style="background-image: url({{ currentBlock.largeBackgroundImage.file.url }}?w=960&amp;h=640);">

  <div class="wvu-hero__photo-description u-wvu-visually-hidden">
    Background Image: {{ currentBlock.altTextForBackgroundImage }}
  </div>
  <div class="wvu-hero__photo-caption">

    {{ currentBlock.caption | raw }}

  </div>
</div>
