<div class="wvu-campus-maps">
  <div class="wvu-container">
    <a href="https://campusmap.wvu.edu/" class="wvu-campus-maps__inner">
      <h2>Download Maps</h2>
      <img src="../images/map-marker.png" alt="Map marker" />
    </a>
  </div>
</div>
