<div class="mm-listing">

  <div class="wvu-container">

    <ul>
      {% for career in careers %}
        {% if not(career.entryType) or 'Career (O*NET)' in career.entryType %}
          <li>
            <a href="/academics/careers/{{career.slug}}">{{ career.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>

</div>
