<div class="wvu-backpage">
  <div class="wvu-container">

    <div class="main">

      {{ currentBlock.pageContent | raw }}

    </div>

    <aside class="wvu-sidebar">
      {% include('patterns/wvu-sub-nav--about-wvu.html') %}
    </aside>

  </div> <!-- /.wvu-container -->
</div>
