<div id="anchor-find-stuff" class="wvu-big-search wvu-bg-topo-light wvu-big-search--programs">
  <div class="wvu-container">
    <div class="wvu-big-search__header">

      <h2>{% if currentBlock.displayTitle %}{{ currentBlock.displayTitle|raw }}{% else %}Find Your Program{% endif %}</h2>
      <p>
        {% if currentBlock.lede %}
          {{ currentBlock.lede|raw }}
        {% else %}
          Whether you’re an undergraduate, graduate or online student, we have the programs and resources to help you meet your goals.
        {% endif %}
      </p>

    </div>
    <form id="form-search" class="form-search form-search--programs" action="/academics/programs" method="get" aria-label="Search for your program.">
      <label class="form-search__label form-search__label--programs" for="query">
        <span class="form-search__label-text form-search__text--majors">Search Majors</span>
        {% if 'Undergraduate Majors' in currentBlock.searchOnly %}
          <input type="hidden" name="level" value="undergraduate">
        {% elseif 'Graduate Majors' in currentBlock.searchOnly %}
          <input type="hidden" name="level" value="undergraduate">
        {% endif %}
        {% if 'Morgantown Majors' in currentBlock.searchOnly %}
          <input type="hidden" name="campus" value="morgantown">
        {% endif %}
        {% if 'Morgantown Majors' in currentBlock.searchOnly or 'Undergraduate and Graduate Majors' in currentBlock.searchOnly or 'Graduate Majors' in currentBlock.searchOnly or 'Undergraduate Majors' in currentBlock.searchOnly %}
          <input type="hidden" name="type" value="major">
        {% endif %}
        <input id="query" class="form-search__field form-search__field--programs " name="q" maxlength="256" placeholder="Search..." type="search" />
      </label>
      <input class="form-search__submit form-search__submit--programs" type="submit" value="Search" />
    </form>

    <div class="wvu-big-search__postscript">
      <p>Or <a href="/academics/programs">view all programs</a>.</p>
    </div>

  </div>
</div>
