<div class="wvu-action-hero">
  <div class="wvu-container">

    <div class="wvu-action-hero__header">
      <h2>{{ currentBlock.displayName }}</h2>
      {{ currentBlock.lede|raw }}
    </div>

    <a href="{{ currentBlock.actionItem.webAddress }}" class="button button--wvu-blue-fill">{{ currentBlock.actionItem.title }}</a>

    {% if currentBlock.postscript %}
      <div class="wvu-action-hero__postscript">{{ currentBlock.postscript | raw }}</div>
    {% endif %}

  </div>
</div>
