<div class="wvu-backpage wvu-{{ currentBlock.backgroundColor }} background">
  <div class="wvu-container">

    <div class="main main--wide">

      {{ currentBlock.pageContent | raw }}

    </div>

  </div> <!-- /.wvu-container -->
</div>
