<div class="wvu-profile wvu-{{ currentBlock.backgroundColor }} background">
  <div class="wvu-container">
    <div class="wvu-profile__photo-and-main">
      <div class="wvu-profile__photo">
        <img src="{{ currentBlock.featuredFacultyMember.thumbnail.file.url }}?w=480&h=480&q=40" alt="Portrait of {{ currentBlock.featuredFacultyMember.name }}">
      </div>
      <div class="wvu-profile__main">
        <div class="wvu-profile__goal">
          {% for goal in currentBlock.goals %}
            {{ goal.title }}
          {% endfor %}
          <span><a href="/student-profiles">Student Profiles</a> | <a href="/faculty-profiles">Faculty Profiles</a></span>
        </div>
        <h2>{{ currentBlock.snazzyHeadline }}</h2>
        <div class="wvu-profile__name">
          {{ currentBlock.featuredFacultyMember.name }}
        </div>

        {{ currentBlock.description | raw }}

        {% for action in currentBlock.actionItems %}
          <a href="{{ action.quicklink.webAddress }}" class="button">
            {{ action.title }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="wvu-profile__sidebar">
      <h3>Also See:</h3>
      <ul>
        {% for interest in currentBlock.interests  %}
          <li>
            <a href="{{ interest.webAddress }}">
              {{ interest.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
