<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="wvu-lede-text wvu-lede-text-- clearBoth {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>
  <div class="wvu-container">

    {{ currentBlock.text|raw }}

  </div>
</div>
