<div class="mm-listing">

  <div class="wvu-container">

    <ul>
      {% for program in programs  %}
        <li>
          <a href="{{program.webAddressCourseCatalog}}">{{ program.expandedTitle }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>
