<div class="wvu-hero {% if currentBlock.isTextAlignedRight == true %}wvu-hero--right{% endif %} wvu-{{ currentBlock.backgroundColor }} background" style="background-image: url({{ currentBlock.feature.largeBackgroundImage.file.url }}?q=40);">
  <div class="wvu-hero__container">
    <div class="wvu-hero__copy{% if currentBlock.iframeEmbed %} wvu-hero__copy--iframe{% endif %}">

      <h2>
        <span>{{ currentBlock.snazzyHeadline }}</span>
      </h2>

      {{ currentBlock.snazzyCopy | raw }}

      <!--
      <h2>
        <span>Chart Your <br />Course.</span>
      </h2>

      <p>
        Explore our majors, view costs and financial aid info, explore our campus and community, student life, schedule a tour or <strong>apply to WVU</strong>.
      </p>

      <a href="https://admissions.wvu.edu" class="button button--white">
        Undergraduate Admissions
      </a>

      <a href="https://graduateadmissions.wvu.edu/" class="button button--white">
        Graduate Admissions
      </a>

      <p class="wvu-hero__postscript"><a href="https://admissions.wvu.edu/how-to-apply">Apply as an undergrad</a> | <a href="https://app.applyyourself.com/AYApplicantLogin/fl_ApplicantConnectLogin.asp?id=wvugrad">Apply to Grad School</a>
      </p>
      -->

    </div>

    {% if currentBlock.iframeEmbed %}
      <div class="wvu-hero__iframe">
        <div class="iframe-container">
          <iframe src="{{ currentBlock.iframeEmbed }}" scrolling="no"></iframe>
        </div>
      </div>
    {% endif %}

  </div>
  <div class="wvu-hero__photo-description u-wvu-visually-hidden">
    Background Image: {{ currentBlock.feature.altTextForBackgroundImage }}
  </div>

  {% if currentBlock.feature.caption %}
    <div class="wvu-hero__photo-caption">
      {{ currentBlock.feature.caption | raw }} <p>| <a href="/home-page-archive"><span class="u-wvu-visually-hidden">Home Page Story</span>Archive</a></p>
    </div>
  {% endif %}

</div>
