<div class="program-search-small" style="background-image: url({{ currentBlock.largeBackgroundImage.file.url }}?w=1700&amp;h=1133);">
  <div class="wvu-container d-lg-flex">
    <div class="program-search-small__body">
      <div class="programs-search-small__body-inner">
        {% if currentBlock.displayTitle %}
          <h2>{{ currentBlock.displayTitle }}</h2>
        {% else %}
          <h2>This is my title.</h2>
        {% endif %}
        {% if currentBlock.body %}
          {{ currentBlock.body | raw }}
        {% else %}
          <p>Bleeding edge digital literacy. Put your feelers out guerrilla marketing, nor define the underlying principles that drive decisions and strategy for your design language personal development hit the ground running guerrilla marketing.</p>
          <a href="#" class="button button--accent-blue-fill">Call to Action</a>
        {% endif %}
      </div>
    </div>
    <div class="program-search-small__search">
      <div id="anchor-find-stuff" class="d-lg-flex align-items-center program-search-small__big-search program-search-small__big-search--programs h-100">
        <div class="wvu-container">
          <div class="program-search-small__big-search-header">

            <h2>{% if currentBlock.searchTitle %}{{ currentBlock.searchTitle|raw }}{% else %}Find Your Program{% endif %}</h2>
            <p>
              {% if currentBlock.searchLede %}
                {{ currentBlock.lede|raw }}
              {% else %}
                Whether you’re an undergraduate, graduate or online student, we have the programs and resources to help you meet your goals.
              {% endif %}
            </p>

          </div>
          <form id="form-search" class="form-search form-search--programs" action="/academics/programs" method="get" aria-label="Search for your program.">
            <label class="form-search__label form-search__label--programs" for="query">
              <span class="form-search__label-text form-search__text--majors">Search Majors</span>
              {% if 'Undergraduate Majors' in currentBlock.searchOnly %}
                <input type="hidden" name="level" value="undergraduate">
              {% elseif 'Graduate Majors' in currentBlock.searchOnly %}
                <input type="hidden" name="level" value="undergraduate">
              {% endif %}
              {% if 'Morgantown Majors' in currentBlock.searchOnly %}
                <input type="hidden" name="campus" value="morgantown">
              {% endif %}
              {% if 'Morgantown Majors' in currentBlock.searchOnly or 'Undergraduate and Graduate Majors' in currentBlock.searchOnly or 'Graduate Majors' in currentBlock.searchOnly or 'Undergraduate Majors' in currentBlock.searchOnly %}
                <input type="hidden" name="type" value="major">
              {% endif %}
              <input id="query" class="form-search__field form-search__field--programs " name="q" maxlength="256" placeholder="Search..." type="search" />
            </label>
            <input class="form-search__submit form-search__submit--programs" type="submit" value="Search" />
          </form>

          <div class="program-search-small__big-search-postscript">
            <p>Or <a href="/academics/programs">view all programs</a>.</p>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
