<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="wvu-programs {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>

  <div class="wvu-container">

    {% if currentBlock.displayTitle %}
      <div class="wvu-featurettes__header">
        <h2>{{ currentBlock.displayTitle }}</h2>
      </div>
    {% endif %}

    {% if currentBlock.lede %}
      <div class="wvu-lede-text" style="text-align: center; padding-top: 0; padding-bottom: 3em">
        <p>{{ currentBlock.lede }}</p>
      </div>
    {% endif %}

    <div class="wvu-programs__programs">
      {% for program in currentBlock.relatedPrograms %}
        {% include('blocks/blocks-program.html') %}
      {% endfor %}
    </div>

    {% if currentBlock.subLede %}
      <div class="wvu-lede-text" style="text-align: center; padding: 0;">
        <p>{{ currentBlock.subLede }}</p>
      </div>
    {% endif %}

    {% if currentBlock.relatedQuicklinks %}
      <div style="text-align: center; padding: 0;">
        {% for quicklink in currentBlock.relatedQuicklinks %}
          <a href="{{ quicklink.webAddress }}" class="button button--blue">{{ quicklink.linkText }}</a>
        {% endfor %}
      </div>
    {% endif %}

  </div>

</div>
