<div>

  <div class="wvu-container">

    <p style="margin-top: 0;">
      These daily case counts and test results were last updated on <strong>{{ caseCounts[0].lastUpdated.month.textLong }} {{ caseCounts[0].lastUpdated.day.numberShort }}, {{ caseCounts[0].lastUpdated.year.numberLong }}</strong>.
    </p>

    <div id="case-counts" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count">
        <caption style="text-align: left; margin-top: 1rem;"><a href="#case-counts-title" aria-describedby="notes-label-case-counts" id="case-counts-title-ref"><!--WVU System Coronavirus -->Positive Case Counts</a></caption>
        <tr>
          <th scope="col"><span style="text-decoration: underline">Campus</span></th>
          <th scope="col"><span style="text-decoration: underline">Students</span></th>
          <th scope="col"><span style="text-decoration: underline">Faculty</span></th>
          <th scope="col"><span style="text-decoration: underline">Staff</span></th>
          <th scope="col"><span style="text-decoration: underline">Graduate Assistants</span></th>
          <th scope="col"><span style="text-decoration: underline">Residents</span></th>
          <th scope="col"><span style="text-decoration: underline">Unknown</span></th>
          <th scope="col"><span style="text-decoration: underline"><a href="#difference" aria-describedby="notes-label-case-counts" id="difference-ref">Total</a></span></th>
          <th scope="col"><span style="text-decoration: underline"><a href="#pre-july24" aria-describedby="notes-label-case-counts" id="pre-july24-ref">Pre-Campus Testing Total</a></span></th>
        </tr>
        {% for caseCountsCampus in caseCounts %}
          <tr>
            <th scope="row">{{ caseCountsCampus.relatedDivisionalCampus.campusNameShort }}</th>
            <td>{{ caseCountsCampus.totalPositiveCasesStudents|number_format }}</td>
            <td>{{ caseCountsCampus.totalPositiveCasesFaculty|number_format }}</td>
            <td>{% if caseCountsCampus.totalPositiveCasesGraduateAssistants %}{{ caseCountsCampus.totalPositiveCasesGraduateAssistants|number_format }}{% else %}-{% endif %}</td>
            <td>{% if caseCountsCampus.totalPositiveCasesResidents %}{{ caseCountsCampus.totalPositiveCasesResidents|number_format }}{% else %}-{% endif %}</td>
            <td>{{ caseCountsCampus.totalPositiveCasesStaff|number_format }}</td>
            <td>{{ caseCountsCampus.totalPositiveCasesUnknown|number_format }}</td>
            <td>{{ caseCountsCampus.totalPositiveCasesOverall|number_format }}</td>
            <td>{% if caseCountsCampus.totalPositiveCasesPreJuly24 %}{{ caseCountsCampus.totalPositiveCasesPreJuly24 }}{% else %}-{% endif %}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <h2 id="notes-label-case-counts" class="u-wvu-visually-hidden"">Notes</h2>
    <ol id="notes-case-counts">
      <li id="case-counts-title" style="margin: 0"> These data represent known positive cases among WVU employees and students [on the Morgantown campus] that have been reported to University officials. They may underestimate the number of cases since employees and students may be tested outside of the WVU Medicine system and may not voluntarily report their results to the system. <a href="#case-counts-title-ref" aria-label="Back to content">↩</a></li>
      <li id="difference" style="margin: 0"> The difference in total positive cases versus totals for students and employees combined is due to some individuals being both a student and an employee. <a href="#difference-ref" aria-label="Back to content">↩</a></li>
      <li id="pre-july24" style="margin: 0"> The total number of positive cases reported to University officials before campus testing results became available on July 24. <a href="#pre-july24-ref" aria-label="Back to content">↩</a></li>
    </ol>

    <div id="test-results" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count">
        <caption style="text-align: left; margin-top: 1rem;"><a href="#test-results-title" aria-describedby="notes-label-test-results" id="test-results-title-ref"><!--WVU System Coronavirus -->Test Results</a></caption>
        <tr>
          <th scope="col"><span style="text-decoration: underline">Campus</span></th>
          <th scope="col"><span style="text-decoration: underline">Students:<br>Pending</span></th>
          <th scope="col"><span style="text-decoration: underline">Students:<br>Resulted</span></th>
          <th scope="col"><span style="text-decoration: underline">Students:<br>Positive</span></th>
          <th scope="col"><span style="text-decoration: underline">Faculty/Staff:<br>Pending</span></th>
          <th scope="col"><span style="text-decoration: underline">Faculty/Staff:<br>Resulted</span></th>
          <th scope="col"><span style="text-decoration: underline">Faculty/Staff:<br>Positive</span></th>
          <th scope="col"><span style="text-decoration: underline">Total Pending</span></th>
          <th scope="col"><span style="text-decoration: underline">Total Resulted</span></th>
          <th scope="col"><span style="text-decoration: underline">Total Positive</span></th>
        </tr>
        {% for caseCountsCampus in caseCounts %}
          <tr>
            <th scope="row">{{ caseCountsCampus.relatedDivisionalCampus.campusNameShort }}</th>
            <td>{{ caseCountsCampus.totalPendingTestsStudents|number_format }}</td>
            <td>{{ caseCountsCampus.totalTestsStudents|number_format }}</td>
            <td>{{ caseCountsCampus.totalPositiveTestsStudents|number_format }}</td>
            <td>{{ caseCountsCampus.totalPendingTestsFacultyStaff|number_format }}</td>
            <td>{{ caseCountsCampus.totalTestsFacultyStaff|number_format }}</td>
            <td>{{ caseCountsCampus.totalPositiveTestsFacultyStaff|number_format }}</td>
            <td>{{ caseCountsCampus.totalPendingTestsOverall|number_format }}</td>
            <td>{{ caseCountsCampus.totalTestsOverall|number_format }}</td>
            <td>{{ caseCountsCampus.totalPositiveTestsOverall|number_format }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <h2 id="notes-label-test-results" class="u-wvu-visually-hidden"">Notes</h2>
    <ol id="notes-test-results">
      <li id="test-results-title" style="margin: 0"> These test results are only for those tests performed by QLabs and Quest Diagnostics as part of the <a href="/return-to-campus/what-you-need-to-know/testing">University testing process</a>. Testing results became available on July 24.<a href="#test-results-title-ref" aria-label="Back to content">↩</a></li>
    </ol>

  </div>

</div>
