{% set textAlignedRightClass = '' %}
{% set iframeClass = '' %}
{% set hideMobileClass = '' %}
{% if currentBlock.isTextAlignedRight == 'true' %}
  {% set textAlignedRightClass = 'wvu-hero--right' %}
{% endif %}
{% if currentBlock.iframeEmbed or currentBlock.youTubeVideo %}
  {% set iframeClass = 'wvu-hero__copy--iframe' %}
{% endif %}
{% if 'Hide Image on Mobile' in currentBlock.extraOptions %}
  {% set hideMobileClass = 'hideMobile' %}
{% endif %}

{% set backgroundCaption = '' %}
{% if currentBlock.feature %}
  {% set backgroundImage = currentBlock.feature.largeBackgroundImage.file.url %}
  {% if currentBlock.feature.caption %}
    {% set backgroundCaption = currentBlock.feature.caption %}
  {% endif %}
  {% set backgroundAltText = currentBlock.feature.altTextForBackgroundImage %}
{% else %}
  {% set backgroundImage = currentBlock.backgroundImage.file.url %}
  {% if currentBlock.backgroundCaption %}
    {% set backgroundCaption = currentBlock.backgroundCaption %}
  {% endif %}
  {% set backgroundAltText = currentBlock.backgroundAltText %}
{% endif %}

<style>
  @media (min-width: 60em) {
    div.bgImg.hideMobile {
      background-image: url({{ backgroundImage }}?w=2200&q=60);
    }
  }
  div.bgImg {
    background-image: url({{ backgroundImage }}?w=2200&q=60);
  }
</style>

<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="wvu-hero bgImg {{ textAlignedRightClass }} {{ hideMobileClass }} {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>
  <div class="wvu-hero__container">
    <div class="wvu-container wvu-hero__copy {{ iframeClass }}">

      {% set hTag = 'h2' %}
      {% if 'Set Title as H1' in currentBlock.extraOptions %}
        {% set hTag = 'h1' %}
      {% endif %}
      <{{hTag}}>
        <span>{{ currentBlock.snazzyHeadline|raw }}</span>
      </{{hTag}}>

      {% if currentBlock.lede %}
        <p>{{ currentBlock.lede }}</p>
      {% endif %}

      {{ currentBlock.snazzyCopy | raw }}

      {% if currentBlock.primaryActionItems %}

      {% endif %}

      {% if currentBlock.primaryActionItems %}

      {% endif %}

    </div>

    {% if currentBlock.iframeEmbed %}
      <div class="wvu-hero__iframe">
        <div class="iframe-container">
          <iframe title="Fill out inquiry form." src="{{ currentBlock.iframeEmbed }}" scrolling="no"></iframe>
        </div>
      </div>
    {% endif %}

    {% if currentBlock.youTubeVideo %}
      <div class="videoWrapperWrapper">
        <div class="videoWrapper" style="border-color: {{ currentBlock.youTubeVideoBorderColor }}; background-color: {{ currentBlock.youTubeVideoBorderColor }}">
        <lite-youtube videoid="{{ currentBlock.youTubeVideo.videoID }}" style="background-image: url('https://i.ytimg.com/vi/{{ currentBlock.youTubeVideo.videoID }}/hqdefault.jpg');">
           <button type="button" class="lty-playbtn">
             <span class="u-wvu-visually-hidden">Play Video: {{ currentBlock.youTubeVideo.title }}</span>
           </button>
        </lite-youtube>
        {% if 'Show Video Description' in currentBlock.extraOptions %}
          <p class="videoDescription">{% if currentBlock.youTubeVideoDescription %}{{ currentBlock.youTubeVideoDescription }}{% else %}{{ currentBlock.youTubeVideo.description }}{% endif %}</p>
        {% endif %}
        </div>
      </div>
    {% endif %}

  </div>

  {% if 'Hide Caption' not in currentBlock.extraOptions %}
    <div class="wvu-hero__photo-description u-wvu-visually-hidden">
      Background Image: {{ backgroundAltText }}
    </div>
  {% endif %}

  {% if 'Hide Caption' not in currentBlock.extraOptions %}
    {% if backgroundCaption != '' %}
      <div class="wvu-hero__photo-caption">
        {{ backgroundCaption | raw }}{% if 'Hide Archive Link in Caption' not in currentBlock.extraOptions %} <p>| <a href="/home-page-archive"><span class="u-wvu-visually-hidden">Home Page Story</span>Archive</a></p>{% endif %}
      </div>
    {% endif %}
  {% endif %}

</div>
