{% if currentBlock.thumbnail is defined %}
  {% set imageInfo = currentBlock.thumbnail %}
  {% set altText = imageInfo.description %}
{% else %}
  {% set imageInfo = currentBlock.featuredStudent.thumbnail %}
  {% set altText = "Portrait of "~currentBlock.featuredStudent.name %}
{% endif %}

<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="wvu-profile clearBoth {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>
  <div class="wvu-container">
    <div class="wvu-profile__photo-and-main {% if currentBlock.interests|length == 0 %}no-interests{% endif %}">
      <div class="wvu-profile__photo">
        <img class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" data-src="{{ imageInfo.file.url }}?w=480&h=480&q=40" alt="{{ altText }}">
      </div>
      <div class="wvu-profile__main">

        {% if 'Hide Student/Faculty Archive Links' not in currentBlock.extraOptions %}
          <div class="wvu-profile__goal">
            {% for goal in currentBlock.goals %}
              {{ goal.title }}
            {% endfor %}
            <span><a href="/student-profiles">Student Profiles</a> | <a href="/faculty-profiles">Faculty Profiles</a></span>
          </div>
        {% endif %}

        <h2 class="{% if 'Hide Student/Faculty Archive Links' in currentBlock.extraOptions %}remove-top-margin{% endif %}">{{ currentBlock.snazzyHeadline }}</h2>
        {% if 'Hide Name' not in currentBlock.extraOptions %}
          <div class="wvu-profile__name">
            {{ currentBlock.featuredStudent.name }}
          </div>
        {% endif %}
        <div class="wvu-profile__major">
          {{ currentBlock.featuredStudent.major.title }}{% if currentBlock.featuredStudent.year.yearFourDigits %}, Class of {{ currentBlock.featuredStudent.year.yearFourDigits }}{% endif %}
        </div>

        {{ currentBlock.description | raw }}

        <div style="padding-top: 1em">
          {% for action in currentBlock.actionItems %}
            <a href="{{ action.quicklink.webAddress }}" class="button">
              {{ action.action|raw }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>

    {% if currentBlock.interests|length > 0 %}
      <div class="wvu-profile__sidebar">
        <h3>Also See:</h3>
        <ul>
          {% for interest in currentBlock.interests  %}
            <li>
              <a href="{{ interest.webAddress }}">
                {{ interest.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

  </div>
</div>
