1) I know you said the charts are going away, but you might consider putting an .sr-only skip link inside the canvas tag to the table: https://www.chartjs.org/docs/latest/general/accessibility.html

<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

<style>
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .scrolling-wrapper {
    height: 80px;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  canvas {
    display: inline-block;
  }
</style>

<div>

  <div class="wvu-container py-5">

    <p style="margin-top: 0;">
      These daily test results were last updated on <strong>{{ testResults[0].dateDataAdded.month.textLong }} {{ testResults[0].dateDataAdded.day.numberShort }}, {{ testResults[0].dateDataAdded.year.numberLong }}</strong> with the previous reporting day's testing results. Tables with a breakdown by audience are <a href="#test-results-cumulative">available below</a> the charts.
    </p>

    {% set unixEpoch = testResults[0].dateDataFrom.unix*1000 %}
    {% set maxResulted = 0 %}

    {% set testsPerformedTotalJSON = '[' %}
    {% set testsResultedTotalJSON = '[' %}
    {% set testsPositiveTotalJSON = '[' %}
    {% set testsPercentPositiveTotalJSON = '[' %}

    {% for testResult in testResults|sort|slice(0, 28) %}
      {% set date = testResult.dateDataFrom.year.numberLong ~ '-' ~ testResult.dateDataFrom.month.numberLong ~ '-' ~ testResult.dateDataFrom.day.numberLong %}

      {% if testResult.testsPerformedTotal %}
        {% set testsPerformedTotal = testResult.testsPerformedTotal %}
      {% else %}
        {% set testsPerformedTotal = 0 %}
      {% endif %}
      {% if testResult.testsResultedTotal %}
        {% set testsResultedTotal = testResult.testsResultedTotal %}
        {% if testsResultedTotal > maxResulted %}
          {% set maxResulted = testsResultedTotal %}
        {% endif %}
      {% else %}
        {% set testsResultedTotal = 0 %}
      {% endif %}
      {% if testResult.testsPositiveTotal %}
        {% set testsPositiveTotal = testResult.testsPositiveTotal %}
      {% else %}
        {% set testsPositiveTotal = 0 %}
      {% endif %}
      {% if testResult.testsPercentPositiveTotal %}
        {% set testsPercentPositiveTotal = testResult.testsPercentPositiveTotal|replace({'%':''}) %}
      {% else %}
        {% set testsPercentPositiveTotal = 0 %}
      {% endif %}

      {% set testsPerformedTotalJSON = testsPerformedTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsPerformedTotal ~ ' }'  %}
      {% set testsResultedTotalJSON = testsResultedTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsResultedTotal ~ ' }'  %}
      {% set testsPositiveTotalJSON = testsPositiveTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsPositiveTotal ~ ' }'  %}
      {% set testsPercentPositiveTotalJSON = testsPercentPositiveTotalJSON ~ '{ "x": "' ~ date ~'", "y": ' ~ testsPercentPositiveTotal ~ ' }'  %}

      {% if loop.last == false  %}
        {% set testsPerformedTotalJSON = testsPerformedTotalJSON ~ ', ' %}
        {% set testsResultedTotalJSON = testsResultedTotalJSON ~ ', ' %}
        {% set testsPositiveTotalJSON = testsPositiveTotalJSON ~ ', ' %}
        {% set testsPercentPositiveTotalJSON = testsPercentPositiveTotalJSON ~ ', ' %}
      {% endif %}

    {% endfor %}

    {% set testsPerformedTotalJSON = testsPerformedTotalJSON ~ ']' %}
    {% set testsResultedTotalJSON = testsResultedTotalJSON ~ ']' %}
    {% set testsPositiveTotalJSON = testsPositiveTotalJSON ~ ']' %}
    {% set testsPercentPositiveTotalJSON = testsPercentPositiveTotalJSON ~ ']' %}

    <div class="table-responsive" style="margin-top: 4rem">
      <div class="chart-container" style="position: relative;  width:1200px;">
        <canvas id="testsPerformedTotalChart" width="800" height="150"></canvas>
      </div>
    </div>

    <div class="table-responsive" style="margin-top: 4rem">
      <div class="chart-container" style="position: relative;  width:1200px;">
        <canvas id="testsResultedTotalChart" width="800" height="150"></canvas>
      </div>
    </div>

    <div class="table-responsive" style="margin-top: 4rem">
      <div class="chart-container" style="position: relative;  width:1200px;">
        <canvas id="testsPositiveTotalChart" width="800" height="150"></canvas>
      </div>
    </div>

    <div class="table-responsive" style="margin-top: 4rem">
      <div class="chart-container" style="position: relative;  width:1200px;">
        <canvas id="testsPercentPositiveTotalChart" width="800" height="150"></canvas>
      </div>
    </div>

    <script>

      var charts = [
        {
          id: "testsPerformedTotal",
          label: "Total Tests Performed",
          data: {{ testsPerformedTotalJSON|raw }},
          hoverBackgroundColor: "#002855",
          precision: 0
        },
        {
          id: "testsResultedTotal",
          label: "Total Tests Resulted",
          data: {{ testsResultedTotalJSON|raw }},
          hoverBackgroundColor: "#002855",
          stepSize: 500,
          precision: 0
        },
        {
          id: "testsPositiveTotal",
          label: "Total Tests Positive",
          data: {{ testsPositiveTotalJSON|raw }},
          hoverBackgroundColor: "#002855",
          precision: 0,
          stepSize: 500,
          max: {{ maxResulted|round(-3,'ceil') }}
        },
        {
          id: "testsPercentPositiveTotal",
          label: "Total Tests Percent Positive",
          data: {{ testsPercentPositiveTotalJSON|raw }},
          hoverBackgroundColor: "#002855",
          tooltips: {
            mode: "label",
            callbacks: {
              label: function(tooltipItem, data) {
                return tooltipItem['value']+'%';
              }
            }
          },
          precision: 2,
          max: 100,
          stepSize: 20,
          callback: function(value) {
            return value + "%"
          }
        }
      ];

      var config = {
        type: 'bar',
        legend: {
          position: 'bottom'
        },
        data: {
          datasets: [{
            backgroundColor: "#8dc3ff",
            barPercentage: 1,
            categoryPercentage: 0.98
          }]
        },
        options: {
          responsive: true,
          title: {
            display: false
          },
          scales: {
            xAxes: [{
              distribution: 'linear',
              offset: true,
              type: "time",
              time: {
                unit: 'day',
                round: 'day',
                parser: 'YYYY-MM-DD',
                displayFormats: {
                  day: 'MMM D'
                },
                tooltipFormat: 'll'
              },
              ticks: {
                min: {{ unixEpoch }}-(86400000*28),
                max: {{ unixEpoch }}
              },
              scaleLabel: {
                display:     true,
                labelString: 'Date'
              }
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              scaleLabel: {
                display:     true,
                labelString: 'value'
              }
            }]
          }
        }
      };

      var ctx, chartConfig, newChart;
      for (var i = 0; i < charts.length; i++) {
        var chart = charts[i];

        ctx = document.getElementById(chart.id+'Chart');

        chartConfig = JSON.parse(JSON.stringify(config));
        chartConfig.data.datasets[0].label = chart.label;
        chartConfig.data.datasets[0].data = chart.data;
        chartConfig.data.datasets[0].hoverBackgroundColor = chart.hoverBackgroundColor;
        chartConfig.options.scales.yAxes[0].ticks.precision = chart.precision;
        if (chart.max) {
          chartConfig.options.scales.yAxes[0].ticks.max = chart.max;
        }
        if (chart.stepSize) {
          chartConfig.options.scales.yAxes[0].ticks.stepSize = chart.stepSize;
        }
        if (chart.tooltips !== undefined) {
          chartConfig.options.tooltips = chart.tooltips;
        }
        if (chart.callback !== undefined) {
          chartConfig.options.scales.yAxes[0].ticks.callback = chart.callback;
        }
        newChart = new Chart(ctx, chartConfig);
      }

    </script>

    <div id="test-results-cumulative" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">WVU Morgantown Cumulative Test Results</caption>
        <tr>
          <th colspan="4" scope="colgroup" class="border-left">Students</th>
          <th colspan="4" scope="colgroup" class="border-left">Faculty/Staff</th>
          <th colspan="4" scope="colgroup" class="border-left">Total</th>
        </tr>
        <tr>
          <th scope="col" class="border-left">Tested</th>
          <th scope="col">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>
          <th scope="col" class="border-left">Tested</th>
          <th scope="col">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>
          <th scope="col" class="border-left">Tested</th>
          <th scope="col">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>
        </tr>

        {% set testsPerformedStudentsTotal = 0 %}
        {% set testsResultedStudentsTotal = 0 %}
        {% set testsPositiveStudentsTotal = 0 %}

        {% set testsPerformedFacultyStaffTotal = 0 %}
        {% set testsResultedFacultyStaffTotal = 0 %}
        {% set testsPositiveFacultyStaffTotal = 0 %}

        {% set testsPerformedTotalTotal = 0 %}
        {% set testsResultedTotalTotal = 0 %}
        {% set testsPositiveTotalTotal = 0 %}

        {% for testResult in testResults %}

          {% set testsPerformedStudentsTotal = testsPerformedStudentsTotal + testResult.testsPerformedStudents %}
          {% set testsResultedStudentsTotal = testsResultedStudentsTotal + testResult.testsResultedStudents %}
          {% set testsPositiveStudentsTotal = testsPositiveStudentsTotal + testResult.testsPositiveStudents %}
          {% set testsPerformedFacultyStaffTotal = testsPerformedFacultyStaffTotal + testResult.testsPerformedFacultyStaff %}
          {% set testsResultedFacultyStaffTotal = testsResultedFacultyStaffTotal+testResult.testsResultedFacultyStaff %}
          {% set testsPositiveFacultyStaffTotal = testsPositiveFacultyStaffTotal + testResult.testsPositiveFacultyStaff %}
          {% set testsPerformedTotalTotal = testsPerformedTotalTotal + testResult.testsPerformedTotal %}
          {% set testsResultedTotalTotal = testsResultedTotalTotal + testResult.testsResultedTotal %}
          {% set testsPositiveTotalTotal = testsPositiveTotalTotal + testResult.testsPositiveTotal %}

        {% endfor %}

        <tr>

          {% if testsPerformedStudentsTotal == 0 %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testsPerformedStudentsTotal|number_format }}</td>{% endif %}
          {% if testsResultedStudentsTotal == 0 %}<td aria-label="No data available">-</td>{% else %}<td>{{ testsResultedStudentsTotal|number_format }}</td>{% endif %}
          {% if testsPositiveStudentsTotal == 0 %}<td aria-label="No data available">-</td>{% else %}<td>{{ testsPositiveStudentsTotal|number_format }}</td>{% endif %}

          {% if testsResultedStudentsTotal != 0 %}
            {% set testsPercentPositiveStudentsTotal = (testsPositiveStudentsTotal/testsResultedStudentsTotal)*100 %}
            <td>{{ testsPercentPositiveStudentsTotal|round(2,'common') }}%</td>
          {% else %}
            <td>-</td>
          {% endif %}

          {% if testsPerformedFacultyStaffTotal == 0 %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testsPerformedFacultyStaffTotal|number_format }}</td>{% endif %}
          {% if testsResultedFacultyStaffTotal == 0 %}<td aria-label="No data available">-</td>{% else %}<td>{{ testsResultedFacultyStaffTotal|number_format }}</td>{% endif %}
          {% if testsPositiveFacultyStaffTotal == 0 %}<td aria-label="No data available">-</td>{% else %}<td>{{ testsPositiveFacultyStaffTotal|number_format }}{% endif %}</td>

          {% if testsResultedFacultyStaffTotal != 0 %}
            {% set testsPercentPositiveFacultyStaffTotal = (testsPositiveFacultyStaffTotal/testsResultedFacultyStaffTotal)*100 %}
            <td>{{ testsPercentPositiveFacultyStaffTotal|round(2, "common") }}%</td>
          {% else %}
            <td>-</td>
          {% endif %}

          {% if testsPerformedTotalTotal== 0 %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testsPerformedTotalTotal|number_format }}</td>{% endif %}
          {% if testsResultedTotalTotal == 0 %}<td aria-label="No data available">-</td>{% else %}<td>{{ testsResultedTotalTotal|number_format }}</td>{% endif %}
          {% if testsPositiveTotalTotal == 0 %}<td aria-label="No data available">-</td>{% else %}<td>{{ testsPositiveTotalTotal|number_format }}</td>{% endif %}

          {% if testsResultedTotalTotal != 0 %}
            {% set testsPercentPositiveTotalTotal = (testsPositiveTotalTotal/testsResultedTotalTotal)*100 %}
            <td>{{ testsPercentPositiveTotalTotal|round(2,'common') }}%</td>
          {% else %}
            <td>-</td>
          {% endif %}

        </tr>
      </table>
    </div>

    <div id="test-results-daily" class="table-responsive" style="margin-top: 2rem">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">WVU Morgantown Daily Test Results</caption>
        <tr>
          <td class="border-left"></td>
          <th colspan="4" scope="colgroup" class="border-left">Students</th>
          <th colspan="4" scope="colgroup" class="border-left">Faculty/Staff</th>
          <th colspan="4" scope="colgroup" class="border-left">Total</th>
        </tr>
        <tr>
          <th scope="col" class="border-left">Date</th>
          <th scope="col" class="border-left">Tested</th>
          <th scope="col">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>
          <th scope="col" class="border-left">Tested</th>
          <th scope="col">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>
          <th scope="col" class="border-left">Tested</th>
          <th scope="col">Resulted</th>
          <th scope="col">Positive</th>
          <th scope="col"><abbr title="Percent">%</abbr> Positive</th>
        </tr>

        {% for testResult in testResults %}
          <tr class="border-left">
            <th scope="row">{{ testResult.dateDataFrom.month.textShortWithPeriod }} {{ testResult.dateDataFrom.day.numberShort }}</th>
            <td class="border-left">-{% else %}{{ testResult.testsPerformedStudents|number_format }}{% endif %}</td>
            <td>{% if testResult.testsResultedStudents == 0 %}-{% else %}{{ testResult.testsResultedStudents|number_format }}{% endif %}</td>
            <td>{% if testResult.testsPositiveStudents == 0 %}-{% else %}{{ testResult.testsPositiveStudents|number_format }}{% endif %}</td>
            <td>{% if testResult.testsPercentPositiveStudents == 0 %}-{% else %}{{ testResult.testsPercentPositiveStudents }}{% endif %}</td>
            <td class="border-left">{% if testResult.testsPerformedFacultyStaff == 0 %}-{% else %}{{ testResult.testsPerformedFacultyStaff|number_format }}{% endif %}</td>
            <td>{% if testResult.testsResultedFacultyStaff == 0 %}-{% else %}{{ testResult.testsResultedFacultyStaff|number_format }}{% endif %}</td>
            <td>{% if testResult.testsPositiveFacultyStaff == 0 %}-{% else %}{{ testResult.testsPositiveFacultyStaff|number_format }}{% endif %}</td>
            <td>{% if testResult.testsPercentPositiveFacultyStaff == 0 %}-{% else %}{{ testResult.testsPercentPositiveFacultyStaff }}{% endif %}</td>
            <td class="border-left">{% if testResult.testsPerformedTotal == 0 %}-{% else %}{{ testResult.testsPerformedTotal|number_format }}{% endif %}</td>
            <td>{% if testResult.testsResultedTotal == 0 %}-{% else %}{{ testResult.testsResultedTotal|number_format }}{% endif %}</td>
            <td>{% if testResult.testsPositiveTotal == 0 %}-{% else %}{{ testResult.testsPositiveTotal|number_format }}{% endif %}</td>
            <td>{% if testResult.testsPercentPositiveTotal == 0 %}-{% else %}{{ testResult.testsPercentPositiveTotal }}{% endif %}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>

</div>
