<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Critical Topics</h2>
      </div>
      <div class="col-md-9">
        <a class="button">Maintain Personal Hygeine</a>
        <a class="button">Sanitize Surfaces</a>
        <a class="button"></a>
      </div>
    </div>
  </div>
</div>
