<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="{{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>

  <div class="wvu-container wvu-container-panorama">
    <div id="panorama-{{ currentBlock.relatedVirtualTourPanorama.youVisitPanoramaID }}" class="panorama"></div>
    <script>
      {% set panoramaID = currentBlock.relatedVirtualTourPanorama.youVisitPanoramaID %}

      {% set autoload = 'false' %}
      {% set autoRotateOption = 0 %}
      {% set disableKeyboardCtrlOption = 'false' %}
      {% set draggableOption = 'true' %}
      {% set keyboardZoomOption = 'true' %}
      {% set mouseZoomOption = 'true' %}
      {% set showControlsOption = 'true' %}
      {% set showFullscreenCtrlOption = 'true' %}
      {% set showZoomControlOption = 'true' %}
      {% set title = '' %}
      {% set yaw = 0 %}
      {% set tourID = '80311' %}

      {% if 'Enable Autoload' in currentBlock.extraOptions %}{% set autoload = 'true' %}{% endif %}
      {% if 'Enable Auto Rotation' in currentBlock.extraOptions and currentBlock.rateOfRotation %}{% set autoRotateOption = currentBlock.rateOfRotation %}{% endif %}
      {% if 'Disable Keyboard Controls' in currentBlock.extraOptions %}{% set disableKeyboardCtrlOption = 'true' %}{% endif %}
      {% if 'Disable Dragging' in currentBlock.extraOptions %}{% set draggableOption = 'false' %}{% endif %}
      {% if 'Disable Keyboard Zoom' in currentBlock.extraOptions %}{% set keyboardZoomOption = 'false' %}{% endif %}
      {% if 'Disable Mouse Zoom' in currentBlock.extraOptions %}{% set mouseZoomOption = 'false' %}{% endif %}
      {% if 'Hide All Controls' in currentBlock.extraOptions %}{% set showControlsOption = 'false' %}{% endif %}
      {% if 'Disable Fullscreen Control' in currentBlock.extraOptions %}{% set showFullscreenCtrlOption = 'false' %}{% endif %}
      {% if 'Hide Zoom Control' in currentBlock.extraOptions %}{% set showZoomControlOption = 'false' %}{% endif %}

      {% if 'Show Title' in currentBlock.extraOptions and currentBlock.displayTitle %}
        {% set title = currentBlock.displayTitle %}
      {% elseif 'Show Title' in currentBlock.extraOptions and currentBlock.relatedVirtualTourPanorama.title %}
        {% set title = currentBlock.relatedVirtualTourPanorama.title %}
      {% endif %}

      {% if 'Set Starting Position' in currentBlock.extraOptions and currentBlock.startingPosition %}
        {% set yaw = currentBlock.startingPosition %}
      {% elseif 'Set Starting Position' in currentBlock.extraOptions and currentBlock.relatedVirtualTourPanorama.startingPosition %}
        {% set yaw = currentBlock.relatedVirtualTourPanorama.startingPosition %}
      {% endif %}

      {% if 'Part of Housing Tour' in currentBlock.extraOptions %}
        {% set tourID = '86579' %}
      {% endif %}

      pannellum.viewer('panorama-{{ panoramaID }}', {
        "type": "equirectangular",
        "panorama": "https://www.youvisit.com/media/{{ tourID }}/panoramas/{{ panoramaID }}/4096.jpg?https6",
        "autoLoad": {{ autoload }},
        "disableKeyboardCtrlOption": {{ disableKeyboardCtrlOption }},
        "draggableOption": {{ draggableOption }},
        "keyboardZoomOption": {{ keyboardZoomOption }},
        "mouseZoomOption": {{ mouseZoomOption }},
        "showControlsOption": {{ showControlsOption }},
        "showFullscreenCtrlOption": {{ showFullscreenCtrlOption }},
        "showZoomControlOption": {{ showZoomControlOption }},
        "autoRotate": {{ autoRotateOption }},
        "autoRotateInactivityDelay": 3000,
        "hfov": 400,
        "pitch": -10,
        "yaw": {{ yaw }},
        "fallback": "{{ currentBlock.relatedVirtualTourPanorama.webAddress }}",
        {% if title != '' %}"title": "{{ title }}"{% endif %}
      });
    </script>
    <noscript>
      View our panorama of {{ currentBlock.relatedVirtualTourPanorama.title }} at <a href="{{ currentBlock.relatedVirtualTourPanorama.webAddress }}">{{ currentBlock.relatedVirtualTourPanorama.webAddress }}</a>.
    </noscript>
  </div>
</div>
