<div class="wvu-triptych">
  <div class="wvu-container">
    <div class="wvu-triptych__panel">

    </div>
    <div class="wvu-triptych__panel">

    </div>
    <div class="wvu-triptych__panel">

    </div>
  </div>
</div>
