<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} style="clear: both;" class="py-5 px-2 {% if currentBlock.inlineStyle == 'false' %}{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>
  <div class="wvu-container px-2 pt-4 pb-3 bg-white text-wvu-neutral--dark-gray shadow border-bottom">

    {% if currentBlock.displayTitle %}
      <div>
        <div class="wvu-featurettes__header">
        {% if 'Set Title as H1' in currentBlock.extraOptions %}
          <h1>{{ currentBlock.displayTitle|raw }}</h1>
        {% else %}
          <h2>{{ currentBlock.displayTitle|raw }}</h2>
        {% endif %}
        </div>
      </div>
    {% endif %}

    {% set ledePaddingBottom = '4' %}
    {% if "Show Days of the Week Summary" in currentBlock.extraOptions %}
      {% set ledePaddingBottom = '0' %}
    {% endif %}
    {% if currentBlock.lede %}
      <div class="wvu-lede-text text-center pt-0 pb-{{ ledePaddingBottom }} bg-white">
        {{ currentBlock.lede|raw }}
      </div>
    {% endif %}

    {% if "Show Days of the Week Summary" in currentBlock.extraOptions %}
      <div class="wvu-lede-small text-center pt-0 pb-3 bg-white">
        {% set dayOfWeek = '' %}
        {% set daysOfWeek = [] %}
        {% for scheduleItem in scheduledItems %}

          {% if "Show Only Scheduled Items Happening Now" in currentBlock.extraOptions %}
            {% if (currentBlock.timeNow >= scheduleItem.scheduledItemStartTimeUNIX) and (scheduleItem.scheduledItemEndTimeUNIX >= currentBlock.timeNow) %}
              {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
                {% set daysOfWeek = daysOfWeek|merge([scheduleItem.scheduledItemStartTime.dayOfWeek.textLong]) %}
                {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
              {% endif %}
            {% endif %}
          {% elseif "Show Only Scheduled Items Happening Now and in the Future" in currentBlock.extraOptions %}
            {% if scheduleItem.scheduledItemEndTimeUNIX > currentBlock.timeNow %}
              {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
                {% set daysOfWeek = daysOfWeek|merge([scheduleItem.scheduledItemStartTime.dayOfWeek.textLong]) %}
                {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
              {% endif %}
            {% endif %}
          {% elseif "Show Only Scheduled Items Happening in the Future" in currentBlock.extraOptions %}
            {% if scheduleItem.scheduledItemStartTimeUNIX > currentBlock.timeNow %}
              {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
                {% set daysOfWeek = daysOfWeek|merge([scheduleItem.scheduledItemStartTime.dayOfWeek.textLong]) %}
                {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
              {% endif %}
            {% endif %}
          {% elseif "Show Only Scheduled Items That Already Happened" in currentBlock.extraOptions %}
            {% if currentBlock.timeNow > scheduleItem.scheduledItemEndTimeUNIX %}
              {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
                {% set daysOfWeek = daysOfWeek|merge([scheduleItem.scheduledItemStartTime.dayOfWeek.textLong]) %}
                {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
              {% endif %}
            {% endif %}
          {% else %}
            {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
              {% set daysOfWeek = daysOfWeek|merge([scheduleItem.scheduledItemStartTime.dayOfWeek.textLong]) %}
              {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
            {% endif %}
          {% endif %}

        {% endfor %}

        {% for day in daysOfWeek %}
          <a href="#{{ day }}">{{ day }}</a> {% if not loop.last %} | {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="clearBoth mb-1">
        <div class="wvu-container">

        {% set dayOfWeek = '' %}
        {% for scheduleItem in scheduledItems %}

          {% if "Show Only Scheduled Items Happening Now" in currentBlock.extraOptions %}
            {% if (currentBlock.timeNow >= scheduleItem.scheduledItemStartTimeUNIX) and (scheduleItem.scheduledItemEndTimeUNIX >= currentBlock.timeNow) %}
              {% if 'Section Events by Day of Week' in currentBlock.extraOptions %}
                {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
                  {% include 'blocks/schedule-items/day.html' %}
                  {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
                {% endif %}
              {% endif %}
              {% include 'blocks/schedule-items/item.html' %}
            {% endif %}
          {% elseif "Show Only Scheduled Items Happening Now and in the Future" in currentBlock.extraOptions %}
            {% if scheduleItem.scheduledItemEndTimeUNIX > currentBlock.timeNow %}
              {% if 'Section Events by Day of Week' in currentBlock.extraOptions %}
                {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
                  {% include 'blocks/schedule-items/day.html' %}
                  {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
                {% endif %}
              {% endif %}
              {% include 'blocks/schedule-items/item.html' %}
            {% endif %}
          {% elseif "Show Only Scheduled Items Happening in the Future" in currentBlock.extraOptions %}
            {% if scheduleItem.scheduledItemStartTimeUNIX > currentBlock.timeNow %}
              {% if 'Section Events by Day of Week' in currentBlock.extraOptions %}
                {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
                  {% include 'blocks/schedule-items/day.html' %}
                  {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
                {% endif %}
              {% endif %}
              {% include 'blocks/schedule-items/item.html' %}
            {% endif %}
          {% elseif "Show Only Scheduled Items That Already Happened" in currentBlock.extraOptions %}
            {% if currentBlock.timeNow > scheduleItem.scheduledItemEndTimeUNIX %}
              {% if 'Section Events by Day of Week' in currentBlock.extraOptions %}
                {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
                  {% include 'blocks/schedule-items/day.html' %}
                  {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
                {% endif %}
              {% endif %}
              {% include 'blocks/schedule-items/item.html' %}
            {% endif %}
          {% else %}
            {% if 'Section Events by Day of Week' in currentBlock.extraOptions %}
              {% if scheduleItem.scheduledItemStartTime.dayOfWeek.textLong != dayOfWeek %}
                {% include 'blocks/schedule-items/day.html' %}
                {% set dayOfWeek = scheduleItem.scheduledItemStartTime.dayOfWeek.textLong %}
              {% endif %}
            {% endif %}
            {% include 'blocks/schedule-items/item.html' %}
          {% endif %}

        {% endfor %}

      </div>
    </div>

  </div>
</div>
