{% for profile in currentBlock.profiles %}
  <div class="wvu-profile wvu-{{ profile.backgroundColor }} background">
    <div class="wvu-container">
      <div class="wvu-profile__photo-and-main">
        <div class="wvu-profile__photo">
          <img src="{{ profile.featuredStudent.thumbnail.file.url }}?w=960&h=640" srcset="{{ profile.featuredStudent.thumbnail.file.url }}?w=504&h=504 504w, {{ profile.featuredStudent.thumbnail.file.url }}?w=228&h=228 228w" sizes="(max-width: 767px) 504px, 228px" alt="Portrait of {{ profile.featuredStudent.name }}">
        </div>
        <div class="wvu-profile__main">
          <div class="wvu-profile__goal">
            {% for goal in profile.goals %}
              {{ goal.title }}
            {% endfor %}
          </div>
          <h2>{{ profile.snazzyHeadline }}</h2>
          <div class="wvu-profile__name">
            {{ profile.featuredStudent.name }}
          </div>
          <div class="wvu-profile__major">
            {{ profile.featuredStudent.major.title }}{% if profile.featuredStudent.year.yearFourDigits %}, Class of {{ profile.featuredStudent.year.yearFourDigits }}{% endif %}
          </div>
          <p>
            {{ profile.description | raw }}
          </p>
          {% for action in profile.actionItems %}
            <a href="{{ action.quicklink.webAddress }}" class="button">
              {{ action.title }}
            </a>
          {% endfor %}
        </div>
        <div class="wvu-profile__sidebar">
          <h3>Also See:</h3>
          <ul>
            {% for interest in profile.interests  %}
              <li>
                <a href="{{ interest.webAddress }}">
                  {{ interest.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
