{% set columnLayoutClass = '' %}
{% set withPaddingClass = '' %}
{% set slashesClass = '' %}
{% set quicklinksID = '' %}
{% set quicklinksBackgroundColor = '' %}
{% set quicklinksInlineStyle = '' %}

{% if 'Add Slashes' in currentBlock.extraOptions %}
  {% set slashesClass = 'wvu-slashes wvu-slashes--quicklist' %}
{% endif %}

{% if 'Two Column Layout' in currentBlock.extraOptions %}
  {% set columnLayoutClass = 'wvu-quicklinks-2-col' %}
{% endif %}

{% if 'Add Padding to List Items' in currentBlock.extraOptions %}
  {% set withPaddingClass = 'with-padding' %}
{% endif %}

{% if currentBlock.anchorID %}
  {% set quicklinksID = "id=#{currentBlock.anchorID}" %}
{% endif %}

{% set classesForList = 'wvu-ul-chevrons wvu-column-count-md-3' %}
{% if currentBlock.classesForList %}
  {% set classesForList = currentBlock.classesForList %}
{% endif %}

{% set classesForLinks = '' %}
{% if currentBlock.classesForLinks %}
  {% set classesForLinks = currentBlock.classesForLinks %}
{% endif %}

<div class="col-lg-4">
  <h2 class="wvu-h3">
    {{ currentBlock.displayTitle }}
  </h2>
  {% if currentBlock.description %}
    {{ currentBlock.description|raw }}
  {% endif %}
  {% if currentBlock.featuredWebAddress %}<p><a class="button" href="{{ currentBlock.featuredWebAddress.webAddress }}">{{ currentBlock.featuredWebAddress.linkText|raw }}</a></p>{% endif %}
</div>
<div class="col-lg-8">

  {# Set outside of list/group includes as its shared between both #}
  {% set quicklinksUlClasses %}
    {{ classesForList }}
  {% endset %}

  {# Check if quicklinks is a group or single list #}
  {% if currentBlock.quicklinks[0].quicklinks|length > 0 %}
    {{ include('blocks/quicklinks/group.html') }}
  {% else %}
    {{ include('blocks/quicklinks/list.html') }}
  {% endif %}

</div>