{% set classesForDisplayTitle = 'text-center' %}
{% if currentBlock.classesForDisplayTitle %}
  {% set classesForDisplayTitle = currentBlock.classesForDisplayTitle %}
{% endif %}

{% set classesForButtons = 'btn-outline-dark' %}
{% if currentBlock.classesForButtons %}
  {% set classesForButtons = currentBlock.classesForButtons %}
{% endif %}

<div class="col-md-6 mx-auto">

  <img src="{{ currentBlock.thumbnail.file.url }}" alt="{{ currentBlock.thumbnail.description }}">

  <h2 class="{{ classesForDisplayTitle }}">
    {{ currentBlock.displayTitle }}
  </h2>

  {% if currentBlock.description %}
    <div class="">
      {{ currentBlock.description|raw }}
    </div>
  {% endif %}

  {% set quicklinks = currentBlock.quicklinks %}
  {% if 'Automatically Sort Links' in currentBlock.extraOptions %}
    {% set quicklinks = quicklinks|sort %}
  {% endif %}

  {% for link in quicklinks %}

    {# determine if we should show this based on the current time #}
    {% if
      (link.timeShow is not defined and link.timeHide is not defined) or
      ((link.timeShow is not defined) and (link.timeHide and (link.timeHide.unix > currentBlock.timeNow))) or
      ((link.timeHide is not defined) and (link.timeShow and (currentBlock.timeNow > link.timeShow.unix))) or
      ((link.timeShow and (link.timeShow.unix < currentBlock.timeNow)) and (link.timeHide and (link.timeHide.unix > currentBlock.timeNow)))
    %}

      {# can include an FAQ entry here directly instead of a quicklink to it #}
      {% set webAddress = '' %}
      {% set linkText = '' %}
      {% set buttonText = '' %}

      {% if link.contentfulContentType == 'frequentlyAskedQuestions' %}
        {% if link.webAddressExternal %}
          {% set webAddress = link.webAddressExternal %}
        {% else %}
          {% set webAddress = "/faq/#{link.slug}" %}
        {% endif %}
        {% set linkText = link.title %}
      {% else  %}
        {% set webAddress = link.webAddress %}
        {% set linkText = link.linkText %}
      {% endif %}

      {# Rebecca - the actual button #}
      {% if webAddress %}
        <a class="btn {{ classesForButtons }} w-100 mb-1" href="{{ webAddress }}">{{ linkText|raw }}</a>
      {% endif %}

    {% endif %}
  {% endfor %}

</div>
