{% set ariaLabelledById = random() %}

{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set landmarkTag = 'main' %}
{% endif %}

{% set classesForSection = '' %}
{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

{% if currentBlock.backgroundColor %}
  {% set backgroundColor = currentBlock.backgroundColor %}
{% endif %}

{% set inlineStyles = '' %}
{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=1800&q=40);" %}
{% endif %}

{% set classesForDisplayName = 'display-3 wvu-shout text-wvu-blue wvu-p-max-width text-center mx-auto' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForLede = 'h3 helvetica-neue-light text-wvu-blue mb-4 wvu-p-max-width text-center mx-auto' %}
{% if currentBlock.classesForLede %}
  {% set classesForLede = currentBlock.classesForLede %}
{% endif %}

<{{ landmarkTag }}
  {% if 'Is Main' not in currentBlock.extraOptions %}aria-labelledby="{{ ariaLabelledById }}"{% endif %}
  {% if 'Use Alternating Grid Layout' in currentBlock.extraOptions %}aria-label="Featured {{ currentBlock.title }} Content"{% endif %}
  class="py-5 {{ backgroundColor }} {{ classesForSection }}" style="{{ inlineStyles }}" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>

  <div class="{% if 'Use Alternating Grid Layout' not in currentBlock.extraOptions and 'Use Colored Boxes Layout' not in currentBlock.extraOptions and 'Use Photo Grid Layout' not in currentBlock.extraOptions %}container{% endif %} wvu-z-index-content">

    {% if currentBlock.displayName %}
      <h2 id="{{ ariaLabelledById }}" class="{{ classesForDisplayName }}">{{ currentBlock.displayName }}</h2>
      {% if currentBlock.lede or currentBlock.ledeLong %}
        <div class="{{ classesForLede }}">
          {% if currentBlock.lede %}
            {{ currentBlock.lede|raw }}
          {% else %}
            {{ currentBlock.ledeLong|raw }}
          {% endif %}
        </div>
      {% endif %}
    {% else %}
      <h2 id="{{ ariaLabelledById }}" class="visually-hidden">{{ currentBlock.title }}</h2>
    {% endif %}

    {% if 'Horizontal Layout' in currentBlock.extraOptions %}
      {% include 'blocks/featurettes/collection-vertical.html' %}
    {% elseif 'Info With Cards' in currentBlock.extraOptions %}
      {% include 'blocks/featurettes/info-with-cards.html' %}
    {% elseif 'Use Cards w/Overlay Layout' in currentBlock.extraOptions %}
      {% include 'blocks/featurettes/cards-w-overlay.html' %}
    {% elseif 'Use Alternating Grid Layout' in currentBlock.extraOptions %}
      {% include 'blocks/featurettes/alternating-grid.html' %}
    {% elseif 'Use Colored Boxes Layout' in currentBlock.extraOptions %}
      {% include 'blocks/featurettes/colored-boxes.html' %}
    {% elseif 'Use Photo Grid Layout' in currentBlock.extraOptions %}
      {% include 'blocks/featurettes/photo-grid.html' %}
    {% else %}
      {% include 'blocks/featurettes/standard-layout.html' %}
    {% endif %}
  </div>
  {% if currentBlock.postscript %}
    <div class="container wvu-z-index-content">
      <div class="mt-2">
        {{ currentBlock.postscript|raw }}
      </div>
    </div>
  {% endif %}
</{{ landmarkTag }}>