{% set ariaLabelledById = random() %}

{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set landmarkTag = 'main' %}
{% endif %}

{% set ariaLabelledById = random() %}

{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set landmarkTag = 'main' %}
{% endif %}

{% set classesForSection = '' %}
{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

{% set backgroundColor = '' %}
{% if currentBlock.backgroundColor %}
  {% set backgroundColor = currentBlock.backgroundColor %}
{% endif %}

{% set classesForDisplayName = 'wvu-shout h1' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForSidebarList = 'wvu-ul-chevrons' %}
{% if currentBlock.classesForSidebarList %}
  {% set classesForSidebarList = currentBlock.classesForSidebarList %}
{% endif %}

{% set inlineStyles = '' %}
{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=1200&q=40);" %}
{% endif %}

{% if currentBlock.thumbnail is defined %}
  {% set imageInfo = currentBlock.thumbnail %}
  {% set altText = imageInfo.description %}
{% else %}
  {% set imageInfo = currentBlock.featuredStudent.thumbnail %}
  {% set altText = "Portrait of "~currentBlock.featuredStudent.name %}
{% endif %}

<{{ landmarkTag }} {% if 'Is Main' not in currentBlock.extraOptions %}aria-labelledby="{{ ariaLabelledById }}"{% endif %} class="py-5 {{ classesForSection }} {{ background-color }}" style="{{ inlineStyles }}" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>
  <div class="container wvu-z-index-content">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-2 mb-lg-1 text-center">
        <div class="row">
          <div class="col-12 col-md-6 me-auto col-md-12 col-lg-10 col-xl-8 me-lg-0 ms-lg-auto">
            <img class="lazy rounded-circle shadow text-center" src="{{ currentBlock.featuredStudent.thumbnail.file.url }}?w=480&h=480&q=40" alt="Portrait of {{ currentBlock.featuredStudent.name }}">
          </div>
        </div>
      </div>
      <div class="col-md-9 col-lg-8">
        <div class="row">
          <div class="col-12 col-md mb-4 mb-md-0">

            {% if 'Hide Student/Faculty Archive Links' not in currentBlock.extraOptions %}
              <div class="small mb-2">
                <span class="text-uppercase d-inline-block me-2 helvetica-neue-bold">
                  {% for goal in currentBlock.goals %}
                    {{ goal.title }}
                  {% endfor %}
                </span>
                <span><a href="/student-profiles">Student Profiles</a> | <a href="/faculty-profiles">Faculty Profiles</a></span>
              </div>
            {% endif %}

            {% for action in currentBlock.actionItems %}
              <a href="{{ action.quicklink.webAddress }}" class="btn btn-primary mb-1">
                {{ action.title }}
              </a>
            {% endfor %}
  
            <h2 class="{{ classesForDisplayName }} wvu-p-max-width">{{ currentBlock.snazzyHeadline }}</h2>
            {% if 'Hide Name' not in currentBlock.extraOptions %}
              <div class="h3 iowan-old-style-italic mb-1">
                {{ currentBlock.featuredStudent.name }}
              </div>
            {% endif %}
            <div class="helvetica-neue-light mb-2">
              {{ currentBlock.featuredStudent.major.title }}{% if currentBlock.featuredStudent.year.yearFourDigits %}, Class of {{ currentBlock.featuredStudent.year.yearFourDigits }}{% endif %}
            </div>
  
            <div class="mb-0">
              {{ currentBlock.description | raw }}
            </div>

            <div style="pt-2">
              {% for action in currentBlock.actionItems %}
                <a href="{{ action.quicklink.webAddress }}" class="btn {{ classesForButtons }} mb-1">
                  {{ action.action|raw }}
                </a>
              {% endfor %}
            </div>
          </div>
          {% if currentBlock.interests|length > 0 %}
            <div class="col-md-4">
              <div class="border border-1 border-black-50 rounded p-3">
                <h3 class="wvu-shout">Also See:</h3>
                <ul class="{{ classesForSidebarList }}">
                  {% for interest in currentBlock.interests  %}
                    <li>
                      <a href="{{ interest.webAddress }}">
                        {{ interest.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</{{ landmarkTag }}>