{% set ariaLabelledById = random() %}

{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set landmarkTag = 'main' %}
{% endif %}

{% if 'Use Banner Layout' in currentBlock.extraOptions %}
  {% set classesForSection = 'm-4 text-center wvu-bg-position-center' %}
{% elseif 'Use Hero Card Layout' in currentBlock.extraOptions %}
  {% set classesForSection = 'py-3 position-relative wvu-bg-size-cover wvu-bg-blend-mode-lighten wvu-bg-pattern-grid' %}
  {% set backgroundColor = 'bg-wvu-blue' %}
{% elseif 'Use Split Layout' in currentBlock.extraOptions %}
  {% set classesForSection = '' %}
  {% set backgroundColor = 'bg-light' %}
{% elseif 'Use Two-Column Layout' in currentBlock.extraOptions %}
  {% set classesForSection = 'py-5 position-relative wvu-bg-size-cover bg-wvu-accent--blue-dark text-white wvu-bg-vignetting' %}
  {% set backgroundColor = 'bg-wvu-accent--blue-dark' %}
{% elseif 'Use Profile Hero Layout' in currentBlock.extraOptions %}
  {% set classesForSection = 'py-5 text-white wvu-bg-position-top wvu-bg-size-cover' %}
  {% set backgroundColor = 'bg-dark' %}
{% elseif 'Use Profile Hero w/Quote Layout' in currentBlock.extraOptions %}
  {% set classesForSection = 'py-5 text-white wvu-bg-position-top wvu-bg-size-cover' %}
  {% set backgroundColor = 'bg-dark' %}
{% elseif 'Use Profile Hero w/Border Layout' in currentBlock.extraOptions %}
  {% set classesForSection = 'wvu-border-thick wvu-bg-position-center-top wvu-bg-size-cover' %}
{% else %}
  {% set classesForSection = 'py-5 text-center wvu-bg-topo-dark text-wvu-blue wvu-overflow-hidden wvu-background-size-cover' %}
  {% set backgroundColor = 'bg-wvu-gold' %}
{% endif %}

{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

{% if currentBlock.backgroundColor %}
  {% set backgroundColor = currentBlock.backgroundColor %}
{% endif %}

{% set inlineStyles = '' %}
{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=2000&q=40);" %}
{% endif %}

{% if 'Use Banner Layout' in currentBlock.extraOptions %}
  {% set inlineStyles = '' %}
{% endif %}

{% set hTag = 'h2' %}
{% if 'Set Title as H1' in currentBlock.extraOptions %}
  {% set hTag = 'h1' %}
{% endif %}

<{{ landmarkTag }} {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} {% if 'Is Main' not in currentBlock.extraOptions %}aria-labelledby="{{ ariaLabelledById }}"{% endif %} class="{{ backgroundColor }} {{ classesForSection }}" style="{{ inlineStyles }}">
  {% if 'Use Hero Card Layout' in currentBlock.extraOptions %}
    <div class="container wvu-z-index-content">
      {% include 'design-system-v2/blocks/action-hero/action-hero-card.html' %}
    </div>
  {% elseif 'Use Banner Layout' in currentBlock.extraOptions %}
    {% include 'design-system-v2/blocks/action-hero/action-hero-banner.html' %}
  {% elseif 'Use Split Layout' in currentBlock.extraOptions %}
    {% include 'design-system-v2/blocks/action-hero/action-hero-split.html' %}
  {% elseif 'Use Two-Column Layout' in currentBlock.extraOptions %}
    <div class="container wvu-z-index-content">
      {% include 'design-system-v2/blocks/action-hero/action-hero-two-column.html' %}
    </div>
  {% elseif 'Use Profile Hero Layout' in currentBlock.extraOptions %}
    <div class="container wvu-z-index-content">
      {% include 'design-system-v2/blocks/action-hero/profile-hero.html' %}
    </div>
  {% elseif 'Use Profile Hero w/Quote Layout' in currentBlock.extraOptions %}
    <div class="container wvu-z-index-content">
      {% include 'design-system-v2/blocks/action-hero/profile-hero-w-quote.html' %}
    </div>
  {% elseif 'Use Profile Hero w/Border Layout' in currentBlock.extraOptions %}
    {% include 'design-system-v2/blocks/action-hero/profile-hero-w-border.html' %}
  {% else %}
    <div class="container wvu-z-index-content">
      {% include 'design-system-v2/blocks/action-hero/action-hero.html' %}
    </div>
  {% endif %}
</{{ landmarkTag }}>
