{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set htag = 'main' %}
{% endif %}

<{{ landmarkTag }} {% if 'Is Main' not in currentBlock.extraOptions %}aria-label="Careers"{% endif %} class="py-5" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>
  <div class="container">
    <ul class="list-unstyled wvu-column-count-md-3">
      {% for career in careers %}
        {% if not(career.entryType) or 'Career (O*NET)' in career.entryType %}
          <li>
            <a href="/academics/careers/{{career.slug}}">{{ career.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</{{ landmarkTag }}>
