{% set ariaLabelledById = random() %}

{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set landmarkTag = 'main' %}
{% endif %}

{% set backgroundColor = 'bg-light' %}
{% if currentBlock.backgroundColor %}
  {% set backgroundColor = currentBlock.backgroundColor %}
{% endif %}

{% set classesForSection = '' %}
{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

{% set inlineStyles = '' %}
{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=1200&q=40);" %}
{% endif %}

<{{ landmarkTag }} {% if 'Is Main' not in currentBlock.extraOptions %}aria-labelledby="{{ ariaLabelledById }}"{% endif %} class="py-5 {{ backgroundColor }} {{ classesForSection }}" style="{{ inlineStyles }}" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>
  <div class="container wvu-z-index-content">
    {% if 'Use Link Tree Layout' in currentBlock.extraOptions %}
      {% include 'blocks/quicklinks/linktree-layout.html' %}
    {% else %}
      <div class="row">
        {% include 'blocks/quicklinks/default-layout.html' %}
      </div>
    {% endif %}
  </div>
</{{ landmarkTag }}>