{% set ariaLabelledById = random() %}

{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set landmarkTag = 'main' %}
{% endif %}

{% set classesForSection = 'wvu-backpage-main' %}
{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

<{{ landmarkTag }} {% if 'Is Main' not in currentBlock.extraOptions %}aria-label="Backpage Content"{% endif %} class="py-5 {{ classesForSection }}" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-md-8">
        {{ currentBlock.pageContent | raw }}
      </div>

      <aside class="wvu-sidebar col-md-3 mt-4 mt-md-0 text-start">
        {% include('patterns/wvu-sub-nav--about-wvu.html') %}
      </aside>
    </div>
  </div> <!-- /.container -->
</{{ landmarkTag }}>
