<section aria-label="Featured Links" class="py-3 bg-wvu-accent--sunset text-center">
  <div class="container">
    <div class="row">
      <div class="col-4 mb-3 mb-md-0 col-md">
        <a class="text-white" href="https://admissions.wvu.edu/">
          <img src="/images/icon-checkmark.svg" alt="Checkmark" />
          <span class="d-block">Admissions Information</span>
        </a>
      </div>
      <div class="col-4 mb-3 mb-md-0 col-md">
        <a class="text-white" href="https://tour.wvu.edu/">
          <img src="/images/icon-map.svg" alt="Map" />
          <span class="d-block">Virtual Tour</span>
        </a>
      </div>
      <div class="col-4 mb-3 mb-md-0 col-md">
        <a class="text-white" href="https://admissions.wvu.edu/cost-and-aid/scholarship-chart">
          <img src="/images/icon-calculator.svg" alt="Calculator" />
          <span class="d-block">Scholarship Chart</span>
        </a>
      </div>
      <!--
        <div class="col-4 mb-3 mb-md-0 col-md">
          <a class="text-white" href="#">
            <img src="/images/icon-search.svg" alt="Search" />
            <span class="d-block">Class Search</span>
          </a>
        </div>
      -->
      <div class="col-4 mb-3 mb-md-0 col-md">
        <a class="text-white" href="https://www.wvu.edu/academics">
          <img src="/images/icon-programs.svg" alt="Program Search" />
          <span class="d-block">Programs and Majors</span>
        </a>
      </div>
      <!--
      <div class="col-4 mb-3 mb-md-0 col-md">
        <a class="text-white" href="https://directory.wvu.edu/">
          <img src="/images/icon-directory.svg" alt="Checkmark" />
          <span class="d-block">Directory
        </a>
      </div>
      -->
    </div>
  </div>
</section>
