{% set ariaLabelledById = random() %}

{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set landmarkTag = 'main' %}
{% endif %}

{% set classesForSection = 'bg-light' %}
{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

{% set classesForText = 'helvetica-neue-light text-center h3 mb-0' %}
{% if currentBlock.classesForText %}
  {% set classesForText = currentBlock.classesForText %}
{% endif %}

{% set inlineStyles = '' %}
{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=960&q=40);" %}
{% endif %}

<{{ landmarkTag }} {% if 'Is Main' not in currentBlock.extraOptions %}aria-labelledby="{{ ariaLabelledById }}"{% endif %} class="py-5 {{ classesForSection}} {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }}" style="{{ inlineStyles }}" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-md-auto wvu-z-index-content">
        <h2 id="{{currentBlock.anchorID}}" class="visually-hidden">Lede Text</h2>
        <p class="mb-0 {{ classesForText }}">
          {{ currentBlock.text|raw|replace({'<p>': '', '</p>': ''}) }}
        </p>
      </div>
    </div>
  </div>
</{{ landmarkTag }}>
