{% set ariaLabelledById = random() %}

{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set landmarkTag = 'main' %}
{% endif %}

{% set classesForSection = 'py-5 bg-dark text-white wvu-bg-position-center wvu-bg-size-cover' %}
{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

{% set textAlignedRightClass = '' %}
{% if currentBlock.isTextAlignedRight == 'true' %}
  {% set textAlignedRightClass = ' justify-content-end' %}
{% endif %}

{% set classesForBodyCopy = '' %}
{% if currentBlock.classesForBodyCopy %}
  {% set classesForBodyCopy = currentBlock.classesForBodyCopy %}
{% endif %}

{% set classesForDisplayName = 'display-2 wvu-shout wvu-bar' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForButton = 'btn-primary btn-lg' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

{% set hTag = 'h2' %}
{% if 'Set Title as H1' in currentBlock.extraOptions %}
  {% set hTag = 'h1' %}
{% endif %}

{% set inlineStyles = '' %}
{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=2000&q=40);" %}
{% endif %}

{% if 'Hide Image on Mobile' in currentBlock.extraOptions %}
  {% set hideMobileClass = 'hideMobile' %}
{% endif %}

{% if currentBlock.feature %}
  {% set backgroundImage = currentBlock.feature.largeBackgroundImage.file.url %}
{% else %}
  {% set backgroundImage = currentBlock.backgroundImage.file.url %}
{% endif %}

<style>
  @media (min-width: 60em) {
    main.bgImg.hideMobile {
      background-image: url({{ backgroundImage }}?w=2200&q=60);
    }
  }
  main.bgImg {
    background-image: url({{ backgroundImage }}?w=2200&q=60);
  }
</style>

<{{ landmarkTag }} {% if 'Is Main' not in currentBlock.extraOptions %}aria-labelledby="{{ ariaLabelledById }}"{% endif %} id="wvu-main-content" class="{{ classesForSection }} {{ hideMobileClass }}" style="{{ inlineStyles }}" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>  
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5{{ textAlignedRightClass }}">
      <div class="col col-md-6{% if currentBlock.isTextAlignedRight == 'true' %} ms-md-auto{% endif %}">
        <div{% if currentBlock.backgroundImage %} class="wvu-bg-tint p-3 p-lg-4 my-n4"{% endif %}>
          <div class="wvu-z-index-content">            
            <{{hTag}} id="hero-1-label" class="{{ classesForDisplayName }}">
              <span>{{ currentBlock.snazzyHeadline|raw }}</span>
            </{{hTag}}>

            {% if currentBlock.lede %}
              <p>{{ currentBlock.lede }}</p>
            {% endif %}

            {{ currentBlock.snazzyCopy | raw }}

          </div>
        </div>
      </div>
    </div>
  </div>
</{{ landmarkTag }}>