{% set ariaLabelledById = random() %}

{% set landmarkTag = 'section' %}
{% if 'Is Main' in currentBlock.extraOptions %}
  {% set landmarkTag = 'main' %}
{% endif %}

<{{ landmarkTag }} {% if 'Is Main' not in currentBlock.extraOptions %}aria-labelledby="{{ ariaLabelledById }}"{% endif %} id="anchor-find-stuff" class="py-5 text-center bg-wvu-gold wvu-bg-topo-dark text-wvu-blue wvu-big-search wvu-big-search--programs" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>
  <div class="container wvu-z-index-content">

    <h2 id="{{ ariaLabelledById }}" class="display-2 wvu-shout mb-2">{% if currentBlock.displayTitle %}{{ currentBlock.displayTitle|raw }}{% else %}Find Your Program{% endif %}</h2>
    <div class="lead">
      {% if currentBlock.lede %}
        {{ currentBlock.lede|raw }}
      {% else %}
        Whether you’re an undergraduate, graduate or online student, we have the programs and resources to help you meet your goals.
      {% endif %}
    </div>

    <div class="row d-flex justify-content-center my-2">
      <div class="col-md-6 mx-auto">
        <div class="row mb-2">
          <div class="col-md-12">
            <form id="form-search" class="form-inline w-100" action="/academics/programs" method="get" aria-label="Search for your program.">
              <label class="form-search__label form-search__label--programs w-100" for="query">
                <span class="form-search__label-text form-search__text--majors visually-hidden">Search Majors</span>
                {% if 'Undergraduate Majors' in currentBlock.searchOnly %}
                  <input type="hidden" name="level" value="undergraduate">
                {% elseif 'Graduate Majors' in currentBlock.searchOnly %}
                  <input type="hidden" name="level" value="undergraduate">
                {% endif %}
                {% if 'Morgantown Majors' in currentBlock.searchOnly %}
                  <input type="hidden" name="campus" value="morgantown">
                {% endif %}
                {% if 'Morgantown Majors' in currentBlock.searchOnly or 'Undergraduate and Graduate Majors' in currentBlock.searchOnly or 'Graduate Majors' in currentBlock.searchOnly or 'Undergraduate Majors' in currentBlock.searchOnly %}
                  <input type="hidden" name="type" value="major">
                {% endif %}
                <div class="input-group shadow-sm w-100">
                  <input id="query" class="form-control p-2 h1 mb-0 form-search__field form-search__field--programs " name="q" maxlength="256" placeholder="Search..." type="search" />
                  <button class="btn btn-primary px-3 px-lg-4 form-search__submit form-search__submit--programs" name="btnG" type="submit" value="Search">
                    <span class="h5 mb-0 d-block">
                      <span class="fa-solid fa-magnifying-glass" aria-hidden="true"></span>
                    </span>
                    <span class="visually-hidden">Search</span></span>
                  </button>
                </div>
              </label>
            </form>
          </div>
        </div>
      </div>
    </div>

    <p class="mb-0">Or <a class="text-wvu-blue" href="/academics/programs">view all programs</a>.</p>

  </div>
</{{ landmarkTag }}>
