.ci {
  @include u-wvu-container-padding();
}

.ci__feature {
  clear: both;
  display: table;
  font-size: .9em;
  line-height: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  width: 100%;
  img {
    @include span-columns(2);
  }
  span {
    @include span-columns(10);
    padding-top: 0.5em;
  }
}

.ci__features {
  margin-bottom: 2em;
  img {
    max-width: 100%;
  }
}

.ci__median-salary {
  background-color: $wvu-black;
  border-radius: 15px;
  clear: left;
  color: white;
  display: table;
  font-size: 1.5em;
  font-family: $helvetica-neue-light;
  line-height: 1.2em;
  padding: 1em;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  strong {
    font-family: $helvetica-neue-font-stack;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.ci__main {
  @include span-columns(12);
}

.ci__onet {
  font-size: .8em;
}

.ci__postscript {
  @include span-columns(12);
  background-color: shade(white, 5%);
  margin-top: 2em;
  max-width: 9999em;
  padding: 2em;
}

.ci__related-majors, .ci__the-basics {
  clear: both;
  display: table;
  padding: 1.5em;
  width: 100%;
  a {
    color: $wvu-black;
    &:visited {
      color: $wvu-black;
    }
  }
  h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.ci__related-majors {
  background-color: tint($wvu-neutral--light-brown, 70%);
}

.ci__the-basics {
  background-color: tint($wvu-neutral--light-gray, 70%);
}

.ci__features, .ci__onet, .ci__median-salary, .ci__related-majors, .ci__the-basics {
  margin-bottom: 30px;
}
