.covid-critical-topics-bar {
  .button {
    margin-bottom: .5rem;
  }
  h2 {
    @include wvu-shout();
    margin-bottom: .5rem;
    margin-top: 0;
    @include mq($bp-medium) {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      span {
        flex: 1;
      }
      &:after {
        background-image: url(../images/arrow-right.svg);
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        flex: 1 1 auto;
        height: 32px;
        margin: 0 1rem;
        // position: absolute;
        // left: auto;
        width: 39px;
        // right: -79px;
      }
    }
  }
}

.covid-critical-topics-bar__label {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 5px;
}

.covid-critical-topics-bar__label.wvu-gold {
  font-size: 1.5rem;
  line-height: .8;
}
