[role="tablist"] {
  padding: 0;
  margin: 0;
  width: 100%;
}

[role="presentation"] {
  background-color: tint($wvu-black, 10%);
  border: 1px solid tint($wvu-black, 5%);
  border-bottom-width: 0;
  border-top-width: 0;
  display: block;
}

[role="presentation"][data-tab-active] {
  background-color: white;
  border-bottom-color: white;
  a {
    &.tab-link {
      color: $wvu-black;
      &:active, &:focus {
        color: $wvu-black;
      }
    }
  }
}

[role="tab"] {
/*   border: 3px solid transparent; */
  border-top: 3px solid $wvu-black;
  color: #fff;
  display: block;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
}

[role="tab"]:focus {
  background-color: white;
  border-top: 3px solid $wvu-gold;
  color: $wvu-black;
  outline: 0;
}

[role="tabpanel"] {
  background: #f0f0f0;
  padding: 1rem;
}

[role="tabpanel"][aria-hidden="true"] {
  display: none;
}

[role="tabpanel"]:focus {
  outline: 0;
  // box-shadow: inset 0 0 0 2px #036800;
}

@media screen and (min-width: 800px) {
  [role="presentation"] {
    display: inline-block;
  }
}

.mm-years {
  @include u-wvu-container-padding();
  @include black-background();
  color: $wvu-black;
  padding-bottom: 0;
  h1, h2, h3, h4, h5, h6 {
    color: $wvu-black;
  }
  h4 {
    color: white;
    @include wvu-shout();
    font-size: 1.2em;
    padding: .75em;
    max-width: 999999em;
    -webkit-font-smoothing: antialiased;
  }
  .ul--slashes {
    list-style-type: none;
    li {
      position: relative;
      @include wvu-gold-slash();
      &:before {
        height: 1em;
        left: -1em;
        top: 0;
        width: .5em;
      }
    }
  }
}

.mm-years__a {
  margin-left: 3em;
}

.mm-years__ul--academics {
  background-color: shade(white, 3%);
  padding: 2em 2em 2em 4em;
}

.mm-years__categories {
  clear: both;
  display: table;
  width: 100%;
  .mm-years__category {
    @include mq($bp-medium) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}

.mm-years__category {
  img {
    height: 18px;
    position: relative;
    top: -2px;
    width: 18px;
  }
  ul {
    margin-bottom: 2em;
    margin-left: 1.5em;
    margin-top: 2em;
  }
}

.mm-years__course-cluster {
  margin: 1em 0 1em 1em;
}

.mm-years__course-cluster-header {
  clear: both;
  display: table;
  width: 100%
}

.mm-years__course-name {
  @include span-columns(11);
}

.mm-years__h4--academics {
  background-color: $wvu-accent--red;
}

.mm-years__h4--career-and-professional-development {
  background-color: $wvu-accent--burnt-orange;
}

.mm-years__h4--civic-cultural-and-global-engagement {
  background-color: $wvu-accent--green;
}

.mm-years__h4--health-and-wellness {
  background-color: $wvu-neutral--dark-brown;
}

.mm-years__h4--the-mountaineer-experience {
  background-color: $wvu-blue;
}

.mm-years__hours {
  @include span-columns(1);
  text-align: right;
}

.mm-years__legend {
  clear: both;
  display: table;
  font-size: .8em;
  line-height: 2em;
  padding: 2em 0;
  text-transform: uppercase;
  width: 100%;
}

.mm-years__schedule {
  ul {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
  }
}

.mm-years__semester-links {
  color: shade(white, 15%);
  margin-bottom: 2em;
  a {
    color: white;
    display: block;
    padding: .5em;
    @include mq($bp-medium) {
      display: inline-block;
    }
  }
}

.mm-years__semester {
  @include mq($bp-medium) {
    @include span-columns(5);
    @include shift(1);
    &:first-child {
      @include shift(0);
    }
  }
  h5 {
    font-size: .8em;
    text-transform: uppercase;
  }
  span {
    font-weight: bold;
    text-transform: uppercase;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      clear: both;
      display: table;
      width: 100%;
    }
  }
}

.mm-years__semester--3 {
  @include mq($bp-medium) {
    @include span-columns(4);
    @include shift(0);
  }
}

.mm-years__total-hours {
  border-top: 1px solid shade(white, 10%);
  font-weight: bold;
  text-align: right;
}

.mm-years__year {
  background-color: white;
  float: left;
  margin: 0 -9999em;
  padding: 0 9999em;
  padding-bottom: 4.1em;
  > .mm-years__category {
    ul {
      margin-left: 0;
    }
  }
}

.mm-years__years {
  li {
    &.tab-item {
      float: left;
      margin: 0;
      position: relative;
      width: 25%;
      span {
        display: block;
        max-width: 1em;
      }
    }
  }
  .tab-link {
    color: shade(white, 30%);
    display: block;
    @include wvu-shout();
    font-size: 1em;
    line-height: .9em;
    margin-bottom: 0;
    padding: .5em;
    -webkit-font-smoothing: antialiased;
    @include mq($bp-medium) {
      font-size: 2em;
    }
    &:active, &:focus {
      color: $wvu-black;
    }
  }
  // input:checked + label {
  //   border: 1px solid shade(white, 15%);
  //   border-bottom: 1px solid white;
  // }
}

.mm-years__years--1 {
  li {
    &.tab-item {
      width: 100%;
    }
  }
}

.mm-years__years--2 {
  li {
    &.tab-item {
      width: 50%;
    }
  }
}

.mm-years__years--3 {
  li {
    &.tab-item {
      width: 33.333333%;
    }
  }
}

.mm-years__years--5 {
  li {
    &.tab-item {
      font-size: .8em;
      width: 20%;
      @include mq($bp-medium) {
        font-size: 2em;
      }
    }
  }
}

// .mm-years__years input{ display: none;}
// .mm-years__years label{ display: block; float: left; cursor: pointer}
// .mm-years__years input:checked + label{ background: white; color: $wvu-black; cursor: default}
// .mm-years__years .mm-years__year{ clear: left }
//
// .mm-years__years input:nth-of-type(1):checked ~ .mm-years__year:nth-of-type(1),
// .mm-years__years input:nth-of-type(2):checked ~ .mm-years__year:nth-of-type(2),
// .mm-years__years input:nth-of-type(3):checked ~ .mm-years__year:nth-of-type(3),
// .mm-years__years input:nth-of-type(4):checked ~ .mm-years__year:nth-of-type(4),
// .mm-years__years input:nth-of-type(5):checked ~ .mm-years__year:nth-of-type(5){ display: block; }

.planOfStudyLinks {
  background-color: transparent;
  border: none;
  &.active {
    //background-color: tint($wvu-black, 10%);
    background-color: $wvu-gold;
    color: $wvu-black;
    &:hover {
      color: $wvu-black;
    }
  }
}

.mm-years {
  .planOfStudyLinks {
    &.active {
      &:hover {
        color: $wvu-black;
      }
    }
  }
}
