.mm-listing {
  @include u-wvu-container-padding();
  ul, dl {
    list-style-type: none;
    padding-left: 0;
    @include mq($bp-medium) {
      -webkit-column-count: 3; /* Chrome, Safari, Opera */
      -moz-column-count: 3; /* Firefox */
      column-count: 3;
      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
    }
    li, dt {
      &:first-child {
        margin-top: 0;
      }
    }
  }
  dt {
    margin-bottom: 0;
  }
}
