.mm-related-employers {
  @include u-wvu-container-padding();
  text-align: center;
  h2 {
    @include wvu-lede();
    margin-top: 0;
  }
}

.mm-releated-employers__employer {
  @include wvu-shout();
  background-color: shade(white, 3%);
  color: $wvu-black;
  display: inline-block;
  font-size: 2em;
  margin-bottom: 5px;
  margin: 5px;
  padding: 1em;
  text-decoration: none;
}

.mm-related-employers__employers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3em;
  text-align: center;
}
