.mm-intro {
  @include u-wvu-container-padding();
}

.mm-intro__main {
  @include mq($bp-medium) {
    @include span-columns(8);
  }
}

.mm-intro__sidebar {
  @include mq($bp-medium) {
    @include span-columns(4);
  }
}
