.mm-related-careers {
  @include u-wvu-container-padding();
  background-color: #f3f8fb;
  h2 {
    @include wvu-lede();
    margin-top: 0;
    text-align: center;
  }
}

.mm-related-careers__career {
  @include mq($bp-medium) {
    @include span-columns(6);
    @include omega(2n);
  }
  img {
    height: 1em;
  }
}

.mm-related-careers__careers {
  clear: both;
  display: table;
  width: 100%;
}

.mm-related-careers__legend {
  clear: both;
  display: table;
  margin: 2em 0;
  text-align: center;
  width: 100%;
  img {
    height: 24px;
    margin-left: 2em;
    width: 24px;
    &:first-child {
      margin-left: 0;
    }
  }
}
