// Layout
// ===============================

.main {
  margin-bottom: 4em;
  @include mq($bp-medium) {
    @include span-columns(9);
    margin-bottom: 0;
  }
  h2 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.main--wide {
  @include mq($bp-medium) {
    @include span-columns(12);
  }
  &.main--edit-mode {
    @include mq($bp-medium) {
      @include span-columns(9);
    }
  }
}
