.wvu-video {
  display: table;
  width: 100%;
  @include u-wvu-container-padding();
  h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.wvu-video__header {
  font-size: 2.5em;
  @include wvu-lede();
  h2 {
    @include wvu-primary-pattern-heading();
  }
  h3 {
    @include wvu-lede();
  }
}

.wvu-video__video {
  margin-bottom: 2em;
  @include mq($bp-medium) {
    margin-bottom: 0;
  }
}

.wvu-video__video-and-description {
  display: table;
  width: 100%;
}

.wvu-video__lede + .wvu-video__video-and-description {
  margin-top: 4em;
}

.wvu-video__postscript {
  @include wvu-postscript();
}

// Layout
// ===============================

.wvu-video__video {
  @include mq($bp-medium) {
    @include span-columns(7);
  }
}

.wvu-video__description {
  @include mq($bp-medium) {
    @include span-columns(4.5);
    @include shift(.5);
  }
}

.wvu-video__video--wide {
  @include mq($bp-medium) {
    @include span-columns(7);
    @include shift(2.5);
  }
}

.inquiry-form {
  border-radius: 5px;
  background-color: rgba(255,255,255,0.1);
  padding: 2em 1.5em 0em 1.5em;
  /* border: 3px solid rgba(255,255,255,0.1); */
}
