// Typography
//==================================================

// Helvetica Neue
$helvetica-neue-font-stack: 'Helvetica Neue', Helvetica, 'Helvetica LT Std', 'Helvetica CY', Arial, 'Lucida Grande', sans-serif !default;
$helvetica-neue-light: 'HelveticaNeueW01-45Ligh', $helvetica-neue-font-stack !default;
$helvetica-neue-condensed-black: 'HelveticaNeueW01-97Blac', $helvetica-neue-font-stack !default;

// Iowan
$iowan-old-style: 'IowanOldStyleW01-Roman', Georgia, Times, serif !default;
$iowan-old-style-italic: 'IowanOldStyleW01-Italic1120392', Georgia, Times, serif !default;

// Font Sizes
$wvu-base-font-size: 1em !default;
$wvu-base-font-family: $helvetica-neue-font-stack !default;

// Shout
$wvu-shout: $helvetica-neue-condensed-black !default;
$wvu-shout-fallback: Impact, Charcoal, 'Arial Black', $wvu-base-font-family;
$wvu-shout-font-size: 8.2em !default;

// Audiences
$wvu-traditional-audience: $iowan-old-style !default;
$wvu-narrow-audience: $iowan-old-style-italic !default;

// Line height
$wvu-base-line-height: 1.5 !default;
$header-line-height: 1.25 !default;
$wvu-shout-line-height: 0.80487em !default;
$helvetica-neue-bold-line-height: 1.08333333em !default;
$wvu-traditional-audience-line-height: 1.16666666667em !default;

// Line length
$wvu-typography-line-length: 45em !default;

// WVU Color Pallette
//==================================================

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral
$wvu-black: #2C2A29;
$pms-432-c: #333F48;
$pms-429-c: #A2AAAD;
$pms-warm-gray-11: #6E6259;
$pms-warm-gray-7: #968C83;
$pms-warm-gray-3: #BFB8AF;

$wvu-white: #F9F9F9;
$wvu-neutral--dark-gray: $pms-432-c;
$wvu-neutral--light-gray: $pms-429-c;
$wvu-neutral--dark-brown: $pms-warm-gray-11;
$wvu-neutral--brown: $pms-warm-gray-7;
$wvu-neutral--light-brown: $pms-warm-gray-3;

// Accent
$pms-286-c: #0033A0;
$pms-300-c: #005EB8;
$pms-629-c: #9BD3DD;
$pms-7554-c: #4B3D2A;
$pms-7557-c: #9F7D23;
$pms-144-c: #ED8B00;
$pms-7476-c: #0D5257;
$pms-5625-c: #657A68;
$pms-558-c: #9ABEAA;
$pms-180-c: #BE3A34;
$pms-166-c: #CD4C08;
$pms-115-c: #FDDA24;

$wvu-accent--dark-blue: $pms-286-c;
$wvu-accent--blue: $pms-300-c;
$wvu-accent--light-blue: $pms-629-c;
$wvu-accent--brown: $pms-7554-c;
$wvu-accent--mustard: $pms-7557-c;
$wvu-accent--orange: $pms-144-c;
$wvu-accent--dark-green: $pms-7476-c;
$wvu-accent--green: $pms-5625-c;
$wvu-accent--light-green: $pms-558-c;
$wvu-accent--red: $pms-180-c;
$wvu-accent--burnt-orange: $pms-166-c;
$wvu-accent--yellow: $pms-115-c;

$wvu-grey-light: shade(white, 3%);
$wvu-grey-medium: shade(white, 7%);

// Links
//==================================================

$wvu-use-typography-anchor: true !default;
$wvu-base-link-color: $pms-300-c !default;
$wvu-hover-link-color: $pms-166-c !default;
$wvu-link-border-style: 1px dotted !default;
$wvu-visited-link-color: $pms-286-c !default;

// Masthead
//==================================================

$flying-wv-w-signature: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo--1.0.0.svg' !default;

// Hero Elements
//==================================================

$wvu-hero-image: 'https://patterns.wvu.edu/images/coopers-rock.jpg' !default;
$wvu-hero-image-width: 1720px !default;
$wvu-hero-image-height: 580px !default;
$wuv-diagonal-line-gold: 'https://static.wvu.edu/global/images/patterns/wvu/diagonal__gold--1.0.0.svg' !default;
$diagonal-line-gold-fallback: 'https://static.wvu.edu/global/images/patterns/wvu/diagonal__gold--1.0.0.svg' !default;

$wvu-shout-font-size-medium: 4.5em !default;
$wvu-shout-font-size-long: 3em !default;
$wvu-shout-margin: 0 0 .5em !default;

// Hero Typography

$wvu-hero-title-typeface: $wvu-shout !default;
$wvu-hero-title-color: white !default;
$wvu-small-font-size: .8em;

// Set vignetting to true if you have a photo that is busy and makes text illegible

$wvu-has-vignetting: false !default;
$wvu-hero-vignetting-opacity: .85 !default;

// Pattern

$wvu-gold-pattern: "../images/wvu-gold-pattern.jpg";

// Shout Length
$wvu-shout-length: 'short' !default;

// Layout
$wvu-container-padding: 4em 0 4.3em 0 !default;
$wvu-hero-container-padding: 7em 0 !default;

// Lede Text
// =================================================

$wvu-lede-font-size: 2.5em !default;
$wvu-lede-line-height: 1.08333333em !default;
$wvu-lede-text-align: center !default;

// Header
// ====================================================

$wvu-header-color: $wvu-black !default;

// Grid
//==================================================

$gutter: golden-ratio(5em, 1) !default; // Gutter between each two columns
$max-width: em(1200) !default; // Max-width of the outer container

// AJ's Grid
//==================================================

// Grid Media Queries:
$grid-mq-tablet: 48em !default;
$grid-mq-desktop: 60em !default;

// Grid Gutters
$grid-gutter-tablet: 1.302083333333333% !default;
$grid-gutter-desktop: 1.041666666666667% !default;

// Breakpoints
//==================================================

$bp-micro: 340 !default;
$bp-mini: 450 !default;
$bp-small: 570 !default;
$bp-medium: 768 !default;
$bp-large: 960 !default;
$bp-xlarge: 1200 !default;
$bp-jumbo: 1720 !default;
$bp-nav: 1040 !default;

$bp-hero-medium: 768 !default;

// Responsive Navigation Breakpoint
$rwd-nav-bp: $bp-medium !default;

// Other Sizes
$base-border-radius: 3px !default;
$base-spacing: $wvu-base-line-height * 1em !default;
$base-z-index: 0 !default;

// Font Colors
$base-font-color: $wvu-black !default;
$base-accent-color: $pms-300-c !default;

// Link Colors
$base-link-color: $base-accent-color !default;
$hover-link-color: $pms-166-c !default;
$base-button-color: $base-link-color !default;
$hover-button-color: $hover-link-color !default;

// Flash Colors
$alert-color: $pms-115-c !default;
$error-color: $pms-180-c !default;
$notice-color: $pms-7557-c !default;
$success-color: $pms-558-c !default;

// Border color
$base-border-color: #ccc;
$base-border: 1px solid $base-border-color !default;

// Forms
// =================================================

$form-border-color: $base-border-color !default;
$form-border-color-hover: $base-border-color !default;
$form-border-color-focus: $base-accent-color !default;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06) !default;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba($form-border-color-focus, 0.7) !default;
$form-font-size: $wvu-base-font-size !default;
$form-font-family: $wvu-base-font-family !default;

// Bootstrap Overrides
// ==================================================

// Typography
//==================================================

// Helvetica Neue
$helvetica-neue-fallback: 'Helvetica Neue', Helvetica, 'Helvetica LT Std', 'Helvetica CY', Arial, 'Lucida Grande', sans-serif !default;
$helvetica-neue: 'HelveticaNeueW01-55Roma', $helvetica-neue-fallback;

// Webfonts from Fonts.com
$helvetica-neue-light: 'HelveticaNeueW01-45Ligh', $helvetica-neue-fallback !default;
$helvetica-neue-bold: 'Helvetica Neue LT W01_75 Bold', $helvetica-neue-fallback !default;
$helvetica-neue-condensed-black: 'HelveticaNeueW01-97Blac', $helvetica-neue-fallback !default;

// Iowan
$iowan-fallback: Iowan, Georgia, 'Times New Roman', Times, serif !default;
$iowan-old-style: 'IowanOldStyleW01-Roman', $iowan-fallback !default;
$iowan-old-style-italic: 'IowanOldStyleW01-Italic1120392', $iowan-fallback !default;
$iowan-old-style-black: 'IowanOldStyleW01-Black', $iowan-fallback !default;
$iowan-old-style-black-italic: 'IowanOldStyleW01-BlackI', $iowan-fallback !default;

// Shout
$wvu-shout-fallback: 'Arial Narrow', Impact, Charcoal, 'Arial Black', $helvetica-neue-fallback !default;
$wvu-shout-font-family: $helvetica-neue-condensed-black !default;

// Font size
$wvu-font-size-base: 1rem !default;

// Paragraph measure
$wvu-p-measure: 48rem !default;

// Line height
$wvu-shout-line-height: 0.80487em !default;
$wvu-traditional-audience-line-height: 1.16666666667em !default;

// Audiences
$wvu-traditional-audience: $iowan-old-style !default;
$narrow-audience: $iowan-old-style-italic !default;

// Tracking
$wvu-letter-spacing-width: 2px !default;

// Color
//==================================================

// Primary
$wvu-blue: #002855;
$wvu-gold: #EAAA00;

// Neutral
$wvu-neutral--white: #F9F9F9;
$wvu-neutral--black: #2C2A29;
$wvu-neutral--dark-gray: #333F48;
$wvu-neutral--light-gray: #A2AAAD;
$wvu-neutral--dark-brown: #6E6259;
$wvu-neutral--brown: #7C736A;
$wvu-neutral--light-brown: #BFB8AF;

// Accent
$wvu-accent--dark-blue: #0033A0;
$wvu-accent--blue: #005EB8;
$wvu-accent--light-blue: #9BD3DD;
$wvu-accent--brown: #4B3D2A;
$wvu-accent--mustard: #8F701E;
$wvu-accent--orange: #ED8B00;
$wvu-accent--dark-green: #0D5257;
$wvu-accent--green: #657A68;
$wvu-accent--light-green: #9ABEAA;
$wvu-accent--red: #BE3A34;
$wvu-accent--burnt-orange: #CD4C08;
$wvu-accent--yellow: #FDDA24;

// Breadcrumbs
$wvu-breadcrumbs-color: #8F9699;

// Masthead
//==================================================
$wvu-flying-wv-w-signature: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo--2.0.0.svg' !default;
$wvu-flying-wv-w-signature--blue: 'https://static.wvu.edu/global/images/logos/wvu/wvu-logo__blue--2.0.0.svg' !default;

// Hero Elements
//==================================================
$wvu-shout-font-size-medium: 4.5em !default;
$wvu-shout-font-size-long: 3em !default;
$wvu-shout-margin: 0 0 .5em !default;

// Hero Typography
$wvu-hero-font-color: white !default;
$wvu-hero-title-typeface: $wvu-shout-font-family !default;
$wvu-hero-vignetting-opacity: .85 !default;
$wvu-typography-line-length: 45rem !default;
$wvu-tint-opacity: .7 !default;
$wvu-vignetting-opacity: .85 !default;

$wvu-slash-width: .5em !default;
$wvu-slash-height: 1.25em !default;
$wvu-slash-height-tall: 150% !default;

$wvu-blue-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__blue--1.0.0.svg";
$wvu-gold-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__gold--1.0.0.svg";
$wvu-white-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__white--1.0.0.svg";
$wvu-slashes-gold-blue: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue--1.0.0.svg";
$wvu-slashes-gold-blue-white: "https://static.wvu.edu/global/images/patterns/wvu/background__slash-grouping-gold-blue-white--1.0.0.svg";
$wvu-grid-pattern: "https://static.wvu.edu/global/images/patterns/wvu/background__grid--1.0.0.svg";
$wvu-grid-pattern-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-transparent--1.0.0.svg";
$wvu-grid-pattern-zoomed: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed--1.0.0.svg";
$wvu-grid-pattern-zoomed-transparent: "https://static.wvu.edu/global/images/patterns/wvu/background__grid-zoomed-transparent--1.0.0.svg";
$wvu-topo-map-black: "https://static.wvu.edu/global/images/patterns/wvu/background__topo-black--1.0.0.svg";
$wvu-topo-map-white: "https://static.wvu.edu/global/images/patterns/wvu/background__topo-white--1.0.0.svg";
$wvu-topo-map-opacity: 0.1 !default;

// Make !important configurable
$global-important: !important !default; // Set to `null` to remove !important from all CSS property values, except where explicitly defined otherwise in mixin @includes.

// WVU Elements
$wvu-bar-color: $wvu-gold !default;
$wvu-bar-position: 'top' !default;
$wvu-bar-width: 7rem !default;

// Z-index for vignetting. slash, grid
$wvu-z-index-content: 3 !default;
$wvu-z-index-breadcrumbs: $wvu-z-index-content + 1 !default;
$wvu-z-index-grid: 0 !default;
$wvu-z-index-slash: -1 !default;
$wvu-z-index-angle-container: -1 !default;
$wvu-z-index-vignetting: 1 !default;

// WVU Breakpoints
$wvu-bp-xs: 0 !default;
$wvu-bp-sm: 576px !default;
$wvu-bp-md: 768px !default;
$wvu-bp-lg: 992px !default;
$wvu-bp-xl: 1400px !default;

$wvu-bp-nav: $wvu-bp-lg;

$wvu-breakpoints: (
  $wvu-bp-xs,
  $wvu-bp-sm,
  $wvu-bp-md,
  $wvu-bp-lg,
  $wvu-bp-xl
);

// Bootstrap Overrides
//==================================================
$sizes: (
  10: 10%,
  20: 20%,
  25: 25%,
  30: 30%,
  40: 40%,
  50: 50%,
  60: 60%,
  70: 70%,
  75: 75%,
  80: 80%,
  90: 90%,
  100: 100%,
  auto: auto
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$theme-colors: (
  "wvu-blue": $wvu-blue,
  "wvu-gold": $wvu-gold,
  "wvu-neutral--white": $wvu-neutral--white,
  "wvu-neutral--black": $wvu-neutral--black,
  "wvu-neutral--dark-gray": $wvu-neutral--dark-gray,
  "wvu-neutral--light-gray": $wvu-neutral--light-gray,
  "wvu-neutral--dark-brown": $wvu-neutral--dark-brown,
  "wvu-neutral--brown": $wvu-neutral--brown,
  "wvu-neutral--light-brown": $wvu-neutral--light-brown,
  "wvu-accent--dark-blue": $wvu-accent--dark-blue,
  "wvu-accent--blue": $wvu-accent--blue,
  "wvu-accent--light-blue": $wvu-accent--light-blue,
  "wvu-accent--brown": $wvu-accent--brown,
  "wvu-accent--mustard": $wvu-accent--mustard,
  "wvu-accent--orange": $wvu-accent--orange,
  "wvu-accent--dark-green": $wvu-accent--dark-green,
  "wvu-accent--green": $wvu-accent--green,
  "wvu-accent--light-green": $wvu-accent--light-green,
  "wvu-accent--red": $wvu-accent--red,
  "wvu-accent--burnt-orange": $wvu-accent--burnt-orange,
  "wvu-accent--yellow": $wvu-accent--yellow
);

$grid-breakpoints: (
  xs: $wvu-bp-xs,
  sm: $wvu-bp-sm,
  md: $wvu-bp-md,
  lg: $wvu-bp-lg,
  xl: $wvu-bp-xl
);

$container-max-widths: (
  xl: 1360px
);

$spacer: 2rem;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 6)
);

$blue: #006FE6;
$card-border-radius: 0;
$card-border-width: 0;
$card-bg: transparent;
$dark: $wvu-neutral--black;
$display1-size: 7rem;
$font-size-base: 1rem;
$emphasized-link-hover-darken-percentage: 0%;
$font-family-sans-serif: $helvetica-neue-fallback;
$jumbotron-bg: transparent;
$jumbotron-padding: 4rem;
$lead-font-size: ($font-size-base * 1.5);
$link-decoration: underline;
$pink: #DB1A74;
$small-font-size: 80%;
$nameSpace: 'wvu';
$text-shadow: 2px 2px black;
