.wvu-wvutoday {
  a {
    font-weight: bold;
  }
  img {
    @include span-columns(3);
  }
  li {
    clear: both;
    display: table;
    margin-bottom: 1em;
    width: 100%;
  }
}

.wvu-wvutoday__copy {
  @include span-columns(9);
}

.wvu-wvutoday__date {
  display: block;
}

.wvu-wvutoday__browse-link {
  a {
    font-size: .9em;
    text-decoration: underline;
    &:hover {
      color: $wvu-gold;
    }
  }
}
