.wvu-a-z-index__apha-type-wrapper {
  margin-bottom: 4em;
}

.wvu-a-z-index__h3--non-alpha {
  @include mq($bp-medium) {
    @include span-columns(3);
  }
}

.wvu-a-z-index__header {
  font-size: 3em;
  line-height: .8em;
  margin-top: 0;
  @include mq($bp-medium) {
    @include span-columns(3);
  }
  a {
    font-size: .25em;
  }
}

.wvu-a-z-index__letter {
  @include span-columns(12);
  border-top: 1px solid $wvu-grey-medium;
  margin-bottom: 4em;
  padding-top: 1.5em;
  h2 {
    margin-top: 0;
    @include mq($bp-medium) {
      @include span-columns(3);
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    &.wvu-a-z-index__non_alpha {
      @include mq($bp-medium) {
        @include span-columns(9);
      }
    }
  }
}

.wvu-a-z-index__list {
  list-style-type: none;
  padding-left: 0;
  @include mq($bp-medium) {
    @include span-columns(9);
    column-count: 3;
    column-gap: 20px;
  }
  li {
    font-size: .9em;
    line-height: 1.2em;
    a {
      text-decoration: none;
    }
  }
  > li {
    margin-top: 0;
  }
  &:first-child {
    > li {
      margin-top: 0;
    }
  }
}

.wvu-a-z-index__nav {
  background-color: $wvu-grey-light;
  clear: both;
  display: table;
  margin-bottom: 4em;
  width: 100%;
  ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    li {
      float: left;
      font-family: $helvetica-neue-light;
      font-size: 1.5em;
      margin: 0;
      a {
        color: $wvu-black;
        display: inline-block;
        padding: .75em .3em;
        text-decoration: none;
      }
    }
  }
}

.site-index__navigation-item {
  a {
    text-decoration: none;
  }
}
