.wvu-events-and-news {
  @include black-background();
  @include u-wvu-container-padding();
  a {
    color: white;
    text-decoration: none;
    &:visited {
      color: white;
    }
    img {
      height: 18px;
      width: 18px;
    }
  }
  h3 {
    @include wvu-shout();
    color: $wvu-gold;
    margin-right: 10px;
    margin-top: 0;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.wvu-events-and-news__events, .wvu-events-and-news__news {
  @include mq($bp-medium) {
    @include span-columns(6);
  }
}

.wvu-events-and-news__events-calendar {
  margin-bottom: 4em;
  @include mq($bp-medium) {
    margin-bottom: 0;
  }
}

.wvu-events-and-news__header, .wvu-news__header {
  a {
    font-size: .8em;
    font-weight: bold;
  }
  h3 {
    display: inline;
  }
}
