.wvu-breadcrumbs {
  position: absolute;
  top: 1em;
  width: 100%;
  z-index: 2;
}

.wvu-breadcrumbs__crumbs {
  font-size: .8em;
  list-style-type: none;
  padding: .5em 1em .5em 0;
  @include mq($bp-xlarge) {
    padding: .5em 0;
  }
  li { float: left; font-size: .8em; margin-right: 0.5em;
    &:after { content: ' / '; }
    &:last-child {
      &:after { content: ''; }
    };
  }
}

.wvu-breadcrumbs__list--white { color: white;
  a { color: white; }
}
