.arrow-right {
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  flex: 1 1 auto;
  height: 32px;
  margin: 0 1rem;
  width: 39px;
}
