.wvu-download-link {
  background-image: url(../images/icon-download--white.svg);
  background-repeat: no-repeat;
  background-size: 24px;
}

.icon-big {
    color: inherit;
    font-size: 10.5em;
    padding: 0.25em 0em;
    text-align: center;
    margin: auto;
    width: 100%;
    @include mq($bp-small) {
      padding-top: 10px;
    }
}
