// Panellum Panorama Viewer
//==================================================
// Custom styles for the Panellum viewer:
// https://github.com/mpetroff/pannellum/

.pnlm-container {
  &:focus {
    outline: 3px dotted $wvu-accent--orange;
  }
} //.pnlm-container

.pnlm-load-button.pnlm-load-button { // Specificity, gah!
  &:focus {
    outline: 3px dotted $wvu-accent--orange;
  }
}
