/* responsive-nav.js 1.0.39 by @viljamis */
// Changed nav breakpoint to coninside with our project's breakpoints

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@include mq($rwd-nav-bp) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

.wvu-nav__items,
.wvu-nav__items ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wvu-nav {
  @include clearfix();
  background: $wvu-black;
  -webkit-font-smoothing: subpixel-antialiased;
  .wvu-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.wvu-nav__items {
  @include mq($bp-small) {
		padding: 0 20px;
	}
  @include mq($bp-xlarge) {
		padding: 0;
	}

  @include mq($bp-medium) {
		margin-left: -.7em;
	}
  li {
		margin-bottom: 0;
		margin-top: 0;
		float: left;
    a {
			float: left;
			color: white;
			margin-right: 0;
			padding: 1em;
			width: 100%;
			text-decoration: none;
      &:hover {
				background: $wvu-gold;
				color: $wvu-blue;
			}
    }
  }

  > li {
    border-right: 1px solid #444;
  }

  &.nav-collapse {
		clear: both;
		overflow: visible;
    li {
      @include mq($bp-small) {
				width: auto;
				float: left;
			}
    }
  }
}

// Responsive-nav.com toggle (inside of .nav-department)
.nav-toggle {
	float: left;
	width: 100%;
	padding: 1em;
	text-align: center;
	color: white;
  @include mq($bp-medium) {
		margin-left: 10px;
	}
  &:visited {
		color: white;
	}
  &:hover {
		text-decoration: none;
		background-color: $wvu-gold;
		color: $wvu-blue;
	}
} //.nav-toggle

.wvu-nav__items {
  &.nav-collapse {
    li {
      ul {
        li {
					width: 100%;
				}
      }
    }
  }
}

/* Dropdowns */
.wvu-nav__items ul {
  background-color: shade($wvu-black, 10%);
  border-top: 1px solid shade($wvu-black, 5%);
  color: shade(white, 20%);
  column-count: 2;
  font-size: .8em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-top: 0;
  @include mq($bp-medium) {
    background-color: $wvu-black;
    border-top: none;
    column-count: auto;
    display: block;
    font-size: 1em;
  	position: absolute;
  	top: 3.45em;
  	left: -9999px;
    z-index: 999999999;
  	opacity: 0;
    padding-bottom: 1em;
    padding-left: 0;
    padding-top: 0;
  	-webkit-transition: 0.1s linear opacity;
  	width: 200px;
  }
}

.wvu-nav__items li {
	float: left;
	position: relative;
}

.wvu-nav__items > li {
  border-top: 1px solid shade(white, 75%);
  @include mq($bp-medium) {
    border-top: none;
  }
}

.wvu-nav__items li:hover ul,
.wvu-nav__items li:focus ul,
ul.show-menu {
	left: 0;
	opacity: 0.99;
  ul {
    left: -99999em;
  }
}

.wvu-nav__items ul li:hover ul,
.wvu-nav__items ul li:focus ul,
.wvu-nav__items ul ul.show-menu {
  top: 0;
  left: 195px;
  ul {
    left: -9999em;
  }
}

.wvu-nav__items ul ul li:hover ul,
.wvu-nav__items ul ul li:focus ul,
.wvu-nav__items ul ul ul.show-menu {
  top: 0;
  left: 195px;
  ul {
    left: -9999em;
  }
}

.wvu-nav__items ul li {
	float: none;
	position: relative;
  width: 100%;
}

.wvu-nav__items ul a {
	float: none;
	display: block;
  width: 100%;
}

.wvu-nav__items ul a:hover,
.wvu-nav__items ul a:focus {
	background: $wvu-gold;
	color: $wvu-black;
}

////// Dropdown indicators

.wvu-nav__items li.more {
  padding-right: 0;

  @include mq($bp-large) {
    padding-right: 0;
  }

  > ul > li:first-child a  {
    padding-top: 1em;
  }

  a {
    margin-right: 0;
  }

  > a {
    padding-right: 1.5em;
  }

  > a:after {
    content: '\25BE';
    margin-left: .5em;
    @include mq($bp-medium) {
      margin-left: 0;
      position: absolute;
      right: .5em;
      top: auto;
      bottom: auto;
      left: auto;
    }
  }

  li.more {
    padding-right: 0;
    > a {

      @include mq($bp-large) {
        padding-right: 1em;
      }

      &:after {
        @include mq($bp-medium) {
          content: '›';
          font-size: 1.2em;
          position: absolute;
          right: 0.5em;
        }
      }
    }
  }
}

// If no nav depth indicated, do not display dropdown indicators

.wvu-nav__nav--depth- {
  .wvu-nav__items li a {
    &:after {
      display: none;
    }
  }
  .wvu-nav__items li.more > a {
    padding-right: .8em;
  }
}

// If nav has only one level, do not display dropdown indicators

.wvu-nav__nav--depth-1 {
  .wvu-nav__items li a {
    &:after {
      display: none;
    }
  }
  .wvu-nav__items li.more > a {
    padding-right: .8em;
  }
}

// If nav has only two levels, do not display flyout indicators

.wvu-nav__nav--depth-2 {
  .wvu-nav__items li li a {
    &:after {
      display: none;
    }
  }
}

// If nav has three levels, do not display flyout indicators for fourth level

.wvu-nav__nav--depth-3 {
  .wvu-nav__items li li li a {
    &:after {
      display: none;
    }
  }
}

.wvu-nav__social-media-icons {
  width: 100%;
  float: left;
  background-color: tint($wvu-black, 10%);
  padding: 0;
  @include mq($bp-large) {
    padding: 0;
    float: right;
    background-color: transparent;
  }
  img {
    width: 28px;
		margin: 14px 0;
		@include mq($bp-large) {
			margin: 0;
		}
  }
}

.wvu-nav__social-media-icons-container {
  text-align: center;
  @include mq($bp-large) {
    padding-top: 9px;
    text-align: left;
    float: right;
    padding-right: 1em;
  }
  @include mq($bp-xlarge) {
    padding-right: 0;
  }
}

.wvu-nav__apply-links {
  width: 100%;
  float: left;
  background-color: tint($wvu-black, 10%);
  padding: 0;
}

.wvu-nav__apply-links {
	padding-top: 9px;
	padding-bottom: 3px;
  text-align: center;
  @include mq($bp-large) {
    text-align: left;
    float: right;
    padding-right: 1em;
    padding: 0;
		padding-top: 8px;
    float: right;
    background-color: transparent;
  }
  @include mq($bp-xlarge) {
    padding-right: 0;
  }
	.button {
    font-size: .8em;
		@include mq($bp-large) {
			font-size: .7em;
		}
		@include mq($bp-xlarge) {
			font-size: .8em;
		}
  }
}

.wvu-nav__items li a {
  font-size: 0.9em;
  padding: 1em 0.8em;
}

.wvu-nav__items ul {
  @include mq($bp-medium) {
  	top: 3em;
  }
}

.nav-toggle { float: left; width: 80%; height: 56px; }

.wvu-nav__items li a:hover {
  background-color: tint($wvu-black, 5%);
  color: white;
}

.nav-toggle {
  &:hover {
    background-color: tint($wvu-black, 5%);
    color: white;
  }
}

// Layout
// ==========================================

.wvu-nav--buttons, .wvu-nav--social {
  .wvu-nav__nav {
  	@include mq($bp-large) {
      @include span-columns(8.5);
    }
  }
}

.wvu-nav__apply-links {
  @include mq($bp-large) {
    @include span-columns(3.5);
  }
}

.wvu-nav__social-media-icons {
  @include mq($bp-large) {
    @include span-columns(3.5);
  }
}
