.program-search-small {
  background-blend-mode: luminosity;
  background-color: $wvu-black;
  background-size: cover;
  color: white;
  position: relative;
  &:before {
    background-color: inherit;
    bottom: 0;
    content: '';
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
  }
  // &:after {
  //   content: '';
  //   clear: both;
  //   display: table;
  // }
  .wvu-container {
    padding-left: 0;
    padding-right: 0;
    @include mq($bp-large) {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}

.program-search-small__body {
  align-items: center;
  font-family: $helvetica-neue-light;
  font-size: 1.5rem;
  @include mq($bp-large) {
    @include span-columns(7);
    display: flex;
  }
  padding: 5rem 4rem;
  text-align: center;
  h2 {
    @include wvu-shout();
    font-size: 3rem;
    color: $wvu-gold;
    margin-bottom: 1rem;
    margin-top: 0;
    @include mq($bp-large) {
      font-size: 4rem;
    }
    @include mq($bp-xlarge) {
      font-size: 5rem;
    }
  }
  .button {
    font-size: 1rem;
  }
}

.program-search-small__search {
  @include mq($bp-large) {
    @include span-columns(5);
  }
}

.program-search-small__big-search {
  background-color: $wvu-gold;
  color: $wvu-blue;
  padding: 5rem 3rem;
  text-align: center;

  background-size: auto;
  background-image: url(https://static.wvu.edu/global/images/patterns/wvu/background__gold--1.0.0.svg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    margin: .8em auto 1.2em;
  }

  .form-search__label {
    width: 80%;
    margin: 0;
    float: left;
    @include mq($bp-medium) {
      width: 83%;
    }
  }

  input[type="search"].form-search__field {
    color: #2C2A29;
    height: 60px;
    border: none;
    border-radius: 3px 0 0 3px;
    padding-left: 18px;
    font-size: 1.2rem;
    font-weight: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    @include mq($bp-medium) {
      height: 72px;
      font-size: 1rem;
    }
    @include mq($bp-medium) {
      height: 48px;
    }
  }

  input[type="submit"].form-search__submit {
    width: 20%;
    margin: 0;
    height: 60px;
    float: left;
    background-color: $wvu-blue;
    border: none;
    border-radius: 0 3px 3px 0;
    background-size: 21px 21px;
    background-position: 50% 13px;
    @include mq($bp-medium) {
      width: 17%;
      height: 72px;
    }
    @include mq($bp-medium) {
      height: 48px;
      background-size: 24px 24px;
      background-position: 50% 13px;
    }
    &:hover {
      background-color: $wvu-black;
      border-color: $wvu-blue;
    }
  }
}

.program-search-small__big-search-header {
  font-family: $iowan-old-style;
  font-size: 1.25rem;
  @include wvu-lede();
  h2 {
    color: $wvu-blue;
    @include wvu-primary-pattern-heading();
    font-size: 2rem;
    margin-bottom: .4em;
  }
  h3 {
    color: $wvu-blue;
    @include wvu-lede();
  }
}

.program-search-small__big-search-postscript {
  clear: both;
  display: table;
  margin: 0 auto;
  width: 100%;
  p {
    margin: 1em 0;
    max-width: 9999em;
  }
}

// Layout
// ===============================

.program-search-small__big-search {
  .form-search {
    @include outer-container;
    @include mq($bp-medium) {
      @include span-columns(8);
      @include shift(2);
    }
  }
}
