.wvu-emergency-alert {
  background-color: $alert-color;
  color: $wvu-black;
  padding: 2em;
  text-align: center;
  a {
    &:hover {
      color: shade($wvu-base-link-color, 20%);
    }
  }
  h1 {
    font-size: 2em;
    max-width: 999999em;
  }
  p {
    margin: 0;
    max-width: 999999em;
  }
}

.wvu-emergency-alert__events {
  list-style-type: none;
  padding-left: 0;
  li {
    max-width: 999999em;
  }
}
