.wvu-academic-excellence {
  @include wvu-gold-background();
  @include u-wvu-container-padding();
}

.wvu-academic-excellence__description, .wvu-academic-excellence__scholarships {
  @include mq($bp-medium) {
    @include span-columns(6);
  }
}

.wvu-academic-excellence__description {
  h4 {
    margin-top: 0;
  }
}

.wvu-academic-excellence__scholarship {
  @include mq($bp-medium) {
    @include span-columns(4);
  }
}

.wvu-academic-excellence__scholarship {
  @include wvu-shout();
  font-size: 2em;
  margin-bottom: 2em;
  @include mq($bp-small) {
    font-size: 1.5em;
  }
  @include mq($bp-medium) {
    font-size: 1.75em;
    margin-bottom: 0;
  }
  @include mq($bp-large) {
    font-size: 2em;
  }
  span {
    display: block;
    font-size: 3em;
    line-height: .8em;
    @include mq($bp-medium) {
      font-size: 3.75em;
    }
    @include mq($bp-large) {
      font-size: 4em;
    }
  }
}
