// Dark backgrounds

@each $color, $text-color in (wvu-blue, $wvu-blue),
                             (wvu-charcoal, $wvu-black),
                             (wvu-neutral--dark-gray, $wvu-neutral--dark-gray),
                             (wvu-neutral--dark-brown, $wvu-neutral--dark-brown),
                             (wvu-neutral--brown, $wvu-neutral--brown),
                             (wvu-accent--dark-blue, $wvu-accent--dark-blue),
                             (wvu-accent--blue, $wvu-accent--blue),
                             (wvu-accent--dark-green, $wvu-accent--dark-green),
                             (wvu-accent--green, $wvu-accent--green),
                             (wvu-accent--mustard, $wvu-accent--mustard),
                             (wvu-accent--red, $wvu-accent--red),
                             (wvu-accent--brown, $wvu-accent--brown),
                             (wvu-accent--burnt-orange, $wvu-accent--burnt-orange) {
  .#{$color} {
    color: $text-color;
    border-color: $text-color;
    &.background {
      $text-color-gradient: shade($text-color, 5%);
      color: white;
      background-color: $text-color;
      @include background-image(linear-gradient($text-color-gradient, $text-color));
      -webkit-font-smoothing: antialiased;
      h1, h2, h3, h4, h5, h6, a, .button {
        color: white;
        a {
          color: white;
        }
      }
      .button {
        border-color: white;
        &:hover {
          background-color: white;
          color: $text-color;
        }
      }
    }
  }
}

// Light backgrounds

@each $color, $text-color in (wvu-gold, $wvu-gold),
                             (wvu-white, $wvu-white),
                             (wvu-neutral--light-gray, $wvu-neutral--light-gray),
                             (wvu-neutral--light-brown, $wvu-neutral--light-brown),
                             (wvu-accent--light-blue, $wvu-accent--light-blue),
                             (wvu-accent--yellow, $wvu-accent--yellow),
                             (wvu-accent--orange, $wvu-accent--orange),
                             (wvu-accent--light-green, $wvu-accent--light-green) {
  .#{$color} {
    color: $text-color;
    border-color: $text-color;
    &.background {
      $text-color-gradient: shade($text-color, 5%);
      color: $wvu-black;
      background-color: $text-color;
      @include background-image(linear-gradient($text-color-gradient, $text-color));
      -webkit-font-smoothing: antialiased;
      h1, h2, h3, h4, h5, h6, a, .button {
        color: $wvu-black;
        a {
          color: $wvu-black;
        }
      }
      .button {
        border-color: $wvu-black;
        &:hover {
          background-color: $wvu-black;
          color: $text-color;
        }
      }
    }
  }
}

.wvu-gold-pattern {
  &.background {
    @include wvu-gold-background();
    background-color: $wvu-gold;
    @include mq($bp-large) {
      background-image: url(https://static.wvu.edu/global/images/patterns/wvu/background__gold--1.0.0.svg);
      background-position: 50% 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

$i: 100;
@while $i > 0 {
  @each $color, $text-color in (wvu-gold, $wvu-gold),
                               (wvu-white, $wvu-white),
                               (wvu-gray-chateau, $wvu-neutral--light-gray),
                               (wvu-tide, $wvu-neutral--light-brown),
                               (wvu-morning-glory, $wvu-accent--light-blue),
                               (wvu-candelight, $wvu-accent--yellow),
                               (wvu-blue, $wvu-blue),
                               (wvu-dune, $wvu-black),
                               (wvu-limed-spruce, $wvu-neutral--dark-gray),
                               (wvu-pine-cone, $wvu-neutral--dark-brown),
                               (wvu-schooner, $wvu-neutral--brown),
                               (wvu-smalt, $wvu-accent--dark-blue),
                               (wvu-endeavor, $wvu-accent--blue),
                               (wvu-eden, $wvu-accent--dark-green),
                               (wvu-xanadu, $wvu-accent--green),
                               (wvu-reef-gold, $wvu-accent--mustard),
                               (wvu-well-read, $wvu-accent--red),
                               (wvu-judge-gray, $wvu-accent--brown),
                               (wvu-tangerine, $wvu-accent--orange),
                               (wvu-trinidad, $wvu-accent--burnt-orange),
                               (wvu-summer-green, $wvu-accent--light-green)  {
    .#{$color}-tint-#{$i} {
      color: tint($text-color, $i);
      border-color: tint($text-color, $i);
      &.background {
        color: $wvu-black;
        background-color: tint($text-color, $i);
        -webkit-font-smoothing: antialiased;
      }
    }
    .#{$color}-shade-#{$i} {
      color: shade($text-color, $i);
      border-color: shade($text-color, $i);
      &.background {
        color: white;
        background-color: shade($text-color, $i);
        -webkit-font-smoothing: antialiased;
      }
    }
  }
  $i: $i - 10;
}

.wvu-white-text {
  color: white;
}
