.wvu-quicklinks {
  background-color: $wvu-grey-light;
  @include u-wvu-container-padding();
  display: table;
  width: 100%;
  @include mq($bp-medium) {
    ul {
      column-count: 3;
      column-gap: 20px;
      li {
        font-size: .9em;
      }
      > li {
        margin-top: 0;
      }
      &:first-child {
        > li {
          margin-top: 0;
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
  a[href*="https://youtu.be"]{
    &:after {
      background-image: url('/images/icon-play-button.svg');
      background-size: contain;
      content: '';
      display: inline-block;
      height: 12px;
      margin-left: 4px;
      width: 12px;
      opacity: .75;
    }
  }
  h2, h3 {
    @include wvu-shout();
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    li {
      line-height: 1.2em;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}

.wvu-quicklinks__description a:not(.button) {
  text-decoration: underline;
}

.wvu-quicklinks__header {
  @include mq($bp-medium) {
    @include span-columns(3);
  }
  h2, > h3 {
    margin-top: 0;
  }
  a:not(.button) {
    text-decoration: underline;
  }
}

.wvu-quicklinks__links {
  @include mq($bp-medium) {
    @include span-columns(9);
    // column-count: 3;
    // column-gap: 40px;
  }
  // @include mq($bp-large) {
  //   column-count: 4;
  // }
  h3 {
    border-top: 1px solid $wvu-grey-medium;
    color: $wvu-black;
    font-family: $helvetica-neue-font-stack;
    font-size: .8em;
    font-weight: bold;
    margin-top: 4em;
    padding-top: .5em;
    text-transform: uppercase;
    &:first-of-type {
      margin-top: 0;
    }
    .fonts-loaded & {
      font-family: $helvetica-neue-font-stack;
    }
  }
}
