.wvu-footer {
  @include wvu-blue-background();
  a {
    color: $wvu-gold;
    text-decoration: none;
    &:visited {
      color: $wvu-gold;
      &.wvu-white-text {
        color: white;
      }
    }
  }
  address {
    font-style: normal;
    margin-left: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    &.wvu-footer__common-links {
      margin-bottom: 2em;
      @include mq($bp-medium) {
        @include span-columns(8);
        margin-bottom: 0;
      }
      column-count: 2;
      column-gap: 40px;
    }
    li {
      margin: 0;
    }
  }
}

.wvu-footer__affirmative-action-statement, .wvu-footer__social-media {
  @include mq($bp-medium) {
    @include span-columns(6);
  }
}


.wvu-footer__affirmative-action-statement-and-social-media {
  @include u-wvu-container-padding();
  background-color: shade($wvu-blue, 5%);
  p {
    margin: 0;
  }
  ul {
    clear: both;
    display: table;
    width: 100%;
    li {
      float: left;
      margin-right: 10px;
      a {
        text-decoration: underline;
      }
    }
  }
}

.wvu-footer__contact-info {
  margin-bottom: 2em;
  @include mq($bp-medium) {
    @include span-columns(5);
    margin-bottom: 0;
  }
}

.wvu-footer__contact-info-and-quicklinks {
  @include u-wvu-container-padding();
}

.wvu-footer__email, .wvu-footer__phone {
  background-position: 0 4px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  display: block;
  padding-left: 28px;
}

.wvu-footer__email {
  background-image: url(https://static.wvu.edu/global/images/icons/wvu/mail--1.0.0.svg);
  background-position: 0 8px;
}

.wvu-footer__phone {
  background-image: url(https://static.wvu.edu/global/images/icons/wvu/phone--1.0.0.svg);
}

.wvu-footer__quicklinks {
  @include mq($bp-medium) {
    @include span-columns(7);
  }
}

.wvu-footer__social-media {
  margin-top: 2em;
  @include mq($bp-medium) {
    margin-top: 0;
    text-align: right;
  }
}

.wvu-footer__social-media-icon {
  background-repeat: no-repeat;
  background-size: 24px;
  bottom: -6px;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  padding: 12px;
  position: relative;
  text-indent: 100%;
  width: 24px;
  white-space: nowrap;
  @include mq($bp-medium) {
    padding: 0;
  }
}

.wvu-footer__social-media-icon--facebook {
  background-image: url(https://static.wvu.edu/global/images/icons/social/circle-facebook--2.0.0.svg);
}

.wvu-footer__social-media-icon--twitter {
  background-image: url(https://static.wvu.edu/global/images/icons/social/circle-twitter--2.0.0.svg);
}

.wvu-footer__social-media-icon--youtube {
  background-image: url(https://static.wvu.edu/global/images/icons/social/circle-youtube--2.0.0.svg);
}

.wvu-footer__system-campus-links {
  @include mq($bp-medium) {
    @include span-columns(4);
  }
}
