.wvu-profile {
  @include u-wvu-container-padding();
  padding-top: 0;
  @include mq($bp-small) {
    padding-top: 4em;
  }
  h2, h3 {
    @include wvu-shout();
  }
  img {
    width: 100%;
    margin-bottom: 2em;
    @include mq($bp-small) {
      padding: 0 1em;
      border-radius: 50%;
      margin-bottom: 2em;
    }
  }
}

.wvu-profile__goal {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  span {
    display: block;
    font-weight: normal;
    margin-top: 2em;
    text-transform: none;
    @include mq($bp-medium) {
      display: inline;
      margin-left: 2em;
      margin-top: 0;
    }
  }
}

.wvu-profile__main {
  margin-bottom: 2em;
  @include mq($bp-small) {
    @include span-columns(8);
    margin-bottom: 0;
  }
}

.wvu-profile__name {
  font-weight: bold;
}

.wvu-profile__photo {
  margin: 0 -2em;
  text-align: center;
  @include mq($bp-small) {
    margin-left: 0;
    @include span-columns(4);
  }
}

.wvu-profile__photo-and-main {
  @include span-columns(12);
  margin-bottom: 2em;
  @include mq($bp-medium) {
    @include span-columns(9);
    margin-bottom: 0;
  }
}

.wvu-profile__sidebar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.03+0,0.03+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.03) 0%,rgba(0,0,0,0.03) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.03) 0%,rgba(0,0,0,0.03) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 2em;
  padding-bottom: 1.5em;
  @include span-columns(12);
  @include mq($bp-small) {
    @include span-columns(8);
    @include shift(4);
  }
  @include mq($bp-medium) {
    @include span-columns(3);
    @include shift(0);
  }
  a {
    display: block;
    text-decoration: none;
    &:after {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.03+0,0.03+100 */
      background: -moz-linear-gradient(top, rgba(0,0,0,0.09) 0%, rgba(0,0,0,0.09) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.09) 0%,rgba(0,0,0,0.09) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0.09) 0%,rgba(0,0,0,0.09) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      content: '';
      display: block;
      height: 1px;
      margin: 1em 0;
      overflow: hidden;
      width: 100%;
    }
  }
  h3 {
    margin-top: 0;
  }
  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    li {
      &:last-child {
        a {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}


// Stylized quotation mark
// ----------------------------------------------

.quotation {
    font-size: 5.5em;
    padding: 0;
    margin: 0 -4px;
    opacity: 0.25;
    position: absolute;
    color: inherit;
}
