.wvu-backpage-header {
  @include wvu-vignetting($wvu-hero-vignetting-opacity);
  background-color: $pms-432-c;
  background-image: url(../images/header-backgrounds/general.jpg);
  background-position: 50% 50%;
  background-size: cover;
  color: white;
  display: table;
  overflow: hidden;
  padding-top: 5.5em;
  position: relative;
  width: 100%;
  a {
    color: white;
    &:visited {
      color: white;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  h1 {
    clear: both;
    margin-top: 10px;
    position: relative;
    @include wvu-gold-slash();
    &:before {
      left: -2.75em;
      top: 0;
    }
    span {
      position: relative;
      z-index: 3;
    }
  }
  p {
    font-size: 1.5em;
    margin-bottom: 2em;
    position: relative;
    z-index: 3;
  }
  h1, p, a {
    text-shadow: 1px 1px 1px #000000;
  }
}

.wvu-backpage-header--big-photo {
  .wvu-backpage-header__container {
    @include wvu-vignetting($wvu-hero-vignetting-opacity);
  }
}

.wvu-backpage-header__value {
  @include mq($bp-medium) {
    @include span-columns(2.4);
  }
}

.wvu-backpage-header__values {
  position: relative;
  z-index: 999999;
  h2 {
    @include wvu-shout();
    color: $wvu-gold;
    font-size: 1.75em;
    @include mq($bp-medium) {
      font-size: 1.2em;
    }
    @include mq($bp-xlarge) {
      font-size: 2em;
    }
  }
  p {
    font-size: .8em;
  }
}

@each $slug in (about-wvu),
                (academics),
                (programs),
                (admissions),
                (life-at-wvu),
                (info-for),
                (attending-wvu),
                (parents-and-families),
                (visitors),
                (current-students),
                (faculty-and-staff),
                (employers-and-business-leaders),
                (policymakers),
                (alumni),
                (donors),
                (media),
                (research-and-innovation),
                (community),
                (international),
                (mission),
                (vision),
                (wvu-facts),
                (leadership),
                (wvu-system),
                (rankings),
                (achievements),
                (home-page-archive),
                (student-profiles),
                (a-z-index) {
  .wvu-backpage-header--#{$slug} {
    background-image: url(../images/header-backgrounds/#{$slug}.jpg);
  }
}

.wvu-backpage-header--about-wvu {
  padding-bottom: 2em;
}
