.wvu-featurettes {
  @include u-wvu-container-padding();
  display: table;
  padding-bottom: 2.3em;
  width: 100%;
  @include mq($bp-medium) {
    padding-bottom: 2.3em;
  }
  a {
    &.button {
      font-size: .9em;
    }
  }
  h2 {
    font-size: $wvu-shout-font-size;
    margin: $wvu-shout-margin;
    text-align: center;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    a {
      color: $wvu-black;
      text-decoration: none;
    }
  }
  img {
    width: 100%;
  }
  p {
    margin-top: .5em;
  }
}

.wvu-featurettes__header {
  font-size: 2.5em;
  @include wvu-lede();
  h2 {
    @include wvu-primary-pattern-heading();
  }
  h3 {
    @include wvu-lede();
    font-size: 1em;
  }
  p {
    margin-top: 0;
  }
  h2 + p {
    margin-top: 1em;
  }
}

.wvu-featurettes__postscript {
  @include wvu-postscript();
}

.wvu-featurettes__featurette--1, .wvu-featurettes__featurette--2 {
  h3 {
    @include mq($bp-medium) {
      margin-top: 0;
    }
  }
}

.wvu-featurettes__featurette {
  margin-bottom: 2em;
}

.wvu-featurettes__photo {
  margin-bottom: 1em;
}

.wvu-featurettes--profiles {
  img {
    border-radius: 50%;
  }
  .wvu-featurettes__photo {
    padding: 0 2em;
    text-align: center;
  }
}

.wvu-featurettes__quote {
  &:before {
    content: '';
  }
}

.wvu-featurettes__featurette--1, .wvu-featurettes__featurette--2, .wvu-featurettes__featurette--3, .wvu-featurettes__featurette--4, .wvu-featurettes__featurette--5 {
  @include mq($bp-medium) {
    margin-bottom: 2em;
  }
}

// Layout
// ======================================

.wvu-featurettes__featurette--1, .wvu-featurettes__featurette--2 {
  .wvu-featurettes__photo {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
  }
  .wvu-featurettes__info--hasphoto {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
  }
}

.wvu-featurettes--profiles {
  .wvu-featurettes__featurettes--1 {
    .wvu-featurettes__photo {
      @include mq($bp-medium) {
        @include span-columns(3);
      }
    }
    .wvu-featurettes__info--hasphoto {
      @include mq($bp-medium) {
        @include span-columns(9);
      }
    }
  }
}

.wvu-featurettes__featurette {
  @include mq($bp-medium) {
    @include span-columns(3);
    @include omega(4n);
  }
}


.wvu-featurettes__featurette--1 {
  @include mq($bp-medium) {
    @include span-columns(12);
    @include omega-reset(4n);
  }
}

.wvu-featurettes__featurette--2 {
  @include mq($bp-medium) {
    @include span-columns(6);
    @include omega-reset(4n);
    @include omega(2n);
  }
}

.wvu-featurettes__featurette--3 {
  @include mq($bp-medium) {
    @include span-columns(4);
    @include omega-reset(4n);
  }
}

.wvu-featurettes__featurette--4, .wvu-featurettes__featurette--long {
  @include mq($bp-medium) {
    @include span-columns(6);
    @include omega-reset(4n);
    @include omega(2n);
  }
  @include mq($bp-large) {
    @include span-columns(3);
    @include omega-reset(2n);
    @include omega(4n);
  }
}

.wvu-featurettes__featurette--5 {
  @include mq($bp-medium) {
    @include span-columns(2.4);
    @include omega-reset(4n);
  }
}
