.wvu-hero {
  background-color: shade($wvu-black, 10%);
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
  padding: 8rem 2rem 56.25%;
  background-position: bottom;
  background-size: 100vw;
  position: relative;
  @include clearfix();
  @include mq($bp-large) {
    @include span-columns(12);
    background-position: 50% 50%;
    background-size: cover;
  }
  @include mq($bp-large) {
    padding: 8rem 0;
  }
  a, a:visited {
    color: white;
    position: relative;
    z-index: 3;
    &:hover {
      color: $wvu-gold;
      text-shadow: none;
    }
  }
  .button {
    font-size: 1.25rem;
    &.button--white {
      &:hover {
        color: $wvu-black;
      }
    }
  }
  h1, h2 {
    font-size: 4.5rem;
    line-height: $header-line-height;
    margin-bottom: 2rem;
    margin-top: 0;
    max-width: 8em;
    position: relative;
    @include wvu-shout();
    text-transform: uppercase;
    z-index: 3;
    @include wvu-gold-slash();
    @include mq($bp-medium) {
      font-size: 5.5rem;
    }
    @include mq($bp-large) {
      font-size: 6.2rem;
      // margin-top: 1em;
      max-width: 6em;
    }
    &:before {
      left: -1em;
      top: -1em;
    }
    span {
      position: relative;
      z-index: 3;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  img {
    border: 1px solid $wvu-black;
    position: relative;
    z-index: 3;
  }
  p {
    margin-top: 2rem;
    position: relative;
    z-index: 3;
    @include mq($bp-large) {
      max-width: 24em;
    }
    &.wvu-hero__postscript {
      max-width: 99999em;
      a {
        color: $wvu-gold;
      }
    }
  }
  h1, h2, p, a {
    text-shadow: 1px 1px 1px #000000;
  }
  @include mq($bp-medium) {
    &:last-child {
      margin-right: auto;
    }
  }
}

.wvu-hero__container {
  @include outer-container();
  @include u-wvu-container-padding();
  padding: 2em 0 2.3em 0;
  @include mq($bp-large) {
    @include wvu-vignetting($wvu-hero-vignetting-opacity);
  }
  @include mq($bp-xlarge) {
    padding: 4em 0 4.3em 0;
  }
}

.wvu-hero__copy {
  margin-bottom: 2em;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1rem;
  position: relative;
  -webkit-transition: font-size .25s;
  transition: font-size .25s;
  z-index: 3;
  @include mq($bp-medium) {
    @include span-columns(8);
  }
  @include mq($bp-medium) {
    font-size: 1.5rem;
    margin-bottom: 0;
    // position: absolute;
    // top: 10vw;
  }
  p {
    max-width: 100vw;
    @include mq($bp-large) {
      max-width: 60vw;
    }
    @include mq($bp-xlarge) {
      max-width: 600px;
    }
    @include mq($bp-jumbo) {
      max-width: 800px;
    }
  }
  .button {
    margin-bottom: 5px;
    @include mq($bp-medium) {
      margin-bottom: 0;
    }
  }
  &.wvu-hero__copy--iframe {
    @include mq($bp-medium) {
      @include span-columns(6);
    }
  }
}

.wvu-hero__photo-caption {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.7+0,0.7+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  bottom: 0;
  color: shade(white, 20%);
  font-size: 1em;
  margin-bottom: 0;
  left: 0;
  line-height: 1em;
  padding: 1em;
  position: absolute;
  @include mq($bp-large) {
    bottom: 4em;
    float: right;
    left: auto;
    right: 0;
    margin-bottom: 0;
    max-width: 24em;
    z-index: 3;
  }
  a {
    color: white;
    &:hover, &:visited {
      color: white;
    }
  }
  p {
    display: inline;
    font-size: $wvu-small-font-size;
    margin-top: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.wvu-hero--right {
  .wvu-hero__container {
    &:before {
      background: radial-gradient(farthest-side at 30% 55%, transparent, #000 131%);
    }
  }
  .wvu-hero__copy {
    @include mq($bp-large) {
      float: right;
      margin-right: 0;
      right: 0;
      left: auto;
      h2 {
        &:before {
          // left: auto;
          display: none;
          right: -1em;
          top: -1.45em;
        }
      }
    }
  }
  .wvu-hero__iframe {
    @include mq($bp-medium) {
      @include span-columns(6);
      float: left !important;
    }
  }
  .wvu-hero__photo-caption {
    @include mq($bp-large) {
      float: left;
      left: 0;
      max-width: 18em;
      right: auto;
    }
    @include mq($bp-xlarge) {
      max-width: 24em;
    }
  }
}

$i: 90;
@while $i > 0 {
  .wvu-hero__container {
    &.wvu-hero__container--vignetting-#{$i} {
      &:before {
        opacity: $i * .01;
      }
    }
    $i: $i - 10;
  }
}

.wvu-hero--archive {
  background-color: white;
  background-position: top left;
  margin: 5em 0;
  padding-bottom: 0;
  padding-top: 56.25vw;
  @include outer-container();
  float: none;
  @include mq($bp-medium) {
    background-size: 50%;
    height: auto;
    margin: 5em auto;
    min-height: 28.12vw;
    padding-top: 0;
  }
  @include mq($bp-xlarge) {
    min-height: 21em;
  }
  .wvu-hero__photo-caption {
    background: transparent;
    color: $wvu-black;
    font-size: 1.25em;
    line-height: $wvu-base-line-height;
    max-width: 999999em;
    padding: 0;
    padding-top: 1em;
    position: relative;
    bottom: auto;
    right: auto;
    @include mq($bp-medium) {
      @include span-columns(6);
      @include shift(6);
      padding-top: 0;
    }
    p {
      font-size: 1em;
      text-shadow: none;
      a {
        color: $base-link-color;
        text-shadow: none;
      }
    }
  }
}

.wvu-hero__iframe {
  background-color: white;
  border-radius: 7px;
  max-width: 424px;
  min-height: 520px;
  padding: .5rem 1.5rem 1.5rem 1.5rem;
  position: relative;
  z-index: 3;
  @include mq($bp-medium) {
    @include span-columns(6);
    float: right !important;
  }
  iframe {
    min-height: 520px;
    width: 100%;
  }
}
