.wvu-leadership-profile {
  @include u-wvu-container-padding();
}

.wvu-leadership-profile__copy {
  @include mq($bp-medium) {
    @include span-columns(7);
  }
}

.main {
  .wvu-leadership-profile__copy {
    h2 {
      margin-top: 0;
    }
  }
}

.wvu-leadership-profile__photo {
  @include mq($bp-medium) {
    @include span-columns(5);
  }
  img {
    border-radius: 50%;
    padding: 0 2em;
    @include mq($bp-medium) {
      padding: 0 3em;
    }
  }
}
