.featured-links {
  a:link, a:visited {
    text-decoration: none;
  }
  img {
    max-width: 60px;
  }
  ul {
    li {
      @include span-columns(4);
      @include mq($bp-large) {
        @include span-columns(2);
      }
    }
  }
}
