// Buttons
//==================================================

$base-border-radius: 3px !default;
$hover-button-color: $wvu-blue;

%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-size: $wvu-base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}


.button,
input[type="submit"] {
  @extend %button;
  border-style: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


.button {
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  background: transparent;
  color: $wvu-black;
  display: inline-block;
  border: 2px solid $wvu-black;
  margin-bottom: .5em;
  font-weight: bold;
  line-height: 1;
  padding: .75em;
  text-decoration: none;

  &:visited { color: black; }

  &:hover {
    background-color: $hover-button-color;
    color: white;
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}

.button--white {
  color: white;
  border: 2px solid white;
  &:visited { color: white; }
  &:hover {
    background-color: white;
    color: $wvu-blue;
  }

}

.button--small {
  font-size: .9em;
  padding: .35em .45em;
}

.button--big {
  font-size: 1.5em;
}

// light colors, backgrounds

@each $color, $text-color in (wvu-gold, $wvu-gold),
                             (wvu-white, $wvu-white),
                             (neutral-light-gray, $wvu-neutral--light-gray),
                             (neutral-light-brown, $wvu-neutral--light-brown),
                             (accent-light-blue, $wvu-accent--light-blue),
                             (accent-yellow, $wvu-accent--yellow),
                             (accent-orange, $wvu-accent--orange),
                             (accent-light-green, $wvu-accent--light-green) {
  .button--#{$color} {
    color: $wvu-black;
    border: 2px solid $text-color;
    &:hover {
      background: $text-color;
      color: $wvu-black;
    }
    &:visited {
      color: $wvu-black;
    }
  }
  .button--#{$color}-fill {
    background: $text-color;
    border: 2px solid $text-color;
    color: $wvu-black;
    &:visited {
      color: $wvu-black;
    }
    &:hover {
      background: transparent;
      border: 2px solid $text-color;
      color: $wvu-black;
    }
  }
}

// dark colors, backgrounds

@each $color, $text-color in (wvu-blue, $wvu-blue),
                             (charcoal, $wvu-black),
                             (neutral-dark-gray, $wvu-neutral--dark-gray),
                             (neutral-dark-brown, $wvu-neutral--dark-brown),
                             (neutral-brown, $wvu-neutral--brown),
                             (accent-dark-blue, $wvu-accent--dark-blue),
                             (accent-blue, $wvu-accent--blue),
                             (accent-dark-green, $wvu-accent--dark-green),
                             (accent-green, $wvu-accent--green),
                             (accent-mustard, $wvu-accent--mustard),
                             (accent-red, $wvu-accent--red),
                             (accent-brown, $wvu-accent--brown),
                             (accent-burnt-orange, $wvu-accent--burnt-orange) {
  .button--#{$color} {
    color: $text-color;
    border: 2px solid $text-color;
    &:visited {
      color: $text-color;
    }
    &:hover {
      background: $text-color;
      color: white;
    }
  }
  .button--#{$color}-fill, a.button--#{$color}-fill {
    background: $text-color;
    border: 2px solid $text-color;
    color: white;
    &:visited {
      color: white !important;
    }
    &:hover {
      background: tint($text-color, 5%);
      border: 2px solid $text-color;
      color: white !important;
    }
  }
}

.button {
  white-space: normal;
}

.button--edit-mode {
  display: none;
}
