.wvu-system-campuses {
  @include u-wvu-container-padding();
  @include wvu-blue-background();
  background-image: url(/images/wvu-system-campuses-topography-background.gif);
  background-size: cover;
  a {
    color: $wvu-gold;
    &:visited {
      color: $wvu-gold;
    }
  }
  h2 {
    @include wvu-shout();
    color: $wvu-gold;
    margin-bottom: 0;
    &.wvu-accent--light-blue {
      color: $wvu-accent--light-blue;
    }
    span {
      color: white;
      font-family: $wvu-base-font-family;
      font-size: .5em;
      font-weight: bold;
      display: block;
      text-transform: none;
    }
  }
  p {
    margin-top: 0;
  }
  p + h2, h2 + h2 {
    margin-top: 1em;
  }
}

.wvu-system-campuses__campuses, .wvu-system-campuses__map {
  @include mq($bp-medium) {
    @include span-columns(6);
  }
}

.wvu-system-campuses__map {
  margin-top: 2em;
  @include mq($bp-medium) {
    margin-top: 0;
  }
}
