// table {
//   border-collapse: collapse;
//   margin: ($base-spacing / 2) 0;
//   table-layout: fixed;
//   width: 100%;
// }
//
// th {
//   border-bottom: 1px solid darken($base-border-color, 15);
//   font-weight: bold;
//   padding: ($base-spacing / 2) 0;
//   text-align: left;
// }
//
// td {
//   border-bottom: $base-border;
//   padding: ($base-spacing / 2) 0;
// }
//
// tr,
// td,
// th {
//   vertical-align: top;
// }
//
// /* Directory table override */
//
// tr {
//      margin:0;
//      border-bottom: $base-border;
// }
//
// td {
//      border-bottom: none;
//      padding:0.75em 1.5em 0.75em 0;
// }
//
// @media screen and (max-width: $grid-mq-tablet) {
//   tr {
//     display: block;
//     padding-bottom:20px;
//   }
//   td {
//     display: block;
//     padding:10px 0 0 0;
//   }
// }

.table {
  &.table--case-count {
    text-align: left;
    tr:nth-child(odd) {
      background: #fbf8f8;
    }
    tr:nth-child(1) {
      background: white;
    }
    caption {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
      margin-top: 3rem;
    }
  }
}

.table-responsive {
  max-width: 85vw;
  @include mq($bp-xlarge) {
    max-width: 100vw;
  }
}
