.wvu-campus-maps {
  clear: both;
  display: table;
  text-align: center;
  background-image: url(../images/campus-map-background.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  font-family: $helvetica-neue-light;
  width: 100%;
  h2 {
    @include wvu-shout();
    color: white;
    margin-top: 0;
    margin-bottom: 0.4em;
  }
  p {
    font-size: 1.25em;
  }
  a {
    background-color: $wvu-blue;
    background-repeat: no-repeat;
    color: white;
    padding-left: 40px;
    text-decoration: none;
    &:visited {
      color: white;
    }
  }
}

.wvu-campus-maps__inner {
  @include wvu-blue-background();
  text-align: center;
  text-decoration: none;
  padding: 2em;
  @include mq($bp-medium) {
    @include span-columns(6);
    @include shift(3);
  }
}
