.wvu-stat-sheet {
  background-color: $wvu-black;
  color: white;
  text-align: center;
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  h2 {
    @include wvu-shout();
    font-size: 4rem;
    margin-top: 0;
  }
}

.wvu-stat-sheet__flex-wrapper {
  display: flex;
  width: 100%;
}

.wvu-stat-sheet__main {
  align-items: center;
  display: flex;
  @include u-wvu-container-padding();
  @include mq($bp-medium) {
    @include span-columns(8);
  }
}

.wvu-stat-sheet__stats {
  align-items: center;
  background-color: $wvu-gold;
  color: $wvu-black;
  display: flex;
  @include u-wvu-container-padding();
  @include mq($bp-medium) {
    @include span-columns(4);
  }
  h1, h2, h3, h4, h5, h6 {
    color: $wvu-black;
  }
}
