.wvu-masthead {
  @include clearfix();
  background-color: $wvu-blue;
  color: white;
  -webkit-font-smoothing: antialiased;
  fieldset {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }
  .form-search__label {
    width: 82.94039%;
    margin-right: 2.35765%;
    float: left;
  }
}

.wvu-masthead__container {
  padding: 0 1em;
  @include mq($bp-xlarge) {
    padding: 0;
  }
}

.wvu-masthead__link {
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    color: white;
  }
}

.wvu-masthead__link {
  color: white;
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: .5em;
  @include mq($bp-medium) {
    margin-bottom: 0;
  }
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.wvu-masthead__logo {
  background-color: transparent;
  background-image: url($flying-wv-w-signature);
  background-position: center 27px;
  background-repeat: no-repeat;
  background-size: 300px 75px;
  border: 0;
  color: white;
  float: left;
  font-size: 1.2em;
  overflow: hidden;
  padding: 1em 0 1.6em 2em;
  position: relative;
  text-decoration: none;
  text-indent: -99999em;
  width: 100%;
  &:hover {
    color: #ddd;
    text-decoration: none;
  }
  &:visited {
    color: white;
  }
  @include mq($bp-micro) {
    font-size: 1.5em;
  }
  @include mq($bp-medium) {
    background-position: top 1.3em left;
    font-size: 1.75em;
  }
  @include mq($bp-large) {
    font-size: 2em;
  }
  &.wvu-masthead__logo--return-to-campus {
    background-size: 340px 75px;
    margin-bottom: 2rem;
    @include mq($bp-medium) {
      background-position: top .8em left;
      background-size: 458px 75px;
      margin-bottom: 0;
    }
  }
}

.form-search__field {
  color: $wvu-black;
}

.wvu-masthead__search-bar {
  font-size: 0.8em;
  padding-bottom: 1em;
  padding-top: .5em;
  @include mq($bp-medium) {
    padding-bottom: 0;
  }
  input[type="checkbox"], input[type="radio"] {
    margin-right: 0;
  }
}

input[type="submit"] {
  &.form-search__submit {
    width: 14.70196%;
    margin-right: 0;
    float: left;
  }
}

.wvu-masthead__search-slider {
  clear: both;
  display: none;
	position: absolute;
	top: -300px;
  transition-duration: .5s;
  transition-property: all;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	width: 100%;
  -moz-transition-property: all;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-ms-transition-property: all;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	@include mq($bp-medium) {
    display: block;
    position:static;
  }
  &.closed {
    background: transparent;
    display: block;
  	position:relative;
  	top:0;
  }
}

.wvu-masthead__utility-nav {
  display: table;
  margin-bottom: 1.2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  text-align: center;
  width: auto;
  @include mq($bp-medium) {
    display: block;
    text-align: left;
  }
  a {
    border-right: 1px solid tint($wvu-blue, 20%);
    display: inline-block;
    padding: 0 7px 0 4px;
    &:first-child {
      padding-left: 0;
    }
    &:nth-child(5) {
      border-right: 0;
    }
  }
  .form-search__search-type {
    color: white;
  }
}

// Layout
// ==============================

.wvu-masthead__logo {
  @include mq($bp-medium) {
    @include span-columns(7.5);
  }
  @include mq($bp-large) {
    @include span-columns(7.5);
  }
  @include mq($bp-xlarge) {
    @include span-columns(8.5);
  }
}

.wvu-masthead__utility-nav {
  @include mq($bp-medium) {
    @include span-columns(4.5);
  }
  @include mq($bp-large) {
    @include span-columns(4.5);
  }
  @include mq($bp-xlarge) {
    @include span-columns(3.5);
  }
}
