.wvu-affordability {
  @include black-background();
  @include u-wvu-container-padding();
  a {
    color: $wvu-gold;
    &:visited {
      color: $wvu-gold;
    }
  }
  h3 {
    @include wvu-shout();
    font-size: 3em;
    margin-top: 0;
    @include mq($bp-medium) {
      @include span-columns(6);
    }
    span {
      color: $wvu-gold;
      display: block;
    }
  }
}

.wvu-affordability__description {
  @include mq($bp-medium) {
    @include span-columns(6);
  }
  p {
    margin-top: 0;
  }
}
