.wvu-lede-text {
  background-color: $wvu-grey-light;
  @include clearfix();
  @include u-wvu-container-padding();
  font-family: $helvetica-neue-light;
  padding-bottom: 5.5em;
  p {
    font-size: 1.5em;
    @include wvu-lede();
    margin: 0;
    @include mq($bp-medium) {
      font-size: 2.5em;
    }
  }
}

.wvu-lede-text--a-z-index {
  background-color: white;
}
