.wvu-r1 {
  @include u-wvu-container-padding();
  @include wvu-dark-background($wvu-accent--burnt-orange, white);
  h2 {
    @include wvu-shout();
    font-size: 6em;
    margin-bottom: .2em;
    margin-top: 0;
    @include mq($bp-small) {
      @include span-columns(2);
    }
  }
  p {
    @include wvu-lede();
    font-size: 2em;
    margin: 0;
    @include mq($bp-small) {
      @include span-columns(10);
    }
  }
}
