.wvu-column-count-2 {
  @include mq($bp-large) {
    column-count: 2;
    column-gap: 40px;
    li {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
}
