<div class="wvu-container">

  <div class="wvu-video__video-and-description row mx-auto pb-4" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}--inner"{% endif %}>

    <div class="col-lg-9 pr-lg-3 p-0">
      {% if 'Use YouTube Embed' in currentBlock.extraOptions %}
        <div class="video-container">
          <iframe title="{{ currentBlock.videoTitle }}" width="560" height="315" src="https://www.youtube.com/embed/{{ currentBlock.video.videoID }}?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border: 0;"></iframe>
        </div>
      {% elseif 'Is a Playlist' in currentBlock.video.extraOptions %}
        <lite-youtube playlistid="{{ currentBlock.video.videoID }}" style="background-image: url('https://i.ytimg.com/vi/{{ currentBlock.video.videoID }}/hqdefault.jpg');">
           <button type="button" class="lty-playbtn">
             <span class="u-wvu-visually-hidden">Play Video: {{ currentBlock.videoTitle }}</span>
           </button>
        </lite-youtube>
      {% else %}
        <lite-youtube videoid="{{ currentBlock.video.videoID }}" style="background-image: url('https://i.ytimg.com/vi/{{ currentBlock.video.videoID }}/hqdefault.jpg');">
           <button type="button" class="lty-playbtn">
             <span class="u-wvu-visually-hidden">Play Video: {{ currentBlock.videoTitle }}</span>
           </button>
        </lite-youtube>
      {% endif %}

      <div class="wvu-lede-small pt-0">
      {% if currentBlock.description %}
        {{ currentBlock.description|raw }}
      {% else %}
        {{ currentBlock.video.description|raw }}
      {% endif %}
    </div>

      {% if 'Add Watch on YouTube Link' in currentBlock.extraOptions %}
        <p class="pb-3"><a href="https://youtu.be/{{ currentBlock.video.videoID }}" class="button">Watch on YouTube</a></p>
      {% endif %}

    </div>

    <div class=" inquiry-form col-md-5 col-lg-3 mx-auto ">

      <h2 class="wvu-shout">{{ currentBlock.inquiryFormSectionTitle|raw }}</h2>

      {% if currentBlock.inquiryFormSectionDescription %}
        <p>
          {{ currentBlock.inquiryFormSectionDescription|raw }}
        </p>
      {% endif %}

      {% set formURL = 'https://wvu.tfaforms.net/rest/forms/view/'~currentBlock.inquiryFormID %}
      {{ fetch(formURL)|raw }}

    </div>

  </div>

</div>
