{% set fullWidthVideoClass = '' %}
{% if 'Full-width Video' in currentBlock.extraOptions %}
  {% set fullWidthVideoClass = 'fullWidthVideo' %}
{% endif %}

<div class="wvu-container {{ fullWidthVideoClass }}">

  <div class="wvu-video__video-and-description" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}--inner"{% endif %}>

    <div class="wvu-video__video ">
      {% if 'Use YouTube Embed' in currentBlock.extraOptions %}
        <div class="video-container">
          <iframe title="{{ currentBlock.videoTitle }}" width="560" height="315" src="https://www.youtube.com/embed/{{ currentBlock.video.videoID }}?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border: 0;"></iframe>
        </div>
      {% elseif 'Is a Playlist' in currentBlock.video.extraOptions %}
        <lite-youtube playlistid="{{ currentBlock.video.videoID }}" style="background-image: url('https://i.ytimg.com/vi/{{ currentBlock.video.videoID }}/hqdefault.jpg');">
           <button type="button" class="lty-playbtn">
             <span class="u-wvu-visually-hidden">Play Video: {{ currentBlock.videoTitle }}</span>
           </button>
        </lite-youtube>
      {% else %}
        <lite-youtube videoid="{{ currentBlock.video.videoID }}" style="background-image: url('https://i.ytimg.com/vi/{{ currentBlock.video.videoID }}/hqdefault.jpg');">
           <button type="button" class="lty-playbtn">
             <span class="u-wvu-visually-hidden">Play Video: {{ currentBlock.videoTitle }}</span>
           </button>
        </lite-youtube>
      {% endif %}
    </div>

    <div class="wvu-video__description remove-left-margin">

      {% if 'Hide Video Title' not in currentBlock.extraOptions %}
        {% if currentBlock.videoTitle or currentBlock.video.title %}
          <h2 class="wvu-shout">
            {% if currentBlock.videoTitle %}{{ currentBlock.videoTitle }}{% else %}{{ currentBlock.video.title }}{% endif %}
          </h2>
        {% endif %}
      {% endif %}

      {% if currentBlock.description %}
        {{ currentBlock.description|raw }}
      {% else %}
        {{ currentBlock.video.description|raw }}
      {% endif %}

      {% if 'Add Watch on YouTube Link' in currentBlock.extraOptions %}
        <p><a href="https://youtu.be/{{ currentBlock.video.videoID }}" class="button">Watch on YouTube</a></p>
      {% endif %}

    </div>

  </div>

</div>
