{% extends 'layout.html' %}

{% block content %}

  {% include('patterns/wvu-backpage-header--about-wvu.html') %}

  <div class="wvu-container u-wvu-container-padding">
    <div class="main">
      <p class="wvu-lede">
        WVU is a family of distinctive campuses united by a single mission. From the groundbreaking research of our flagship in Morgantown to the career-oriented programs of WVU Potomac State in Keyser to the technology-intensive programs at WVU Institute of Technology in Beckley &mdash; we are leveraging our talents and resources to create a better future for West Virginia and the World.
      </p>
    </div>
    <aside class="wvu-sidebar">
      {% include('patterns/wvu-sub-nav--about-wvu.html') %}
    </aside>
  </div>

  {% include('patterns/wvu-video.html') %}

  {% include('patterns/wvu-r1.html') %}

  {% include('patterns/wvu-academic-excellence.html') %}

{% endblock %}
