{% extends 'layout.html' %}

{% block content %}

  {% include('patterns/wvu-backpage-header.html') %}

  <div class="ci">
    <div class="wvu-container">
      <div class="ci__main">
        <div class="main">

          <h2>Career Description</h2>
          <p>{{ career.description }}</p>

          {% if career.alsoCalled %}
            <h2>What Job Titles {{ career.title }} Might Have</h2>
            <ul>
              {% set alsoCalledArray = career.alsoCalled|split(',') %}
              {% for jobTitle in alsoCalledArray %}
                <li>{{ jobTitle }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if career.jobTasks %}
            <h2>What {{ career.title }} Do</h2>
            <ul>
              {% for jobTask in career.jobTasks %}
                <li>{{ jobTask }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if career.abilities %}
            <h2>What {{ career.title }} Should Be Good At</h2>
            <ul>
              {% for ability in career.abilities %}
                <li>
                  <strong>{{ ability.title }}</strong> - {{ ability.description }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if career.interests %}
            <h2>What {{ career.title }} Should Be Interested In</h2>
            <ul>
              {% for interest in career.interests %}
                <li>
                  <strong>{{ interest.title }}</strong> - {{ interest.description }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if career.knowledge %}
            <h2>What {{ career.title }} Need to Learn</h2>
            <ul>
              {% for knowledgeItem in career.knowledge %}
                <li>
                  <strong>{{ knowledgeItem.title }}</strong> - {{ knowledgeItem.description }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}

        </div> <!-- .main -->
        <div class="wvu-sidebar">

          {% if career.attributes is defined %}
            <div class="ci__features">
              {% if 'Green' in career.attributes %}<div class="ci__feature"><img src="/images/icon-leaf.png" alt="Leaf icon" /><span>This career is a green occupation.</span></div>{% endif %}
              {% if 'Bright Outlook' in career.attributes %}<div class="ci__feature"><img src="/images/icon-sun.png" alt="Sun icon" /><span>This career has a bright outlook.</span></div>{% endif %}
              {% if 'Requires Graduate Degree' in career.attributes %}<div class="ci__feature"><img src="/images/icon-diploma.svg" alt="Diploma icon" /><span>This career requires a graduate degree.</span></div>{% endif %}
            </div>
          {% endif %}

          <div class="ci__median-salary">Median Salary: <strong>{% if career.medianSalary == '0' %}<abbr title="Not Available">NA</abbr>{% else %}${{ career.medianSalary|number_format(0) }}{% endif %}</strong></div>

          <div class="ci__the-basics">
            <ul>
              <li><strong>O*NET Code:</strong> {{ career.code }}</li>
              <li><a href="{{ career.webAddressONET }}">O*NET Summary</a></li>
            </ul>
          </div>

          {% if career.relatedMajors is defined %}
            <div class="js-ci__related-majors ci__related-majors">
              <h2>Related Majors</h2>
              <ul class="js-ci__related-majors-list">
                {% for relatedMajor in career.relatedMajors %}
                  {% if relatedMajor.title != blank %}
                    <li><a href="{{ relatedMajor.webAddressAdmissions }}">{{ relatedMajor.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}

        </div>
      </div>
      <div class="ci__postscript">
        <p>This page includes information from <a href="https://www.onetonline.org/">O*NET OnLine</a> by the U.S. Department of Labor, Employment and Training Administration (USDOL/ETA). Used under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license.</p>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script async>
    /** NOTE: This hides the related majors box if there are no majors to show in the list.
      * NOTE: If this can be done with Twig, do so.
      * Twig returns an array item, but that item is empty—which makes it hard to
      * reliably check if we should output the `<ul>`.
    */
    const relatedMajors = (() => {
      'use strict';
      const getRelatedMajors = document.querySelector('.js-ci__related-majors');
      const getRelatedMajorsList = getRelatedMajors?.querySelector('.js-ci__related-majors-list');
      if (!getRelatedMajors || !getRelatedMajorsList) return;
      if (getRelatedMajorsList.children.length !== 0) return;
      getRelatedMajors.remove();
    })();
  </script>
{% endblock %}
