{% extends 'layout.html' %}


{% block content %}

<div class="wvu-backpage">

  <div class="wvu-container">
    <h1>{{status}} Error</h1>

    {% if status == "404" %}
      {{ include('errors/404.html') }}
    {% endif %}

    {% if status== "403" %}
      {{ include('errors/403.html') }}
    {% endif %}

    {% if status == "500" %}
      {{ include('errors/500.html') }}
    {% endif %}

    {% if status == "503" %}
      {{ include('errors/503.html') }}
    {% endif %}
  </div>

</div>

{% endblock %}
