{% extends 'layout.html' %}

{% block content %}
  <style>
    .wvu-backpage-header {
      padding-top: 5em;
    }
    @media (min-width: 48em) {
      .wvu-backpage-header {
        padding-top: 4em;
      }
    }
    .ul--slashes li {
      position: relative;
      list-style-type: none;
    }
    .ul--slashes li:before {
      content: "";
      position: absolute;
      top: 5px;
      left: -25px;
      width: 20px;
      height: 32px;
      background-image: url(/images/diagonal-gold.svg);
      background-size: 20px;
      background-repeat: no-repeat;
    }
  </style>
  <div class="wvu-backpage-header">
    {% include('patterns/wvu-breadcrumbs.html') %}
  </div>

  <div class="ci">
    <div class="wvu-container">
      <div class="ci__main">
        <div class="main">

          <h1 class="wvu-h2" style="margin-top: 0">{% if faq.displayTitle %}{{ faq.displayTitle|raw }}{% else %}{{ faq.title|raw }}{% endif %}</h1>

          {% if faq.webAddressExternal %}

            <p>The answer to this question can be found at <a href="{{ faq.webAddressExternal }}">{{ faq.webAddressExternal }}</a>. Redirecting you in two seconds.

            <meta http-equiv="refresh" content="2;url={{ faq.webAddressExternal }}" />

          {% else %}

            {{ faq.body|replace({'h2': "h3"})|raw }}

            {% if faq.relatedFAQEntries %}
              <h3>Related Articles</h3>
              <ul class="ul--slashes">
                {% for relatedArticle in faq.relatedFAQEntries %}
                  <li> <a href="/faq/{{ relatedArticle.slug }}">{{ relatedArticle.title }}</a>
                {% endfor %}
              </ul>
            {% endif %}

          {% endif %}

        </div> <!-- .main -->
        <div class="wvu-sidebar">

          {% if faq.groups %}

            {% set faqGroupCount = 0 %}
            {% for faqGroup in faq.groups %}
              {% if faqGroup.howToContactGroup %}
                {% set faqGroupCount = faqGroupCount + 1 %}
              {% endif %}
            {% endfor %}

            {% if faqGroupCount > 0 %}
              <!--<div class="ci__the-basics">
                <h4>Was your question not answered?</h4>
                <p>Try {% if faqGroupCount > 1 %}these options{% else %}this option{% endif %}:</p>
                {% for faqGroup in faq.groups %}
                  {% if faqGroup.howToContactGroup %}
                    {{ faqGroup.howToContactGroup|raw }}
                  {% endif %}
                {% endfor %}
              </div>-->
            {% endif %}

          {% endif %}


        </div>
      </div>
    </div>
  </div>

{% endblock %}
