<!DOCTYPE html>
<html lang="en-US">

  <!--
    In Memory of Chris Schwer who lost his life whitewater kayaking on 08.01.12.
    Chris was a designer for WVU, paddler and friend to all.
    We dedicate this site to you Chris. Rest in peace brother.
  -->

  <head>

    {% set siteTitle = '' %}
    {% if contentful.site.displayTitle and 'Is Subsite Home Page' not in contentful.extraOptions %}
      {% set siteTitle = "- #{contentful.site.displayTitle}" %}
    {% endif %}

    {% set title = '' %}
    {% if contentful.slug == "home" %}
      {% set title = 'West Virginia University' %}
    {% elseif contentful.displayTitle %}
      {% set title = "#{contentful.displayTitle} #{siteTitle}" %}
    {% elseif contentful.title %}
      {% set title = "#{contentful.title} #{siteTitle}" %}
    {% endif %}

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if environment == 'development' %}DEV - {% endif %}{% if contentful.slug != "home" %}{{title|raw}} - {% endif %}West Virginia University</title>

    {% if environment == 'prod' %}
      <link rel="preconnect" href="https://www.googletagmanager.com">
      <link rel="preconnect" href="https://www.youvisit.com">
      <link rel="preconnect" href="https://www.google-analytics.com">
      <link rel="preconnect" href="https://siteimproveanalytics.com">
      <link rel="preconnect" href="https://bam.nr-data.net">
      <link rel="preconnect" href="https://js-agent.newrelic.com">
    {% endif %}

    <!--<link rel="preconnect" href="https://cdn.fonts.net">-->
    <link rel="preconnect" href="https://fast.fonts.net">
    <link rel="preconnect" href="https://images.ctfassets.net">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">

    {% if 'Support FontAwesome' in contentful.extraOptions %}
      <link rel="preconnect" href="https://kit.fontawesome.com">
    {% endif %}

    {% if environment == 'prod' %}
      {{ include('patterns/wvu-tag-manager-head.html') }}
    {% endif %}

    {% if inline_css.status %}
      <style>
        {{ inline_css.contents | raw }}
      </style>
      <link rel="preload" href="/css/styles.css?cb={{app_version}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <link rel="preload" href="/css/lite-yt-embed.css?cb={{app_version}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <link rel="preload" href="/css/temp.css?cb={{app_version}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript>
        <link rel="stylesheet" type="text/css" href="/css/styles.css?cb={{app_version}}">
        <link rel="stylesheet" type="text/css" href="/css/lite-yt-embed.css?cb={{app_version}}">
        <link rel="stylesheet" type="text/css" href="/css/temp.css?cb={{app_version}}">
      </noscript>
    {% else %}
      <link rel="stylesheet" type="text/css" href="/css/styles.css?cb={{app_version}}">
      <link rel="stylesheet" type="text/css" href="/css/temp.css?cb={{app_version}}">
    {% endif %}

    <!--<link rel="preload" href="https://cdn.fonts.net/kit/b339d500-35c3-11ed-aaf7-06b70d83f6b0/b339d500-35c3-11ed-aaf7-06b70d83f6b0.css" rel="stylesheet" />-->

    <!--<script src="https://fast.fonts.net/jsapi/36d8cd92-7cc7-499b-b169-0eed9d670283.js" defer></script>-->
    {% if 'Support FontAwesome' in contentful.extraOptions %}
      {% if 'v6-beta' in contentful.fontAwesomeVersionSupport %}
        <script src="https://kit.fontawesome.com/2c5c62e958.js" crossorigin="anonymous" defer></script>
      {% elseif 'v6' in contentful.fontAwesomeVersionSupport %}
        <script src="https://kit.fontawesome.com/97392cb324.js" crossorigin="anonymous" defer></script>
      {% else %}
        <script src="https://kit.fontawesome.com/c4b30377c5.js" crossorigin="anonymous" defer></script>
      {% endif %}
    {% endif %}
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" defer integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->

    {% set slug = '' %}
    {% if contentful.slug != "home" %}
      {% set slug = contentful.slug %}
    {% endif %}

    <link rel="canonical" href="https://www.wvu.edu/{{ slug }}">

    {% if contentful.description %}
      <meta name="description" content="{{contentful.description|raw}}" />
    {% endif %}

    {% if contentful.contentfulID %}
      <meta name="editingPage" content="https://app.contentful.com/spaces/udw4veezvy46/entries/{{contentful.contentfulID}}" />
    {% endif %}

    {% set openGraphImage = 'https://www.wvu.edu/images/flying-wv-thumbnail.jpg' %}
    {% if contentful.site.openGraphImage %}
      {% set openGraphImage = "https:#{contentful.site.openGraphImage.file.url}" %}
    {% elseif contentful.openGraphImage %}
      {% set openGraphImage = "https:#{contentful.site.openGraphImage.file.url}" %}
    {% endif %}

    <meta name="theme-color" content="#002855" />
    <meta property="og:site_name" content="West Virginia University" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://www.wvu.edu/{{ slug }}" />
    <meta property="og:title" content="{{title|trim|raw}}" />
    {% if contentful.description %}
      <meta property="og:description" content="{{contentful.description|raw}}" />
    {% endif %}
    <meta property="og:image" content="{{ openGraphImage|raw }}" />

    <meta name="twitter:image" content="{{ openGraphImage|raw }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="West Virginia University" />
    <meta name="twitter:creator" content="@WestVirginiaU" />
    <meta name="twitter:title" content="{{title|trim|raw}}">
    {% if contentful.description %}
      <meta name="twitter:description" content="{{contentful.description|raw}}">
    {% endif %}

    {% if 'Hide From Search Engines' in contentful.extraOptions %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="robots" content="max-image-preview:standard">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
    <meta name="norton-safeweb-site-verification" content="gx6ahm4-v-r1qz6t9esrtytjwl4zzrbkzstl76yxnlx-8ccnrad4sgkjdzm-c-k3xsadwhcc8vm2m4v4twsagqngnm05lli86woo0lhh81ese2r8rgatah7-qdajpqp-" />

    <link rel="apple-touch-icon" href="https://images.ctfassets.net/udw4veezvy46/6CfNME6sScEZlOLrZoPamu/11343f61672ec4060f24cfa1de1aecf6/wvu-logo--2.0.0-sq__1_.svg?fm=png&w=57"/>
    <link rel="apple-touch-icon" sizes="72x72" href="https://images.ctfassets.net/udw4veezvy46/6CfNME6sScEZlOLrZoPamu/11343f61672ec4060f24cfa1de1aecf6/wvu-logo--2.0.0-sq__1_.svg?fm=png&w=72"/>
    <link rel="apple-touch-icon" sizes="114x114" href="https://images.ctfassets.net/udw4veezvy46/6CfNME6sScEZlOLrZoPamu/11343f61672ec4060f24cfa1de1aecf6/wvu-logo--2.0.0-sq__1_.svg?fm=png&w=114"/>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.wvu.edu",
        "logo": "https://images.ctfassets.net/udw4veezvy46/6CfNME6sScEZlOLrZoPamu/11343f61672ec4060f24cfa1de1aecf6/wvu-logo--2.0.0-sq__1_.svg"
      }
    </script>

  </head>
  <body class="wvu-body page--{{ contentful.slug | replace ({'about-wvu/': "", 'academics/': ""}) }}">

    {% if environment == 'prod' %}
      {{ include('patterns/wvu-tag-manager-footer.html') }}
    {% endif %}

    {% if 'Hide Masthead' not in contentful.site.extraOptions and 'Hide Masthead' not in contentful.extraOptions %}
      {{ include('patterns/wvu-masthead.html') }}
    {% endif %}

    {% if 'Hide Navigation' not in contentful.site.extraOptions and 'Hide Navigation' not in contentful.extraOptions %}
      {{ include('patterns/wvu-nav.html') }}
    {% endif %}

    <main id="wvu-main">
      {% set timeNow = contentful.timeNow %}
      {% block content %}{% endblock %}
    </main>

    {% block preFooterContent %}{% endblock %}

    {% if 'Hide Footer' not in contentful.site.extraOptions and 'Hide Footer' not in contentful.extraOptions %}
      {{ include('patterns/wvu-footer.html') }}
    {% endif %}

    <script src="/javascripts/all.js?cb={{app_version}}"></script>

    <link rel="preload" href="/fa/social/css/all.min.css?cb={{app_version}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <script src="https://fast.fonts.net/jsapi/36d8cd92-7cc7-499b-b169-0eed9d670283.js"></script>
    <script async>
      // Set custom fonts we're loading as variables for FontFaceObserver:
      // https://github.com/bramstein/fontfaceobserver
      var helveticaBlack = new FontFaceObserver('HelveticaNeueW01-97Blac', {
        'family': 'HelveticaNeueW01-97Blac',
        'weight': 'normal'
      });

      var helveticaLight = new FontFaceObserver('HelveticaNeueW01-45Ligh', {
        'family': 'HelveticaNeueW01-45Ligh',
        'weight': 'normal'
      });

      // Set a waiting period for FontFaceObserver to wait for the fonts to load before erroring out:
      var ffoTimeout = 6000;

      // This is the "base" font package. Just Helvetica Condensed Black & Light
      Promise.all([
        helveticaBlack.load(null, ffoTimeout),
        helveticaLight.load(null, ffoTimeout)
      ]).then(function () {
        document.documentElement.className += ' fonts-loaded';
        document.documentElement.className += ' base-fonts-loaded';
      }).catch(function (err) {
        document.documentElement.className += ' fonts-unavailable';
        document.documentElement.className += ' base-fonts-unavailable';
      });

      {% if 'Support Fonts - Iowan' in contentful.extraOptions %}
        var iowanRoman = new FontFaceObserver('IowanOldStyleW01-Roman', {
          'family': 'IowanOldStyleW01-Roman',
          'weight': 'normal'
        });

        var iowanItalic = new FontFaceObserver('IowanOldStyleW01-Italic1120392', {
          'family': 'IowanOldStyleW01-Italic1120392',
          'weight': 'normal'
        });

        var iowanBlack = new FontFaceObserver('IowanOldStyleW01-Black', {
          'family': 'IowanOldStyleW01-Black',
          'weight': 'normal'
        });

        var iowanBlackItalic = new FontFaceObserver('IowanOldStyleW01-BlackI', {
          'family': 'IowanOldStyleW01-BlackI',
          'weight': 'normal'
        });

        Promise.all([
          iowanRoman.load(null, ffoTimeout),
          iowanItalic.load(null, ffoTimeout),
          iowanBlack.load(null, ffoTimeout),
          iowanBlackItalic.load(null, ffoTimeout)
        ]).then(function () {
          document.documentElement.className += ' expanded-fonts-loaded';
        }).catch(function (err) {
          console.info('FontFaceObserver font loading', err);
          document.documentElement.className += ' expanded-fonts-unavailable';
        });
      {% endif %}
      {% if 'Support Fonts - Expanded Helvetica' in contentful.extraOptions %}
        var helveticaRoman = new FontFaceObserver('HelveticaNeueW01-55Roma', {
          'family': 'HelveticaNeueW01-55Roma',
          'weight': 'normal'
        });

        var helveticaBold = new FontFaceObserver('Helvetica Neue LT W01_75 Bold', {
          'family': 'Helvetica Neue LT W01_75 Bold',
          'weight': 'normal'
        });

        Promise.all([
          helveticaRoman.load(null, ffoTimeout),
          helveticaBold.load(null, ffoTimeout)
        ]).then(function () {
          document.documentElement.className += ' expanded-fonts-loaded';
        }).catch(function (err) {
          console.info('FontFaceObserver font loading', err);
          document.documentElement.className += ' expanded-fonts-unavailable';
        });
      {% endif %}

    </script>

    <script async>
      /* lazy load images */
      document.addEventListener("DOMContentLoaded", function() {
        var lazyImages;
        if ("IntersectionObserver" in window && "IntersectionObserverEntry" in window && "intersectionRatio" in window.IntersectionObserverEntry.prototype) {
          lazyImagesImg = [].slice.call(document.querySelectorAll("img.lazy"));
          lazyImagesPic = [].slice.call(document.querySelectorAll("picture.lazy"));
          lazyImages = lazyImagesImg.concat(lazyImagesPic);
          let lazyImageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
              if (entry.isIntersecting) {
                let lazyImage = entry.target;
                if (lazyImage.tagName === "IMG") {
                  lazyImage.src = lazyImage.dataset.src;
                  lazyImage.classList.remove("lazy");
                  lazyImage.classList.add("animate__animated");
                  lazyImage.classList.add("animate__fadeIn");
                  lazyImageObserver.unobserve(lazyImage);
                } else if (lazyImage.tagName === 'PICTURE') {
                  var children = lazyImage.children;
                  for (var i = 0; i < children.length; i++) {
                    var child = children[i];
                    if (child.tagName === 'SOURCE') {
                      child.srcset = child.dataset.srcset;
                    }
                  }
                  lazyImage.classList.remove("lazy");
                  for (var i = 0; i < children.length; i++) {
                    var child = children[i];
                    if (child.tagName === 'IMG') {
                      child.classList.add("animate__animated");
                      child.classList.add("animate__fadeIn");
                    }
                  }
                  lazyImageObserver.unobserve(lazyImage);
                }
              }
            });
          });

          lazyImages.forEach(function(lazyImage) {
            lazyImageObserver.observe(lazyImage);
          });
        } else {
          // handle IE 11 only for regular images
          lazyImagesInPicture = document.querySelectorAll("img.lazyInPicture");
          for (i = 0; i < lazyImagesPrimed.length; ++i) {
            lazyImages[i].setAttribute('src',lazyImages[i].getAttribute('data-src'));
          }
          lazyImages = document.querySelectorAll("img.lazy");
          for (i = 0; i < lazyImages.length; ++i) {
            lazyImages[i].setAttribute('src',lazyImages[i].getAttribute('data-src'));
          }
        }
      });
    </script>

    <script async>
      /* load lite-yt-embed code if the element exists */
      if (document.getElementsByTagName('lite-youtube').length > 0) {

        var js = document.createElement("script");
        js.setAttribute("src", "/javascripts/lite-yt-embed.js?cb={{app_version}}");
        js.setAttribute("defer", true);
        document.body.appendChild(js);

        var css = document.createElement("link");
        css.setAttribute("rel", "stylesheet");
        css.setAttribute("type", "text/css");
        css.setAttribute("href", "/css/lite-yt-embed.css?cb={{app_version}}");
        document.body.appendChild(css);

      }
    </script>

    {% if 'Support Facebook Video Lazy Load' in contentful.extraOptions %}
      <script src="/javascripts/lite-fb-embed.js?cb={{app_version}}" ></script>
    {% endif %}

    {% if 'Support Panoramas' in contentful.extraOptions %}
      <link rel="stylesheet" type="text/css" href="/css/pannellum.min.css?cb={{app_version}}">
      <script src="/javascripts/pannellum.min.js?cb={{app_version}}" defer></script>
    {% endif %}

    <script async>

      /* load baguette lightbox code if the class exists */
      if (document.getElementsByClassName('baguette').length > 0) {
        var js = document.createElement("script");
        js.setAttribute("src", "/javascripts/baguetteBox.min.js?cb={{app_version}}");
        js.setAttribute("defer", true);
        js.onload = function() {
          for (var b = 0; b < baguettes.length; b++) {
            baguetteBox.run(baguettes[b], {
              captions: function(element) {
                return element.getElementsByTagName('img')[0].alt;
              }
            });
          }
        }
        document.body.appendChild(js);

        var css = document.createElement("link");
        css.setAttribute("rel", "stylesheet");
        css.setAttribute("type", "text/css");
        css.setAttribute("href", "/css/baguetteBox.min.css?cb={{app_version}}");
        document.body.appendChild(css);
      }
    </script>

    <script async>

      /* load animate css if the class exists */
      if (document.getElementsByClassName('animate__animated').length > 0) {
        var css = document.createElement("link");
        css.setAttribute("rel", "stylesheet");
        css.setAttribute("type", "text/css");
        css.setAttribute("href", "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css");
        document.body.appendChild(css);
      }
      
    </script>

    {% block javascripts %}{% endblock %}

  </body>

</html>
