 <html>
  <head>
    <meta http-equiv="refresh" content="0;url={{ program.webAddressCourseCatalog|raw }}" />
  </head>
  <body>
   <p>This page has moved to <a href="{{ program.webAddressCourseCatalog|raw }}">{{ program.webAddressCourseCatalog|raw }}</a>.</p> 
 </body>
</html>
