{% extends 'layout.html' %}

{% block content %}

  {% include('patterns/wvu-backpage-header.html') %}

  <div style="background-color:#CD4C08;">
    <div class="wvu-container" style="padding-right: 30px">
      <p style="font-size: 16px;padding: 20px 0 20px 0;margin: 0;width: 100%; max-width: max-content;color: #FFFFFF;">
        For the <strong>2020-21 plans of study</strong>, visit the <a href="http://catalog.wvu.edu/undergraduate/" style="color: #FFFFFF">undergraduate catalog</a>. This page should not be used for advising or planning individual course progressions.
      </p>
    </div>
  </div>

  {# organize the plans of study into year-based buckets #}
  {% set firstYearPlansOfStudy = [] %}
  {% set secondYearPlansOfStudy = [] %}
  {% set thirdYearPlansOfStudy = [] %}
  {% set fourthYearPlansOfStudy = [] %}
  {% set fifthYearPlansOfStudy = [] %}
  {% set plansOfStudyTitles = [] %}
  {% set planOfStudyKey = '' %}

  {% for planOfStudy in program.plansOfStudy %}

    {% if planOfStudy.areaOfEmphasis is defined and planOfStudy.areaOfEmphasis != null %}
      {% set planOfStudyKey = planOfStudy.areaOfEmphasis.title|replace({' ':'-'})|replace({':':''})|replace({'/':''})|lower %}
      {% set planOfStudyTitle = planOfStudy.areaOfEmphasis.title %}
    {% elseif planOfStudy.track is defined and planOfStudy.track != null %}
      {% set planOfStudyKey = planOfStudy.track.title|replace({' ':'-'})|replace({':':''})|replace({'/':''})|lower %}
      {% set planOfStudyTitle = planOfStudy.track.title %}
    {% else %}
      {% set planOfStudyKey = planOfStudy.title|replace({' ':'-'})|replace({':':''})|replace({'/':''})|lower %}
      {% set planOfStudyTitle = planOfStudy.title %}
    {% endif %}

    {% set plansOfStudyTitles = plansOfStudyTitles|merge([{'title': planOfStudyTitle, 'key': planOfStudyKey }]) %}

    {% set firstYearPlanOfStudy = [] %}
    {% set secondYearPlanOfStudy = [] %}
    {% set thirdYearPlanOfStudy = [] %}
    {% set fourthYearPlanOfStudy = [] %}
    {% set fifthYearPlanOfStudy = [] %}

    {% set hasThirdYear = 'false' %}
    {% set hasFifthYear = 'false' %}
    {% for key,value in planOfStudy %}

      {% if key starts with 'firstYear' %}
        {% set semester = key|replace({'firstYear':''})|lower %}
        {% set firstYearPlanOfStudy = firstYearPlanOfStudy|merge({(semester): value, 'title': planOfStudyTitle}) %}
      {% endif %}
      {% if key starts with 'secondYear' %}
        {% set semester = key|replace({'secondYear':''})|lower %}
        {% set secondYearPlanOfStudy = secondYearPlanOfStudy|merge({(semester): value, 'title': planOfStudyTitle}) %}
      {% endif %}
      {% if key starts with 'thirdYear' %}
        {% set semester = key|replace({'thirdYear':''})|lower %}
        {% set thirdYearPlanOfStudy = thirdYearPlanOfStudy|merge({(semester): value, 'title': planOfStudyTitle}) %}
        {% set hasThirdYear = 'true' %}
      {% endif %}
      {% if key starts with 'fourthYear' %}
        {% set semester = key|replace({'fourthYear':''})|lower %}
        {% set fourthYearPlanOfStudy = fourthYearPlanOfStudy|merge({(semester): value, 'title': planOfStudyTitle}) %}
      {% endif %}
      {% if key starts with 'fifthYear' %}
        {% set semester = key|replace({'fifthYear':''})|lower %}
        {% set fifthYearPlanOfStudy = fifthYearPlanOfStudy|merge({(semester): value, 'title': planOfStudyTitle}) %}
        {% set hasFifthYear = 'true' %}
      {% endif %}
    {% endfor %}

    {% set firstYearPlansOfStudy = firstYearPlansOfStudy|merge({(planOfStudyKey): firstYearPlanOfStudy}) %}
    {% set secondYearPlansOfStudy = secondYearPlansOfStudy|merge({(planOfStudyKey): secondYearPlanOfStudy}) %}
    {% set thirdYearPlansOfStudy = thirdYearPlansOfStudy|merge({(planOfStudyKey): thirdYearPlanOfStudy}) %}
    {% set fourthYearPlansOfStudy = fourthYearPlansOfStudy|merge({(planOfStudyKey): fourthYearPlanOfStudy}) %}

    {% if hasFifthYear == 'true' %}
      {% set fifthYearPlansOfStudy = fifthYearPlansOfStudy|merge({(planOfStudyKey): fifthYearPlanOfStudy}) %}
    {% endif %}

  {% endfor %}

  {# add project 168 activites for the year #}
  {% set firstYear = { 'yearText': 'first', 'plansOfStudy': firstYearPlansOfStudy, 'academics': program.project168Plan.firstYearAcademics, 'theMountaineerExperience': program.project168Plan.firstYearTheMountaineerExperience, 'civicCulturalGlobalEngagement': program.project168Plan.firstYearCivicCulturalGlobalEngagement, 'healthAndWellness': program.project168Plan.firstYearHealthAndWellness, 'careerAndProfessionalDevelopment': program.project168Plan.firstYearCareerAndProfessionalDevelopment } %}
  {% set secondYear = { 'yearText': 'second', 'plansOfStudy': secondYearPlansOfStudy, 'academics': program.project168Plan.secondYearAcademics, 'theMountaineerExperience': program.project168Plan.secondYearTheMountaineerExperience, 'civicCulturalGlobalEngagement': program.project168Plan.secondYearCivicCulturalGlobalEngagement, 'healthAndWellness': program.project168Plan.secondYearHealthAndWellness, 'careerAndProfessionalDevelopment': program.project168Plan.secondYearCareerAndProfessionalDevelopment } %}
  {% set thirdYear = { 'yearText': 'third', 'plansOfStudy': thirdYearPlansOfStudy, 'academics': program.project168Plan.thirdYearAcademics, 'theMountaineerExperience': program.project168Plan.thirdYearTheMountaineerExperience, 'civicCulturalGlobalEngagement': program.project168Plan.thirdYearCivicCulturalGlobalEngagement, 'healthAndWellness': program.project168Plan.thirdYearHealthAndWellness, 'careerAndProfessionalDevelopment': program.project168Plan.thirdYearCareerAndProfessionalDevelopment } %}
  {% set fourthYear = { 'yearText': 'fourth', 'plansOfStudy': fourthYearPlansOfStudy, 'academics': program.project168Plan.fourthYearAcademics, 'theMountaineerExperience': program.project168Plan.fourthYearTheMountaineerExperience, 'civicCulturalGlobalEngagement': program.project168Plan.fourthYearCivicCulturalGlobalEngagement, 'healthAndWellness': program.project168Plan.fourthYearHealthAndWellness, 'careerAndProfessionalDevelopment': program.project168Plan.fourthYearCareerAndProfessionalDevelopment } %}

  {# merge all of the years #}
  {% set years = [] %}
  {% set years = years|merge({'firstYear': firstYear}) %}
  {% set years = years|merge({'secondYear': secondYear}) %}
  {% set years = years|merge({'thirdYear': thirdYear}) %}
  {% set years = years|merge({'fourthYear': fourthYear}) %}

  {% set hasThirdYear = 'false' %}
  {% if thirdYearPlansOfStudy[planOfStudyKey]|length > 1 %}
    {% set hasThirdYear = 'true' %}
  {% endif %}

  {# check if this program has a fifth year #}
  {% set hasFifthYear = 'false' %}
  {% if fifthYearPlansOfStudy|length > 0 %}
    {% set fifthYear = { 'yearText': 'fifth', 'plansOfStudy': fifthYearPlansOfStudy, 'academics': program.project168Plan.fifthYearAcademics, 'theMountaineerExperience': program.project168Plan.fifthYearTheMountaineerExperience, 'civicCulturalGlobalEngagement': program.project168Plan.fifthYearCivicCulturalGlobalEngagement, 'healthAndWellness': program.project168Plan.fifthYearHealthAndWellness, 'careerAndProfessionalDevelopment': program.project168Plan.fifthYearCareerAndProfessionalDevelopment } %}
    {% set years = years|merge({'fifthYear': fifthYear}) %}
    {% set hasFifthYear = 'true' %}
  {% endif %}

    <div class="mm-intro">

      <div class="wvu-container">

        <div class="mm-intro__wrapper">

          <div class="mm-intro__main">

            <p class="mm-intro__meta-info">
              <strong>Campus:</strong> West Virginia University / {{ program.divisionalCampus.campusNameShort }}<br />
              <strong>College/School:</strong> {{ program.collegeOrSchool.title }} <br />
              {% if program.areasOfEmphasis is defined %}
                {% if program.areasOfEmphasis|length == 1 %}
                  <strong>Area of Emphasis:</strong>
                {% else %}
                  <strong>Areas of Emphasis:</strong>
                {% endif %}
                {% for areaOfEmphasis in program.areasOfEmphasis %}
                  {{ areaOfEmphasis.title }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                <br />
              {% endif %}
              {% if program.pathways|length == 1 %}
                <strong>Pathway:</strong>
              {% else %}
                <strong>Pathways:</strong>
              {% endif %}
              {% for pathway in program.pathways %}
                <a href="{{ pathway.webAddress|raw }}">{{ pathway.title }}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
            </p>

            <p class="mm-intro__lede">
              {% if program.descriptionTeaser %}
                {{ program.descriptionTeaser|raw|replace({'<p>':''})|replace({'</p>':''}) }}
              {% else %}
                {% set paragraphs = program.description|split('</p>') %}
                {% set firstParagraph = paragraphs|first ~ '</p>' %}
                {{ firstParagraph|raw }}
              {% endif %}

          </div>

          <div class="mm-intro__sidebar">

            <a href="{{ program.webAddressCourseCatalog|raw }}" class="button">View in Course Catalog</a><br />
            <a href="{{ program.webAddressAdmissions|raw }}" class="button">View Program Page</a><br />
            <a href="https://admissions.wvu.edu/how-to-apply" class="button button--accent-blue-fill">Apply Now</a><br />
            <a href="https://admissions.wvu.edu/request-information" class="button button--accent-burnt-orange-fill">Request Info</a>

          </div>

        </div>

      </div>

    </div>

    <div class="mm-years" id="plans-of-study">
      <div class="wvu-container">

        {% if plansOfStudyTitles|length > 1 %}
          <div class="mm-years__semester-links">
            <strong>Plans of study:</strong>
            {% for planOfStudy in plansOfStudyTitles %}
              <button class="planOfStudyLinks {% if loop.first %}active{% endif %}" data-key="{{planOfStudy.key}}">{{ planOfStudy.title }}</button>{% if not loop.last %} | {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        <div data-tab-component class="mm-years__years">
          <ul class="tab-list">
            <li class="tab-item">
              <a class="tab-link" href="#section-0">1st Year</a>
            </li>
            <li class="tab-item">
              <a class="tab-link" href="#section-1">2nd Year</a>
            </li>
            {% if hasThirdYear == 'true' %}
              <li class="tab-item">
                <a class="tab-link" href="#section-2">3rd Year</a>
              </li>
              <li class="tab-item">
                <a class="tab-link" href="#section-3">4th Year</a>
              </li>
              {% if hasFifthYear == 'true' %}
                <li class="tab-item">
                  <a class="tab-link" href="#section-4">5th Year</a>
                </li>
              {% endif %}
            {% endif %}
          </ul>

          <style>
            a.courseLink {
              color: #2C2A29;
              text-decoration: none;
            }
            a.courseLink:hover {
              color: #2C2A29;
              text-decoration: underline;
            }
          </style>
          {% for key,year in years %}
            {% include 'patterns/wvu-major-map-year.html' with { 'yearContent': year, 'yearKey': key } %}
          {% endfor %}

        </div>
      </div> <!-- .wvu-container -->
    </div> <!-- .mm-years -->

    {% if program.relatedCareers|length > 0 %}
      <div class="mm-related-careers">
        <div class="wvu-container">
          <h2>Related Careers</h2>
          <div class="mm-related-careers__careers">

            {% for relatedCareer in program.relatedCareers %}
              <div class="mm-related-careers__career">
                <h3 class="mm-related-careers__h3--leaf">{{ relatedCareer.title }} {% if 'Green' in relatedCareer.attributes %}<img src="/images/icon-leaf.png" title="This career is a green job." alt="Green leaf icon (this career is a green job)" />{% endif %}{% if 'Bright Outlook' in relatedCareer.attributes %}<img src="/images/icon-sun.png" title="This career has a bright outlook." alt="Sun icon (this career has a bright outlook)" />{% endif %}</h3>
                <p>
                  {{ relatedCareer.description }}
                </p>
                <p>
                  <strong>Also called:</strong> {% for alsoCalled in relatedCareer.alsoCalled %}{{ alsoCalled }}{% if not loop.last %}, {% endif %}{% endfor %}.
                </p>
                <p>
                  <strong>Median salary:</strong> {% if relatedCareer.medianSalary == '0' %}<abbr title="Not Available">NA</abbr>}{% else %}${{ relatedCareer.medianSalary|number_format(0) }}{% endif %}
                </p>
                <p>
                  <a href="{{ relatedCareer.webAddress }}" class="button button--small">Learn more <span class="u-wvu-visually-hidden">about {{ relatedCareer.title }}</span></a>
                </p>
              </div>
            {% endfor %}

          </div>

          <div class="mm-related-careers__legend">
            <img src="/images/icon-leaf.png" alt="Leaf icon (green occupation)" /> Green Occupation <img src="/images/icon-sun.png" alt="Sun icon (bright outlook)" /> Bright Outlook
          </div>

        </div>
      </div>
    {% endif %}

    {% if program.relatedCompanies|length > 0 %}
      <div class="mm-related-employers">
        <div class="wvu-container">
          <h2>Related Employers</h2>
          <div class="mm-related-employers__employers">
            {% for relatedCompany in program.relatedCompanies %}
              {% if relatedCompany.webAddress is defined %}
                <a class="mm-releated-employers__employer" href="{{ relatedCompany.webAddress }}">{{ relatedCompany.title }}</a>
              {% else %}
                <span class="mm-releated-employers__employer">{{ relatedCompany.title }}</span>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if program.relatedCareers|length > 0 %}
      <div class="mm-notice">
        <div class="wvu-container">
          <p>This page includes information from <a href="https://www.onetonline.org/">O*NET OnLine</a> by the U.S. Department of Labor, Employment and Training Administration (USDOL/ETA). Used under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license.</p>
        </div>
      </div>
    {% endif %}

    <div id="anchor-find-stuff" class="wvu-big-search wvu-big-search--programs">
      <div class="wvu-container">
        <div class="wvu-big-search__header">

          <h2>Find Your Major</h2>
          <p>Whether you’re an undergraduate, graduate or online student, we have the programs and resources to help you meet your goals.</p>

        </div>
        <form id="form-search" class="form-search form-search--programs" action="/academics/programs" method="get" aria-label="Search for your program.">
          <label class="form-search__label form-search__label--programs" for="query">
            <span class="form-search__label-text form-search__text--majors">Search Majors</span>
            <input id="query" class="form-search__field form-search__field--programs " name="q" maxlength="256" placeholder="Search..." type="search" />
          </label>
          <input class="form-search__submit form-search__submit--programs" type="submit" value="Search" />
        </form>

      </div>
    </div>

    <script>

      function showPlanOfStudy(e) {

        e.preventDefault();
        var key, els;

        // get the key from the item that was clicked
        key = e.target.getAttribute('data-key');

        // remove and add the active class
        var els = document.querySelectorAll("a.planOfStudyLinks");
        for (var i = 0; i < els.length; i++ ) {
          els[i].classList.remove('active');
        }
        e.target.classList.add('active');

        // add the visually hidden class
        els = document.querySelectorAll('div.mm-years__schedule');
        for (var i = 0; i < els.length; i++ ) {
          els[i].classList.add('u-wvu-visually-hidden');
        }

        // remove the visually hidden class for all divs related to the key
        els = document.querySelectorAll('div.'+key);
        for (var i = 0; i < els.length; i++ ) {
          els[i].classList.remove('u-wvu-visually-hidden');
        }

        return false;

      }

      var els = document.querySelectorAll("a.planOfStudyLinks");
      for (var i = 0; i < els.length; i++ ) {
        els[i].onclick = showPlanOfStudy;
      }

    </script>
{% endblock %}

{% block javascripts %}

  <script src="/javascripts/responsive-tabs.js?cb={{app_version}}"></script>

  <script>

    function showPlanOfStudy(el) {

      var key, els;

      // get the key from the item that was clicked
      key = el.getAttribute('data-key');

      // remove and add the active class
      els = document.querySelectorAll(".planOfStudyLinks");
      for (var i = 0; i < els.length; i++ ) {
        els[i].classList.remove('active');
      }
      el.classList.add('active');

      // add the visually hidden class
      els = document.querySelectorAll('div.mm-years__schedule');
      for (var i = 0; i < els.length; i++ ) {
        els[i].classList.add('u-wvu-visually-hidden');
      }

      // remove the visually hidden class for all divs related to the key
      els = document.querySelectorAll('div.'+key);
      for (var i = 0; i < els.length; i++ ) {
        els[i].classList.remove('u-wvu-visually-hidden');
      }

    }

    function showPlanOfStudyOnLoad(e) {
      if ((typeof window.location.hash !== "undefined") && (typeof document.location.search !== "undefined")) {
        var params = new URLSearchParams(document.location.search.substring(1));
        if (params.has('planofstudy') && (document.querySelector('a[href="#'+params.get('planofstudy')+'"]') !== null)) {
          showPlanOfStudy(document.querySelector('a[href="#'+params.get('planofstudy')+'"]'));
        }
      }
    }

    function showPlanOfStudyOnClick(e) {
      e.preventDefault();
      showPlanOfStudy(e.target);
      return false;
    }

    var els = document.querySelectorAll(".planOfStudyLinks");
    for (var i = 0; i < els.length; i++ ) {
      els[i].onclick = showPlanOfStudyOnClick;
    }

    window.onload = showPlanOfStudyOnLoad;

  </script>
{% endblock %}
