{% set classesForDisplayName = 'display-2 wvu-shout' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForButton = 'btn-wvu-blue btn-lg' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

<div class="container position-relative wvu-z-index-content">
  <div class="row">
    <div class="col-md-8 mx-auto">

      <h2 id="{{ ariaLabelledById }}" class="{{ classesForDisplayName }}">
        {{ currentBlock.displayName }}
      </h2>

      {% set ledeBase = currentBlock.lede|raw|replace({'<p>': '<p class="pb-2">'}) %}
      {% set ledeArray = ledeBase|split('<p class="pb-2">', 2) %}
      {% set lede = ledeArray[0] ~ '<p class="lead pb-2">' ~ ledeArray[1] %}
      {{ lede|raw }}

      <a class="btn {{ classesForButton }}" href="{{ currentBlock.actionItem.webAddress }}" role="button">{{ currentBlock.actionItem.linkText }}</a>

      {% if currentBlock.postscript %}
        {{ currentBlock.postscript|raw|replace({'<p>': '<p class="mt-2">'}) }}
      {% endif %}

    </div>
  </div>
</div>
