{% set classesForDisplayName = 'display-2 wvu-shout wvu-text-first-line-gold' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForButton = 'btn-primary mb-1' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

<div class="container wvu-z-index-content">
  <div class="row justify-content-center my-5">
    <div class="col-md-5 mr-md-1 text-md-right p-3">
      <h2 class="{{ classesForDisplayName }}">
        {{ currentBlock.displayName }}
      </h2>
    </div>
    <div class="col-md-5 ml-md-1 p-3">

      {% set ledeBase = currentBlock.lede|raw|replace({'<p>': '<p class="h3 mb-3 helvetica-neue-light">'}) %}
      {% set ledeArray = ledeBase|split('<p class="pb-2">', 2) %}
      {% set lede = ledeArray[0] ~ '<p class="lead pb-2">' ~ ledeArray[1] %}
      {{ lede|raw }}

      <a href="{{ currentBlock.actionItem.webAddress }}" class="btn {{ classesForButton }}" role="button">{{ currentBlock.actionItem.title }}</a>

    </div>
  </div>
</div>
