{% set classesForSection = '' %}
{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

{% set classesForBodyCopy = '' %}
{% if currentBlock.classesForBodyCopy %}
  {% set classesForBodyCopy = currentBlock.classesForBodyCopy %}
{% endif %}

{% set classesForDisplayName = 'display-1 wvu-shout wvu-slash' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForButton = 'btn-primary btn-lg' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

{% set inlineStyles = '' %}
{% if currentBlock.backgroundColor %}
  {% set inlineStyles = inlineStyles ~ "background-color: #{currentBlock.backgroundColor};" %}
{% endif %}
{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=960&q=40);" %}
{% endif %}

<section class="jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-bg-size-cover {{ classesForSection }} {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }}" style="{{ inlineStyles }}" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>
  <div class="container position-relative wvu-z-index-content">
    <div class="row py-5">
      <div class="col col-md-6 {{ classesForBodyCopy }}">

        {% set hTag = 'h2' %}
        {% if 'Set Title as H1' in currentBlock.extraOptions %}
          {% set hTag = 'h1' %}
        {% endif %}
        <{{hTag}} class="{{ classesForDisplayName }}">
          {{ currentBlock.snazzyHeadline|raw }}
        </{{hTag}}>
        {# <p class="h1 pt-2 iowan-old-style-italic">Jane Schmoe, Biology, Class of ’22</p> #}

        {% set ledeBase = currentBlock.lede|raw|replace({'<p>': '<p class="py-2">'}) %}
        {% set ledeArray = ledeBase|split('<p class="py-2">', 2) %}
        {% set lede = ledeArray[0] ~ '<p class="lead py-2">' ~ ledeArray[1] %}
        {{ lede|raw }}

        {{ currentBlock.snazzyCopy|raw }}

        <a class="btn {{ classesForButton }}" href="{{ currentBlock.actionItem.webAddress }}" role="button">{{ currentBlock.actionItem.title }}</a>

      </div>
    </div>
  </div>
</section>
