{% set classeForsSection = '' %}
{% if currentBlock.classesForSection %}
  {% set classesForSection = currentBlock.classesForSection %}
{% endif %}

{% set classesForText = '' %}
{% if currentBlock.classesForText %}
  {% set classesForText = currentBlock.classesForText %}
{% endif %}

{% set inlineStyles = '' %}
{% if currentBlock.backgroundColor %}
  {% set inlineStyles = inlineStyles ~ "background-color: #{currentBlock.backgroundColor};" %}
{% endif %}
{% if currentBlock.backgroundImage %}
  {% set inlineStyles = inlineStyles ~ "background-image: url(#{currentBlock.backgroundImage.file.url}?w=960&q=40);" %}
{% endif %}

<section class="py-5 {{ classesForSection}} {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }}" style="{{ inlineStyles }}" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-md-auto wvu-z-index-content">
        <p class="mb-0 {{ classesForText }}">
          {{ currentBlock.text|raw|replace({'<p>': '', '</p>': ''}) }}
        </p>
      </div>
    </div>
  </div>
</section>
