<div>

  <style>
    .color-white { color: #fff; }
    .background-blue { background-color: #002855; }
    .background-yellow { background-color: #EAAA00; }
    .background-grey { background-color: #A2AAAD; }
    .background-blue-grey { background-color: #bec9cd; }
    .background-white { background-color: #fff; }
    .background-none { background-color: transparent; }
    .table td.border-top-none { border-top: none; }
    .table.table--case-count tr:nth-child(1) { background-color: transparent; }
    caption span { display: block; font-size: 1rem; font-weight: normal; margin-top: -15px; }
  </style>

  <div class="wvu-container" style="padding-top: 2rem; padding-bottom: 4rem;">

    <h2 class="wvu-shout" style="font-size: 4rem;">Weekly Results</h2>

    {% set latestWeeklyDate = testResults.weekly.campusTesting[0] %}
    <p>
      The weekly results show results through <strong><time datetime="{{ latestWeeklyDate.dateDataFromWeekEnd.timestamp }}">{{ latestWeeklyDate.dateDataFromWeekEnd.month.textLong }} {{ latestWeeklyDate.dateDataFromWeekEnd.day.numberShort }}, {{ latestWeeklyDate.dateDataFromWeekEnd.year.numberLong }}</time></strong>. Vaccination rates for the campus community will be released on a bi-weekly basis starting in early February.
    </p>

    <div id="weekly-campus-vaccination" class="table-responsive" style="margin-top: 2rem;">
      <table class="table table--case-count border-bottom border-right">
        <caption style="text-align: left; margin-top: 1rem;">
          {{ relatedDivisionalCampus.campusNameShort }} Campus Vaccination Rates by Week
          <span><br><strong>Want these rates to increase?</strong> <a href="/return-to-campus#tell-us-youre-vaccinated">Tell us</a> that you're vaccinated. If you're not vaccinated, <a href="/return-to-campus#get-vaccinated">get vaccinated</a>.
          <em>NOTE: Percentages may fluctuate based on student enrollment, new and returning faculty/staff related to hiring and contracts.</em></span>
        </caption>

        <tr>
          <td class="border-top-none"></td>
          {#
            <th scope="colgroup" class="border-left background-yellow">First-dose of Vaccine</th>
          #}
          <th colspan="2" scope="colgroup" class="border-left background-yellow">Vaccine Rate</th>
        </tr>
        <tr>

          <th scope="col" class="border-left background-blue-grey">Date</th>

          {#
            <th scope="col" class="border-left background-blue-grey">Total Students, Faculty and Staff</th>
          #}

          <th scope="col" class="border-left background-blue-grey">Faculty/Staff</th>
          <th scope="col" class="background-blue-grey">Students</th>

        </tr>

        {% set vaccinationDataExists = true %}
        {% set hasWeeklyVaccineNote = false %}
        {% for testResult in testResults.weekly.vaccination %}

          {% set showVaccinationData = false %}
          {% if testResult.dateDataFromWeekEnd.unix > currentBlock.reportStartDate.unix and testResult.dateDataFromWeekEnd.unix < currentBlock.reportEndDate.unix and testResult.dateDataFromWeekEnd.unix > 1609088400 %}
            {% set showVaccinationData = true %}
          {% endif %}

          {% if showVaccinationData %}
            <tr class="border-left">
              <th scope="row">
                <time datetime="{{ testResult.dateDataFromWeekEnd.timestamp }}">{{ testResult.dateDataFromWeekEnd.month.textShort }}. {{ testResult.dateDataFromWeekEnd.day.numberShort }}</time>
              </th>
              {#
                {% if testResult.vaccineFirstDoseTotal is not defined %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.vaccineFirstDoseTotal }}</td>{% endif %}
              #}
              {% if testResult.vaccineRateFacultyStaff == 0 %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.vaccineRateFacultyStaff }}%</td>{% endif %}
              {% if testResult.vaccineRateStudents == 0 %}<td class="border-left" aria-label="No data available">-</td>{% else %}<td class="border-left">{{ testResult.vaccineRateStudents }}%</td>{% endif %}
            </tr>
          {% endif %}

        {% endfor %}

      </table>
    </div>

  </div>

</div>
