<div class="wvu-programs__filters button-group filter-button-group">

  <p>Filter by:</p>

  <form id="form-search" class="form-search form-search--programs" method="get" role="search" aria-label="Filter by degree level, program type, pathway, or college.">
    <div class="wvu-programs__filter">
      <label for="level">Degree Level</label>
      <div class="wvu-programs__filter-shell">
        <select id="level" name="hepcLevel">
          <option value="" {% if queryParams.hepcLevel == "" %}selected{% endif %}>All Levels</option>
          <option value="bachelor" {% if queryParams.hepcLevel == "bachelor" %}selected{% endif %}>Bachelor’s</option>
          <option value="masters" {% if queryParams.hepcLevel == "masters" %}selected{% endif %}>Master’s</option>
          <option value="doctoral" {% if queryParams.hepcLevel == "doctoral" %}selected{% endif %}>Doctoral</option>
          <option value="doctoralprofessionalpractice" {% if queryParams.hepcLevel == "doctoralprofessionalpractice" %}selected{% endif %}>Doctoral Professional</option>
        </select>
      </div>
    </div>
    <div class="wvu-programs__filter">
      <label for="type">Program Type</label>
      <div class="wvu-programs__filter-shell">
        <select id="type" name="type">
          <option value="" {% if queryParams.type == "" %}selected{% endif %}>All Types</option>
          <option value="certificate" {% if queryParams.type == "certificate" %}selected{% endif %}>Certificate</option>
          <option value="major" {% if queryParams.type == "major" %}selected{% endif %}>Major</option>
          <option value="minor" {% if queryParams.type == "minor" %}selected{% endif %}>Minor</option>
        </select>
      </div>
    </div>
    <div class="wvu-programs__filter">
      <label for="pathway">Career Pathway</label>
      <div class="wvu-programs__filter-shell">
        <select id="pathway" name="pathway">
          <option value="" {% if queryParams.pathway == "" %}selected{% endif %}>All Pathways</option>
          <option value="AGNS" {% if queryParams.pathway == "AGNS" %}selected{% endif %}>Agriculture and Natural Sciences</option>
          <option value="BSS" {% if queryParams.pathway == "BSS" %}selected{% endif %}>Behavioral and Social Sciences</option>
          <option value="BUSCOMM" {% if queryParams.pathway == "BUSCOMM" %}selected{% endif %}>Business and Communications</option>
          <option value="EDUCATION" {% if queryParams.pathway == "EDUCATION" %}selected{% endif %}>Education</option>
          <option value="EXPLORE" {% if queryParams.pathway == "EXPLORE" %}selected{% endif %}>Exploratory</option>
          <option value="HEALTHCARE" {% if queryParams.pathway == "HEALTHCARE" %}selected{% endif %}>Healthcare</option>
          <option value="LAH" {% if queryParams.pathway == "LAH" %}selected{% endif %}>Liberal Arts and Humanities</option>
          <option value="LAW" {% if queryParams.pathway == "LAW" %}selected{% endif %}>Law and Public Policy</option>
          <option value="STEM" {% if queryParams.pathway == "STEM" %}selected{% endif %}>Science, Technology, Engineering and Math (STEM)</option>
          <option value="VPA" {% if queryParams.pathway == "VPA" %}selected{% endif %}>Visual and Performing Arts</option>
          <option value="WCL" {% if queryParams.pathway == "WCL" %}selected{% endif %}>World Cultures and Languages</option>
        </select>
      </div>
    </div>
    <div class="wvu-programs__filter">
      <label for="college">College</label>
      <div class="wvu-programs__filter-shell">
        <select id="college" name="college">
          <option value="" {% if queryParams.college == "" %}selected{% endif %}>All Colleges</option>
          <option value="STATLER" {% if queryParams.college == "STATLER" %}selected{% endif %}>Benjamin M. Statler College of Engineering and Mineral Resources</option>
          <option value="CAHS" {% if queryParams.college == "CAHS" %}selected{% endif %}>College of Applied Human Sciences</option>
          <option value="CCA" {% if queryParams.college == "CCA" %}selected{% endif %}>College of Creative Arts and Media</option>
          <option value="LAW" {% if queryParams.college == "LAW" %}selected{% endif %}>College of Law</option>
          <option value="DAVIS" {% if queryParams.college == "DAVIS" %}selected{% endif %}>Davis College of Agriculture, Natural Resources, and Design</option>
          <option value="EBERLY" {% if queryParams.college == "EBERLY" %}selected{% endif %}>Eberly College of Arts and Sciences</option>
          <option value="BE" {% if queryParams.college == "BE" %}selected{% endif %}>John Chambers College of Business and Economics</option>
          <option value="SOD" {% if queryParams.college == "SOD" %}selected{% endif %}>School of Dentistry</option>
          <option value="SOM" {% if queryParams.college == "SOM" %}selected{% endif %}>School of Medicine</option>
          <option value="SON" {% if queryParams.college == "SON" %}selected{% endif %}>School of Nursing</option>
          <option value="SOP" {% if queryParams.college == "SOP" %}selected{% endif %}>School of Pharmacy</option>
          <option value="SPH" {% if queryParams.college == "SPH" %}selected{% endif %}>School of Public Health</option>
        </select>
      </div>
    </div>
    <div class="wvu-programs__filter">
      <label for="campus">Campus</label>
      <div class="wvu-programs__filter-shell">
        <select id="campus" name="campus">
          <option value="" {% if queryParams.campus == "" %}selected{% endif %}>All Campuses</option>
          <option value="morgantown" {% if queryParams.campus == "morgantown" %}selected{% endif %}>Morgantown</option>
          <option value="beckley" {% if queryParams.campus == "beckley" %}selected{% endif %}>Beckley</option>
          <option value="keyser" {% if queryParams.campus == "keyser" %}selected{% endif %}>Keyser</option>
        </select>
      </div>
    </div>
    <div class="wvu-programs__search-button">
      <label class="form-search__label form-search__label--programs" for="query">
        <span class="form-search__label-text form-search__text--majors">Search Majors</span>
        <input id="query" class="form-search__field form-search__field--programs" name="q" maxlength="256" placeholder="Keyword..." type="search" value="{{queryParams.q}}"  />
      </label>
      <input class="form-search__submit--programs" type="submit" value="Search" />
    </div>
  </form>

</div>

{% if found and queryParams.q is not defined and queryParams.hepcLevel is not defined and queryParams.type is not defined and queryParams.pathway is not defined and queryParams.college is not defined and queryParams.campus is not defined %}
  <h2>All Programs</h2>
{% endif %}
{% if found and (queryParams.q is not defined or queryParams.q == '') and (queryParams.hepcLevel or queryParams.type or queryParams.pathway or queryParams.college or queryParams.campus) %}
  <h2>

    {% if queryParams.type == '' and queryParams.college == '' and queryParams.hepcLevel == '' and queryParams.pathway == '' %}All{% endif %}

    {% if queryParams.campus == "keyser" %}Keyser{% endif %}
    {% if queryParams.campus == "beckley" %}Beckley{% endif %}

    {% if queryParams.hepcLevel == "bachelor" %}Undergraduate{% endif %}
    {% if queryParams.hepcLevel == "masters,doctoral,doctoralprofessionalpractice,doctoralresearch" %}Graduate{% endif %}
    {% if queryParams.hepcLevel == "masters" %}Master’s{% endif %}
    {% if queryParams.hepcLevel == "doctoral" %}Doctoral{% endif %}
    {% if queryParams.hepcLevel == "doctoralresearch" %}Doctoral Research{% endif %}
    {% if queryParams.hepcLevel == "doctoralprofessionalpractice" %}Doctoral Professional{% endif %}

    {% if queryParams.type == '' and (queryParams.college != '' or queryParams.hepcLevel != '' or queryParams.pathway != '' or queryParams.campus != '') %}Programs{% endif %}
    {% if queryParams.type == "certificate" %}Certificates{% endif %}
    {% if queryParams.type == "major" %}Majors{% endif %}
    {% if queryParams.type == "minor" %}Minors{% endif %}

    {% if queryParams.campus != "beckley" and queryParams.campus != "keyser" %}

      {% if queryParams.college is defined and queryParams.college != '' %} / <br>{% endif %}

      {% if queryParams.college == "DAVIS" %}Davis College of Agriculture, Natural Resources, and Design{% endif %}
      {% if queryParams.college == "EBERLY" %}Eberly College of Arts and Sciences{% endif %}
      {% if queryParams.college == "BE" %}John Chambers College of Business and Economics{% endif %}
      {% if queryParams.college == "CAHS" %}College of Applied Human Sciences{% endif %}
      {% if queryParams.college == "CCA" %}College of Creative Arts and Media{% endif %}
      {% if queryParams.college == "SOD" %}School of Dentistry{% endif %}
      {% if queryParams.college == "STATLER" %}Benjamin M. Statler College of Engineering and Mineral Resources{% endif %}
      {% if queryParams.college == "LAW" %}College of Law{% endif %}
      {% if queryParams.college == "SOM" %}School of Medicine{% endif %}
      {% if queryParams.college == "SON" %}School of Nursing{% endif %}
      {% if queryParams.college == "SOP" %}School of Pharmacy{% endif %}
      {% if queryParams.college == "SPH" %}School of Public Health{% endif %}

      {% if queryParams.pathway is defined and queryParams.pathway != '' %} / <br>{% endif %}

      {% if queryParams.pathway == "AGNS" %}Agriculture and Natural Sciences{% endif %}
      {% if queryParams.pathway == "BSS" %}Behavioral and Social Sciences{% endif %}
      {% if queryParams.pathway == "BUSCOMM" %}Business and Communications{% endif %}
      {% if queryParams.pathway == "EDUCATION" %}Education{% endif %}
      {% if queryParams.pathway == "EXPLORE" %}Exploratory{% endif %}
      {% if queryParams.pathway == "HEALTHCARE" %}Healthcare{% endif %}
      {% if queryParams.pathway == "LAH" %}Liberal Arts and Humanities{% endif %}
      {% if queryParams.pathway == "LAW" %}Law and Public Policy{% endif %}
      {% if queryParams.pathway == "STEM" %}Science, Technology, Engineering and Math (STEM){% endif %}
      {% if queryParams.pathway == "VPA" %}Visual and Performing Arts{% endif %}
      {% if queryParams.pathway == "WCL" %}World Cultures and Languages{% endif %}
      {% if queryParams.pathway is defined and queryParams.pathway != '' %} Pathway<br>{% endif %}

    {% endif %}

  </h2>
{% endif %}

{% if found %}
  <p>Search found {{found}} matches{%if (queryParams.q is not defined or queryParams.q == '') %}.{%endif%} {%if queryParams.q %} for keyword: <strong>{{ queryParams.q }}</strong>. {% endif %}</p>
{% endif %}

{% if (queryParams.q or queryParams.hepcLevel or queryParams.type or queryParams.pathway or queryParams.college) %}
  {% if not found %}
    <div class="wvu-not-found">
      <h2>No Results Found</h2>
      <p>Please try adjusting the filters and search query parameters</p>
    </div>
  {% endif %}
{% endif %}

{% if currentBlock.displayTitle %}
  <div class="wvu-featurettes__header">
    <h2>{{ currentBlock.displayTitle }}</h2>
  </div>
{% endif %}

{% if currentBlock.lede or currentBlock.ledeLong %}
  <div class="wvu-lede-text" style="background-color: inherit; text-align: center; padding-top: 0;">
    {% if currentBlock.lede %}
      <p>{{ currentBlock.lede|raw }}</p>
    {% else %}
      {{ currentBlock.ledeLong|raw }}
    {% endif %}
  </div>
{% endif %}


<div class="wvu-programs__programs">
  {% for program in programs %}
    {% for deliveryOption in program.courseDeliveryOptions %}{% if deliveryOption == "Online" %} {% set onlineCourse = true %}{% endif %}{% endfor %}
    <div class="wvu-programs__program grid-item {{ program.divisionalCampus.campusName | replace ({' ': "-", '.': '', ',': ""}) | lower }} {{ program.collegeOrSchool.title | replace ({' ': "-", '.': '',  ',': ""}) | lower}}">
      <div class="wvu-programs__program-header {% if program.description %}more{% endif %}">
        <h3>
          {% if program.expandedTitle %}
            {{ program.expandedTitle }}
          {% elseif program.alternateTitle %}
            {{ program.alternateTitle }}
          {% else %}
            {{ program.title }}
          {% endif %}
          {% if program.title == "Multidisciplinary Studies" %} ({{ program.collegeOrSchool.title }}){% endif %}
        </h3>

        <p class="helvetica-neue-light"><!-- original -> class="wvu-programs__meta-info"-->
          {% if program.type.title == "Minor" or program.type.title == "Certificate" %}
            {{ program.type.title }}
          {% else %}
            {{ program.hepcLevel.title }}
          {% endif %}
          {% if onlineCourse == true %}
             / Online
          {% else %}
            / {{program.divisionalCampus.campusNameShort}} Campus
          {% endif %}
        </p>

      </div>

      {% if program.descriptionTeaser %}
        {{ program.descriptionTeaser|raw }}
      {% else %}
        {{ program.description | split('</p>') | first | raw }}</p>
      {% endif %}

      {% if program.combinedProgramFocuses is defined and program.combinedProgramFocuses[0].title is defined and program.title != "Regents Bachelor of Arts" %}
          <p>Tailor this major to your interests by taking courses in one of these areas:</p>
          <ul style="margin-bottom: 30px; margin-left: -10px;">
            {% for combinedProgramFocus in program.combinedProgramFocuses %}
              <li style="padding-left: 20px; background: url('https://admissions.wvu.edu/images/diagonal-gold.svg') no-repeat left 1px; background-size: 15px; list-style-type: none;"> {{combinedProgramFocus.title}}</li>
            {% endfor %}
          </ul>
      {% endif %}

      {% if currentBlock.queryParams.dev %}
        <a href="/academics/programs/{{ program.slug }}" class="button button--accent-light-blue-fill">View Major Information<span class="u-wvu-visually-hidden">: {{program.title}} {{ program.hepcLevel.title }} {% if program.title == "Multidisciplinary Studies" %} ({{ program.collegeOrSchool.title }}){% endif %} {% if onlineCourse == true %} (Online){% endif %}</span></a> <br>
      {% elseif program.webAddressAdmissions %}
        <a href="{{program.webAddressAdmissions}}" class="button button--accent-light-blue-fill">View Major Information<span class="u-wvu-visually-hidden">: {{program.title}} {{ program.hepcLevel.title }} {% if program.title == "Multidisciplinary Studies" %} ({{ program.collegeOrSchool.title }}){% endif %} {% if onlineCourse == true %} (Online){% endif %}</span></a>
      {% else %}
        <a href="{{program.collegeOrSchool.webAddress}}" class="button button--neutral-light-gray-fill">Visit College Website<span class="u-wvu-visually-hidden">: {{program.collegeOrSchool.title}}</span></a>
      {% endif %}

      {% if program.webAddressCourseCatalog %}
        <a href="{{program.webAddressCourseCatalog}}" class="button button--accent-light-green-fill">View Plan of Study<span class="u-wvu-visually-hidden">: {{program.title}} {% if program.type.title == "Minor" or program.type.title == "Certificate" %}{{ program.type.title }}{% else %}{{ program.hepcLevel.title }}{% endif %} {% if program.title == "Multidisciplinary Studies" %} ({{ program.collegeOrSchool.title }}){% endif %} {% if onlineCourse == true %} (Online){% endif %}</span></a>
      {% endif %}

      {% if program.relatedMajors is defined and program.type.title == "Minor" %}
        <p class="wvu-programs__meta-info">
          {% if program.relatedMajors.length > 1 %}
            Related majors:
          {% else %}
            Related major:
          {% endif %}
        </p>
        <ul>
          {% for relatedMajor in program.relatedMajors %}
            <li>
              {% if relatedMajor.webAddressAdmissions %}
                <a href="{{relatedMajor.webAddressAdmissions}}">{{relatedMajor.title}}</a>
              {% else %}
                <a href="{{relatedMajor.collegeOrSchool.webAddress}}">{{relatedMajor.title}}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>
  {% endfor %}
</div>
