
<div class="row">
<div class="col-md-3 mb-4">
  {% include('blocks/programs/card-layout--v2/filter.html') %}
</div>
<div class="col-md-9">
  <div id="container" class="grid clearfix" style="margin-right: -1.5em;">






    {% if found %}
      <p>Search found {{found}} matches{%if (queryParams.q is not defined or queryParams.q == '') %}.{%endif%} {%if queryParams.q %} for keyword: <strong>{{ queryParams.q }}</strong>. {% endif %}</p>
    {% endif %}

    {% if (queryParams.q or queryParams.hepcLevel or queryParams.type or queryParams.pathway or queryParams.college) %}
      {% if not found %}
        <div class="wvu-not-found">
          <h2>No Results Found</h2>
          <p>Please try adjusting the filters and search query parameters</p>
        </div>
      {% endif %}
    {% endif %}

    {# remove the |slice(0, 10) to see how bad the listing is #}
    {% for program in programs|slice(0, 10) %}
      {% include('blocks/programs/card-layout--v2/item.html') %}
    {% endfor %}




  <!-- Pagination -->
  <!-- (trying a new style) -->

        <nav aria-label="Page navigation" >
          <ul class="pagination shadow-sm mt-1 mb-0" style="background-color:white;">

            <li class="page-item disabled go-back"><a class="page-link" href="#" rel="next">
                <span class="fa-solid fa-arrow-left" aria-hidden="true"></span>
                <span class="sr-only">Go back</span>
            </a>
            </li>

            <li class="page-item active"><a class="page-link" href="#">1<span class="sr-only">(current)</span></a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>

             <li class="page-item go-forward"><a class="page-link" href="#" rel="prev">
               <span class="fa-solid fa-arrow-right" aria-hidden="true"></span>
               <span class="sr-only">Go back</span>
             </a>
             </li>


          </ul>
        </nav>






  </div> <!-- #container -->
</div>
</div>





<style>

.pl-list {
  padding-left:0;
  margin-top:10px;
}
.pl-list li {
  margin-bottom:3px;
    margin-top:3px;
}
.btn-group-vertical a:visited {
  color: #212529;
}

#options legend {
  font-weight:600;
}

#options input {
  margin-right: 2px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-group>.form-control, .input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}


.input-group .btn {
    position: relative;
    z-index: 2;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group .btn {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #002855;
    background-color: #fff;
    text-decoration:none;
    padding-right:20px;
    padding-left:20px;
    padding-top:15px;
    padding-bottom:15px;
}

.page-link:hover {
    color: #002855;
    text-decoration:none;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 3px;
    display: inline-block;
    margin-top:0;
}

.pagination li {
  float:left;
  margin:0;
}

.pagination a:hover {
  background-color:#e2e6ea;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

</style>
