<style>
  ul.wvu-slashes--quicklist-programs li {
    font-size: 1.2em !important;
    background-position: top 4px left 14px;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 1.75em;
    margin-bottom: 0.5em;
    font-size: 1em;
  }
  ul.wvu-slashes--quicklist-programs li {
    text-decoration: underline;
  }
  div.wvu-quicklinks__header {
    font-size: 1.15em;
  }
</style>

<div class="wvu-quicklinks__header">
  <h3>
    {{ currentBlock.displayTitle }}
  </h3>
  {% if currentBlock.description %} {{ currentBlock.description|raw }} {% endif %}
</div>
<div class="wvu-quicklinks__links wvu-quicklinks-2-col ">

  <ul class="wvu-quicklinks__ul--general wvu-slashes wvu-slashes--quicklist-programs with-padding">

    {% for program in programs %}

      {% set onlineCourse = false %}
      {% for deliveryOption in program.courseDeliveryOptions %}{% if deliveryOption == "Online" %} {% set onlineCourse = true %}{% endif %}{% endfor %}
      {% set programTitle = program.title %}

      {% if program.expandedTitle %}
        {% set programTitle = program.expandedTitle %}
      {% elseif program.alternateTitle %}
        {% set programTitle = program.alternateTitle %}
      {% endif %}

      {% set majorLink = false %}
      {% if program.webAddressAdmissions %}
        {% set majorLink = true %}
      {% endif %}

      {% if 'Ohio Reciprocity' in program.extraOptions and 'Show Only Ohio Reciprocity Majors' in currentBlock.extraOptions %}
        <li> {% if majorLink %}<a href="{{ program.webAddressAdmissions }}">{% endif %}{{ programTitle }}{% if program.title == "Multidisciplinary Studies" %} ({{ program.collegeOrSchool.title }}){% endif %}{% if onlineCourse == true %} (Online){% endif %}{% if majorLink %}</a>{% endif %}</li>
      {% elseif 'Show Only Ohio Reciprocity Majors' not in currentBlock.extraOptions %}
        <li {% if majorLink == false %}style="text-decoration: none"{% endif %}> {% if majorLink %}<a href="{{ program.webAddressAdmissions }}">{% endif %}{{ programTitle }}{% if program.title == "Multidisciplinary Studies" %} ({{ program.collegeOrSchool.title }}){% endif %}{% if onlineCourse == true %} (Online){% endif %}{% if majorLink %}</a>{% endif %}</li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
