{% set classesForButton = 'btn-sm btn-outline-white' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

{% set classesForDisplayName = 'h1 wvu-shout text-wvu-gold' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForDescription = 'lead fs-5' %}
{% if currentBlock.classesForDescription %}
  {% set classesForDescription = currentBlock.classesForDescription %}
{% endif %}

<div class="row mx-auto" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}--inner"{% endif %}>

  <div class="col-lg-9 pe-lg-3 p-0 text-start">
    {% if 'Use YouTube Embed' in currentBlock.extraOptions %}
      <div class="ratio ratio-16x9">
        <iframe title="{{ currentBlock.videoTitle }}" src="https://www.youtube.com/embed/{{ currentBlock.video.videoID }}?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>
    {% elseif 'Is a Playlist' in currentBlock.video.extraOptions %}
      <lite-youtube playlistid="{{ currentBlock.video.videoID }}" style="background-image: url('https://i.ytimg.com/vi/{{ currentBlock.video.videoID }}/maxresdefault.jpg');">
        <button type="button" class="lty-playbtn">
          <span class="u-wvu-visually-hidden">Play Video: {{ currentBlock.videoTitle }}</span>
        </button>
      </lite-youtube>
    {% else %}
      <lite-youtube videoid="{{ currentBlock.video.videoID }}" style="background-image: url('https://i.ytimg.com/vi/{{ currentBlock.video.videoID }}/maxresdefault.jpg');">
        <button type="button" class="lty-playbtn">
          <span class="visually-hidden">Play Video: {{ currentBlock.videoTitle }}</span>
        </button>
      </lite-youtube>
    {% endif %}

    <div class="{{ classesForDescription }} mt-3">
      {% if currentBlock.description %}
        {{ currentBlock.description|raw }}
      {% else %}
        {{ currentBlock.video.description|raw }}
      {% endif %}
    </div>

    {% if 'Add Watch on YouTube Link' in currentBlock.extraOptions %}
      <p class="pb-3"><a href="https://youtu.be/{{ currentBlock.video.videoID }}" class="btn {{ classesForButton }}">Watch on YouTube <span class="fa-brands fa-youtube"></span></a></p>
    {% endif %}

  </div>

  <div class="inquiry-form col-md-5 col-lg-3 mx-auto">

    <h2 id="{{ ariaLabelledById }}" class="{{ classesForDisplayName }}">{{ currentBlock.inquiryFormSectionTitle|raw }}</h2>

    {% if currentBlock.inquiryFormSectionDescription %}
      <p class="{{ classesForDescription }}">
        {{ currentBlock.inquiryFormSectionDescription|raw }}
      </p>
    {% endif %}

    {% set formURL = 'https://wvu.tfaforms.net/rest/forms/view/'~currentBlock.inquiryFormID %}
    {{ fetch(formURL)|raw }}

  </div>

</div>
