{% set fullWidthVideoClass = 'col-md-8 mb-3 mb-md-0' %}
{% if 'Full-width Video' in currentBlock.extraOptions %}
  {% set fullWidthVideoClass = 'col-md-12 mb-3' %}
{% endif %}

{% set classesForButton = 'btn-sm btn-outline-white' %}
{% if currentBlock.classesForButton %}
  {% set classesForButton = currentBlock.classesForButton %}
{% endif %}

{% set classesForDisplayName = 'h1 wvu-shout text-wvu-gold' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set classesForDescription = 'fs-5' %}
{% if currentBlock.classesForDescription %}
  {% set classesForDescription = currentBlock.classesForDescription %}
{% endif %}

<div class="row mx-auto" {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}--inner"{% endif %}>

  <div class="{{ fullWidthVideoClass }} mx-auto">
    {% if 'Use YouTube Embed' in currentBlock.extraOptions %}
      <div class="ratio ratio-16x9">
        <iframe title="{{ currentBlock.videoTitle }}" src="https://www.youtube.com/embed/{{ currentBlock.video.videoID }}?rel=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    {% elseif 'Is a Playlist' in currentBlock.video.extraOptions %}
      <lite-youtube playlistid="{{ currentBlock.video.videoID }}" style="background-image: url('https://i.ytimg.com/vi/{{ currentBlock.video.videoID }}/hqdefault.jpg');">
        <button type="button" class="lty-playbtn">
          <span class="visually-hidden">Play Video: {{ currentBlock.videoTitle }}</span>
        </button>
      </lite-youtube>
    {% else %}
      <lite-youtube videoid="{{ currentBlock.video.videoID }}" style="background-image: url('https://i.ytimg.com/vi/{{ currentBlock.video.videoID }}/hqdefault.jpg');">
        <button type="button" class="lty-playbtn">
          <span class="visually-hidden">Play Video: {{ currentBlock.videoTitle }}</span>
        </button>
      </lite-youtube>
    {% endif %}
  </div>

  <div class="col-md text-start">

    <div>
      {% if 'Hide Video Title' not in currentBlock.extraOptions %}
        {% if currentBlock.videoTitle or currentBlock.video.title %}
          <h2 id="{{ ariaLabelledById }}" class="{{ classesForDisplayName }}">
            {% if currentBlock.videoTitle %}{{ currentBlock.videoTitle }}{% else %}{{ currentBlock.video.title }}{% endif %}
          </h2>
        {% endif %}
      {% endif %}

      <div class="{{ classesForDescription }}">
        {% if currentBlock.description %}
          {{ currentBlock.description|raw }}
        {% else %}
          {{ currentBlock.video.description|raw }}
        {% endif %}
      </div>

      {% if 'Add Watch on YouTube Link' in currentBlock.extraOptions %}
        <p><a href="https://youtu.be/{{ currentBlock.video.videoID }}" class="btn {{ classesForButton }}">Watch on YouTube <span class="fa-brands fa-youtube"></span></a></p>
      {% endif %}
    </div>

  </div>
</div>