<div class="wvu-backpage-header wvu-backpage-header--about-wvu">

  <p class="u-wvu-visually-hidden">Background Image for Header: </p>

  {% include('patterns/wvu-breadcrumbs.html') %}

  <div class="wvu-container">

    <h1><span>{{ contentful.title }}</span></h1>

    <div class="wvu-backpage-header__values">

      <div class="wvu-backpage-header__value">
        <h2>Service</h2>
        <p>We seek opportunities to serve others and are committed to providing the highest quality of service.</p>
      </div>

      <div class="wvu-backpage-header__value">
        <h2>Curiosity</h2>
        <p>We ask questions, seek new opportunities and change through innovation.</p>
      </div>

      <div class="wvu-backpage-header__value">
        <h2>Respect</h2>
        <p>We are respectful, transparent and inclusive with each other.</p>
      </div>

      <div class="wvu-backpage-header__value">
        <h2>Accountability</h2>
        <p>We perform at our very best every day to create a University that is responsive, efficient and effective.</p>
      </div>

      <div class="wvu-backpage-header__value">
        <h2>Appreciation</h2>
        <p>We support and value each other’s contributions as we build a community that is One WVU.</p>
      </div>

    </div>

  </div>

</div>
