{% block masthead %}

  <header class="wvu-masthead">

    {% if 'Hide Emergency Banner' not in contentful.site.extraOptions and 'Hide Emergency Banner' not in contentful.extraOptions %}
      {{ include('patterns/wvu-emergency.html') }}
    {% endif %}

    <a class="wvu-skip-nav" href="#wvu-main">
      Skip to main content
    </a>

    <div class="wvu-container">

      {% set mastheadLogo = '' %}
      {% set mastheadLogoWebAddress = '/' %}
      {% set mastheadTitle = 'West Virginia University' %}
      {% set searchWebAddress = 'www.wvu.edu' %}
      {% if contentful.site.mastheadLogo %}
        {% set mastheadLogo = "background-image: url(#{contentful.site.mastheadLogo.file.url})" %}
        {% set mastheadLogoWebAddress = contentful.site.mastheadLogoWebAddress %}
        {% set mastheadTitle = contentful.site.displayTitle %}
        {% set searchWebAddress = contentful.site.mastheadLogoWebAddress %}
      {% endif %}
      <a class="wvu-masthead__logo {{ contentful.site.mastheadLogoClass }}" href="{{ mastheadLogoWebAddress|raw }}" style="{{ mastheadLogo|raw }}">
        {{ mastheadTitle|raw }}
      </a>

      <div class="wvu-masthead__utility-nav">
        <a href="/SiteIndex" class="wvu-masthead__link">A-Z Index</a> <a href="https://cal.wvu.edu" class="wvu-masthead__link">Calendar</a> <a href="https://directory.wvu.edu/" class="wvu-masthead__link">Directory</a> <!--<a href="https://campusmap.wvu.edu/" class="wvu-masthead__link">Maps</a>--> <a href="https://portal.wvu.edu/" class="wvu-masthead__link">Portal</a> <a href="https://wvu.bncollege.com" class="wvu-masthead__link">Shop</a>


          <div class="wvu-masthead__search-bar">
            <div class="wvu-masthead__search-and-submit">
              <form class="form-search" action="//search.wvu.edu/search" method="get" aria-label="Search this site or all WVU sites">

                <label class="form-search__label" for="q">
                  <span class="form-search__label-text">Search</span>
                  <input id="q" class="form-search__field" name="q" maxlength="256" placeholder="Search WVU" type="search" />
                </label>

                <input id="sort" name="sort" type="hidden" value="date:D:L:d1" />
                <input id="output" name="output" type="hidden" value="xml_no_dtd" />
                <input id="ie" name="ie" type="hidden" value="UTF-8" />
                <input id="oe" name="oe" type="hidden" value="UTF-8" />
                <input id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend" />
                <input id="client" name="client" type="hidden" value="default_frontend" />
                <input class="form-search__submit" name="btnG" type="submit" value="Search" />

                <div class="form-search__search-type">
                  <fieldset>
                    <legend>
                      Would you like to search all WVU websites, or just this site specifically?
                    </legend>
                    <div class="wvu-input-container">
                      <input id="form-search__wvusearch" type="radio" name="as_sitesearch" value="wvu.edu" {% if 'Turn On Site Search' not in contentful.site.extraOptions %}checked="checked"{% endif %} />
                      <label for="form-search__wvusearch">Search WVU</label>
                    </div>
                    <div class="wvu-input-container">
                      <input id="form-search__sitesearch" type="radio" name="as_sitesearch" value="{{ searchWebAddress }}" {% if 'Turn On Site Search' in contentful.site.extraOptions %}checked="checked"{% endif %} />
                      <label for="form-search__sitesearch">Search this site</label>
                    </div>
                  </fieldset>
                </div>

              </form>
            </div>
          </div>

      </div>
    </div>

  </header>

{% endblock %}
