<div class="wvu-quicklinks wvu-gold-pattern background">
  <div class="wvu-container">
    <div class="wvu-quicklinks__header">
      <h3>
        Quicklnks
      </h3>
      <p><a href="">Optional link</a></p>
    </div>
    <div class="wvu-quicklinks__links">
      <ul>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
      </ul>
      <h4>Category</h4>
      <ul>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
      </ul>
      <h4>Category</h4>
      <ul>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
        <li><a href="">Quicklink</a></li>
      </ul>
    </div>
  </div>
</div>
