
<div class="col-xl ml-xl-3">
  <div class="mb-2 text-left">
    <div class="row">
      <div class="col-12 col-lg-6 ml-auto mt-2 mr-lg-n4">
        <img alt="" src="https://images.ctfassets.net/udw4veezvy46/325ijr1hIMlPwWfZxI5Iok/ed373a595bb89c1c18796903766b07c9/pathways-header-w-preview.jpg?&q=60&fm=avif&w=1600">
      </div>
      <div class="col-12 col-lg-6 mt-lg-4 text-center">
        <div class="pt-1 bg-wvu-gold shadow">
          <div class="pl-4 pt-3 pr-4 pb-3 mb-3 bg-light">
            <p class="rounded-circle h2 bg-wvu-accent--blue text-white d-inline-block align-middle mt-n5 p-3">
              <i class="fa-regular fa-file-import"></i>
            </p>
            <h2 class="display-4 wvu-shout text-wvu-accent--red">Tell us about yourself.</h2>
            <p class="iowan-old-style-italic h2 text-wvu-accent--burnt-orange">Tell us about yourself</p>

            <a class="btn btn-primary" href="#">Download the things</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
