<div class="wvu-events-and-news">
  <div class="wvu-container">

    <div class="wvu-events-and-news__events">

      <div class="wvu-events-and-news__header">
        <h3>Events</h3> <a href="https://cal.wvu.edu/">Full Calendar</a>
      </div>

      <div class="wvu-calendar-widget">

        <div class="wvu-calendar-widget__feed">

          {% if calendar.cache.hit %}
            <!-- Calendar Cache Hit {{ calendar.cache.time }} -->
          {% else %}
            <!-- Calendar Cache No hit {{ calendar.cache.time }} -->
          {% endif %}

          <ul class="wvu-events-and-news__events-calendar wvu-calendar">
            {% for item in calendar.content %}
              <li class="calEvent">
                <span class="date eventDate" id="wvu-cal__event--{{loop.index}}">
                  <span class="date-month eventMonth">{{ item.event.start_datetime_formatted_short|date("M") }}</span>
                  <span class="date-day eventDay">{{ item.event.start_datetime_formatted_short|date('d') }}</span>
                </span>
                <span class="event eventInfo">
                  <span class="eventTime">
                    {% if item.event.event_instances[0].event_instance.all_day == false %}
                      {{ item.event.start_datetime_formatted_long|date("g:i A") }}
                    {% else %}
                      <span class="date-all-day">All Day</span>
                    {% endif %}
                  </span>
                  <span class="eventName">
                    <a href="{{ item.event.localist_url }}" id="wvu-event--{{loop.index}}" aria-labelledby="wvu-cal__event--{{loop.index}} wvu-event--{{loop.index}}">{{ item.event.title }}</a>
                  </span>
                </span>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>

    </div>

    <div class="wvu-events-and-news__news">

      {% include('patterns/wvu-news.html') %}

    </div>

  </div>
</div> <!-- end wvu-events-and-news -->
