<div class="mm-years__semester {% if hasSummer == 'true' %}mm-years__semester--3{% endif %}"> <!-- to add a 3rd semester add a . modifier to each of these sections -->
  <h5>{{ semester }}</h5>
  <ul>
    {% set creditHoursSum = 0 %}
    {% for planOfStudyEntry in planOfStudyEntries %}
      <li>

        {# a plan of study course listing #}
        {% if planOfStudyEntry.contentfulContentType == 'planOfStudyCourses' %}
          <div class="mm-years__course-name">
            <a href="https://www.wvu.edu/academics/courses/{{ planOfStudyEntry.course.courseSubject }}{{ planOfStudyEntry.course.courseNumber }}" class="courseLink"><span class="mm-years__class">{{ planOfStudyEntry.course.courseSubjectAndNumber }}</span> {{ planOfStudyEntry.course.title }}</a>
            {% if planOfStudyEntry.course.criticalCourse is defined and planOfStudyEntry.course.criticalCourse == 'true' %}<img src="/images/icon-critical.svg" alt="Exclamation Point" />{% endif %}
            {% if planOfStudyEntry.successMarkerGrade is defined and 'A' in planOfStudyEntry.successMarkerGrade %}<img src="/images/icon-a.svg" alt="An A in this course suggests you'll successfully complete this major." />{% endif %}
            {% if planOfStudyEntry.successMarkerGrade is defined and 'B' in planOfStudyEntry.successMarkerGrade %}<img src="/images/icon-b.svg" alt="A B in this course suggests you'll successfully complete this major." />{% endif %}
            {% if planOfStudyEntry.successMarkerGrade is defined and 'C' in planOfStudyEntry.successMarkerGrade %}<img src="/images/icon-c.svg" alt="A C in this course suggests you'll successfully complete this major." />{% endif %}
          </div>
          <span class="mm-years__hours">{% if planOfStudyEntry.course.creditHours is defined %}{{ planOfStudyEntry.course.creditHours }}{% set creditHoursSum = creditHoursSum + planOfStudyEntry.course.creditHours %}{% endif %}{% if planOfStudyEntry.course.creditHours is not defined %}-{% endif %}</span>
        {% endif %}

        {# a plan of study elective listing #}
        {% if planOfStudyEntry.contentfulContentType == 'planOfStudyElectiveListings' %}
          <div class="mm-years__course-name">
            {{ planOfStudyEntry.displayTitle }}
          </div>
          <span class="mm-years__hours">{% if planOfStudyEntry.creditHours is defined %}{{ planOfStudyEntry.creditHours }}{% set creditHoursSum = creditHoursSum + planOfStudyEntry.creditHours %}{% endif %}{% if planOfStudyEntry.creditHours is not defined %}-{% endif %}</span>
        {% endif %}

        {# a plan of study course cluster listing #}
        {% if planOfStudyEntry.contentfulContentType == 'planOfStudyCourseClusters' %}
          <div class="mm-years__course-cluster-header">
            <div class="mm-years__course-name">
              Select one of the following courses:
            </div>
            <span class="mm-years__hours">{% if planOfStudyEntry.creditHours is defined %}{{ planOfStudyEntry.creditHours }}{% set creditHoursSum = creditHoursSum + planOfStudyEntry.creditHours %}{% endif %}{% if planOfStudyEntry.creditHours is not defined %}-{% endif %}</span>
          </div>
          <div class="mm-years__course-cluster">
            {% for course in planOfStudyEntry.courses %}
              <span class="mm-years__class">{{ course.courseSubjectAndNumber }}</span> {{ course.title }}{% if not loop.last %} or <br>{% endif %}
            {% endfor %}
            <br />
          </div>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
  <div class="mm-years__total-hours">
    {{ creditHoursSum }}
  </div>
</div>
