<section id="{% if key starts with 'firstYear' %}section-0{% endif %}{% if key starts with 'secondYear' %}section-1{% endif %}{% if key starts with 'thirdYear' %}section-2{% endif %}{% if key starts with 'fourthYear' %}section-3{% endif %}{% if key starts with 'fifthYear' %}section-4{% endif %}" class="mm-years__year tab-panel">

  <div class="mm-years__category">
    <h4 class="mm-years__h4--academics">Academics</h4>

    {% for key,planOfStudy in yearContent.plansOfStudy %}

      {% set hide = 'false' %}
      {% if not loop.first %}
        {% set hide = 'true' %}
      {% endif %}

      <div class="mm-years__schedule mm-years__schedule-{{yearKey}} {{key}} {% if hide == 'true' %}u-wvu-visually-hidden{% endif %}">

        {% set hasSummer = 'false' %}
        {% if 'summer' in planOfStudy|keys %}
          {% set hasSummer = 'true' %}
        {% endif %}

        {% include 'patterns/wvu-major-map-plan-of-study-semester-listing.html' with { 'semester': 'Fall', 'summer': hasSummer, 'planOfStudyEntries': planOfStudy.fall } %}

        {% if planOfStudy.spring|length > 0 %}
          {% include 'patterns/wvu-major-map-plan-of-study-semester-listing.html' with { 'semester': 'Spring', 'summer': hasSummer, 'planOfStudyEntries': planOfStudy.spring } %}
        {% endif %}

        {% if hasSummer == 'true' %}
          {% include 'patterns/wvu-major-map-plan-of-study-semester-listing.html' with { 'semester': 'Summer', 'summer': hasSummer, 'planOfStudyEntries': planOfStudy.summer } %}
        {% endif %}

      </div>

    {% endfor %}

    <div class="mm-years__legend">
      <img src="/images/icon-critical.svg" alt="Exclamation Point" /> Critical Course <img class="mm-years__a" src="/images/icon-a.svg" alt="A Icon" />&nbsp;<img src="/images/icon-b.svg" alt="B Icon" />&nbsp;<img src="/images/icon-c.svg" alt="C Icon" /> Success marker (try to get the grade indicated)
      <br /><br />
      <span style="font-style: italic; text-transform: none;">This plan of study is for the 2017-18 academic year. Official plans of study are in the <a href='http://catalog.wvu.edu/undergraduate/' style='color: #0033A0'>undergraduate course catalog</a> (see <a href='http://catalog.wvu.edu/archivedcatalog/' style='color: #0033A0'>archived catalogs</a> for previous years).</span>
    </div>
    <ul class="ul--slashes mm-years__ul--academics">
      {% for academicEntry in yearContent.academics %}
        <li>{{ academicEntry.title }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="mm-years__categories">
    <div class="mm-years__category">
      <h4 class="mm-years__h4--the-mountaineer-experience">The Mountaineer Experience</h4>
      <p>
        Clubs, sports and leadership roles will make your résumé standout. We'll help you find the right ones for your goals. During your {{ yearContent.yearText }} year you should:
      </p>
      <ul class="ul--slashes">
        {% for mountainerExperienceEntry in yearContent.theMountaineerExperience %}
          <li>{{ mountainerExperienceEntry.title }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="mm-years__category">
      <h4 class="mm-years__h4--civic-cultural-and-global-engagement">Civic, Cultural and Global Engagement</h4>
      <p>
        You're a citizen of the world, and your potential is endless with study abroad, volunteering and other experiences to add to your résumé. During your {{ yearContent.yearText }} year you should:
      </p>
      <ul class="ul--slashes">
        {% for civicCulturalGlobalEngagementEntry in yearContent.civicCulturalGlobalEngagement %}
          <li>{{ civicCulturalGlobalEngagementEntry.title }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="mm-years__category">
      <h4 class="mm-years__h4--health-and-wellness">Health and Wellness</h4>
      <p>
        Eating right, staying well and working toward your fitness goals will keep you on track. During your {{ yearContent.yearText }} year you should:
      </p>
      <ul class="ul--slashes">
        {% for healthAndWellnessEntry in yearContent.healthAndWellness %}
          <li>{{ healthAndWellnessEntry.title }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="mm-years__category">
      <h4 class="mm-years__h4--career-and-professional-development">Career and Professional Development</h4>
      <p>
        You'll be prepared for internships, competitions and conferences — where you’ll make connections and gain vital experience to land the big offer. During your {{ yearContent.yearText }} year you should:
      </p>
      <ul class="ul--slashes">
        {% for careerAndProfessionalDevelopmentEntry in yearContent.careerAndProfessionalDevelopment %}
          <li>{{ careerAndProfessionalDevelopmentEntry.title }}</li>
        {% endfor %}
      </ul>
    </div> <!-- end .mm-years__category -->
  </div> <!-- end .mm-years__categories -->
</section> <!-- end .mm-years__year -->
