<div class="wvu-video wvu-blue background">
  <div class="wvu-container">

    <div class="wvu-video__video-and-description">

      <div class="wvu-video__video">
        <div class="u-wvu-embed-container">
          <iframe src="https://www.youtube.com/embed/p8cr9RYEHTA" title="Mountaineers Go First" allowfullscreen></iframe>
        </div>
      </div>

      <div class="wvu-video__description">

        <h2 class="wvu-shout">Mountaineers <br><span class="wvu-gold">Go First</span></h2>

        <p>At WVU, going first is in our blood. We’re bold enough for big ideas — and determined to launch them.</p>

      </div>

    </div>

  </div>
</div>
