<div class="wvu-polyptych wvu-polyptych--diptych background">
  <div class="wvu-container">

    <div class="wvu-polyptych__panels">

      <div class="wvu-polyptych__panel">

        <div class="wvu-polyptych__photo">
          <img src="http://placehold.it/960x640">
        </div>

        <div class="wvu-polyptych__copy">

          <h3>Headline Goes Here</h3>
          <p>Short description goes here. Do not put links here. Only one short paragraph.</p>

        </div>

      </div> <!-- end wvu-polyptych__panel -->

      <div class="wvu-polyptych__panel">

        <div class="wvu-polyptych__photo">
          <img src="http://placehold.it/960x640">
        </div>

        <div class="wvu-polyptych__copy">

          <h3>Headline Goes Here</h3>
          <p>Short description goes here. Do not put links here. Only one short paragraph.</p>

        </div>

      </div> <!-- end wvu-polyptych__panel -->

      <div class="wvu-polyptych__panel">

        <div class="wvu-polyptych__photo">
          <img src="http://placehold.it/960x640">
        </div>

        <div class="wvu-polyptych__copy">

          <h3>Headline Goes Here</h3>
          <p>Short description goes here. Do not put links here. Only one short paragraph.</p>

        </div>

      </div> <!-- end wvu-polyptych__panel -->

      <div class="wvu-polyptych__panel">

        <div class="wvu-polyptych__photo">
          <img src="http://placehold.it/960x640">
        </div>

        <div class="wvu-polyptych__copy">

          <h3>Headline Goes Here</h3>
          <p>Short description goes here. Do not put links here. Only one short paragraph.</p>

        </div>

      </div> <!-- end wvu-polyptych__panel -->

      <div class="wvu-polyptych__panel">

        <div class="wvu-polyptych__photo">
          <img src="http://placehold.it/960x640">
        </div>

        <div class="wvu-polyptych__copy">

          <h3>Headline Goes Here</h3>
          <p>Short description goes here. Do not put links here. Only one short paragraph.</p>

        </div>

      </div> <!-- end wvu-polyptych__panel -->

    </div> <!-- end wvu-polyptych__panels -->

  </div> <!-- end wvu-polyptych__container -->
</div> <!-- end wvu-polyptych -->
