{% set subNav = [] %}
{% for item in navigation.main %}
  {% if 'about-wvu' in item.path  %}
    {% set subNav = subNav|merge(item) %}
  {% endif %}
{% endfor %}

<div class="wvu-sub-nav">
  {% if subNav %}
    <ul>
      {% for item in subNav.subnav %}
        <li>
          <a class="wvu-sub-nav__{{ item.path | replace ({'about-wvu/': "", 'academics/': ""})}}" href="{{ item.path }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
