<div class="wvu-r1">
  <div class="wvu-container">
    <h2>R1</h2>
    <p>R1: Doctoral Universities &mdash; Highest research activity as described by the Carnegie Classification of Institutions of Higher Education.</p>
  </div>
</div>
