{% if emergency.cache.hit %}
  <!-- Emergency Cache Hit {{ emergency.cache.time }} -->
{% else %}
  <!-- Emergency Cache No hit {{ emergency.cache.time }} -->
{% endif %}

{% if emergency.content.emergency.status %}
  <div class="wvu-emergency-alert">
    <div class="wvu-emergency-alert__alert">
      <div class="wvu-emergency-alert__alert-title">
        <h1>Active Campus Alert</h1>
        <p>For more information visit: <a href="{{emergency.content.emergency.url}}">emergency.wvu.edu</a></p>
      </div>
      {% if emergency.content.emergency.events %}
        <ul class="wvu-emergency-alert__events">
          {% for event in emergency.content.emergency.events %}
            <li>
              <a href="{{emergency.content.emergency.url}}">{{event.title}}</a><br />
              <p class="wvu-emergency-alert__alert-updated_at">Last Updated: {{event.updated_at_formatted}}</p>
            </li>
          {% else %}
            <li>No Current Events</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endif %}
