<div class="wvu-cost-brag">
  <div class="wvu-container">
    <div class="wvu-cost-brag__header">
      <h2>9th Most Affordable Tuition Among Flagship Universitites</h2>
    </div>
    <div class="wvu-cost-brag__description">
      <p>Our tuition rates are among the lowest in the nation. Annual undergraduate tuition and fee rates for 2016-2017 are $7,992 for in-state students and $22,488 for out-of-state students.</p>
      <p><a href="">Calculate your costs</a></p>
    </div>
  </div>
</div>
