<div class="wvu-affordability">
  <div class="wvu-container">
    <h3><span>9th Most Affordable</span> Tuition Among Flagship Universities</h3>
    <div class="wvu-affordability__description">
      <p>Our tuition rates are among the lowest in the nation. Annual undergraduate tuition and fee rates for 2016-17 are $7,992 for in-state students and $22,488 for out-of-state students.</p>
      <p><a href="https://admissions.wvu.edu/cost-and-aid/cost-estimate">Estimate Your Costs</a></p>
    </div>
  </div>
</div>
