<div class="wvu-breadcrumbs wvu-breadcrumbs--">
  <div class="wvu-container">
    <div class="wvu-breadcrumbs__crumbs">
      <a href="/">Home</a> /

      {% for breadcrumb in breadcrumbs %}
        {% if not loop.last %}
          <a href="{{ breadcrumb.path }}">{{ breadcrumb.title|raw }}</a> /
        {% else %}
          {{ breadcrumb.title|raw }}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {% for breadcrumb in breadcrumbs %}
          {% if not loop.last %}
            {
              "@type": "ListItem",
              "position": {{ loop.index }},
              "name": "{{ breadcrumb.title|striptags|replace({ '"': '\\"' })|raw }}",
              "item": "https://www.wvu.edu{{ breadcrumb.path }}"
            },
          {% else %}
            {
              "@type": "ListItem",
              "position": {{ loop.index }},
              "name": "{{ breadcrumb.title|striptags|replace({ '"': '\\"' })|raw }}"
            }
          {% endif %}
        {% endfor %}
      ]
    }
  </script>

</div>
