<div class="wvu-news">

  <div class="wvu-news__header">
    <h3>News</h3> <a href="https://wvutoday.wvu.edu/">WVU Today</a> | <a class="wvu-news__rss-link" href="http://feeds.feedburner.com/wvu/ilPI">Subscribe via RSS <img src="https://static.wvu.edu/global/images/icons/social/circle-rss--1.0.0.svg" alt="" /></a>
  </div>

  {% include('patterns/wvu-wvutoday.html') %}

</div>
