<nav class="wvu-nav-wrapper">
  <div class="wvu-container">
    <button id="nav-toggle" class="nav-toggle"><img src="https://static.wvu.edu/global/images/icons/wvu/hamburger-menu--1.0.0.svg" alt="" />Open Menu</button>
    <div class="wvu-nav nav-collapse" id="wvu-nav">
      <ul class="wvu-nav__items menu-items">
        {% for item in navigation.main %}
          {% if not item.hidden %}
            {% set hasDropdown = false %}
            {% for subnavitem in item.subnav %}
              {% if not subnavitem.hidden %}
                {% set hasDropdown = true %}
              {% endif %}
            {% endfor %}
            <li{% if hasDropdown %} class="dropdown"{% endif %}>
              <a href="{{ item.path }}"{% if hasDropdown %} class="has-dropdown"{% endif %}>{{ item.title|raw }}</a>
              {% if hasDropdown %}
                <ul class="sub-menu">
                  {% for subnavitem in item.subnav %}
                    {% if not subnavitem.hidden %}
                      <li><a href="{{ subnavitem.path }}">{{ subnavitem.title|raw }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
