{% if wvutoday.cache.hit %}
  <!-- WVUToday Cache Hit {{ wvutoday.cache.time }} -->
{% else %}
  <!-- WVUToday Cache No hit {{ wvutoday.cache.time }} -->
{% endif %}

<ul class="wvu-wvutoday">
  {% for story in wvutoday.content %}
    <li>
      <img class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{story.thumbnail_url|replace({'840x840':'200x200'})}}" alt="{{story.image_alt}}" />
      <span class="wvu-wvutoday__copy">
        <a href="{{story.link}}">{{story.title | raw}}</a>
        <span class="wvu-wvutoday__date">{{story.date_formatted_human}}</span>
        {# other date formats
          {{story.date_formatted_long}}
          {{story.date_formatted_short}}
        #}
      </span>
    </li>
  {% else %}
    <li>No Stories</li>
  {% endfor %}
</ul>

<p class="wvu-wvutoday__browse-link"><a href="https://wvutoday.wvu.edu/colleges-schools">Browse by Colleges and Schools</a> | <span style="font-size: 0.9em">Go in-depth with</span> <a href="https://magazine.wvu.edu">WVU Magazine</a></p>
