<div class="wvu-backpage-header {% if contentful.slug %}wvu-backpage-header--{{ contentful.slug | replace ({'info-for/': "", 'about-wvu/': "", 'academics/': ""}) }}{% endif %}">

  {% include('patterns/wvu-breadcrumbs.html') %}

  <div class="wvu-container">

    {% set title = contentful.title %}
    {% if contentful.displayTitle %}
      {% set title = contentful.displayTitle %}
    {% endif %}

    <h1>
      <span>{{ title|raw }}</span>
    </h1>

  </div>

</div>
