<div class="wvu-academic-excellence">
  <div class="wvu-container">
    <div class="wvu-academic-excellence__scholarships">
      <div class="wvu-academic-excellence__scholarship">
        <span>
          25
        </span>
        Rhodes Scholars
      </div>
      <div class="wvu-academic-excellence__scholarship">
        <span>
          26
        </span>
        Truman Scholars
      </div>
      <div class="wvu-academic-excellence__scholarship">
        <span>
          50
        </span>
        Goldwater Scholars
      </div>
    </div>
    <div class="wvu-academic-excellence__description">
      <h4>Academic Excellence</h4>
      <p>Our students accomplish great things academically, and we’ve produced 25 Rhodes Scholars, 116 Gilman Scholars, 82 Fulbright Scholars, 50 Goldwater Scholars, 26 Truman Scholars, 29 Boren Scholars and 39 National Science Foundation Graduate Research Fellowships (to name just a few).</p>
    </div>
  </div>
</div>
