{% set orgTitle = "West Virginia University" %}
{% set orgMailingAddress1 = "PO Box 6201" %}
{% set orgMailingAddress2 = "" %}
{% set orgMailingAddress3 = "" %}
{% set orgCity = "Morgantown" %}
{% set orgState = "WV" %}
{% set orgZipCode = "26506" %}
{% set orgPhoneNumber = "304-293-0111" %}
{% set orgEmailAddress = "web_services@mail.wvu.edu" %}
{% if contentful.relatedOrganization %}
  {% set orgTitle = contentful.relatedOrganization.title %}
  {% if contentful.relatedOrganization.titleWithOffice %}
    {% set orgTitle = contentful.relatedOrganization.titleWithOffice %}
  {% endif %}
  {% set orgMailingAddress1 = contentful.relatedOrganization.mailingAddress1 %}
  {% set orgMailingAddress2 = contentful.relatedOrganization.mailingAddress2 %}
  {% set orgMailingAddress3 = contentful.relatedOrganization.mailingAddress3 %}
  {% set orgCity = contentful.relatedOrganization.city %}
  {% set orgState = contentful.relatedOrganization.state.abbreviation %}
  {% set orgZipCode = contentful.relatedOrganization.zipCode %}
  {% set orgPhoneNumber = contentful.relatedOrganization.phoneNumber %}
  {% set orgEmailAddress = contentful.relatedOrganization.emailAddress %}
{% endif %}
{% if contentful.site.relatedOrganization %}
  {% set orgTitle = contentful.site.relatedOrganization.title %}
  {% if contentful.site.relatedOrganization.titleWithOffice %}
    {% set orgTitle = contentful.site.relatedOrganization.titleWithOffice %}
  {% endif %}
  {% set orgMailingAddress1 = contentful.site.relatedOrganization.mailingAddress1 %}
  {% set orgMailingAddress2 = contentful.site.relatedOrganization.mailingAddress2 %}
  {% set orgMailingAddress3 = contentful.site.relatedOrganization.mailingAddress3 %}
  {% set orgCity = contentful.site.relatedOrganization.city %}
  {% set orgState = contentful.site.relatedOrganization.state.abbreviation %}
  {% set orgZipCode = contentful.site.relatedOrganization.zipCode %}
  {% set orgPhoneNumber = contentful.site.relatedOrganization.phoneNumber %}
  {% set orgEmailAddress = contentful.site.relatedOrganization.emailAddress %}
{% endif %}

{% if contentful.site.phoneNumber %}
  {% set orgPhoneNumber = contentful.site.phoneNumber %}
{% endif %}
{% if contentful.site.emailAddress %}
  {% set orgEmailAddress = contentful.site.emailAddress %}
{% endif %}

<footer class="wvu-footer">

  <div class="wvu-footer__contact-info-and-quicklinks">

    <div class="wvu-container">

      <div class="wvu-footer__contact-info">

        <address>
          <strong>{{ orgTitle }}</strong>
          {% if orgMailingAddress1 %}<br>{{ orgMailingAddress1 }}{% endif %}
          {% if orgMailingAddress2 %}<br>{{ orgMailingAddress2 }}{% endif %}
          {% if orgMailingAddress3 %}<br>{{ orgMailingAddress3 }}{% endif %}
          {% if orgCity and orgState and orgZipCode %}<br>{{ orgCity }}, {{ orgState }} {{ orgZipCode }}{% endif %}
        </address>

        <p>
          {% if orgPhoneNumber %}<a class="wvu-footer__phone" href="tel:{{ orgPhoneNumber|replace({'(': '', ')': '', '-': '', ' ': ''}) }}"> {{ orgPhoneNumber }}</a>{% endif %}
          {% if orgEmailAddress %}<a class="wvu-footer__email" href="mailto:{{ orgEmailAddress }}"> {{ orgEmailAddress }}</a>{% endif %}
        </p>

      </div>

      <div class="wvu-footer__quicklinks">
        <ul class="wvu-footer__common-links">
          <li><a href="https://alumni.wvu.edu">Alumni</a></li>
          <li><a href="https://admissions.wvu.edu/how-to-apply">Apply to WVU</a></li>
          <li><a href="https://bog.wvu.edu/">Board of Governors</a></li>
          <li><a href="https://campusmap.wvu.edu/">Campus Map</a></li>
          <li><a href="https://visit.wvu.edu/tours">Campus Tours</a></li>
          <li><a href="https://emergency.wvu.edu/">Emergency Information</a></li>
          <li><a href="https://give.wvu.edu/campaign/givewvu/c415566">Give to WVU</a></li>
          <li><a href="/academics/programs">Majors</a></li>
          <li><a href="https://admissions.wvu.edu/request-information">Request Admissions Info</a></li>
          <li><a href="https://wvu.bncollege.com">Shop for WVU Gear</a></li>
          <li><a href="https://tour.wvu.edu/">Virtual Tour</a></li>
          <li><a href="/info-for/visitors">Visit Us</a></li>
          <li><a href="https://wvu.bncollege.com">WVU Bookstore</a></li>
          <li><a href="https://careers.wvu.edu/career-opportunities">WVU Careers</a></li>
          <li><a href="https://magazine.wvu.edu">WVU Magazine</a></li>
          <li><a href="https://portal.wvu.edu">WVU Portal</a></li>
          <li><a href="/sitemap">Sitemap</a></li>
        </ul>
        <ul class="wvu-footer__system-campus-links">
          <li><a href="https://admissions.wvu.edu/our-campuses" class="wvu-white-text"><strong>WVU System</strong></a></li>
          <li><a href="https://www.wvutech.edu/">WVU Beckley</a></li>
          <li><a href="https://www.potomacstatecollege.edu/">WVU Keyser</a></li>
          <li><a href="https://online.wvu.edu/">WVU Online</a></li>
        </ul>
      </div>

    </div>

  </div>

  <div class="wvu-footer__affirmative-action-statement-and-social-media">
    <div class="wvu-container">

      <div class="wvu-footer__affirmative-action-statement">
        <ul>
          <li><a href="/about-wvu/wvu-facts">Accreditations</a></li>
          <li><a href="https://webstandards.wvu.edu">Web Standards</a></li>
          <li><a href="https://consumerinformation.wvu.edu/">Consumer Info</a></li>
          <li><a href="https://www.wvu.edu/privacy">Privacy Notice</a></li>
          <li><a href="mailto:web_services@mail.wvu.edu">Questions or Comments?</a></li>
        </ul>
        <p class="wvu-footer__copyright_updated">
          &copy; {{ "now"|date("Y") }} West Virginia University. West Virginia University is an Equal Opportunity Employer.
          {% if contentful.lastUpdated %} Last updated on {{ contentful.lastUpdated.month.textLong }} {{ contentful.lastUpdated.day.numberShort }}, {{ contentful.lastUpdated.year.numberLong }}.{% endif %}
        </p>
      </div>
      <div class="wvu-footer__social-media">
        <p>Follow WVU on:
          <a href="https://www.youtube.com/user/WestVirginiaU"><span class="fa-brands fa-youtube social-media-icon social-media-icon--youtube" title="YouTube"></span></a>
          <a href="https://instagram.com/westvirginiau"><span class="fa-brands fa-instagram social-media-icon social-media-icon--instagram" title="Instagram"></span></a>
          <a href="https://www.tiktok.com/@westvirginiau"><span class="fa-brands fa-tiktok social-media-icon social-media-icon--tiktok" title="TikTok"></span></a>
          <a href="https://social.wvu.edu"><span class="fa-light fa-chevron-circle-right social-media-icon social-media-icon--more" title="More social networks"></span></a></p>
      </div>
    </div>
  </div>

</footer>
