<div class="row justify-content-center">
  <div class="col-12 col-md-10">
    <h3 class="wvu-h2 wvu-shout border-bottom pb-1 mb-3" id="{{ scheduleItem.scheduledItemStartTime.dayOfWeek.textLong }}">{{ scheduleItem.scheduledItemStartTime.dayOfWeek.textLong }}{% if 'Hide Date on Days of the Week' not in currentBlock.extraOptions %}, {{ scheduleItem.scheduledItemStartTime.month.textLong }} {{ scheduleItem.scheduledItemStartTime.day.numberShort }}{% endif %}</h3>
  </div>
</div>
