{% set ariaLabelledByID = random() %}
{% set scheduleItemAnchodID = scheduleItem.contentfulID %}
{% if scheduleItem.anchorId %}
  {% set scheduleItemAnchodID = scheduleItem.anchorId %}
{% endif %}

{% set scheduledItemStartTime = scheduleItem.scheduledItemStartTimeUNIX %}
{% set scheduledItemEndTime = scheduleItem.scheduledItemEndTimeUNIX %}
{% if scheduleItem.virtualEventShowAt is defined and scheduleItem.virtualEventHideAt is defined %}
  {% set scheduledItemStartTime = scheduleItem.virtualEventShowAt.unix %}
  {% set scheduledItemEndTime = scheduleItem.virtualEventHideAt.unix %}
{% elseif 'Show "Description During" 15 Minutes Before Event Start' in scheduleItem.extraOptions %}
  {% set scheduledItemStartTime = scheduledItemStartTime - 900 %}
{% endif %}
{% set liveIcon = "" %}
{% if currentBlock.timeNow > scheduledItemStartTime and scheduledItemEndTime > currentBlock.timeNow and 'Hide Live Icon' not in currentBlock.extraOptions %}
  {% set liveIcon = "<img width='40' height='40' alt='Session is live' title='Session is live!' src='https://images.ctfassets.net/udw4veezvy46/gx4Scn7Z0CrtAaMZdWOwT/879462bae0df47d5f1a35c4825befbd0/live-02.svg' style='margin-top: -8px;'>" %}
{% endif %}

{% set scheduleItemPaddingClass = '' %}
{% if scheduleItem.fontAwesomeIcon %}
  {% set scheduleItemPaddingClass = 'pl-c-schedule-item' %}
{% endif %}

<div id="{{ scheduleItemAnchodID }}" class="row justify-content-center">
  <div class="col-12 col-md-10">

    <h4 class="wvu-h3 mt-1 mb-1" id="si-t-{{ ariaLabelledByID }}">
      {% if scheduleItem.fontAwesomeIcon %}
        <span class="si-fa-icon {{ scheduleItem.fontAwesomeIcon }}" aria-hidden="true"></span>
      {% endif %}
      {% if 'Show More Details Link' in currentBlock.extraOptions %}
        <a href="{{ currentBlock.moreDetailsWebAddress }}#{{ scheduleItemAnchodID }}">
      {% endif %}
      {{ scheduleItem.displayTitle|raw }}
      {% if 'Show More Details Link' in currentBlock.extraOptions %}
        </a>
      {% endif %}
      {{ liveIcon|raw }}
    </h4>

    <p class="helvetica-neue-light wvu-h5 my-0 {{ scheduleItemPaddingClass }}">
      {% if 'Show Date' in scheduleItem.extraOptions %}
        {{ scheduleItem.scheduledItemStartTime.month.textShortWithPeriod }}
        {{ scheduleItem.scheduledItemStartTime.day.numberShort }},
      {% endif %}

      {% set startTimeAMPM = 'a.m.' %}
      {% if scheduleItem.scheduledItemStartTime.ampm.lowercase == 'pm' %}
        {% set startTimeAMPM = 'p.m.' %}
      {% endif %}

      {% set endTimeAMPM = 'a.m.' %}
      {% if scheduleItem.scheduledItemEndTime.ampm.lowercase == 'pm' %}
        {% set endTimeAMPM = 'p.m.' %}
      {% endif %}

      {{ scheduleItem.scheduledItemStartTime.hour.numberShort }}:{{ scheduleItem.scheduledItemStartTime.minute.numberLong }} {{ startTimeAMPM }}
      {% if scheduleItem.scheduledItemEndTime %}
        -
        {{ scheduleItem.scheduledItemEndTime.hour.numberShort }}:{{ scheduleItem.scheduledItemEndTime.minute.numberLong }} {{ endTimeAMPM }}
      {% endif %}
    </p>
    {% if 'Hide Descriptions' not in currentBlock.extraOptions %}
      <div class="pb-2 {{ scheduleItemPaddingClass }}">
        {% if 'Show Only Default Text' in currentBlock.extraOptions %}
          {{ scheduleItem.descriptionDefault|raw }}
        {% else %}

          {% if scheduledItemStartTime > currentBlock.timeNow %}
            {{ scheduleItem.descriptionDefault | raw }}
          {% elseif scheduleItem.descriptionDuringEvent is defined and (currentBlock.timeNow > scheduledItemStartTime and scheduledItemEndTime > currentBlock.timeNow) %}
            {{ scheduleItem.descriptionDuringEvent | raw }}
          {% elseif scheduleItem.descriptionPostEvent is defined and currentBlock.timeNow > scheduledItemEndTime %}
            {{ scheduleItem.descriptionPostEvent | raw }}
          {% else %}
            {{ scheduleItem.descriptionDefault | raw }}
          {% endif %}

          {% if scheduleItem.virtualEventWebAddress %}
            {% if scheduleItem.virtualEventShowAt is defined and (currentBlock.timeNow >= scheduleItem.virtualEventShowAt.unix and scheduleItem.virtualEventHideAt.unix > currentBlock.timeNow) %}
              <a id="si-js-{{ ariaLabelledByID }}" href="{{ scheduleItem.virtualEventWebAddress|raw }}" class="button" target="_blank" aria-labelledby="si-js-{{ ariaLabelledByID }} si-t-{{ ariaLabelledByID }}">Join Session</a>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
​   </div>
</div>
