<div class="card shadow {{ featurette.classesForCard }}">

  <div class="bg-white py-2 h-100 d-flex align-items-center">

    {% if featurette.thumbnail and ('Hide Photos on Featurettes' not in currentBlock.extraOptions)  %}
      <img class="card-img-top lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3 2'%3E%3C/svg%3E" data-src="{{ imageInfo.file.url }}?w=540&q=60" alt="{{ imageInfo.description }}" loading="lazy">
    {% endif %}
    <div class="card-body bg-white">

      {% set classesForDisplayName = 'iowan-old-style-italic' %}
      {% if currentBlock.classesForDisplayName %}
        {% set classesForDisplayName = featurette.classesForDisplayName %}
      {% endif %}

      {% set ariaLabelledBy = "false" %}
      {% set ariaLabelledByID = "" %}
      {% if 'Add ARIA LabelledBy to Links' in featurette.extraOptions %}
        {% set ariaLabelledBy = "true" %}
        {% set ariaLabelledByID = random() %}
      {% endif %}

      {% if featurette.displayName %}

        <h3 class="card-title mb-1 {{ classesForDisplayName }}" {% if ariaLabelledBy == "true" %}id="aria__title--{{ ariaLabelledByID }}"{% endif %}>{{ featurette.displayName|raw }}</h3>

      {% endif %}

      {% set description = '' %}
      {% if featurette.longDescription %}
        {% set description = featurette.longDescription %}
      {% else %}
        {% set description = featurette.description %}
      {% endif %}

      {% if description %}
        {% set description = description|raw|replace({'<p>': '<p class="card-text">'}) %}
        {{ description|raw }}
      {% endif %}

      {% for actionItem in featurette.quicklinkOrActionItem %}

        {% if actionItem.contentfulContentType == 'blocksQuicklink' %}
          <a {% if ariaLabelledBy == "true" %}id="aria__read-more--{{ ariaLabelledByID }}" aria-labelledby="aria__read-more--{{ ariaLabelledByID }} aria__title--{{ ariaLabelledByID }}"{% endif %} class="btn btn-primary btn-sm" href="{{ actionItem.webAddress }}">{{ actionItem.linkText|raw }}</a>
        {% elseif actionItem.quicklink.webAddress %}
          <a {% if ariaLabelledBy == "true" %}id="aria__read-more--{{ ariaLabelledByID }}" aria-labelledby="aria__read-more--{{ ariaLabelledByID }} aria__title--{{ ariaLabelledByID }}"{% endif %} class="btn btn-primary btn-sm" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.action }}</a>
        {% else %}
          <a {% if ariaLabelledBy == "true" %}id="aria__read-more--{{ ariaLabelledByID }}" aria-labelledby="aria__read-more--{{ ariaLabelledByID }} aria__title--{{ ariaLabelledByID }}"{% endif %} class="btn btn-primary btn-sm" href="{{ actionItem.webAddress }}">{{ actionItem.title }}</a>
        {% endif %}

      {% endfor %}

    </div>
  </div>
</div>
