{% if featurette.thumbnail and ('Hide Photos on Featurettes' not in currentBlock.extraOptions)  %}
  {% set imageInfo = featurette.thumbnail %}
  <div class="mb-1">
    <img src="{{ imageInfo.file.url }}?w=540&q=80" alt="{{ imageInfo.description }}">
  </div>
{% endif %}

{% set classesForDisplayName = 'iowan-old-style-italic' %}
{% if currentBlock.classesForDisplayName %}
  {% set classesForDisplayName = currentBlock.classesForDisplayName %}
{% endif %}

{% set ariaLabelledBy = "false" %}
{% set ariaLabelledByID = "" %}
{% if 'Add ARIA LabelledBy to Links' in featurette.extraOptions %}
  {% set ariaLabelledBy = "true" %}
  {% set ariaLabelledByID = random() %}
{% endif %}

{% if featurette.displayName %}

  <h3 class="mb-1 {{ classesForDisplayName }}" {% if ariaLabelledBy == "true" %}id="{{ ariaLabelledByID }}"{% endif %}>{{ featurette.displayName|raw }}</h3>

{% endif %}

{% if featurette.longDescription %}
  {{ featurette.longDescription|raw }}
{% else %}
  {{ featurette.description|raw }}
{% endif %}

{% for actionItem in featurette.quicklinkOrActionItem %}

  {% if ariaLabelledBy == "true" %}
    {% set ariaLabelledByIDLink = random() %}
  {% endif %}

  {% if actionItem.contentfulContentType == 'blocksQuicklink' %}
    <a class="btn btn-primary btn-sm" href="{{ actionItem.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.linkText|raw }}</a>
  {% elseif actionItem.quicklink.webAddress %}
    <a class="btn btn-primary btn-sm" href="{{ actionItem.quicklink.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.action }}</a>
  {% else %}
    <a class="btn btn-primary btn-sm" href="{{ actionItem.webAddress }}" {% if ariaLabelledBy == "true" %}aria-labelledby="wvu-f-{{ ariaLabelledByID }} wvu-f-l-{{ ariaLabelledByIDLink }}" id="wvu-f-l-{{ ariaLabelledByIDLink }}"{% endif %}>{{ actionItem.title }}</a>
  {% endif %}

{% endfor %}
