{% set faq = featurette.whatToFeature %}

{% set buttonText = '' %}
{% if 'Add New/Updated Tags' in currentBlock.extraOptions %}
  {% set buttonColor = '' %}
  {% if 'Mark as New' in faq.extraOptions and (faq.dateAdded is not defined or ((faq.dateAdded.unix + 604800) > currentBlock.timeNow)) %}
    {% set buttonText = 'New' %}
    {% set buttonColor = 'orange' %}
  {% elseif 'Mark as Updated' in faq.extraOptions and (faq.dateUpdated is not defined or ((faq.dateUpdated.unix + 604800) > currentBlock.timeNow)) %}
    {% set buttonText = 'Updated' %}
    {% set buttonColor = 'brown' %}
  {% endif %}
{% endif %}

<h3>{% if featurette.displayName %}{{ featurette.displayName }}{% else %}{{ faq.title }}{% endif %}{% if buttonText != '' %} <span class="button--faq button--faq-{{ buttonColor }}">{{ buttonText }}</span>{% endif %}</h3>

{% if featurette.longDescription %}
  {{ featurette.longDescription | raw }}
{% elseif featurette.description %}
  {{ featurette.description | raw }}
{% else %}
  <p>{{ faq.teaserBody }}</p>
{% endif %}

{% if featurette.quicklinkOrActionItem %}
  {% for actionItem in featurette.quicklinkOrActionItem %}
    <a class="button" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.title }}</a>
  {% endfor %}
{% endif %}

{% if faq.slug %}
  <a class="button" href="{% if faq.webAddressExternal %}{{ faq.webAddressExternal }}{% else %}/faq/{{ faq.slug }}{% endif %}">Learn more<span class="u-wvu-visually-hidden"> about {{ faq.title }}</span></a>
{% endif %}
