<div id="panorama-{{ featurette.whatToFeature.youVisitPanoramaID }}" style="width: 100%; height: 200px;"></div>
<script>
  {% set panoramaID = featurette.whatToFeature.youVisitPanoramaID %}

  pannellum.viewer('panorama-{{ panoramaID }}', {
    "type": "equirectangular",
    "panorama": "https://www.youvisit.com/media/80311/panoramas/{{ panoramaID }}/4096.jpg?https6",
    "autoLoad": false,
    "disableKeyboardCtrlOption": true,
    "draggableOption": true,
    "keyboardZoomOption": false,
    "mouseZoomOption": false,
    "showControlsOption": false,
    "showFullscreenCtrlOption": true,
    "showZoomControlOption": false,
    "autoRotate": -2,
    "autoRotateInactivityDelay": 3000,
    "fallback": "{{ featurette.whatToFeature.webAddress }}",
    {% if title != '' %}"title": "{{ title }}"{% endif %}
  });
</script>
<noscript>
  View our panorama of {{ featurette.whatToFeature.title }} at <a href="{{ featurette.whatToFeature.webAddress }}">{{ featurette.whatToFeature.webAddress }}</a>.
</noscript>
