<h3>{% if featurette.displayName %}{{ featurette.displayName }}{% else %}{{ featurette.whatToFeature.title }}{% endif %}</h3>

{% if featurette.longDescription %}
  {{ featurette.longDescription | raw }}
{% elseif featurette.description %}
  {{ featurette.description | raw }}
{% else %}
  {{ featurette.whatToFeature.description | raw }}
{% endif %}

{% for actionItem in featurette.quicklinkOrActionItem %}

  {% if actionItem.quicklink.webAddress %}
    <a class="button" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.title }}</a>
  {% else %}
    <a class="button" href="{{ actionItem.webAddress }}">{{ actionItem.title }}</a>
  {% endif %}

{% endfor %}
