<h3>
  {% if featurette.displayName %}
    {{ featurette.displayName }}
  {% else %}
    {{ person.name }}
  {% endif %}
</h3>

{% if person.major %}
  <div class="wvu-profile__major">
    <em><a href='{{ person.major.webAddressAdmissions }}'>{{ person.major.title }}</a>{% if person.year.yearFourDigits %}, Class of {{ person.year.yearFourDigits }}{% endif %}</em>
  </div>
{% endif %}

{% if person.department %}
  <div class="wvu-profile__major">
    <em>{{ person.department.title }}</em>
  </div>
{% endif %}

{% if featurette.longDescription %}
  {{ featurette.longDescription | raw }}
{% elseif featurette.description %}
  {{ featurette.description | raw }}
{% else %}
  {% if featurette.whatToFeature.snazzyHeadline and 'Hide Snazzy Headline' not in featurette.extraOptions %}
    <p style="margin-bottom: -.6em;"><strong>{{ featurette.whatToFeature.snazzyHeadline }}</strong></p>
  {% endif %}
  {{ featurette.whatToFeature.description | raw }}
{% endif %}

{% if featurette.quicklinkOrActionItem %}
  {% for actionItem in featurette.quicklinkOrActionItem %}
    <a class="button" href="{{ actionItem.quicklink.webAddress }}">{{ actionItem.title }}</a>
  {% endfor %}
{% else %}
  {% for action in featurette.whatToFeature.actionItems %}
    <a href="{{ action.quicklink.webAddress }}" class="button">{{ action.title }}</a>
  {% endfor %}
{% endif %}

{% if featurette.whatToFeature.interests and 'Hide Also See' not in featurette.extraOptions %}
  <style>
    .ul--slashes li {
      position: relative;
      list-style-type: none;
    }
    .ul--slashes li:before {
      content: "";
      position: absolute;
      top: 5px;
      left: -25px;
      width: 20px;
      height: 32px;
      background-image: url(/images/diagonal-gold.svg);
      background-size: 20px;
      background-repeat: no-repeat;
    }
  </style>

  <h4>Also See:</h4>
  <ul class="ul--slashes">
    {% for interest in featurette.whatToFeature.interests  %}
      <li> <a href="{{ interest.webAddress }}">{{ interest.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
