<style>
  @media (min-width: 35.625em) {
    .wvu-profile-featurette img {
      padding: 0 1em;
      border-radius: 50%;
      margin-bottom: 2em;
    }
  }
  @media (max-width: 70em) {
    .wvu-profile-featurette img {
      padding: 0;
      border-radius: 50%;
      margin-bottom: 0;
    }
  }
</style>
<div class="wvu-profile-featurette" style="padding: 0">
  <img class="lazy" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E" data-src="{{ person.thumbnail.file.url }}?w=480&h=480&q=40" alt="Portrait of {{ person.name }}" loading="lazy">
</div>
