{% set threeTwoClass = '' %}
<style>
  {% if 'Force 3:2 Video' in featurette.extraOptions %}
    lite-youtube.three-two::after {
      padding-bottom: calc(100% / (3 / 2));
    }
    {% set threeTwoClass = 'three-two' %}
  {% endif %}
</style>

{% if 'Use YouTube Embed' in featurette.extraOptions %}
  <div class="video-container">
    <iframe title="{{ featurette.title }}" src="https://www.youtube.com/embed/{{ videoInfo.videoID }}" style="border:0;" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{% else %}
  <lite-youtube class="{{ threeTwoClass }}" videoid="{{ videoInfo.videoID }}">
    <button type="button" class="lty-playbtn">
      <span class="u-wvu-visually-hidden">Play Video: {{ videoInfo.title }}</span>
    </button>
  </lite-youtube>
{% endif %}

{#
<!--
  <style type="text/css">
    .videoWrapperF {
      position: relative;
      padding-bottom: 49%;
      padding-top: 18px;
      height: 0;
      z-index: 3;
    }
    .videoWrapperF iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  </style>
  <div class="videoWrapperF">
    <iframe
      src="https://www.youtube.com/embed/{{ videoInfo.videoID }}"
      srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/{{ videoInfo.videoID }}?autoplay=1><img src=https://img.youtube.com/vi/{{ videoInfo.videoID }}/hqdefault.jpg alt='{{ videoInfo.title }}'><span>▶</span></a>"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      title="{{ videoInfo.title }}"
      loading="lazy"
    ></iframe>
  </div>
-->
#}