<style>
  .dl-item {
    break-inside: avoid-column;
    margin-bottom: 3em;
  }
  dd > p:first-of-type {
    margin-top: 0.5em;
  }
  .mm-listing dl {
    column-gap: 80px;
  }
  dt > span.button--faq {
    font-size: 0.4em;
    vertical-align: top;
  }
</style>
<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="{{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>
  <div class="mm-listing">
    <div class="wvu-container">
      <h1 class="wvu-h2" style="margin-top: 0;margin-bottom: 1.3em;">{{ currentBlock.displayTitle }}</h1>
      {% if currentBlock.description %}
        {{ currentBlock.description|raw }}
      {% endif %}
      <dl>
        {% for faq in faqs %}

          {% set title = faq.title %}
          {% if faq.displayTitle %}
            {% set title = faq.displayTitle %}
          {% endif %}

          {% set buttonColor = '' %}
          {% set buttonText = '' %}
          {% if 'Mark as New' in faq.extraOptions and (faq.dateAdded is not defined or ((faq.dateAdded.unix + 604800) > currentBlock.timeNow)) %}
            {% set buttonText = 'New' %}
            {% set buttonColor = 'orange' %}
          {% elseif 'Mark as Updated' in faq.extraOptions and (faq.dateUpdated is not defined or ((faq.dateUpdated.unix + 604800) > currentBlock.timeNow)) %}
            {% set buttonText = 'Updated' %}
            {% set buttonColor = 'brown' %}
          {% endif %}

          <div class="dl-item">
            <dt id="{{ faq.slug }}" class="wvu-h3 wvu-neutral--dark-gray iowan-old-style">{{ title|raw }}{% if buttonText != '' %} <span class="button--faq button--faq-{{ buttonColor }}">{{ buttonText }}</span>{% endif %}</dt>
            <dd>
              {{ faq.body|raw }}
              {% if faq.webAddressExternal %}
                <a href="{{ faq.webAddressExternal|raw }}" class="button">Learn More<span class="sr-only u-wvu-visually-hidden">about {{ title|raw }}</span></a>
              {% endif %}
            </dd>
          </div>

        {% endfor %}
      </dl>
    </div>
  </div>
</div>
