<div class="{% if currentBlock.queryParams.q is not defined %}mm-listing column-2{% endif %}" {% if currentBlock.queryParams.q %}style="margin-top: 4em"{% endif %}>

  <div id="answers" class="wvu-container">

    {% if (found >= 0) and currentBlock.queryParams.q %}
      <div class="wvu-featurettes__header">
        <h2>Search Results</h2>
      </div>
      <div class="wvu-lede-text" style="text-align: center; padding-top: 0; padding-bottom: 3em; background-color: white">
        <p>Your search found {{found}} {% if found == 0 or found > 1 %}matches{% else %}match{% endif %}.</p>
      </div>
    {% else %}

      {% if currentBlock.displayTitle %}
        <div class="wvu-featurettes__header">
          <h2 {% if currentBlock.anchorID %}id="{{ currentBlock.anchorID }}"{% endif %}>{{ currentBlock.displayTitle|raw }}</h2>
        </div>
      {% endif %}

      {% if currentBlock.lede %}
        <div class="wvu-lede-text" style="text-align: center; padding-top: 0; padding-bottom: 3em; background-color: white">
          <p>{{ currentBlock.lede|raw }}</p>
        </div>
      {% endif %}
    {% endif %}

    {% if 'Show Questions' in currentBlock.extraOptions or ('Show Questions' not in currentBlock.extraOptions and currentBlock.queryParams.q is defined) %}
      {% if faqs|length > 0 %}
        <ul class="wvu-slashes wvu-slashes--list" style="margin-bottom: 4em">
          {% for faq in faqs %}
            <li>
              <a href="{% if faq.webAddressExternal %}{{ faq.webAddressExternal }}{% else %}/faq/{{ faq.slug }}{% endif %}">{% if faq.displayTitle %}{{ faq.displayTitle|raw }}{% else %}{{ faq.title|raw }}{% endif %}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}

  </div>

</div>
