{% set columnLayoutClass = '' %}
{% set withPaddingClass = '' %}
{% set slashesClass = '' %}
{% if 'Add Slashes' in currentBlock.extraOptions %}
  {% set slashesClass = 'wvu-slashes wvu-slashes--quicklist' %}
{% endif %}
{% if 'Two Column Layout' in currentBlock.extraOptions %}
  {% set columnLayoutClass = 'wvu-quicklinks-2-col' %}
{% endif %}
{% if 'Add Padding to List Items' in currentBlock.extraOptions %}
  {% set withPaddingClass = 'with-padding' %}
{% endif %}

<div {% if currentBlock.anchorID %}id="{{currentBlock.anchorID}}"{% endif %} class="wvu-quicklinks {{ columnLayoutClass }} {{ currentBlock.halveBottomPaddingClass }} {{ currentBlock.halveTopPaddingClass }} {{ currentBlock.removeBottomPaddingClass }} {{ currentBlock.removeTopPaddingClass }} {% if currentBlock.inlineStyle == 'false' %}wvu-{{ currentBlock.backgroundColor }}{% endif %} background" {% if currentBlock.inlineStyle == 'true' %}style="background-color: {{ currentBlock.backgroundColor }}"{% endif %}>

  <div class="wvu-container">
    <div class="wvu-quicklinks__header">
      <h3>
        {{ currentBlock.displayTitle }}
      </h3>
      {% if currentBlock.description %}
        <div class="wvu-quicklinks__description">
          {{ currentBlock.description|raw }}
        </div>
      {% endif %}
      {% if currentBlock.featuredWebAddress %}<p><a class="button" href="{{ currentBlock.featuredWebAddress.webAddress }}">{{ currentBlock.featuredWebAddress.linkText|raw }}</a></p>{% endif %}
    </div>
    <div class="wvu-quicklinks__links ">

      <ul class="wvu-quicklinks__ul--general {{ slashesClass }} {{ withPaddingClass }}">
        {% for faq in faqs %}

          {% set title = faq.title %}
          {% if faq.displayTitle %}
            {% set title = faq.displayTitle %}
          {% endif %}

          {% set buttonColor = '' %}
          {% set buttonText = '' %}
          {% if 'Add New/Updated Tags' in currentBlock.extraOptions %}
            {% if 'Mark as New' in faq.extraOptions and (faq.dateAdded is not defined or ((faq.dateAdded.unix + 604800) > currentBlock.timeNow)) %}
              {% set buttonText = 'New' %}
              {% set buttonColor = 'orange' %}
            {% elseif 'Mark as Updated' in faq.extraOptions and (faq.dateUpdated is not defined or ((faq.dateUpdated.unix + 604800) > currentBlock.timeNow)) %}
              {% set buttonText = 'Updated' %}
              {% set buttonColor = 'brown' %}
            {% endif %}
          {% endif %}

          {% set faqLink = faq.slug %}
          {% if currentBlock.basePath %}
            {% set faqLink = currentBlock.basePath ~ '#' ~ faqLink %}
          {% elseif faq.webAddressExternal %}
            {% set faqLink = faq.webAddressExternal %}
          {% else %}
            {% set faqLink = '/faq/' ~ faqLink %}
          {% endif %}

          <li><a href="{{ faqLink }}">{{ title|raw }}</a> {% if buttonText != '' %} <span class="button--faq button--faq-{{ buttonColor }}">{{ buttonText }}</span>{% endif %}</li>

        {% endfor %}
      </ul>

      {% if 'Add FAQ Schema' in currentBlock.extraOptions %}
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [
              {% for faq in faqs %}
                {
                  "@type": "Question",
                  "name": "{% if faq.displayTitle %}{{ faq.displayTitle|raw }}{% else %}{{ faq.title|raw }}{% endif %}",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{% if faq.webAddressExternal %}<p>The answer to this question is available at <a href=\"{{ faq.webAddressExternal|raw }}\">{{ faq.webAddressExternal|raw }}</a>.{% else %}{{ faq.body|replace({'"':'\'','\n': '', '\r': '', '\t': ''})|trim|raw }}{% endif %}",
                    "url": "{% if faq.webAddressExternal %}{{ faq.webAddressExternal }}{% else %}https://www.wvu.edu/faq/{{ faq.slug }}{% endif %}"
                  }
                }{% if not loop.last %},{% endif %}
              {% endfor %}
            ]
          }
        </script>
      {% endif %}

    </div>
  </div>
</div>
