<div id="options" class="clearfix combo-filters">
  <div class="clearfix">
    <div class="option-combo program-type">




<!-- Not sure about this placement -->
<!-- If we use the accordions, I think the search works better at the bottom of the filters -->

  <legend class="h6 small text-uppercase mb-1 helvetica-neue-bold">Search by keyword</legend>
    <div class="input-group w-100 pr-md-2 pr-1">
      <input id="programs-search-input" class="shadow-sm form-control px-2 py-1 h1 mb-0 mr-0" name="q" type="search" placeholder="Type your search term">
        <button class="shadow-sm btn btn-primary px-2 px-lg-2" name="btnG" type="submit">
          <span class="h5 mb-0 d-block">
            <span class="fa-solid fa-magnifying-glass" aria-hidden="true"></span>
          </span>
          <span class="visually-hidden">Search</span>
        </button>
    </div>





      <fieldset class="wvu-program-filter-v2 mt-4">
        <legend class="h6 small text-uppercase mb-1 helvetica-neue-bold">Filter by Program Type:</legend>
        <div class="filter option-set js-radio-button-group" data-filter-group="program-type">
          <div class="form-check">
            <input class="form-check-input active selected" type="radio" name="program-type" id="radioAny" data-filter-value="" checked="">
            <label class="form-check-label" for="radioAny">Any</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="program-type" id="radioBachelors" data-filter-value=".bachelors">
            <label class="form-check-label" for="radioBachelors">Bachelor’s</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="program-type" id="radioMasters" data-filter-value=".masters">
            <label class="form-check-label" for="radioMasters">Master’s</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="program-type" id="radioDoctoral" data-filter-value=".doctoral">
            <label class="form-check-label" for="radioDoctoral">Doctoral</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="program-type" id="radioCertificate" data-filter-value=".certificate">
            <label class="form-check-label" for="radioCertificate">Certificate</label>
          </div>
        </div>
      </fieldset>
    </div>
    <p class="mb-4">
      <a href="#">View Minors</a>
    </p>
    <div class="option-combo delivery-option">
      <legend class="h6 small text-uppercase mb-1 helvetica-neue-bold">Filter by Delivery Option:</legend>



      <div class="wvu-program-filter-v2 filter option-set js-radio-button-group" data-filter-group="delivery-option">
        <div class="form-check">
          <input class="form-check-input active selected" type="radio" name="delivery-option" id="radioAny2" data-filter-value="" checked="">
          <label class="form-check-label" for="radioAny2">Any</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="delivery-option" id="radioInPerson" data-filter-value=".in-person">
          <label class="form-check-label" for="radioInPerson">In Person</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="delivery-option" id="radioOnline" data-filter-value=".online">
          <label class="form-check-label" for="radioOnline">Online</label>
        </div>
      </div>
    </div>
    <div class="option-combo school mt-4">
      <legend class="h6 small text-uppercase mb-1 helvetica-neue-bold">Filter by Campus:</legend>

      <div class="wvu-program-filter-v2 filter option-set js-radio-button-group" data-filter-group="school">
        <div class="form-check">
          <input class="form-check-input active selected" type="radio" name="school" id="radioAny3" data-filter-value="" checked="">
          <label class="form-check-label" for="radioAny3">Any</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioCWB" data-filter-value=".school-of-counseling-and-well-being">
          <label class="form-check-label" for="radioCWB">Morgantown</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOE" data-filter-value=".school-of-education">
          <label class="form-check-label" for="radioSOE">Beckley</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Keyser</label>
        </div>
      </div>
    </div>

    <div class="option-combo school mt-4">
      <legend class="h6 small text-uppercase mb-1 helvetica-neue-bold">Filter by School or College:</legend>

      <div class="wvu-program-filter-v2 filter option-set js-radio-button-group" data-filter-group="school">
        <div class="form-check">
          <input class="form-check-input active selected" type="radio" name="school" id="radioAny3" data-filter-value="" checked="">
          <label class="form-check-label" for="radioAny3">Any</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioCWB" data-filter-value=".school-of-counseling-and-well-being">
          <label class="form-check-label" for="radioCWB">Benjamin M. Statler College of Engineering and Mineral Resources</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOE" data-filter-value=".school-of-education">
          <label class="form-check-label" for="radioSOE">College of Applied Human Sciences</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">College of Creative Arts</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">College of Law</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Davis College of Agriculture, Natural Resources and Design</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Eberly College of Arts and Sciences</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">John Chambers College of Business and Economics</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Reed College of Media</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">School of Dentistry</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">School of Medicine</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">School of Nursing</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">School of Pharmacy</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">School of Public Health</label>
        </div>
      </div>

    </div>

    <div class="option-combo school mt-4">
      <legend class="h6 small text-uppercase mb-1 helvetica-neue-bold">Career Pathways:</legend>
      <div class="wvu-program-filter-v2 filter option-set js-radio-button-group" data-filter-group="school">
        <div class="form-check">
          <input class="form-check-input active selected" type="radio" name="school" id="radioAny3" data-filter-value="" checked="">
          <label class="form-check-label" for="radioAny3">Any</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioCWB" data-filter-value=".school-of-counseling-and-well-being">
          <label class="form-check-label" for="radioCWB">Agriculture and Natural Sciences</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOE" data-filter-value=".school-of-education">
          <label class="form-check-label" for="radioSOE">Behavioral and Social Sciences</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Business and Communications</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Education</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Exploratory</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Healthcare</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Liberal Arts and Humanities</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Law and Public Policy</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Science, Technology, Engineering and Math (STEM)</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">Visual and Performing Arts</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="school" id="radioSOSS" data-filter-value=".school-of-sport-sciences">
          <label class="form-check-label" for="radioSOSS">World Cultures and Languages</label>
        </div>
      </div>

    </div>
  </div>
</div> <!-- #options -->
