<div class="w-100 mb-3 element-item bachelors  Major non-minor college-of-education-and-human-services major online" id="regents-bachelor-of-arts-rba" data-include-minor="hide-minor" data-program-type="bachelors" data-school="college-of-education-and-human-services" data-delivery-option="online">
  <div class="pt-1 bg-wvu-gold">
    <div class="bg-white">
      <div class="row align-items-stretch">
        <div class="col-lg">
          <div class="px-3 pt-3 pb-3 px-xl-4 pt-xl-4 pb-xl-3 bg-white h-100">

 <!--<div class="wvu-shout mb-1 text-wvu-accent--burnt-orange wvu-h5">Benjamin M. Statler College of Engineering and Mineral Resources</div> -->

            <h2 class="mb-1 mt-0 display-1 wvu-h2 text-wvu-blue wvu-program-heading" id="">
              <a href="https://online.wvu.edu/programs/regents-bachelor-of-arts-r-b-a/" class="text-decoration-none text-wvu-blue">Child Development and Family Studies
                <span class="visually-hidden"> (Online)</span>
                <span class="visually-hidden"> Regents Bachelor of Arts</span>
              </a>
            </h2>

            <div style="">
              <div class="helvetica-neue-light text-uppercase mt-2 mb-1 wvu-h5">Regents Bachelor of Arts</div>

              <div class="badge badge-primary">
                <span class="fa-solid fa-laptop" aria-hidden="true"></span> Online
              </div>

            </div>

            <div class="mt-2">
              <div class="helvetica-neue-light small text-uppercas mb-1 mt-1"><i class="fa-solid fa-building-columns"></i> Benjamin M. Statler College of Engineering and Mineral Resources</div>
              <div class="helvetica-neue-light small text-uppercas mb-2 mt-1">  <span class="fa-solid fa-location-dot" aria-hidden="true"></span> Morgantown campus
              </div>

            </div>


       <!-- descriptionTeaser has a <p> tag / html -->
            <div class="mt-2">
              <p>Have you gone as far as you can in your career without a bachelor’s degree? The RBA program is an innovative bachelor’s degree that is both flexible and cost effective for adult learners already juggling family, work and other obligations.</p>


              <div style="font-size:0.95em;">
              <h3 class="wvu-shou  mt-2 pt-1 mb-0  text-uppercas mt-2 wvu-h6 ">Areas of Emphasis</h3>

              <ul class="list-unstyled pl-list">
                <li>
                  <span class="fa-solid fa-angle-right text-wvu-gold" aria-hidden="true"></span> Studio Emphasis: Ceramics
                </li>
                <li>
                  <span class="fa-solid fa-angle-right text-wvu-gold" aria-hidden="true"></span> Studio Emphasis: Graphic Design
                </li>
                <li>
                  <span class="fa-solid fa-angle-right text-wvu-gold" aria-hidden="true"></span> Studio Emphasis: Intermedia/Photography
                </li>
                <li>
                  <span class="fa-solid fa-angle-right text-wvu-gold" aria-hidden="true"></span> Studio Emphasis: Painting
                </li>
                <li>
                  <span class="fa-solid fa-angle-right text-wvu-gold" aria-hidden="true"></span> Studio Emphasis: Printmaking
                </li>
                <li>
                  <span class="fa-solid fa-angle-right text-wvu-gold" aria-hidden="true"></span> Studio Emphasis: Sculpture
                </li>

              </ul>
            </div>

          </div>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="bg-white p-3 py-lg-4 pl-lg-0 pr-lg-4 h-100">

          <div class="btn-group-vertical w-100 shadow-sm">

              <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://www.wvu.edu/academics/programs/coaching-and-performance-science-bs#wvu-main-content">
                <span class="fa-solid fa-file-alt text-center" style="width: 2rem;"></span> <span class="sr-only">Coaching and Performance Science Bachelor of Science: </span>Overview
              </a>
              <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://www.wvu.edu/academics/programs/coaching-and-performance-science-bs#degree-plan">
                <span class="fa-solid fa-clipboard-list text-center" style="width: 2rem;"></span> <span class="sr-only">Coaching and Performance Science Bachelor of Science: </span>Your Degree Plan
              </a>
              <!-- <a class="btn btn-light text-left w-100 d-flex align-items-center" href="#">
                <i class="fas fa-sort text-center" style="width: 2rem;"></i> Rankings
              </a> -->
              <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://www.wvu.edu/academics/programs/coaching-and-performance-science-bs#requirements">
                <span class="fa-solid fa-check-square text-center" style="width: 2rem;"></span> <span class="sr-only">Coaching and Performance Science Bachelor of Science: </span>Admission Requirements
              </a>
              <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://www.wvu.edu/academics/programs/coaching-and-performance-science-bs#tuition">
                <span class="fa-solid fa-dollar-sign text-center" style="width: 2rem;"></span> <span class="sr-only">Coaching and Performance Science Bachelor of Science: </span>Tuition and Aid
              </a>
                <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://www.wvu.edu/academics/programs/coaching-and-performance-science-bs#careers">
                  <span class="fa-solid fa-user-tie text-center" style="width: 2rem;"></span> <span class="sr-only">Coaching and Performance Science Bachelor of Science: </span>Careers and Outcomes
                </a>
                <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://www.wvu.edu/academics/programs/elementary-education-ba#faqs">
                  <span class="fa-solid fa-question-circle text-center" style="width: 2rem;"></span> <span class="sr-only">Elementary Education Bachelor of Arts: </span>Frequently Asked Questions
                </a>
                <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://www.wvu.edu/academics/programs/coaching-and-performance-science-bs#community">
                  <span class="fa-solid fa-users text-center" style="width: 2rem;"></span> <span class="sr-only">Coaching and Performance Science Bachelor of Science: </span>Meet Your Community
                </a>
                <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://www.wvu.edu/academics/programs/coaching-and-performance-science-bs#places">
                  <span class="fa-solid fa-university text-center" style="width: 2rem;"></span> <span class="sr-only">Coaching and Performance Science Bachelor of Science: </span>Places and Spaces
                </a>
                <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://www.wvu.edu/academics/programs/coaching-and-performance-science-bs#learning">
                  <span class="fa-solid fa-walking text-center" style="width: 2rem;"></span> <span class="sr-only">Coaching and Performance Science Bachelor of Science: </span>Learn By Doing
                </a>

              <a class="btn btn-light text-left w-100 d-flex align-items-center" href="https://online.wvu.edu/programs/regents-bachelor-of-arts-r-b-a/">
                <span class="fa-solid fa-external-link-alt text-center" aria-hidden="true" style="width: 2rem;"></span> View Program Page
                <span class="visually-hidden">: Regents Bachelor of Arts</span>
              </a>
            </div>
          </div>
        </div>
      </div>                  <!-- this should throw an accessibility error because the visually hidden text is in the middle of the button not either end -->
    </div>
  </div>
</div>
